[2015-05-27 14:58] mfonville opened #1 "Get 4.4 working"
Conflicts between libraries have been identified.
Biggest clash is between Google Search App, Hangouts, Google+, Photos and YouTube.
Chosen is to put Search then on /system and all the other apps (for now) on /data with some ugly hacks.

[2015-05-27 14:58] mfonville opened #2 "Get 5.0 working"
Apparently at first boot, the user is spammed with a FC of
com.google.process.gapps

[2015-05-27 14:59] mfonville opened #3 "Let server tag daily releases on github and build nightlies"
Delayed until 5.0 and 4.4 are stable

A cronscript to be executed @ UTC 00.05

git pull repo git@github.com:pagapps/pagapps.git

./download_sources.sh

Make a git revision tag, let it commit that tag
https://developer.github.com/v3/repos/releases/#create-a-release
http://www.barrykooij.com/create-github-releases-via-command-line/

Make all

Upload /out/*.zip as attached files to the revision

[2015-05-27 14:59] mfonville opened #4 "Webview integration"
Integrate Webview into the Stock package (/system/app/WebViewGoogle/)

[2015-05-27 15:06] mfonville opened #5 "Add extra (optional) packages:"
~~/system/app/FitnessPrebuilt -> Should be put in Full+Stock already~~

Add extra options (but not enabled by default)
as found on Nexus:
 /system/priv-app/AndroidForWork
 /system/app/DMAgent (=Device Policy)
 /system/priv-app/GoogleDialer (unsure, and only if we can get it to work)
~~/system/priv-app/TagGoogle (google NFC, com.google.android.tag)~~

possibly useful, but not part of the stock Nexu

[2015-05-27 15:19] mfonville opened #6 "Build more variants than just stock"
Plan:

Put the build-funtions in several subfunctions.
Start by only calling the most minimal package-size its function. Then calculate sizes etc, and package it.
Then call the next, a bit bigger package function, recalculate sizes, repackage it. etc...
End with the stock package.

[2015-05-27 15:22] mfonville opened #7 "The mysterious stories of SetupWizard"
A plan about how/what about SetupWizard has to be done.
SetupWizard differs per phone and tablet nexus image.
Their versioncode, api level etc are the same, even their supported DPIs are (almost?) the same. Just within the package different DPI resources are available.
Maybe we can make a unified package from the resources of both??? Or some other creative solution?

[2015-05-27 15:24] mfonville opened #8 "Beautify the code"
The code is ugly spaghetti sometimes at the moment, and not everywhere fail-safe concerning spaces, unicode etc. Try to refactor, improve and revise.

[2015-05-27 15:25] mfonville opened #9 "Google Messenger Multiple DPI versions"
For Google Messenger multiple variants for various DPI variations seem to be released. Will have to be packaged just like Google Play Games.

there is also an xx9 version, but no idea why

[2015-05-27 15:45] mfonville opened #10 "let installer.data have again gms_base info"
I earlier removed gms_base info from installer.data, since that information was not available.
But with aapt actually we now have this info (and even more) so add back this information, together with info of play games (and/or even other package versions!?)

[2015-05-27 15:47] mfonville opened #11 "Hangouts has moved to priv-app/"
Hangouts has moved on Android 5.1 to priv-app. This change has been incorporated into all platforms. Testing is necessary whether this does not give any problems.

[2015-05-27 15:48] mfonville opened #12 "Better detection of 'Universal' (architecture) packages versus arm64 packages"
arm64 packages sometimes contain an armeabi(-v7) folder, but are actually not universal. Meanwhile other packages are really meant for multi-architecture.
We should try to find out a reliable manner to distinguish which type is applicable.

[2015-05-27 15:51] mfonville opened #13 "Multi-architecture / 64 bit support"
Update-binary and installer.data have to be updated to support multiple architectures.

Also the library paths at 64 bit systems have to be studied. Because
64 bit android seems to have a /system/lib64/ and a /system/lib/.
And it can run 'normal' 32bit apps (it seems).

The script should therefore also support (when finding sources/versions) implement a fallback from arm64 to arm and from x86_64 t

[2015-05-27 15:52] mfonville opened #14 "talkback has moved to /app"
On Android 5.1 talkback has moved from /priv-app to /app.
This change has been incorporated into all versions, but has to be tested if it works on versions lower than 5.1.

[2015-05-27 19:21] mfonville commented on #9
Done, xx9 version is still unknown what it was, but is not in Google's latest release anymore at all.

[2015-05-27 19:21] #9 closed

[2015-05-29 07:16] mfonville commented on #5
Photos is now implemented

[2015-05-29 07:26] mfonville commented on #5
Fitness is now in Full and Stock

[2015-05-29 09:13] mfonville commented on #4
Webview is now added to the package, but the system webview is not removed.
Not all ROMs support replacing the build-in webview with an extra added one (but recent Cyanogenmod does).
Only if all ROMs would support this, we could remove webview by default (or if we would have a check if a ROM has these commits: http://review.cyanogenmod.org/#/c/97919/ )

[2015-05-31 14:10] SiRMez opened #15 "Wrong Google Play Services in GMSCore 0 folder. -438 instead of -430."
I noticed that in the gmscore folder, folder 0 it has the wrong google play services. It has google play services -438 instead of the universal -430 version. I have also checked to see what's installed in my system and it says -438 after installing open gapps. I'm on a Nexus 6 which would require/install -430 on its own.

[2015-05-31 15:47] mfonville commented on #15
Should be fixed in commit 7404d0ce9da9e201209c8c8312205711db0c59ac
Could you try to check out and build this version?

[2015-05-31 15:52] SiRMez commented on #15
At work can't build, sorry.

[2015-05-31 17:42] mfonville commented on #15
Ok, then please wait for the uploads that will be coming soon.
I implemented the building of the different package variations :)

[2015-05-31 17:44] SiRMez commented on #15
I will definitely test as soon as I see it and let you know how it goes. Glad to see everything is going smoothly.

[2015-05-31 19:06] #15 closed

[2015-06-02 06:53] mfonville opened #16 "Various GApps have multiple DPI versions"
@rapperskull has found out that many more GApps have various DPI variants, he compiled a list at http://pastebin.com/cJQcBm9g

We should think about if and how we should maybe package these variations.
aapt dump badging xxxx.apk gives output like:
`compatible-screens:'200/400','300/400','400/400','500/400','200/480','300/480','400/480','500/480','200/560','300/560','400/560','500/560','200/640','3

[2015-06-02 08:06] mfonville commented on #6
This is now done, but implemented in a different way (we instruct the zip-generating function which folders to add)

[2015-06-02 08:06] #6 closed

[2015-06-02 08:09] mfonville opened #17 "Create automagic changelog/version report"
Since all package revisions are known to the script anyhow, we could automatically generate a log of which packages+versions where used for a build. This would be useful for tagging on GitHub and the OP on XDA.

[2015-06-02 09:14] mfonville commented on #12
A theory:
if libX/.... its contents are equal to libY/... then an APK is universal.
If the contents (to be judged by a list of filenames) is not 100% equal, only the APK is deemed to only support the 'highest' architecture level.

[2015-06-02 15:17] mfonville opened #18 "Automate more keyword selection, and processing multi-dpi packages"
Best would be to remove the special folders for GMSCore, PlayGames and Messenger, and move everyting to GApps/appname/[dpi/]...

Then the packaging scripts could be simplified (since the first part of the folder will always be known), packaging multi dpi apps could be simplified. Also generating the gapps-remove.txt would become more easy.

Also the content generation of update-binary and install.

[2015-06-02 17:04] mfonville commented on #3
It should now be implemented. Since I don't have UTC directly available in crontab, builds will be performed on CET/CEST +2 each day.

[2015-06-02 17:04] #3 closed

[2015-06-04 09:15] mfonville commented on #12
New theory and implemented:
If a package contains a 64 bit architecture together with its 32 bit architecture of the same platform, we assume the package to be NOT universal, and ONLY add it to its 64 bit source.

[2015-06-04 09:16] #12 closed

[2015-06-04 09:43] #4 closed

[2015-06-04 20:35] rapperskull commented on #5
All the apps that are not in the factory images should not be added to the GApps package. Also I'm not really sure about region-specific keyboards, maybe as flashable addons? Android for Work and Device Policy have no utility for any user. I don't think that in an enterprise environment a user can install a custom ROM to flash GApps on. Google Dialer has known problems and it's not on the Play Sto

[2015-06-04 20:54] rapperskull commented on #14
I think that we should respect the Google factory images, even if it's all working fine. I think that on 5.0 talkback should be in /system/priv-app and Hangouts in /system/app.

[2015-06-04 20:57] mfonville commented on #14
Well, if it is not necessary, it would be 'safer' for the system to have it in /system/app instead of /system/privapp, and I think that the result that they moved is, is probably because of newer/better insights and/or updates to the app(s) so that they don't require these root-privileges anymore.
Also, being able to have one location per app is more easy to (maintain in the) code and also ensures

[2015-06-05 12:24] mfonville commented on #5
The regions-specific keyboards are indeed an issue. I think I would have preference for making them part of the Stock package, but only as optionally installable feature.

Android For Work and Device Policy I am also not sure about what to do with them. To be honest, I think indeed the majority of the users will not have any direct benefit from using them, but there also a lot of users that could.

[2015-06-08 07:43] mfonville commented on #16
Current thought:

*if* a package has different paths defined in its 'application-icon-XXX:' lines -> it is a universal package

*if* a package has fully equal paths defined in its 'application-icon-XXX:' lines -> look at the path (that looks like 'res/drawable-hdpi-v4/...' get ldpi/mdpi/hdpi/xhdpi/xxhdpi/ definition.

[2015-06-08 09:14] mfonville commented on #16
More information for the docs related apps:

30 (All DPI) ** Missing for latest release **
32 (160 DPI)
33 (240 DPI)
34 (320 DPI)
35 (480 DPI)
36 (640 DPI)

[2015-06-10 07:45] dna1982 opened #19 "open_gapps-arm-4.4-XXX can't work on CM11"
Device: Nexus 7 2013 WIFI(Flo)
Rom: cm-11-20141115-SNAPSHOT-M12-flo
Kernel: ElementalX-N7-2.15-cm

open_gapps-arm-4.4-XXX doesn't work on CM11. After first reboot, while executing the setup wizard, I get a FC and can't continue...
Here is the exception message from Logcat:
06-10 07:39:40.315  23240-23240/? E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.google.android.setupwizard, PID: 23

[2015-06-10 08:01] mfonville commented on #19
Sorry, I am not able to help with this one, the source of the problem is within your ROM, where the java.lang.NoSuchMethodError: android.net.wifi.IWifiManager.setWifiEnabled method has been changed (if you google this line, you will get a lot of results concerning this issue)

[2015-06-10 08:01] #19 closed

[2015-06-10 20:11] NicholasBuse opened #20 "add_sourceapp.sh should discard the old APK, when the API level is updated, if the new API is <= 19"
I believe that add_source.sh has an issue around determining where the "existing" apk is. I believe that it assumes that the API is the same as the one we are adding.

This isn't a huge issue, we just keep stale apks in the repo.

[2015-06-10 20:59] mfonville commented on #20
If the API level is updated, it keeps an old version around of that lower API level, so that packages can be build for as much API levels as possible.
Is that the behaviour you are seeing?

[2015-06-11 05:25] DJAlik opened #21 "Unable to upload updated source"
I am getting the following error when trying to upload the latest source. I followed exact commands listed on the front page for adding sources

~/opengapps/sources/arm$ git push
ERROR: Permission to opengapps/arm.git denied to DJAlik.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2015-06-11 07:26] mfonville commented on #21
Hi, that is because I did not add you yet to the group with upload rights for the repo. I will add you to it.

[2015-06-11 07:26] #21 closed

[2015-06-11 12:11] NicholasBuse commented on #20
Yes, but if both API levels are <=19, what is the point of keeping the old?  Also, I think we ran into the opposite case with your latest commit removing Hangouts for 5.1. Maybe?

[2015-06-11 13:21] mfonville commented on #20
Yes, I could indeed automatically remove the ones that are <19. But I am not going to code that in now, it doesn't have priority.
For the Hangouts removal of 5.1, luckily my scripts always select the 'latest' version, so it didn't impact which Hangouts version was packaged. But I removed it manually, since that Hangouts version was (I believe to be) kind of unofficial and only released for some (b

[2015-06-11 17:37] DJAlik opened #22 "Trusted Face has stopped"
Just updated to the latest files and I am getting Unfortunately Trusted Face has stopped.

Samsung Galaxy S3 T-Mobile
CM12.1 nightly 6/11
OpenGapps 6/11 Stock personal built.

[2015-06-11 18:13] mfonville commented on #22
This is a problem of the S3, which I also happen to own. I did use ADB today again, to verify, and it is the exact same bug as was reported in https://github.com/ArchiDroid/android_device_samsung_i9300/issues/109

[2015-06-11 18:13] #22 closed

[2015-06-12 15:38] DJAlik commented on #21
Still can't upload new source

jalik@djalik-VirtualBox:~/opengapps$ ./add_sourceapp.sh /home/djalik/Downloads/com.google.android.apps.docs.editors.docs-1.4.232.10.35-52321035-minAPI14.apk
Importing Docs
Package com.google.android.apps.docs.editors.docs | VersionName 1.4.232.10.35 | VersionCode 52321035 | API level 14
Native code for architecture(s): armeabi-v7a
Existing version sources/arm/app/com

[2015-06-12 17:01] mfonville commented on #2
Apparently the classes.dex were missing in the APKs from the Nexus 5 (hammerhead) 5.0 and 5.0.1 images.

[2015-06-12 17:01] #2 closed

[2015-06-12 17:47] mfonville commented on #11
Confirmed that this gives no problems on 5.0. In 4.4 it has moved to /data/, so also no implications there.

[2015-06-12 17:47] #11 closed

[2015-06-12 18:12] mfonville commented on #21
That is because the git branch you are working on, is behind the latest version that is online. Nicholas also pushes a lot of new APKs as soon as they are on apkmirror.com

Also you have to make sure your git head is attached to the one of the remote repository. I recently made some changes to download_sources.sh which should resolve the problems around this issue.
You might solve the problem by f

[2015-06-12 18:20] mfonville commented on #14
Talkback is confirmed to function correctely when put in /app on Android 5.0 and 4.4, so I close this issue, since it has been researched now.

[2015-06-12 18:20] #14 closed

[2015-06-12 18:23] #1 closed

[2015-06-12 18:25] NicholasBuse commented on #21
ha! yeah right... :-) (This project has been most of my little experience with Git)

basically I do what @mfonville said and update my sandbox before trying to add anything.

in main opengapps:
[code]

from here the script, download_sources.sh, should get you up-to-date:

[code]

historically I have had issues with detached heads (not master) with this, but @mfonville should have resolved it with

[2015-06-13 21:58] mfonville opened #23 "Integrate @RapperSkull 's zip-calculations for GApps sizes"
Import the improvements @RapperSkull had in his PA GApps package e.g. the size calculations using zip list/info.

This because the script is becoming more dynamic/advanced anyhow, so it makes sense to also make this information now more dynamic.

[2015-06-16 10:21] mfonville commented on #20
This is now fixed. Clean-up is performed if you add a <=19 API level apk. All lower API versions are automatically removed.
THIS ASSUMES THAT NEWER API LEVEL IMPLIES ALWAYS A BETTER VERSION OF THE APP AND THAT THE API LEVEL WITH NOT DROP WITH NEWER VERSIONS.

[2015-06-16 10:21] #20 closed

[2015-06-20 06:27] laolangcool opened #24 "Cannot install gapps on 4.4 since version 20150618"
When flash, it says doesn't support the phone, versions before 20150618 works fine. My phone is xiaomi 2s (aries), omni rom 4.4.

[2015-06-20 08:14] mfonville commented on #24
Can you give the exact error output and attach the debug logs?

[2015-06-20 08:23] laolangcool commented on #24
Here it is. Please rename the attachment to zip.
![opengapps_log zip](https://cloud.githubusercontent.com/assets/12975042/8266582/955ea500-1768-11e5-9211-7f811a236c69.jpg)

[2015-06-20 08:24] laolangcool commented on #24
oh sorry, how to give the log to you?

[2015-06-20 09:44] mfonville commented on #24
Ok, thank you for the logs. I see what the issue is, apparently your ROM is only a (long time) deprecated field for the ABI specification. I will put in a fix, which you can try with tomorrow's (21 jun) build.

[2015-06-20 09:44] #24 closed

[2015-06-20 19:21] rapperskull commented on #23
Merged changes with the latest two commits. It should work.

[2015-06-20 20:01] mfonville commented on #23
Great work :-)

[2015-06-20 20:02] #23 closed

[2015-06-21 20:27] high1 opened #25 "Architecture detection"
In a2a00c3e47fb0ed79e42dcc050f26e4dd532b487, device architecture detection changed to
device_architecture=$(file_getprop $b_prop ro.product.cpu.abilist)
from
devarch=$(file_getprop $b_prop ro.product.cpu.abi).
This change results in Incompatible Device Detected on devices that were compatible before.
I do think that ro.product.cpu.abi is much more common, or that additional check for empty value s

[2015-06-22 10:08] mfonville commented on #25
Didn't commit https://github.com/opengapps/opengapps/commit/dae5cba5d5b6fc603a230d8808fd3c5933b51465 fix this issues for you?

[2015-06-23 09:07] high1 commented on #25
That fixes it, thanks. 4.4 ROMs mostly do not implement this, so this is a needed backward compatibility fix.

[2015-06-23 09:07] #25 closed

[2015-06-23 13:01] rapperskull opened #26 "Open GApps for Stock - merge with @RapperSkull's GApps for Stock"
When TKruzze decided to leave the scene for a while, a lot of GApps packages rose, all very similar to the original PA GApps. Since I'm contributing (a little bit) to the Open GApps project, I thought that would be nice to merge two GApps packages with two different aims but very similar code.
To merge the two projects there are some steps to perform:
1. Rewrite the makefile to make it more dynami

[2015-06-23 13:04] rapperskull opened #27 "Move WebViewGoogle from /system/app/Webview to /system/app/WebViewGoogle"
On Nexus devices Google WebView is installed in /system/app/WebViewGoogle, while /system/app/Webview is the AOSP one. Is there a reason for which Google WebView is installed in /system/app/Webview or it's an error?

[2015-06-23 13:47] mfonville commented on #27
When I checked some time ago the Nexus 7 tablet of my wife Google's Webview was installed in /system/app/webview (without a capital).
I will look into it, if you are right, we will have to move it.

[2015-06-23 13:54] mfonville commented on #26
Great idea to merge these two. Actually I recently checked out your GApps for Stock XDA page, and was already wondering if somehow integrating them would be possible.

For the makefile, it took me quite some magic work to make the current looping-mechanism working correclty, so adding an extra loop to it will be challening (but fun).
One small, possibble, issue though, is that currently we 'recycl

[2015-06-23 13:56] mfonville commented on #27
You are right, we will move it.

[2015-06-23 14:00] #27 closed

[2015-06-24 10:10] rapperskull commented on #26
I'll write the code in a separate branch, will you take a look at the makefile? I'm completely inexperienced in this field.
As for as the WebView, it can be installed on 5.0 too on stock ROMs. We'll have to further separate the two packages.

[2015-06-24 10:34] mfonville commented on #26
I will review your code of course. I will see if I can tweak the makefile.
We also might need a better keyword than 'for stock' because it contains a space (not nice) and also contains 'stock' like the existing 'stock' package. Would something like 'fornexus' or so be appropiate? What are your thoughts on that?
Is there a reliable way that we can identify which rom is really 'Stock' as intended by

[2015-06-24 11:17] mfonville commented on #26
Update: the groundwork for revising the makefile and all related script parts is almost done. It works, I am just cleaning up some things, so I will still commit it today :D

[2015-06-24 11:58] mfonville commented on #26
Shit, I thought only the sizes.prop was problematic, but now, when almost everything finished, I remember that makegappsremovetxt also relies on having a full-set of paths available, to be able to delete them :/
I have to find a fix for this issue

[2015-06-24 13:18] rapperskull commented on #26
Maybe we can keep the same build path: the only thing that changes is the update-binary file and we could use different names to distinguish between them. As for as the name, I would like to keep "Open GApps for Stock", because my previous package worked fine on some ROMs that came with already installed GApps (thanks to some more removals) and not only Nexus devices, but the keyword can be easily

[2015-06-24 15:11] mfonville commented on #26
I already incorporated the changes. My script now just tries to 'steal' the gapps-remove.txt from the 'stock' build, and refuses to build if there is no 'stock'.
I like the changes, because it makes things more easy and structured, I just have to find a better fix for this gapps-remove.txt, but I think I will do that when revising some of the inc.buildtarget.sh anyhow, when multi-DPI will be incor

[2015-06-24 18:24] rapperskull commented on #26
Yes, I think the ro.build.host parameter is good enough for now. We'll add more checks if and when users will complain (and provide logs).
As for as the changes to inc.updatebinary.sh I'm currently stuck because I don't know how the build of the "fornexus" variant will be called, for now I'll write 'if [ "$gapps_variant" = "fornexus" ] then ....', then we'll change the variable name according to y

[2015-06-25 14:04] mfonville commented on #16
The rule for installation of DPI version on the Android device should become:
*Is there an APK for my exact DPI -> install that one
*Is there otherwise a universal APK available? -> install that one
*No universal and no exact DPI available? Then look for the APK's DPI version that is as close as possible *above* the device's own DPI.

[2015-06-25 14:23] NicholasBuse commented on #16
Another interesting case is do we favor "correct" DPI for the most recent version (as outlined above) or an older version with a matching DPI.

Also, I think @rapperskull 's pastebin post needs Photos too (or did that go away with the latest version?)

[2015-06-25 15:01] mfonville commented on #16
Photos was not yet in existince during his pastebin, I believe. Trick will be to set up many accounts (or have many contributors) that can download all these different APK versions directly from the Play Store directly. So we would need a lot of GSF ids for the various device variants (arm,arm64,x86,x86_64, 240dpi, 320dpi, 480dpi, 560dpi, 640dpi). Maybe we can generate these using virtual android

[2015-06-25 19:44] rapperskull commented on #16
3. No universal and no exact DPI available? Then look for the APK's DPI version that is as close as possible <s><i>above</i></s> <i>below</i> the device's own DPI.

In this way the app will be updated by the Play Store. Remember that apps with higher DPIs have higher version numbers.
BTW I'm updating the pastebin and the 33 variant for Docs (that was marked as never seen) is now a thing.

[2015-06-25 20:02] mfonville commented on #16
Yeah, the Hangouts change I noticed earlier today, really weird, but should not impact the handling when following my dpi-detection approach.

About the above/below discussion: choosing below indeed will allow the play store to silently update the app, if it is available, but above gives the 'best' and most compatible user experience, because having a higher-DPI version is always compatible with a

[2015-06-25 20:25] mfonville commented on #13
I implemented a lot of this, like full 64 bit support. But we miss still some apps for some architectures, for x86 we miss:
Camera
Ears
Messaging
Wallet

[2015-06-25 20:34] rapperskull commented on #16
It's not really a big deal, but maybe downscaling resources instead of upscaling them is better.
As for as the problem of obtaining all the APKs, I tried some time ago to install Google Play Store in the Google AVD (that should include the Core base or something similar), but I failed.

[2015-06-25 21:10] rapperskull commented on #16
New pastebin: http://pastebin.com/c0J75JsH

It will be updated in the future to provide useful informations to all.

[2015-06-26 04:30] tienthanh2509 opened #29 "Google Plus and Hangouts conflict"
Vi: "Trên android kitkat, google plus và hangouts xung đột thư viện khiến cho khi cài đặt cùng lúc 2 ứng dụng này. ứng dụng sau cùng sẽ không thể hoạt động."

En: on android kitkat, google plus and hangouts library conflict caused when install 2 applications at the same time, g+ or hangouts will be force close.

P/s: Sorry for my bad english

[2015-06-26 04:33] tienthanh2509 commented on #29
This is conflict lib: libcronet.so

[2015-06-26 07:06] mfonville commented on #29
Yes, that is a known issue. Therefore those applications are installed on /data/ and not on /system/. So this conflict is not possible with current Open GApps builds (if everything works as it should). So I will mark it invalid for now. (Also, please English only, the team is a multi-lingual, but no Vietnamese).

[2015-06-26 10:00] DJAlik commented on #16
In cases where universal version is older than specific dpi versions it appears the builder picks the older universal version. For example for device Samsung Galaxy S3 Google Play Games 3.1.11 is available but the make file put 3.0.11 into the zip. Is there a way to make an extra parameter for the make file to build a specific dpi version and then if a particular dpi is not available it would reve

[2015-06-26 10:12] DJAlik commented on #16
New APK added
djalik@djalik-VirtualBox:~/opengapps$ ./add_sourceapp.sh /home/djalik/Downloads/com.google.android.play.games.apk
Importing Google Play Games
Package com.google.android.play.games | VersionName 3.1.11 | VersionCode 31110036 | API level 9
Package supports DPIs: 320
Native code for architecture(s): armeabi-v7a
Existing version /home/djalik/opengapps/sources/arm/app/com.google.android.p

[2015-06-26 10:16] mfonville commented on #16
@DJAlik this is because currently the 'universal' one it our benchmark for the versioning scheme. In the code I am still writing a different approach will be used.

[2015-06-26 11:17] #26 closed

[2015-06-26 11:40] mfonville opened #30 "Collecting a big set of DeviceIDs to download APKs"
Since the Google Play Store only allows us to download APKs of architectures and DPIs of which we have a device, I have the following proposal:
NEW STRATEGY:
* We will use a Google Account (not a Gmail account) per device
* Being able to keep control of the mailbox associated with the account, the deviceID supplier cannot hijack it
* A user with a new device to be added willl be given the details

[2015-06-26 11:59] oRAirwolf commented on #30
I would be happy to do this with my Nexus 9, Galaxy S6, and Nexus 6.

[2015-06-26 14:19] rapperskull commented on #30
I don't think that my Nexus 5 is rare at all, but I'm trying to set up an Android emulator with the Play Store and all.

[2015-06-26 14:44] DJAlik commented on #16
Just to confirm that my assumptions were correct that the correct DPI
version is not installed. I just installed the latest build which I built
early this morning and the Play Store is offering me to update Youtube to
10.24.57 and Google Play Games to 3.0.11 (1917563-036). The versions I have
installed based on this morning's build are Youtube 10.24.57 (probably the
universal dpi version) and Goog

[2015-06-26 21:00] mfonville commented on #30
To help to get a bit overview which packages we have, for which architectures, which SDKs and which versions exactly: https://github.com/opengapps/opengapps/blob/master/report_sources.sh

Usage is quite straightforward, and gives a simple report overview for 'everything' we have, or you can 'ask' it to which packages would be eligable when building for a certain max sdk level and/or given architec

[2015-06-26 22:55] bgiesing commented on #5
Well, as I was the one requesting an Inbox addon for TK's GApps (and he made it), I would love to see Inbox added in some way whether as an Addon or in the main package!

I also got him to add Chrome Dev as an addon, that would be cool too but not necessary,

As for the Region-specific KBs, those are always the first thing I remove on my Nexus, but I do see it being useful for people in other coun

[2015-06-27 04:55] #29 closed

[2015-06-27 07:54] DJAlik commented on #30
I can help with Samsung Galaxy S3 T-Mobile US but I think you said that you have the same / similar device yourself

[2015-06-27 08:21] mfonville commented on #30
I myself have the International S3 version: GT-i9300, so we have some overlap, yes

[2015-06-27 10:18] bgiesing commented on #30
Well if you guys decide to build an "Android TV Leanback" package, I have a Nexus Player that could be used!

[2015-06-27 10:37] mfonville commented on #30
I think all of those 4 device(ID)s are welcome. Is there a private way I can contact you @bgiesing to supply you with a token? Can I use brandon@giesing.cf ?

[2015-06-27 10:38] bgiesing commented on #30
Yep, that would be perfect! @mfonville

[2015-06-27 10:52] mfonville commented on #30
Ok, we discovered a problem: Lollipop enforces the usage of the actual two-factor authentication when adding a device. So we can't use app-specific passwords when adding 5.0+ devices :-/
Let me think this through, trying to find the best and safest solution.

[2015-06-27 10:55] rapperskull commented on #30
So you're forced to enable two factors authentication? We can create a new account, enable two factor authentication and distribute backup codes to all the device owners.

[2015-06-27 10:56] bgiesing commented on #30
@mfonville I think I got a solution... Not sure though... You could [share it with LastPass][1]?

[1]: https://helpdesk.lastpass.com/sharing/

[2015-06-27 11:03] mfonville commented on #30
@rapperskull
I use two-factor, so that I am sure that I will always stay the 'owner' of the account (nothing serious about the account can be changed with only an app-specific password). The app-specific password can then be used for the non-destructive operations by the volunteers.

@bgiesing Good idea for the sharing of the password indeed, but we need also something to be able to retain ownersh

[2015-06-27 11:05] bgiesing commented on #30
@mfonville Maybe both combined? Share the password itself with LP and use a one-time 2FA code to ensure security?

[2015-06-27 11:12] bgiesing commented on #30
@mfonville This is the only other thing I could think of... [One Time Secret][1] allows you to share a encrypted one use only link... Nothing can stop people from writing it down but it may be the only option...

[1]: https://onetimesecret.com/

[2015-06-27 11:19] rapperskull commented on #30
@mfonville Giving away the password and a backup code will only allow the addition of a new device, since for changing password or email address a new code will be required. If a user needs more codes to add multiple devices, he must add first a device to request a new code. We have to check if a signed in device can do something harmful with just one more code or an access from the web is require

[2015-06-27 15:05] bgiesing commented on #17
Here's what I got so far... Doesn't pull in Submodule changes which is the hard part I may need help with. Any ideas @opengapps/general?

## Script
[code]

## Example Output from 2015-06-27
- Always install Google WebView with the fornexus package.

- More advanced features for report_sources including a small usage instruction

- small aesthetic changes to report_sources

- A new script introduce

[2015-06-27 15:39] bgiesing opened #31 "domain and changing projectpage to organizationpage"
One thing I noticed is how long the URL for the download site is... We could register something like `opengapps.cf` for free and then forward the GitHub page to it.

Three things about this:

1. Old domain would still redirect!
2. Does require DNS but that can be free also (aka [ClouDNS](http://cloudns.net))
3. Not as memorable as a `.com` but would still be a lot shorter and easier to remember th

[2015-06-27 17:32] rapperskull commented on #31
We can just register a free .cf domain and the use the built-in tools to redirect it to http://opengapps.github.io/opengapps

BTW opengapps.tk, opengapps.ml, opengapps.ga, opengapps.cf and opengapps.gq are all registered. I don't know if it was @mfonville or not.

[2015-06-27 17:33] bgiesing commented on #31
@rapperskull It was me, I was making sure nobody would "squat" on them.

[2015-06-27 17:34] rapperskull commented on #31
OK then set a redirect on all of them. I don't think that there's nothing wrong.

[2015-06-27 17:46] bgiesing commented on #31
@rapperskull @mfonville Can somebody give me write access to this repo? If I am to redirect the proper way, I would have to create a file called `CNAME` with `opengapps.cf` in the file. The other domains would redirect to the new url.

[2015-06-27 17:56] mfonville commented on #31
I will look into it. We can even consider a payed domain.
I think I will change the concept of the homepage to a 'organization' page of github instead of a projectpage (did not know of the difference/existence before), which should shorten the URL at least to not have a /opengapps in it.

It will have to wait a few hours or a day though, since I am enjoying some music @ a festival :-)

[2015-06-27 17:59] bgiesing commented on #31
Well, just a good example to look on...

My website is done this exact way: http://voxive.cf and here's the GH repo where you can see the CNAME file: https://github.com/TeamVoxive/teamvoxive.github.io

Do you think if I pull request it, you could merge it while at a festival? LOL

[2015-06-27 18:07] bgiesing commented on #31
Well there's a pull request if anybody has some free time with write access! #32

[2015-06-27 18:09] mfonville commented on #31
Octodroid ftw

[2015-06-27 18:11] bgiesing commented on #31
It's live already! http://opengapps.cf

I am going to forward the other domains (.tk,etc.) in just a second!

[2015-06-27 18:13] bgiesing commented on #31
Aaaaannnnddd maybe not... "Free domain can't be forwarded to free domain"

Well that should be good enough, and I own all the free ones just in case somebody wanted to "squat".

[2015-06-27 18:55] bgiesing commented on #31
@mfonville Made another pull (#33) for updating the README to the new link.

Also, added a "Task List" to the OP to track the progress.

[2015-06-27 21:29] mfonville commented on #17
I was thinking less about the Git log, but more in the direction of e.g. the reports that are now created with https://github.com/opengapps/opengapps/blob/master/report_sources.sh

[2015-06-27 21:40] mfonville commented on #31
Rather not yet, I registered opengapps.org :)

[2015-06-27 22:02] bgiesing commented on #17
@mfonville Maybe combine the two? The reasoning for that is there is a lot more than just updated GApps as seen by my log above. So `end-users` could see what apps got updated and the more `tech-minded` people could see that + a log with the changes that may impact development like that very `report-sources.sh` script being introduced!

[2015-06-27 22:37] bgiesing commented on #31
@mfonville One suggestion for the new 'org' page, even though the old URL works (but redirects to `opengapps.org/opengapps`. I would create a 301 redirect to permanently move to `opengapps.org`

Also, I would look at [Bounce.Bar][1] as you can create a temp. banner at the top of the page when it detects somebody came from the old URL and tell them the new one for the future!

[1]: http://bounce.ba

[2015-06-27 22:42] bgiesing commented on #31
@mfonville Found this guide for GH-Pages 301 redirect using CloudFlare (which everybody should use anyway! :smile:

http://ianrose.me/2014/03/30/permanent-rediect-github-project-page/

[2015-06-28 07:42] mfonville commented on #30
@rapperskull the problem is, that having the backup code + the password enables one to add a computer as 'trusted' and then do potential malicious things with it, using only the password.

I have give it some thought last night, and I have come up with a solution, but it will take some time to manual set up some things, but the idea is as follows:

*We will use a Google Account (not a Gmail accoun

[2015-06-28 09:30] mfonville commented on #31
I think I will just use a temporary html+javascript redirect, and remove that gh-pages in a few days.

[2015-06-28 09:54] mfonville commented on #30
@bgiesing your mail address is failing:
     brandon@giesing.cf

Technical details of permanent failure:
DNS Error: Address resolution of giesing.cf. failed: DNS server returned answer with no data

[2015-06-28 13:55] mfonville commented on #17
Yes, we could do more technical reports too, just wondering how much it provides compared to the basic GitHub tools that most tech-savvy people already know about.
I just want to make the information that 'the system' already knows more easily available and readable.

Btw, I attached Twitter to our GitHub: https://twitter.com/opengapps

[2015-06-28 19:35] bgiesing commented on #30
@mfonville I know, I am in the processing of transferring servers... I will send you a email.

[2015-06-28 19:46] mfonville commented on #16
Working on multi-dpi support in the new branch https://github.com/opengapps/opengapps/tree/multidpi

[2015-06-29 00:20] bgiesing opened #35 "Android TV/Leanback GApps"
Since the Nexus Player is apart of our devices, we should consider a TV/Leanback variant.
## Todo
### Inital Setup
- [x] Prepare add_source.sh to process leanback packages.
- [x] Gather Core from Nexus Player (fugu) factory image.
- [x] Gather initial x86 and ARM leanback versions if possible.
- [x] Update script to support building `leanback` variant
### Package Considerations
- [x] Decide on the

[2015-06-29 08:37] mfonville commented on #35
I already did put it on my personal list of possible Open GApps variations to create. But are there any AOSP/CM images for the Nexus Player? Because if not yet so, best would be to start with a 'fornexus' variation of @rapperskull that could support the stock Nexus Player firmware.

[2015-06-29 09:06] bgiesing commented on #35
@mfonville Not a lot yet but there's:

- [CM](http://forum.xda-developers.com/nexus-player/development/unofficial-cm-12-1-nexus-player-fugu-t3086597)
- [PAC-ROM](http://forum.xda-developers.com/nexus-player/development/rom-pac-rom-lp-mr1-beta-2-t3140183)
- [LolliRock/AOSP](http://forum.xda-developers.com/nexus-player/orig-development/rom-t2982801)

[2015-06-29 09:53] rapperskull commented on #35
Info to collect before starting any actual work:
1. Why is the Nexus Player different from other x86 devices?
2. What are the differences (especially regarding GApps)?
3. Do we all all the GApps in the stock package (or at least the ones that makes sense, unlike Wallet) for the Nexus Player?
When these questions will be answered we can start to think how to package Open GApps for Nexus Player.

[2015-06-29 09:58] bgiesing commented on #35
@rapperskull A lot of differences, there's a lot of different versions.

Example:
- Play Store and it's -leanback variant
- YouTube's TV app is a separate package name
- TV Only apps like Leanback Launcher, Google Cast Receiver, and Live Channels

As for 3, a lot won't even work on NP since they don't work with the remote.

[2015-06-29 10:03] rapperskull commented on #35
Seeing the differences I don't think that a fornexus package is what we want/need. Probably a whole new variant is needed, but with the current building method it can be a standard-like one or a fornexus-like one, but not both.
Later today I'll download the fugu factory image and take a look at it.

[2015-06-29 10:15] mfonville commented on #35
My suggestions also never to make 'fornexus' compatible with it, but to possibily use the 'fornexus' as the starting point for this work, since integrating the updates of those Google Apps on already Google firmware would be the largest userbase at the moment.
So probably a 'fornexusplayer' variation ;)

Btw, @rapperskull if you have time, maybe you can look a bit at my changes in the #multidpi br

[2015-06-29 10:25] bgiesing commented on #35
@mfonville I think 'fornexusplayer' wouldn't be the best name. Even if the Nexus Player would be the base, it would be a good idea to support NVIDIA Shield so we have an ARM and x86 version. So the name could be 'fortv'

[2015-06-29 10:27] bgiesing commented on #35
Also, NVIDIA has a factory image also that would help for ARM https://developer.nvidia.com/gameworksdownload#?tx=$target,mobile

[2015-06-29 10:46] mfonville commented on #35
@bgiesing The name was a bit of a joke ;-)
We will see what we will end up with, and how to name it when we've got it

[2015-06-30 01:22] NicholasBuse commented on #30
Should we have plans to pull APKs from Playstore in a automated fashion (nightly)?  We could leverage logic from the Chrome extension we are planing to use and all of the new credentials in the spreadsheet.

I know I do not have skills to do this in shell scripting, but I would be capable in python.  Do we have the ability to run python cron jobs on Github?

Would this draw attention from Google?

[2015-06-30 15:01] mfonville commented on #30
I am not sure if a full automated download system is necessary at this moment.
But what would be very useful if one could leverage the current Chrome extension into a version that would allow for multiple logins to be active at the same time (so multiple 'download apk'-buttons) that will allow for easy downloading of all variants of the package, without having to logout+login in all the time.

If

[2015-06-30 15:03] mfonville opened #37 "Google Webview logic/integration"
Since CM has announced they will not work on CM12.0 anymore, the Google Webview fix will never be put in that branch.
Meanwhile, we can assume by now that all CM12.1 spins will have adopted the Google Webview patch.

So we can/should remove the hacky code from update-binary.sh.
All 5.0 builds with the exception of 'fornexus' will not get google webview anymore
All 5.1+ builds will receive google w

[2015-06-30 22:26] mfonville opened #38 "stable branch"
After the multi dpi is in place, I would want to branch of stable builds, which will only include tested code. And should reduce the amount of necessary 'daily' releases to the point of 'only' when Google updates an app. And a branch where the experimental development will continue and later be backported.
This should make the gapps more stable and attractive to a larger community.

What are the t

[2015-07-01 08:20] rapperskull commented on #38
That's obviously a good idea. Developing in another branch help the developers and the users. We can merge the developer branch with master on Update Wednesday so that the new builds will be generated only when needed.

[2015-07-01 08:35] mfonville commented on #38
about timing the updates of Google's things: I could split out the release packages of each architecture per repository (so the 'arm' packages attached to the 'arm' sources repository).
And only build their releases if their own repository or if 'all' is updated.

[2015-07-01 09:19] mfonville commented on #38
I am now thinking, that updating the 'arm' sources could also imply a new arm64 build, if it is a 'fall back' package.
I think I might have to write a report_sources-derived script that could simply check if any package that is used in a specific architecture's build has been updated, which would then trigger the creation of a new release.

[2015-07-01 09:34] rapperskull commented on #38
That can also help in the creation of the automatic changelog, listing all updated apps.

[2015-07-01 13:52] mfonville commented on #16
I urge all @opengapps/packagers to download the new toolset, and to look with ./report_sources.sh which DPI versions of packages we are still missing, and trying to download those from apkmirror or directly from the play store :-)

Yay! So happy we were able to implement this huge change. It will also increase the size of the package, but install sizes will be even smaller (no DPI upgrades more in

[2015-07-01 20:33] mfonville commented on #37
Implemented this change.

[2015-07-01 20:33] #37 closed

[2015-07-01 21:01] mfonville commented on #18
This is done when @rapperskull and I made the new multidpi implementation.

[2015-07-01 21:01] #18 closed

[2015-07-01 21:02] mfonville commented on #10
I want to forfeit this, the information about GMS is not more valuable than information about an other package. And general package (version) information will be made available through other methods.

[2015-07-01 21:02] #10 closed

[2015-07-01 21:05] mfonville commented on #31
Since we cannot remove gh-pages because the internet is full with links to the old URL, we will just leave the forward in place and only remove it in some far distant future.

[2015-07-01 21:05] #31 closed

[2015-07-02 12:51] mfonville commented on #30
We have now some various logins & IDs, before we go and gather even more IDs, could somebody test if the current logins and IDs work correctly?

[2015-07-02 16:13] DJAlik commented on #30
Out of town now, will be back on the 7th and then can assist

On Thu, Jul 2, 2015, 7:52 AM mfonville <notifications@github.com> wrote:

[2015-07-02 16:48] mfonville commented on #16
I wonder btw if TWRP supports the usage a zip-algorithm that would allow for delta-compression, like 7zip, for the flashable file. That would reduce the size from 900 to around 450 megabytes...

[2015-07-02 17:05] mfonville commented on #16
Apparently TWRP does *not* support 7zip. But I am thinking, we could include 7za for Android (around 1.5MB) in the zip package, and then 7zip all the packages' folders in 7zip format within the ZIP. These 7zips files can then get extracted to /tmp/ when a package is being chosen for installation, and get processed further from there.

An obstacle: we need a 7za application for each (fallback) arch

[2015-07-02 18:01] rapperskull commented on #16
We must check if compressing every single folder gives approximately the same compression ratio of compressing the entire package. I thought about compressing the whole package, but it would be a problem to extract it to /tmp.
Or we could use tar, that should be included in busybox, with xz compression. It seems that it's as efficient as LZMA (not 2 though) and should provide both compression and

[2015-07-02 18:37] rapperskull commented on #16
Apparently xz implements the LZMA/LZMA2 compression algorithm (https://en.wikipedia.org/wiki/Xz) and is preferred to 7zip in \*nix environments.
Also, even if I don't see that in the help on Android, tar *should* support permission and ownership preserving (https://www.gnu.org/software/tar/manual/html_section/tar_70.html). In this way we can store the files with the correct owner and permissions.

[2015-07-02 20:55] mfonville commented on #16
Hmm, I was already trying to compile 7zr for x86 and arm (but failed :-P).
So if tar.xz is supported by default, and that also would have the same delta-compression techiques to reduce the size when packaging almost similar APKs, that would be preferred.
I will do some testing with .xz to see how it performs.

[2015-07-02 21:09] mfonville commented on #16
.xz doesn't seem to do any delta compression, so I think we are still 'convicted' to using 7z to achieve any real size reduction :-/

[2015-07-02 21:24] rapperskull commented on #16
Comparison test: compressing Core, GApps and Optional folders in a single archive using 7-zip 9.38 on Windows.
Uncompressed: 1372 MB
ZIP compressed: 860 MB (Compression ratio: 62,7%)
LZMA compressed: 446 MB (Compression ratio: 32,5%)
LZMA2 compressed: 469 MB (Compression ratio: 34,2%) (why?)

On Ubuntu using the following command: *XZ_OPT=-9 tar -cvf test.tar.xz --xz Core GApps Optional*
468 MB (C

[2015-07-02 21:26] mfonville commented on #16
You can even use -9e for compression (I am testing that one now)

[2015-07-02 21:52] rapperskull commented on #16
I tested it too and I got 468 MB again, better avoid the extreme parameter to speed up the compression a little bit. BTW LZMA compression (7-zip one) is also supported by tar, I'm testing it now.

[2015-07-02 21:54] mfonville commented on #16
It is actually not tar that does the compression. Tar just puts multiple files into a single file, and then the compression tool (xz) does a 'filter' over it. That also explains the double file extension: .tar.xz -> a tar wrapped within a xz.

You can read the details and options about xz if you type in: man xz

[2015-07-02 21:58] rapperskull commented on #16
Yes, I know that, for supported I mean that you can compress/decompress it using a single command instead of two. Also supported means available through busybox, but it seems that basically all common compression algorithms are supported: zip, gzip, bzip2, lzma and xz.

[2015-07-02 22:00] mfonville commented on #16
Ok. Well, I have to go to sleep now, but if you want, you can start a new branch and work on those nice future filepaths like GApps/youtube.tar.xz ;-)

[2015-07-02 22:04] rapperskull commented on #16
I have to sleep too, I'm just testing the lzma compression on Ubuntu. Tomorrow we'll decide what compression algorithm to use and start the work.

[2015-07-03 05:04] bgiesing commented on #16
Even though it might take more work, could we get recovery developers to
update with support for other compression techniques? This is becoming a
problem for more than just these GApps and I think that it could benefit
more than just us.

To unsubscribe click: <http://email.giesing.cf/u/eJwljrtOw0AQAL_GLqO7vb1dX3FFiAVFMBIUGOj2Xn4QK1GUgPL3RGaKKUeTPJFEqCe_2-6vR_7u-_Fnv-tcO9-eK9PGj5d-Apx_8fHr1dDpc5jf

[2015-07-03 09:17] rapperskull commented on #16
@bgiesing TWRP already includes tar and support to many compression algorithms. They're however not supported in the zip update because also the AOSP recovery does not support them.

@mfonville Created a new branch and started working on it. Pushed the first commit(s) and now apps are stored in tar.xz format. Later today I'll update inc.updatebinary.sh if you're not faster then me.

[2015-07-03 09:20] rapperskull opened #40 "Reduce GApps packages size"
With the introduction of multiple versions of the same app to support multiple screen densities the size of the packages grew a lot.
As already discussed we'll use the XZ compression algorithm to store the apps in the zip file as save a lot of space.

[2015-07-03 13:45] bgiesing commented on #16
@rapperskull /startrant Just because AOSP doesn't support it, doesn't mean they can't add it. That's the whole purpose of TWRP. They add stuff that AOSP won't support! /endrant

In all seriousness, it would be difficult to get them to support it but not impossible. While this while work in the meantime (or if they never change), it would still be nice to at least ask.

@Dees-Troy

[2015-07-03 13:53] mfonville commented on #16
@bgiesing but one of the problems is that it isn't supported in the OTA format that Google uses for its zipfiles. So even if they would add it, I would *really* never get verification of the zip to work :-P

I think the current approach that we now take in issue #40 is really the long-term way to go for maximum compatibility and great compression results.

[2015-07-03 18:05] bgiesing opened #41 "Apps are integrated but not deleted after update"
I had this issue both on a install of fornexus on a dirty flash (formatted system but not data and installed) and a completely fresh install of CyanogenMod with stock package.

After apps are updated though Google Play, they remain in data even after installing a new GApps package. They do get updated in system, but it's still in data as the same file.

This picture shows what apps are still in da

[2015-07-03 18:07] bgiesing commented on #41
@rapperskull Still happening to me after installing a new ROM fresh and flashing another package on it and using Stock instead of fornexus.

[2015-07-03 18:25] mfonville commented on #41
This is something that Android itself has to fix, it is responsible for cleaning out /data/ when /system/ has newer packages. I did read somewhere that in recent CM builds it was probably broken when packages are 'equal' instead of newer, but we ourselves cannot do anything about it.

[2015-07-03 18:25] #41 closed

[2015-07-04 12:33] mfonville commented on #40
Btw, what about a hybrid solution? So only xz-zipping those folders that actually have multi DPI variants, and keeping the other packages as folders? That should have a positive impact on speed, while not having to rewrite the whole size-detection mechanism?
One could check if in a folder there is a .tar.xz file, and the follow the .xz mechanism, and otherwise fall back on the legacy code.

[2015-07-04 17:02] rapperskull commented on #40
Adopting this solution requires the compression of the zip file, and probably the extraction of the tar.xz files from the archive will add more time. Probably storing of the size of all the folders is a better solution. For now I'll build and test the fornexus package to see how it performs on my Nexus 5 and if all the apps are installed. Then we'll plan a solution.

[2015-07-04 18:28] rapperskull commented on #40
As on your device the size calculation is very slow also on my Nexus 5. It's a lot faster on Ubuntu (probably because of more RAM). One thing we can do is store the result of which_dpi instead of calling that function again when extracting the files. The size calculation process will still be slow, but the extraction faster.
But probably storing what we need in a text file when building the packag

[2015-07-04 19:59] mfonville commented on #40
I think the size of /tmp is limited to the amount of RAM the device has. And since plenty of devices are short of RAM, storing all the extracted files from calculation to installation is probably not the best idea.

I think having compression turned back on for the zip in the hybrid solution is not a bad thing, since decompressing a zip on the phone does not put that much strain on a CPU. And the

[2015-07-04 20:39] rapperskull commented on #40
I thought about storing only the result of which_dpi and not to keep the tar.xz files. Separating DPI-specific and non-DPI-specific apps in folders and archives is only a temporary solution because more apps could became DPI-specific and the good effects will fade away.

For now I'll store the available densities in a text file so that we can avoid calling tar in which_dpi, then if it's not suffic

[2015-07-04 20:57] mfonville commented on #40
ok, so if you store the result of which_dpi, how many xz-extractions do we save? And you store the which_dpi during the generation of the package, or during the execution in recovery?

Your point about the it being a temporary solution is true.

[2015-07-04 21:44] rapperskull commented on #40
If we store the result, we'll not save any extraction (that's BTW the fastest thing in the entire process), but we avoid calling tar again to list all densities (again). Every tar call is very slow, because the entire archive have to be processed. I'm talking about the execution in recovery BTW.
If we save the available DPIs before, when building, we can avoid both tar calls (during size calculati

[2015-07-04 22:24] mfonville commented on #40
Ok, now I understand what you mean. I my mind tar [operations = xz operations], but of course they are not :-P
So yeah, saving those extra TAR calls is then indeed the best way to go. If it keeps going too slow, we can add those other workarounds if necessary.

[2015-07-05 07:57] Feelivent opened #43 "4.4: Google Play Music wants /data/app-lib/PrebuiltGmsCore instead of /system"
Clean install with open_gapps-arm-4.4-stock-20150702.zip on Omni 4.4.
Starting Google Play Music gives the following error in logcat
[code]
Should look in /system where PrebuildGMSCore exists.
Google Play Music otherwise still seems to work, tho there's a blank black song cover in the Google Play Music notification (other covers in the app/widget aren't blank)

__open_gapps_log.txt__
[code]

[2015-07-05 08:09] Feelivent opened #44 "signapk.sh does not build a verifiable signature"
Verifying the zip signature in TWRP 2.8.7.0 fails.
Tested with open_gapps-arm-4.4-stock-20150704.zip and open_gapps-arm-4.4-stock-20150701.zip

Please do sign, even if it's just with AOSP test-keys, so at least integrity is guaranteed.
http://wiki.rootzwiki.com/Signing

[2015-07-05 09:14] mfonville commented on #44
It is a known issue. We are still trying to work out the last problems with the signature, because we can't use apksign.jar and we do this manually from the shell. The signature in binary form in the zip comment field is still broken for unknown reason :-/

[2015-07-05 10:40] mfonville commented on #43
First of all, this in Google Play Music itself, so we cannot do anything about it. Second, AFAIK this is correct behaviour, because it would prefer libs in /data/ over those on /system/, so it first looks for those.

[2015-07-05 10:40] #43 closed

[2015-07-05 15:44] mfonville commented on #30
Btw, for the packagers, this is also a useful tool to collect aps from aptoide.com: https://github.com/StefanescuCristian/Aptoide-Downloader

[2015-07-05 22:41] Feelivent commented on #43
Not having covers in the Google Play Music notification is not normal behavior and a __bug__.

Googled the first error logcat and that was /data/app-lib/PrebuiltGmsCore:
http://forum.xda-developers.com/showpost.php?p=54947999&postcount=5508
Diagnose prolly premature if you say that's normal behavior (XDA disagrees?), but the no covers bug isn't.

Was working before in CM11 and old PA Gapps (before

[2015-07-06 00:51] Bracket- opened #47 "scripts/inc.signapk.sh requires xxd but does not check if in PATH"
Missing check for xxd. e049739 introduced xxd usage but did not add a check to see if xxd is in PATH.

[2015-07-06 01:39] ghost opened #48 "ShellCheck linter issues"
I ran ShellCheck 0.3.8 against 133c884 and figured I'd post the output here in case anyone was interested in going through it. If no one is interested, I'll see what I can do and then open a PR for review.

Going by a quick glance, it looks like there's possibly quite a few false positives, so I've split up the output into errors, warnings and notes so that it's easier to go though all of them.

[

[2015-07-06 07:48] mfonville commented on #43
Read the rest of the thread of that post (because I did) and that line is not related to any of the errors experienced.

For what it is worth with Google Play Music and the cover art, I can't help you with that. We only package Google's APK and don't change anything of the inner working. So we can't fix this bug if it is in Google Play Music itself.
One thing you can try is to not install Google P

[2015-07-06 07:52] mfonville commented on #48
I will have a look at it.
I already did shellcheck some parts of the script before, but for some things we currently have no 'cleaner' possibilities available (but that we know we won't have issues, because we know that we e.g. don't have spaces in our own foldernames).

[2015-07-06 08:28] mfonville commented on #40
I think I will want to 'try' for the next xz-compressed build with -9 instead of -9e, to see if building goes any faster at the buildbot server, because at the moment it is slow as hell, and doing so many builds, it adds up.

[2015-07-06 08:52] rapperskull commented on #40
If you can change it manually, please test it, and if there's a real speed improvement, we'll change and commit.

[2015-07-06 08:54] mfonville commented on #40
Yeah, I did change it manually now, so all builds now (after arm4.4 and arm5.0) will be done with this 'lower' setting, and I am monitoring the cpu and memory usage.

[2015-07-06 09:21] mfonville commented on #40
It is barely better, so I think I will try to implement a much better solution for us: a caching mechanism :)

[2015-07-06 11:25] bgiesing opened #49 "Allow gapps-config to be stored in persist partition."
As seen on TK's xda thread:
http://forum.xda-developers.com/showthread.php?p=61707708
http://forum.xda-developers.com/showthread.php?p=61714439
http://forum.xda-developers.com/showthread.php?p=61716954

[2015-07-06 11:29] mfonville commented on #49
Yeah we can do that, it will be trivial to add.

[2015-07-06 11:33] #40 closed

[2015-07-06 11:37] bgiesing commented on #49
@mfonville Yeah, I would have did it myself since it is so easy. I am away from my computer though and it is hard to do anything on my phone screen LOL

[2015-07-06 11:44] #49 closed

[2015-07-06 12:00] rapperskull commented on #48
I'm also looking at this. @mfonville Do you think we can replace printf on line 112 and 113 of report_sources.sh with echo?

[2015-07-06 12:28] mfonville commented on #48
I used there printf because it has no line-endings, but we could also use echo -n I guess.
You'll have to test carefully with the 'cut' though, if nothing breaks.

[2015-07-06 12:52] mfonville commented on #38
I made report_sources.sh now able to analyze all packages used for an architecture (and api level) build and publish its findings in a hash.

So the next step is that my buildbot will analyze these hashes to determine if a new build will be done for an architecture.
- [ ] Change buildbot to look for report_sources hash per architecture
- [ ] Trigger build per architecture if hash has changed
- [ ]

[2015-07-07 05:23] DJAlik opened #50 "report_sources.sh errors"
Couple of things I noticed when I run ./report_sources.sh arm-22
For com.google.android.syncadapter.contacts it reports version 4.4.4-1227136
If you run without arguments it reports properly that verison for api 19,21, and 22 are available

The other issue I see if you run it with any arguments at first it throws a ton of errors such as:
awk: run time error: negative field index $-2
 FILENAME="-"

[2015-07-07 07:14] mfonville commented on #50
The errors were because of @rapperskull 's his recent cleanup. I found the cause of those and cleaned it up. The other wrong version report you are right about, and I will try to find a solution for it.

[2015-07-07 07:24] mfonville commented on #50
Done, thank you for finding this problem.

[2015-07-07 07:24] #50 closed

[2015-07-07 07:30] DJAlik commented on #50
I think there is a similar issue with com.google.android.gsf.login

[2015-07-07 07:56] mfonville commented on #50
Yes, I see, that is now because "sort" things that 8 is larger than 21, (because the digit it start with is higher), I will try to fix that too

[2015-07-07 08:02] mfonville opened #51 "Backport the improved arch, sdk and dpi detection code from report_sources.sh"
Since report_sources.sh has been written with more shell knowledge and about the project's shape, it might have useful code to be backported to get getsourceforapi and other build_app code.

[2015-07-07 12:29] Bracket- commented on #48
[echo flags are not portable](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/echo.html#tag_20_37_16). All scripts specify the #!/bin/sh shebang, which indicates that the scripts work with /bin/sh, but echo flags are a non-standard feature.

printf is portable and should always be used instead of echo with flags. Rather than replace printf with echo to silence SC2059 warnings, follow the

[2015-07-07 14:31] DJAlik opened #53 "7/7 arm build does not install with CWM"
Just flashed the 7/7 stock build and it mad the phone completely unusable: the launcher doesn't come on, every app crashes. Reverting back to the 7/2 build that I had on my SD card to hopefully get back in business

[2015-07-07 14:38] mfonville commented on #53
Debuglog and a logcat of the crashes?

[2015-07-07 14:43] DJAlik commented on #53
unfortunately I am a work and cannot connect my phone to the computer to do
any adb stuff

On Tue, Jul 7, 2015 at 9:38 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-07-07 15:05] mfonville commented on #53
The issue you are having is also strange. Because since 2/7 only the Google App has been updated ( https://github.com/opengapps/arm/commit/7a6be7eccaa432315130bdf7b5359d5ab1b2f413 )
And I have ran that version now for more than 4 days on my phone from the various testing packages :-/
And also today's package I flashed myself without any problems on my GT-i9300, so I am really curious which errors

[2015-07-07 15:09] DJAlik commented on #53
If you can tell me how to pull the logs off the device without doing adb I
can see if I can get them

On Tue, Jul 7, 2015 at 10:05 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik

[2015-07-07 15:13] mfonville commented on #53
Normally you could install a logcat app on the phone, but if everything crashes,you won't be able to do that. But please make sure you are using the 'stock' package (and maybe try re-flashing your ROM before flashing the gapps (no need to wipe any partition)).

[2015-07-07 15:24] DJAlik commented on #53
Argh. Even more issues now that I flashed the 7/2 build. I have no keyboard
now at all installed. My desktop reset and all the shortcuts are gone.

On Tue, Jul 7, 2015 at 10:13 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixclo

[2015-07-07 15:31] mfonville commented on #53
You could force a dirty flash the keyboard, look in update-binary for:
[code]

and change it into:
[code]

[2015-07-07 15:38] DJAlik commented on #53
# Begin Open GApps Install Log
-----------------------------------------------------------------------------
           ROM Android Version | 5.1.1
                        ROM ID | cm_d2tmo-userdebug 5.1.1 LMY48B 7aac1eaf90
test-keys
                   ROM Version | 12.1-20150704-NIGHTLY-d2tmo
               Device Recovery | ClockworkMod Recovery 6.0.4.5
                   Device Name | d2tmo

[2015-07-07 16:15] mfonville commented on #53
The changes I suggested to apply to your update-binary seem not to be applied, otherwise this log's output is impossible.

[2015-07-07 16:20] DJAlik commented on #53
I can't change the update-binary because it's inside the zipfile that I
can't open on my phone and edit because I don't have the keyboard
installed. that's the log from the 7/2 reflash on top of 7/7

On Tue, Jul 7, 2015 at 11:15 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.

[2015-07-07 17:51] mfonville commented on #53
ok. Then we will just wait till you get home from work.

[2015-07-07 17:52] mfonville commented on #16
So we have a new bug on the forum: http://forum.xda-developers.com/showpost.php?p=61745648&postcount=458

On a device with DPI of 560 we can see that the APKs of Google+, Earth and YouTube don't get installed. The libs are correctly in place. So the selection mechanism to 'select a lower dpi if the same dpi or a higher one is not available' does not work.

@rapperskull any ideas how to fix this?

[2015-07-07 18:02] mfonville commented on #38
So, I prepared a version of the buildbot that can publish to the architecture's repositories. So that we can create seperate 'last release's for each architecture variants. It is instructed to only build a new version of all android versions if something changes for the most recent android versions, ergo, if 5.1 gets an update, all versions will be rebuild and published.

I now have to adjust the

[2015-07-07 18:13] DJAlik commented on #53
So I tried flashing the 7/7 again that I downloaded from opengapps.org site vs the file I built last night on my VM. Same behavior Google Play Services crashes non stop, System UI crashes. Here's the Install Log:

# Begin Open GApps Install Log
-----------------------------------------------------------------------------
           ROM Android Version | 5.1.1
                        ROM ID | cm_d2

[2015-07-07 18:19] DJAlik commented on #53
Looking at 70-gapps.sh inside the open_gapps_debug_logs it seems that there are some double quotes missing in the mkdir and ln commands:

# Recreate required symlinks (from GApps Installer)
    mkdir -p /system/app/FaceLock/lib/arm
    ln -sf "/system/lib/libfacelock_jni.so" "/system/app/FaceLock/lib/arm/libfacelock_jni.so"
    ln -sf "/system/lib/libfilterpack_facedetect.so" "/system/app/FaceLock

[2015-07-07 18:29] mfonville commented on #53
That is a good find, and for sure a possible source of trouble. I wonder how they got removed (probably the cleanup of @rapperskull )
But it would not really explain the crashing of all your apps.

[2015-07-07 18:32] DJAlik commented on #53
Where can I email my whole open_gapps_debug_logs.tar I don't think I can attach it here

[2015-07-07 18:32] mfonville commented on #53
drag and drop not possible?

[2015-07-07 18:35] DJAlik commented on #53
something is blocking full github functionality at work. and when i Reply
using email it's stripping the attachment.

On Tue, Jul 7, 2015 at 1:32 PM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprof

[2015-07-07 18:39] DJAlik commented on #53
Another interesting thing. My built was 495 mb, the one on opengapps is 488. I  built it at about 2am CDT this morning and made sure to run download_sources.sh first to sync up

[2015-07-07 19:00] mfonville commented on #16
@rapperskull should line 306 in inc.updatebinary.sh not be changed from:
[code]
to
[code]
?

[2015-07-07 20:18] rapperskull commented on #16
Yes, but we also have to reverse sort the list, otherwise we install the lowest one.
Today I was very busy and all the day away from home. Had no time to work on opengapps.

[2015-07-07 20:50] rapperskull commented on #53
Please provide your debug log when you can, it's necessary to understand what's happening.

[2015-07-07 20:52] DJAlik commented on #53
I am not an expert with ADB. If there are some specific commands i should
run please let me know if there is some file i can grab. File manager is
working and I can get to it using recent apps.

On Tue, Jul 7, 2015 at 3:50 PM, rapperskull <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.goog

[2015-07-07 21:06] rapperskull commented on #53
adb pull /sdcard/open_gapps_debug_logs.tar
or
adb pull /storage/emulated/0/open_gapps_debug_logs.tar
or any working path redirecting to the sdcard.

[2015-07-07 21:14] DJAlik commented on #53
I will try that at home. In the mean time I was able to get to
Settings->Developlment options->Take bug report. It produced an 11mb file
with various logs. Are any of those useful for me to extract?

On Tue, Jul 7, 2015 at 4:07 PM, rapperskull <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus

[2015-07-07 21:15] rapperskull commented on #53
They could be useful. Please post them.

[2015-07-07 21:20] DJAlik commented on #53
------ SYSTEM LOG (logcat -v threadtime -d *:v) ------
--------- beginning of system
07-07 13:03:50.680   546  1614 W ActivityManager: getTasks: caller 10123
does not hold GET_TASKS; limiting output
07-07 13:03:50.714   546  1031 I ActivityManager: Start proc
2710:com.tripadvisor.tripadvisor/u0a231 for broadcast
com.tripadvisor.tripadvisor/com.tripadvisor.android.lib.tamobile.receivers.ConnectionC

[2015-07-07 21:29] DJAlik commented on #53
------ EVENT LOG (logcat -b events -v threadtime -d *:v) ------
07-07 13:04:44.506  1270  1270 I screen_toggled: 2
07-07 13:04:44.542   546   578 I sync    :
[com.google.android.gms.fitness,1,2,-1563490748]
07-07 13:04:44.580   546   546 I am_proc_start:
[0,3870,10056,org.cyanogenmod.profiles,service,org.cyanogenmod.profiles/.ProfilesTrustAgent]
07-07 13:04:44.581   546   546 I notification_cancel

[2015-07-07 21:31] rapperskull commented on #53
Can you post the output of:
adb shell "ls -alZR /system"

[2015-07-08 02:18] DJAlik commented on #53
/system:
drwxr-xr-x root     root              u:object_r:system_file:s0 addon.d
drwxr-xr-x root     root              u:object_r:system_file:s0 app
drwxr-xr-x root     shell             u:object_r:system_file:s0 bin
-rw-r--r-- root     root              u:object_r:system_file:s0 build.prop
drwxr-xr-x root     root              u:object_r:system_file:s0 cameradata
drwxr-xr-x root     shell

[2015-07-08 02:24] DJAlik commented on #53
I think some apps installed in the data partition. Why would it do that?

/data/app/com.google.android.gms-1:
-rw-r--r-- system   system            u:object_r:apk_data_file:s0 base.apk
drwxr-xr-x system   system            u:object_r:apk_data_file:s0 lib

/data/app/com.google.android.gms-1/lib:
drwxr-xr-x system   system            u:object_r:apk_data_file:s0 arm

/data/app/com.google.android.gms-

[2015-07-08 06:10] DJAlik commented on #53
Built a newest built at 10pm CST. Same issues. Here's the Recovery_tmp.log

__bionic_open_tzdata: couldn't find any tzdata when looking for localtime!
__bionic_open_tzdata: couldn't find any tzdata when looking for GMT!
__bionic_open_tzdata: couldn't find any tzdata when looking for posixrules!
Starting recovery on Wed Jul  8 04:22:40 2015

framebuffer: fd 4 (720 x 1280)
ClockworkMod Recovery v6.0

[2015-07-08 06:13] DJAlik commented on #53
Full log https://www.dropbox.com/s/oqp5r1g1w19qi4t/open_gapps_debug_logs.tar.gz?dl=0

[2015-07-08 06:39] DJAlik commented on #53
Looks like it doesn't like the J option in scripts/inc.compatibility.sh
	tar -xJf "$TAR" -C /tmp "$dpiapkpath";

[2015-07-08 06:41] mfonville commented on #53
You seem to be using CWM instead of TWRP, which probably does not support the XZ compression. Please install TWRP.

[2015-07-08 06:46] DJAlik commented on #53
It always worked before. I am sure many people are using CWM instead of
TWRP. With the compression implemented are we forcing everyone to be on
TWRP ?

On Wed, Jul 8, 2015 at 1:41 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mix

[2015-07-08 06:58] mfonville commented on #53
CWM is outdated and always has been mentioned as a non-supported recovery on the FAQ.
The CWM code is so old and non-maintained that indeed we require users to use a recent recovery like TWRP.

[2015-07-08 07:02] DJAlik commented on #53
Will try to switch now. Not sure how easy it is with my phone in this
non-working condition.The command listed on the TWRP site gives me
Permission Denied error in ADB

su

dd if=/sdcard/twrp.img of=/dev/block/mmcblk0p18

On Wed, Jul 8, 2015 at 1:58 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexr

[2015-07-08 07:37] rapperskull commented on #53
adb pull /sdcard/twrp.img
adb reboot bootloader
fastboot flash recovery twrp.img

[2015-07-08 07:40] DJAlik commented on #53
Flashed TWRP using ODIN. Reinstalled ROM and 7/8 built. Waiting for the
reboot to finish. Here's the log:

https://www.dropbox.com/s/oqp5r1g1w19qi4t/open_gapps_debug_logs.tar.gz?dl=0

On Wed, Jul 8, 2015 at 2:37 AM, rapperskull <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/1145

[2015-07-08 07:54] mfonville commented on #53
This log looks good, as it should. So I think your boot will now finish fine.

[2015-07-08 07:58] DJAlik commented on #53
Does 70-gapps.sh look right to you? I don't the LatinIME section anymore
under # Recreate required symlinks (from GApps Installer)

On Wed, Jul 8, 2015 at 2:54 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<

[2015-07-08 08:03] mfonville commented on #53
You are right, that one seems to be missing. But it won't have any impact on you till the moment you would flash a new version of your ROM.

[2015-07-08 08:24] mfonville commented on #16
Can we embed a check within the shell script that can check whether tar supports the XZ decompression? If it would fail to pass that test, we could just give an error-code and a message to use TWRP, instead of leaving the device in a broken state.

[2015-07-08 08:24] DJAlik commented on #53
Boot finished. Right off the bat: Setup Wizard has stopped. Launcher is not
coming on blank screen.

On Wed, Jul 8, 2015 at 3:03 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-07-08 08:31] DJAlik commented on #53
After awhile the UI is on and the app drawer is coming alive. Will report
if I see any other issues. Thanks for all the help guys!

On Wed, Jul 8, 2015 at 3:23 AM, Alex Rusinov <djalik@gmail.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http:

[2015-07-08 08:46] rapperskull commented on #16
Sure, I'll make this change in the evening.

[2015-07-08 08:53] mfonville commented on #16
ok, great. I think we could use a line like:
[code]

[2015-07-08 08:54] #53 closed

[2015-07-08 08:55] rapperskull commented on #16
Or we can just use command -v xz like we already do in our scripts.

On Wed, Jul 8, 2015 at 1:53 AM -0700, "mfonville" <notifications@github.com> wrote:
ok, great. I think we could use a line like:
[code]

---
Reply to this email directly or view it on GitHub:
https://github.com/opengapps/opengapps/issues/16#issuecomment-119503530

[2015-07-08 09:06] mfonville commented on #16
But having xz does not imply that tar understands the -J argument. So I think we should then use both.

[2015-07-08 11:01] mfonville commented on #30
I wrote to codekiem.com to provide the source code of his tool (since it nowhere to be found, even though he refers to it in his blogpost and he based it on other open source projects).
If we get that sourcecode, is somebody acquinted with writing code for chrome extensions? Because I am not, and will lack the time and resources to hack it.

[2015-07-08 12:22] NicholasBuse commented on #30
I could take a crack at it chrome extension if we get source, but usually you can just unpack the extension (zip) and have full access to the js/css. I'll investigate and report back

From the GSheet, I did try both the arm.320 and the arm.480 (which I setup) and neither were capable of downloading APKs (auth failed).  Upon reverting to my login in the extension, all was fine.  This makes me wonde

[2015-07-08 12:43] mfonville commented on #30
The account doesn't have to be kept active on the phone, AFAIK and could test, but it might be that the changing of the password did 'disconnect' it from the phone. In that case I should not change the password after adding the device... But it could make us vulnerable to an account take-over.

I hate it that Google does not have the free GApps for own domain anymore, then we could really keep con

[2015-07-08 16:24] NicholasBuse commented on #30
Maybe you could become accredited for educating me in git, then qualify for and education account :wink:

I ran report_sources.sh and tried to identify old versions. I have updated Google Keyboard (arm64, x86 and (old)x86_64) to the best of my ability and here are some other apps editions that have potential updates (last column is new and manually added):

[code]

[2015-07-09 10:20] mfonville commented on #30
Good overview of inded some missin gapps. It would be good to gather those. Maybe some task division could also be done between packagers who keeps an overview of each architecture?

About the accounts, I will then just re-generate the passwords I think, and everybody can reattach their accounts, and the password will stay the same. The accounts can afterwards safely be removed from the device.

I

[2015-07-09 12:24] mfonville commented on #44
I switched the stable branch for now to using signapk.jar, so from tomorrow on the zips will be signed properly.
We still want to fix the shell version though...

[2015-07-09 12:25] mfonville commented on #47
signapk.sh usage has now moved to a side-branch. We will try to fix this later, when we will get signapk.sh shell version script properly working.

[2015-07-09 14:14] NicholasBuse opened #55 "addon.d script generation bug?"
I usually flash all of my zips (cm caf nightly, opengapps nightly, personal system mods).

1. Wipe System
2. Install CM
3. Install OpenGapps
4. Install personal zip
5. Wipe dalvik/cache

Today for the first time in a while I just used cmupdater to flash only the new nightly. Upon reboot, all Gapps were gone.  I have attached my logs, but it seems that 70-gapps.sh has any empty list in list_files()

[2015-07-09 14:49] mfonville commented on #55
I think the generation of bkup_list in our folder_extract() function is broken.
@rapperskull could you have a look at that one? Maybe the wildcard is not processed correctly between the "".

[2015-07-09 15:36] mfonville commented on #55
Ok, the fix was trivial, just removing the * in the line :-P

[2015-07-09 15:37] #55 closed

[2015-07-09 15:37] mfonville commented on #55
If you can, please confirm that it works now (but 99,9% sure it should).

[2015-07-09 16:22] NicholasBuse commented on #55
I have been meaning to try building with cygwin (especially after my changes yesterday).  It is taking a long time, it must be working!

I'll compare to last night's build and try if all looks good. I'll either report and/or try tomorrow's build too.

[2015-07-09 16:47] mfonville opened #56 "AROMA is broken"
Aroma build is broken since we have implemented the compression method.

Suspicion is that there might be lack of RAM because AROMA also needs some memory, while extracting whole gmscore to /tmp/ (which is also fully in RAM) takes e.g. 150MiB.

so, you get a big pressure on RAM, which might even be the problem for some people who are having trouble installing the current 'stock' package:
* Aroma t

[2015-07-09 16:51] NicholasBuse commented on #55
Made just the change here to the last nightly and re-ran the scenario on my phone.  Attached logs, but all looks good now.

https://www.dropbox.com/s/vhsh3j8gbruo1wl/open_gapps_debug_logs20150709.tar.gz?dl=0

[2015-07-09 17:42] rapperskull commented on #56
Do we have logs to analyze?
One thing we can think of, if the memory is the real problem, is to only generate the config file with the AROMA zip and then let the user flash the stock package. It's however the worst case scenario.

[2015-07-10 21:36] kronflux commented on #56
Aroma restarts TWRP halfway through flash. Here's all I have for a log:

I:Set page: 'install'
I:Set page: 'flash_confirm'
I:Set page: 'flash_zip'
I:operation_start: 'Flashing'
Installing '/sdcard/flashable_zips/open_gapps-arm-5.1-aroma-20150710.zip'...
Checking for MD5 file...
Skipping MD5 check: no MD5 file found
I:Zip does not contain SELinux file_contexts file in its root.
I:Legacy property en

[2015-07-11 14:02] mfonville commented on #56
I made an alternative build that copied the extracted xz files not to /tmp but another location, and even if not perfect it looks promising, because it doesn't crash.

My proposal would be to make sure we mount /cache and put our temporary extractions on that filesystem (and to clean them up afterwards)

[2015-07-11 17:42] mfonville commented on #56
I tested it, but it doesn't solve the problem, so I will not merge it...

[2015-07-11 17:52] MyPictures commented on #56
Where do you think the issue would be otherwhise mfonville?

[2015-07-11 18:37] mfonville commented on #56
I really have no idea. What btw also 'worries' me, is that before any installation of new files is executed, the removals should be performed. But when people try the aroma, the removals are not even not executed (it crashes even before that), which would mean that the Aroma installer does probably not even reach the new uncompression part.

[2015-07-11 18:49] MyPictures commented on #56
I wonder if this is a TWRP issue only or if other recoveries are also affected.

[2015-07-11 19:08] mfonville commented on #56
Hmm, I was wrong. It does run the app-removals, and it *does* remove the apps. It does fail at the install part... in some way that is really comforting...

[2015-07-11 19:39] mfonville commented on #56
I now tried compressing with -6e instead of -9e, which should require much less RAM on the decompressing device, but it did not help. I really have really no clue anymore...

[2015-07-11 19:40] MyPictures commented on #56
On what phone are you testing on?

[2015-07-11 19:41] mfonville commented on #56
GT-i9300

[2015-07-11 19:47] MyPictures commented on #56
The only one I could think of would be "PhilZ Touch" I assume.

[2015-07-11 19:52] mfonville commented on #56
Well, if you'd have the resources you could try it then maybe with that recovery? It is still a pity that @amarullz is not able to help us out with this one because he is so busy with the new libaroma.

[2015-07-11 19:53] mfonville commented on #47
This is merged in the signapkshell branch.

[2015-07-11 19:53] #47 closed

[2015-07-11 19:54] mfonville commented on #16
I think we can conclude that this bug is done, multidpi is implemented, and most packages have now the most common dpi variants.

[2015-07-11 19:54] #16 closed

[2015-07-11 19:56] mfonville commented on #17
In future stable releases I want to publish package-logs with the builds that use the output of e.g.:
[code]

[2015-07-11 21:11] bgiesing commented on #56
@mfonville @raulx222 @rapperskull  I might have found the issue... Do you think it could be a error with Syntax considering the last three commits to the `inc.aromadata.sh` file was the same build that all the issues started? I tried reverting them locally and building, but signapk.jar is giving me this error so I can't test:

[code]

Any one of you guys want to make a test build?

[2015-07-11 21:26] mfonville commented on #56
Will do

[2015-07-11 21:33] MyPictures commented on #56
@bgiesing How much memory do you give the java VM for SignApk ?

[2015-07-11 21:34] bgiesing commented on #56
@MyPictures I don't even know cause I have never used SignApk before... Last time I made a ZIP was on July 6 when they still used the shell method to sign.

[2015-07-11 21:35] mfonville commented on #56
You can also use the zip without the signature...

[2015-07-11 21:36] bgiesing commented on #56
@mfonville Except when that error appeared, the zip was deleted.

[2015-07-11 21:36] mfonville commented on #56
@bgiesing that should not happen. If the signing fails, it doesn't delete the file (it here never does).

[2015-07-11 21:38] bgiesing commented on #56
Well, here's where it said it would be: `opengapps/out/open_gapps-arm-5.1-aroma-20150711.zip` and here's what's in the folder:
[code]

[2015-07-11 21:40] mfonville commented on #56
Look for /build/arm/22/aroma.zip

[2015-07-11 21:47] bgiesing commented on #56
@mfonville Why didn't I think of that...

![facepalm](http://i.giphy.com/iGNiqAuwG9dwQ.gif)

Testing now.

[2015-07-11 22:07] bgiesing commented on #56
@mfonville Still crashes plus recovery log is overwritten so I can't get that and gapps log never generated cause of the reboot...

[2015-07-11 22:25] MyPictures commented on #56
How big is the /cache partition on other devices?: http://goo.gl/mBPBkD
I don't think 250 (my cache) would be enough for the uncompressed gapps files which reach  up to 700 MB .

[2015-07-11 22:32] bgiesing commented on #56
@MyPictures My tablet (2013 Nexus 7) is 551MB and phone (Moto G) is 651MB

[2015-07-11 22:46] mfonville commented on #56
/cache/ is not used, only /tmp/, I forfeited that plan since it didn't help.

But for your information: only the intermediate extraction of the .tar.xz was done there in my experimental build, one at a time, to /cache, so at any give time at most 30MiB was used.

[2015-07-11 22:48] MyPictures commented on #56
I increased /tmp tmpfs to 2 GB and still same freezing issue.

[2015-07-11 22:57] MyPictures commented on #56
The strange thing is that I can flash the stock opengapps just fine but the aroma one always files. I would say they extract about the same size?
Would it be crazy to like maybe try the default aroma theme?

[2015-07-11 23:17] mfonville commented on #56
If i comment out the folder_extract operations, aroma doesn't crash (and it almost instant ready), so it *must* be triggered by one of the advanced operations thats are executed by that function.

[2015-07-11 23:25] MyPictures commented on #56
So the issue is defently not caused by running out of memory/ram/tmp space. I saw that some other guys had the same issue on the stock package which I strangely cant reproduce.

Not sure where to go from here...

[2015-07-11 23:32] mfonville commented on #56
The guy with the problem from the stock package is now resolved. He was not using aroma, but he was using a theme for TWRP, and my suspicion is that the theme somehow triggered the reboot.
But it also still might be a bug within TWRP, e.g. that somehow we are writing to some memory which should be reserved for TWRP.
Maybe someone from @TeamWin could help us?

[2015-07-12 09:07] mfonville opened #60 "Some devices have no TWRP available"
Some devices only have CWM available, this are often relatively old devices.
Maybe we could consider to also publish builds of micro, pico and nano without the .xz compression for the 'arm' platforms and keep a 'compatibility' mode for them.

We could also use that compatability code for the aroma builds of issue #56

@rapperskull do you think that would be maintainable, code-wise?

Update: anothe

[2015-07-12 10:23] mfonville commented on #60
I compiled the extremly lightweight static xzdec for xz decompression on arm platforms: http://mallorea.student.utwente.nl/files/xzdec

It can be used like: ./xzdec gmscore.tar.xz -> gmscore.tar

the original file .xz will be kept, so it will have to be deleted afterwards.

[2015-07-12 18:13] rapperskull commented on #60
Since xzdec always prints the output to stdout, we can pass the output to tar (is it present in CWM?) and extract the file without saving the uncompressed tar file.

[2015-07-12 21:07] mfonville commented on #60
Yup, good improvement. Was already thinking about that (but had it not yet implemented).

[2015-07-12 21:07] mfonville commented on #60
I have now a test build available of the micro package @ https://www.dropbox.com/s/6miz6kfcv87gq5c/open_gapps-arm-5.1-micro-test2.zip?dl=0

[2015-07-12 21:11] mfonville commented on #60
btw, we should file a bug with CWM (and/or Philz) etc to please ask them to update the busybox (if applicable). I just don't know where...

[2015-07-13 09:05] mfonville commented on #60
You guys are not going to believe, this but this also fixes #56 Apparently tar's build in xz decompression uses much more memory than our bundled one. So for AROMA we should enable this *always*.

[2015-07-13 09:06] mfonville commented on #56
Oh, hell, I got a fix! Bundling our own xz decompression does the trick.

[2015-07-13 09:18] #60 closed

[2015-07-13 09:18] mfonville commented on #56
I added some code that will always enable xz decompression with the bundled binary, which should resolve this bug.

[2015-07-13 09:18] #56 closed

[2015-07-13 15:36] MWP commented on #60
I had the tar/xz issue when trying to install current open gapps on a fresh cyanogenmod nightly install.
The above open_gapps-arm-5.1-micro-test2.zip fixed the problem.

[2015-07-13 22:36] MyPictures commented on #56
So when will you trigger a new build with the latest xz changes @mfonville?

[2015-07-14 09:23] mfonville commented on #56
It is automatically triggered at 2:15 CEST. (so around 0:15 UTC) and takes around an hour to build and upload, if GitHub has no connectivity issues (which was surprisingly last night for the first time in a very very long time).

[2015-07-14 11:05] mfonville commented on #5
I studied the work of @Lekensteyn at https://github.com/Lekensteyn/make-gapps-zip

We have some adjustements to make to our current library bundling:
* We should include libgoogle_hotword_jni.so -> if Google Search is going to be installed
* We should include libgoogle_recognizer_jni_l.so  -> if tts and/or ears are going to be installed
* libfilterpack_facedetect.so is not part of FaceUnlock -> It

[2015-07-14 12:13] MyPictures commented on #56
Thanks, unfortunately It still freezes and reboots for me, I just used the opengapps config file together with the stock apps for now.

[2015-07-14 14:03] mfonville commented on #56
I now made a larger stock package, and TWRP did crash for me with it, using the built-in decompressor. So we might even have to turn on xzdec for *all* arm-builds (for now), and file a bug with TWRP.

[2015-07-14 20:13] MatthewBooth opened #64 "AOSP Build system"
Would you be open to working this into the AOSP/CM build system?

Such that I could use this script to to put GApps into my AOSP ROM manually and they be 100% up to date as of the download time?

This si something I'd be happy to try myself if you guys would accept any pull requests on the subject

[2015-07-14 21:00] mfonville commented on #64
Hey,

of course we can look at this. Could you maybe enlighten us how the AOSP/CM build system works and what would be necessary to adjust it to make it work?

You'll have to be careful btw in a legal sense about including GApps in your ROM, because when CM did this in the past, Google did not like it and asked them to separate GApps from the ROM itself. So you'd have to carefully approach this if

[2015-07-15 01:04] Bracket- commented on #64
Not sure I understood your last paragraph, @mfonville. It would probably still be easier for him to open a PR so it can be reviewed, commented and worked on, and if it's decided at the end not to merge it, the PR can be closed. A PR is usually already done on a separate branch from a fork of one of upstream's branches (usually master, though it doesn't have to be).

[2015-07-15 12:57] DJAlik opened #65 "Photos crashes in 7/15 4am CST build"
Not sure if it is opengapps related but I started having Photos crash in the latest manual build. Here's the crash log

[2015-07-15 12:58] DJAlik commented on #65
java.lang.RuntimeException: Must be called on the UI thread
	at b.r(PG:53833)
	at knt.d(PG:184)
	at hml.onError(PG:23898)
	at hlm.onError(PG:513)
	at hlm.a(PG:657)
	at hli.a(PG:1645)
	at kca.e(PG:277)
	at kca.f(PG:292)
	at kcq.run(PG:85)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1112)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java

[2015-07-15 13:41] mfonville commented on #65
Probably indeed not Open GApps related, since we don't change the apk apart from stripping it from its libraries. Also this logcat doesn't give any (useful) information. You need to provide a longer logcat.
For now I will mark this as invalid.

[2015-07-16 11:10] mfonville commented on #17
I have this done and staged for the next buildbot version.

[2015-07-16 11:10] #17 closed

[2015-07-16 11:11] mfonville commented on #38
I have everything for this now staged, so I hope it can go live tomorrow.

[2015-07-16 11:12] mfonville commented on #65
@DJAlik does the problem still occur?

[2015-07-16 16:23] mfonville opened #67 "Refactor update-binary"
We don't need to have update-binary depend on installer.data anymore, we can put it all together in one file when the result is being generated.

But the current inc.update-binary.sh is way too large, so a proposal would be to label and split out the logic that is found in update-binary into several seperate files that create coherent logic blocks.

Currently identified blocks are:
* a header, con

[2015-07-16 16:26] bgiesing opened #68 "Per Device Config File Changes"
I have been thinking about this for a while...

Some devices that are still supported by companies (like 2013 Nexus 7), can't fit the whole stock GApps package anymore. Even with a config file, if you have multiple devices, it's really hard to decide what you want to remove or add as maybe you want something to be installed but you can't put it into the config cause one of your devices doesn't hav

[2015-07-16 16:29] DJAlik commented on #65
I can only reproduce it when I try to open a photo/video when there is a
connection issue. Most likely a Google bug. You can close this issue

On Thu, Jul 16, 2015 at 6:12 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.co

[2015-07-16 16:41] mfonville commented on #68
The idea for using if-then-end situations would be REALLY hard, since we don't use any 'grammar' for the config file, we just process each line as a keyword.

The second idea, to use some extra addendum to the configfile should be easy to implement though.

I am just wondering though, could you maybe sketch the scenario where this is an issue? Because in my perception most people don't share/move

[2015-07-16 16:42] mfonville commented on #65
Ok, I will close the issue :-)
You can use maybe the "Feedback" function to notify Google of this error.

[2015-07-16 16:42] #65 closed

[2015-07-16 16:49] bgiesing commented on #68
@mfonville I have my GApps packages and config file on an OTG Flash Drive. When I need to install, I reboot to TWRP, plug in the drive, and install. Since the config file is in the same folder as the GApps on the OTG Drive, it uses it on every device.

As far as being an issue, the 2013 Nexus 7 doesn't have enough space, even after removing everything I can without having my other device "suffer"

[2015-07-16 16:54] mfonville commented on #68
Ok, I understand your scenario, then it makes indeed perfect sense to have a .gapps-config-$device_name take precedence over other configs.
We can do implement this in the next development cycle (I hope to launch stable tomorrow, if all scripts work :-P ).

[2015-07-17 11:04] mfonville commented on #38
Everything is online, stable is ready to go!

[2015-07-17 11:04] #38 closed

[2015-07-17 12:46] mfonville commented on #38
A note to all @opengapps/developers ; with the stable branch in place, please don't commit directly to 'master' anymore if you are developing new code. Fork it into a different branch, test it, and only if it is found to be working it should be pulled into master.

[2015-07-19 14:05] mfonville commented on #68
@bgiesing I made a version in branch https://github.com/opengapps/opengapps/tree/perdeviceconfig that should implement this feature, with .gapps-config-devicename taking precedence over a normal config.

I would like you to test this version, using various scenarios (so e.g. not having that deviceconfig file there, or having both a normal and a deviceconfig etc) so we can make sure it works proper

[2015-07-19 20:47] bgiesing commented on #68
@mfonville I am testing now, I had a problem making a zip originally because I switched from Linux to Windows 10.

Will report back shortly with Logs

[2015-07-19 21:24] bgiesing commented on #68
@mfonville Here's the logs: https://gist.github.com/bgiesing/6e29159f689e762b01e4

It worked fine! One thing I will say is maybe we can tag the log files with the device name if a per-device config is used?

[2015-07-20 07:05] mfonville commented on #68
I added one more bit of code, because I did see your falcon's devicename is not recognized (because of a faulty build.prop) so I added one more fallback instruction, that should give your falcon 'eos_falcon' as devicename. Could you also please confirm whether this change works correctly?

[2015-07-20 19:35] bgiesing commented on #68
@mfonville Here's the updated logs: https://gist.github.com/bgiesing/6e29159f689e762b01e4

It works fine.

[2015-07-21 04:16] bgiesing commented on #41
Any possibility of re-looking into this? Somebody on TK's GApps thread mentioned the reason why:
[code]

It looks like a one-character change on the ROM end would fix it (the = sign being removed)... However, AOSPA and CyanogenMod have already said they won't implement it as it is by design and said to look into having the GApps do something.

[2015-07-21 06:05] mfonville commented on #41
I did read this too. But we can't do anything, the ROM developers have to fix this (line of code)

[2015-07-21 06:54] mfonville commented on #68
Ok, great. Then I will merge it into the master branch. I did look into adjusting the output log file's name, but that is not easy to (reliable) achieve so I will forfeit that part.

@bgiesing Would you maybe be willing (as native speaker) to write something about this new feature at https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#the-gapps-config-file ?

[2015-07-21 06:57] #68 closed

[2015-07-21 07:32] bgiesing commented on #68
@mfonville Done! https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#config-files-per-device

I put it into a section right beneath so it could be directly linked to.

[2015-07-21 07:48] mfonville commented on #68
Thank you :)

[2015-07-21 09:40] Lekensteyn opened #70 "Automation of apk extraction from Nexus factory images"
This how to lists some manual steps to extract files from a factory image: https://github.com/opengapps/all/blob/master/HOWTO

All of these steps can be automated. From my notes, the steps to download an image, verify its integrity, extract the system image from the zip file and expand it to an ext4 filesystem image:

[code]

Here is another uncut piece from my notes which I use to extract a set o

[2015-07-21 09:50] mfonville commented on #70
Yes, I know these steps could be automated, but it never had priority (because nexus images are not released that often).
So thank you for the code, we can use this to (partially) automate the process.

About regenerating the APKs from the image I use this tool: http://forum.xda-developers.com/galaxy-s5/general/tool-deodex-tool-android-l-t2972025/post57471606#post57471606
Unfortunately it is Windo

[2015-07-21 09:57] Lekensteyn commented on #70
That tool looks like a frontend to https://github.com/testwhat/SmaliEx which is a fork of smali. The inability to handle oat-optimized files is tracked in https://github.com/JesusFreke/smali/issues/269. I have not studied @testwhat's code yet, but hope it is possible to integrate in the upstream repo after review.

[2015-07-21 11:27] MatthewBooth commented on #64
Hi guys,

Great that you'd be willing to look at this.

I think for smaller ROMs and developers, it wouldn't attract much attention from Google. Some developers already do this with their ROMs, this would be just automating it. And, of course, you'd only be providing the ability to do this, but wouldn't fall in foul of any restrictions yourselves (any more than having a repository like this, or ap

[2015-07-21 12:53] NicholasBuse opened #71 "Pushbullet Updates"
I believe that Pushbullet needs to be updated (maybe per architecture channels?). Just noticed that it has not update since 20150716 (last release in opengapps/opengapps).

[2015-07-21 13:04] mfonville commented on #71
It is a problem on pushbullet's side in processing our new RSS feed. I am contact with them about it.

[2015-07-21 14:35] mfonville commented on #64
Ok, I think legally then it should be ok, it is indeed the responsibility of the ROM developers to adhere to Google's policies. We only provide a toolset.

OpenGApps (notice the capitals) should be indeed a proper module name.

So, best would be if our to-be-developed build script should produce a filesystem hierarcharchy that could directly be put on the /system/ partition of the ROM?
e.g.:
[code

[2015-07-21 15:00] MatthewBooth commented on #64
For the layout the "PRODUCT_COPY_FILES" has two parts

[code]

The first part (external/opengapps/....) is the location of the repository in the AOSP tree. This should generally be in external/NAMEHERE. The rest of that part can be however you choose to lay it out in your repository.

Separating the two parts is a :

The second part (system/app/GooglePhotos/GooglePhotos.apk) should be the the exac

[2015-07-21 15:01] MatthewBooth commented on #64
It might be a case that you put in the README to declare the DPI somewhere using a variable of your choosing (I will look at CyanogenMod shortly as I believe they have a method of doing this)

[2015-07-21 15:15] mfonville commented on #64
the DPI should also be in the build.prop, so it has to be generated/available somewhere.

About the PRODUCT_COPY_FILES, most easy would of course be if those hierarchies would be the same, since that keeps it simple, and our script already knows where everything should go.

I think I will be able to fork or modify build_gapps.sh for this new purpose, and will need some small adjustments to the bui

[2015-07-21 15:21] MatthewBooth commented on #64
Yeah, I'm trying to track it out. There may need to be some evaluation going on in the makefile (and I don't know if it should be doing that) to determine, because, for example, my Nexus 6's DPI is larger than 480 (but obviously the 480 is the one that would apply). I also think that all the product copy files commands are done before the build, so that may well be before the build.prop is generat

[2015-07-21 16:59] mfonville commented on #71
Pushbullet resolved their issue, so coming night everything should go smooth. So I will close the bug now, if it will still be broken it can be reopened.

[2015-07-21 16:59] #71 closed

[2015-07-21 18:04] mfonville commented on #64
I am currently playing around a bit with the code, trying to hack something together. But one particular hard thing will be that we kind of have to merge the 'build' and the 'execute' part of the scripts. So I am still trying to find out what is the best (maintainable) way to do this.

[2015-07-22 07:32] bgiesing opened #72 "ZIP Logo cut off"
This is no where near important, but just mentioning that at least on my Moto G, the ASCII Logo is cut off from being too wide.

Doesn't need to be fixed but I just thought I would bring it up!
![Just Sayin](http://1.bp.blogspot.com/-3r_1e3wGhH0/VAJRkU9LHjI/AAAAAAAAGjs/d_KF_AG-Do4/s1600/tumblr_n5bbfnF7nx1s8wvgro1_400.gif)

[2015-07-22 10:24] mfonville commented on #72
Could you give me the line length of your device? (so how many characters fit on one line)

[2015-07-22 10:28] mfonville commented on #72
And could you test if maybe this would fit on your screen?
[code]

[2015-07-22 10:55] bgiesing commented on #72
Looks like it works!

On Wed, Jul 22, 2015, 5:28 AM mfonville <notifications@github.com> wrote:

To unsubscribe click: <http://email.giesing.cf/u/eJwljrtuwkAQAL_G7oJ29_ZehQs7gSKgPIoEkSa6u70zVrAgCEciXx_kTDHlaKQxJiSqh-a-XU9H-_W2enkdv917pR66z83u6VrWH8-0lJ_HX97Gk8gWZQO6ok7d9VPXVgxjGA6LfnY6jvW-EZEQhYou3gA7itEqziVziC4QYn1uzvl0uN4iANZZH2yAiEEzMWEWNtorpyNYC1JSKcalRBYysadU4B9ETFaR1p4CGp8y6ASGI96W5vyiHy77Kc

[2015-07-22 12:21] mfonville commented on #72
So that would mean we are only a single character too long at the moment...?

[2015-07-22 14:13] mfonville commented on #72
I pushed a shorter logo to the mainline, @bgiesing could you test if that works for you?

[2015-07-22 17:53] mfonville commented on #64
I have now a prototype that can generate a simpel file hierarchy (no symlinks and such yet) for all apps and configs as they should be on /system/.
The code is very static and ugly though, so I will now use this knowledge and prototype to refactor it in a nice way into the current normal scripts.

[2015-07-22 21:46] mfonville commented on #30
As a little entertainment for all those busy @opengapps/packagers minions and for everybody who likes stats: the big APK score list ;-) to be found @ http://mallorea.student.utwente.nl/~maarten/opengapps/source_competition.txt
It is updated once a day, after the nightly builds are finished.

[2015-07-22 21:49] bgiesing opened #73 "Automated Upload Script"
Maybe we can add a simple bash script (maybe `./upload.sh`?) that would automatically cd into the source directory, add the files, commit with a common format, and push.
[code]

To explain:

1. The `cd` command would cd into the appropriate source dir.
2. Add to Staged
3. Commit with $AppName being either the keyword, package name, or the Play Store name; $VersionName and $DPI coming from the `./a

[2015-07-22 21:50] DJAlik commented on #30
I am way behind! I wish I had access to my box from work :) by the time I
get home most of the APKs are already imported :)

On Wed, Jul 22, 2015 at 4:46 PM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http:/

[2015-07-22 21:52] bgiesing commented on #30
I am in last! How dare you! :rage:  /sarcasm

[2015-07-22 21:58] mfonville commented on #30
The list is also not completely fair at the moment, because when we switched to multidpi, all packages had to be re-added to a new location, which skewed my number way too high, but in time I think I will be surpassed (again?)

[2015-07-22 22:30] NicholasBuse commented on #73
+1

[2015-07-22 22:33] NicholasBuse commented on #30
Come on @opengapps/packagers...we are only 2 behind @mfonville!

Guess I'll move to 1 apk/commit!

[2015-07-22 22:36] DJAlik commented on #73
+1

On Wed, Jul 22, 2015 at 5:30 PM, Nicholas Buse <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-07-22 22:45] mfonville commented on #30
It counts the apks, not the commits. So just providing the most (dpi+arch) variations the fastest is the 'key' to winning ( and good for the project. See what I did there? :-) )
Winner will get ice cream and postcard at the end of the year ;-)

[2015-07-22 22:53] AdFad666 commented on #64
Hopefully you can work it so that we add something simple to the device repo, like:

$(call inherit-product-if-exists, vendor/opengapps//stock-xxhdpi.mk)

[2015-07-22 23:07] MatthewBooth commented on #64
That would actually be a better than what i had in mind. Great idea!

[2015-07-23 06:35] bgiesing commented on #72
Okay, I must of messed up when I checked the first time because we are still too long by 2-3 characters. @mfonville

[2015-07-23 06:50] bgiesing commented on #73
@mfonville Can you look at my initial script? Been a while since I have done shell so I want to make sure I am on track:

[code]

[2015-07-23 07:35] mfonville commented on #72
Ok, then check tomorrow's build, it will be fixed now for sure (it is only 2x something chars now)

[2015-07-23 07:35] #72 closed

[2015-07-23 08:02] mfonville commented on #73
'source' is not POSIX-compliant, you should use ./
$architectures can be a multitude of architectures, not a single value.

But in general I think it'd be better to take a different approach for not attachting it to add_sourceapp.sh.

* I think the best thing you could do, is write a separate script that iterates over the directories in sources (e.g. from my apkcompetition-script, some ugly and no

[2015-07-23 09:34] bgiesing commented on #73
@mfonville This is where i'm at currently:
[code]

The $APK output looks like this (note I added a random APK from APKMirror so I can test.):
[code]

Right now, I am trying to figure out:

1. How to one read the first line and come back afterwards
2. Best way to extract the info from the $APK command (grep?)

[2015-07-23 09:49] mfonville commented on #73
Read the first line is: ```head -n1```
To get the best info from any git command, use the --format option for git. (Look at man git)

[2015-07-23 10:03] bgiesing commented on #73
@mfonville I can't find the --format option in the man pages at all.

[2015-07-23 10:09] DJAlik opened #74 "Cleanup of local git repository"
With daily apk changes my VM is crying for space. How do we reduce the size of opengapps/.git/modules/sources ? I am currently sitting at 6.1 gigs!

The opengapps/sources is only 3.7 gigs

[2015-07-23 10:16] mfonville commented on #74
Run ```git gc``` to garbage collect your git repository.
Smaller than that, we won't be able to make it without losing history...

[2015-07-23 10:16] #74 closed

[2015-07-23 10:18] mfonville commented on #74
Addendum: run the command within the repository of the submodules, so in sources/arm, sources/arm64 etc.

[2015-07-23 10:22] DJAlik commented on #74
how much history do we need to keep on the APKs?

[2015-07-23 10:26] mfonville commented on #74
All, for now at least.
I also did look into removing history, but it would be a enormous effort that would have to be well-coordinated (everybody would have to clear their own git repo at the same time, before pushing in new APKs).
So for now we will just keep going like this. If Google e.g. does change something again in how they handle APKs (like we had wit the DPIs), that would be a possible mo

[2015-07-23 10:29] DJAlik commented on #74
sidebar question. Do you know if there is a way to increase the size of my VM? I am using Virtualbox 5

[2015-07-23 11:00] mfonville commented on #74
First resize the virtual disk of your VM via the windows commandline, then increase the size of the partition on the disk by booting of a virtual USB disk with gparted, then use resize2fs to enlarge the filesystem to the partitionsize. A good starting point: https://forums.virtualbox.org/viewtopic.php?f=35&t=50661

[2015-07-23 11:17] bgiesing commented on #73
@mfonville @rapperskull Here's where I am at now:

[code]

I am getting this error: `Syntax error: word unexpected (expecting ")")`

[2015-07-23 13:25] mfonville commented on #73
Try this:
[code]

[2015-07-23 13:31] bgiesing commented on #73
Better, but it isn't getting the App Name from aapt. (Even though that's your code LOL)

[2015-07-23 13:37] mfonville commented on #73
because your $1 is empty, you don't pass anything to the getapkproperties functions.

Maybe a good read/manual for the basics: http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html

[2015-07-23 13:52] bgiesing commented on #73
PR submitted! @mfonville

[2015-07-23 21:01] mfonville commented on #73
Please test carefully (it does not commit automatically yet) the upload_sources.sh script that can be found in the uploadscript branch.
It would first need some testing (especially for edge-cases) before I want to enable the automatic committing, and putting it in master.

[2015-07-23 21:07] mfonville commented on #73
I now added the handling for multiple APKs, since it was trivial.

[2015-07-23 21:31] bgiesing commented on #73
@mfonville I would test, but there's nothing to test on! LOL

[2015-07-24 05:34] DJAlik opened #76 "7/23 and 7/24 builds fail to install"
Getting the following error when tried to install my own 7/23 built (built around 8pm CST) and same error with just downloaded 7/24 built from the opengapps site:

E:Error executing updater binary in zip '/external_sd/open_gapps-arm-5.1-stock-20150724.zip'

No opengapps log written

[2015-07-24 05:49] DJAlik commented on #76
![screenshot_2015-07-24-00-47-34 1](https://cloud.githubusercontent.com/assets/12225343/8868428/e61b38ec-319d-11e5-81c7-8b1693d2b355.png)

[2015-07-24 06:05] mfonville commented on #76
I can reproduce it here too, I removed the releases of 24th till we sort out this issue.

[2015-07-24 06:40] mfonville commented on #76
I fixed it, the ASCII art was evil, and the ui_print implementation in update-binary was not nice.

[2015-07-24 06:40] #76 closed

[2015-07-24 12:58] bgiesing opened #77 "Misc website design stuff"
Since we have a new logo, we should update the website for consistency. Also, while we are at it, maybe a little bit of beautification? Those buttons are a little ugly to be honest.

[2015-07-24 13:25] mfonville commented on #77
There is a new website in development by @raulx222 and me, but some JQuery issues still have to be worked out. So please have some patience :-)

[2015-07-24 22:00] bgiesing commented on #73
@mfonville Seems there's an error:
[code]

It generates two commits with one including /dev/null

Here's the output of the script itself:
[code]

[2015-07-25 06:47] mfonville commented on #73
Please try again with the updated script

[2015-07-25 07:18] bgiesing commented on #73
@mfonville Aaaannnnndddd... it works!

![Epic Win](http://stream1.gifsoup.com/webroot/animatedgifs2/2043309_o.gif)

[2015-07-25 07:31] mfonville commented on #73
Ok, please keep testing it more, maybe try to make some crazy scenarios and see if it performs well, only then we can merge it safely.

[2015-07-25 07:38] bgiesing commented on #73
@mfonville I can't think of much other scenarios. You either do a first upload or upload a new file. Both worked (in fact, since the all the apps are up to date, I added the last version of Inbox and and then updated to the latest.) I even tried a non Google app.

I think, we actually need more than just me (and you) testing. Calling all @opengapps/packagers!

[2015-07-25 07:39] mfonville commented on #73
Well, what if you do some manual changes in the lib-folders for example. Or what if the sdk level has changed etc. That are really some cases to should be covered in that it doesn't do anything weird.

[2015-07-25 09:16] mfonville commented on #73
I reckon we should also add the architecture to the commit message to make them readable on Twitter

[2015-07-28 12:13] mfonville commented on #64
It looks btw that @JustArchi has already written a re-package script of his own at https://github.com/ArchiDroid/ArchiDroid/blob/master-cm/__build/gapps.sh
So for those who can't wait for this AOSP build system integration to be finished could maybe take a look at that.

[2015-07-28 13:36] JustArchi commented on #64
Indeed I wrote a script to be used with my AD ROM, which nicely integrates available packages provided by lovely contributors of OpenGApps project.

As you can see from the script, it's just a really simple version of extract & replace, with respect of values found in build.prop. I have two major branches in AD - master-cm branch, and device branch. Master branch is the main core of all AD variant

[2015-07-28 13:40] JustArchi commented on #64
Personally I don't think that AOSP integration will be any useful, as GAPPS should not be treated as the part of build process. Also without proper flexibility, which is impossible, users won't be able to actually CHOOSE what GAPPS they want to install, and what not. Therefore, personally I don't need, and I'd suggest to not waste time on any AOSP integration, as it's direct hit to the freedom of

[2015-07-28 13:44] JustArchi commented on #64
Advanced ROMs similar to AD will always find the way to do everything as needed, but if you take closer look at AD, you'll see that I build my own variation of CyanogenMod, then it's merged with everything else what I have in AD, and in similar way, GAPPS are merged too. Everything is automated so I don't wante time doing repetitive tasks.

[code]

I'm satisfied the way it works now, as it's physi

[2015-07-28 13:51] MatthewBooth commented on #64
I'm 99% sure the guys at @PureNexus wil will want this script if they get wind of it. There is a usecase for having GApps integrated into the AOSP build system, for sure.

[2015-07-28 13:59] JustArchi commented on #64
There is not because AOSP system doesn't offer any flexibility in terms of choice.

You tell it to include packages X, Y, Z, and it does include these pakcages.

And I dare you to integrate AROMA with AOSP before you ask friendly folks here to waste their time on that shit :+1:

[2015-07-28 14:15] mfonville commented on #73
I updated the script again. It now asks before each commit, whether the commit should be added/created, and after each architecture has been processed, it will ask whether to push or not.

[2015-07-28 14:15] MatthewBooth commented on #64
The guys at Pure Nexus don't offer a choice either ;) Like I said, there is a usecase.

[2015-07-28 14:20] JustArchi commented on #64
Whatever, I don't care anyway. I just can't see a point why friendly folks here should waste their time for something as useless as hardcoding list of packages to be included during building of AOSP.

[2015-07-28 14:33] bgiesing opened #78 "Binary file (standard input) matches on every APK"
No matter what APK I use, `./add_sourceapp.sh` now shows this and doesn't add:
[code]

[2015-07-28 15:22] mfonville commented on #78
Is this in 'master' or in 'uploadscript' branch? And since which commit?

[2015-07-28 16:12] bgiesing commented on #78
uploadscript

I don't know which commit, but the add_sourceapp script hasn't been updated and it worked before yesterday

As for paths, I have an APK folder in my home directory with the repo alongside it. I usually use `../APK/name.apk` but I also tried linking directly to the folder: `/home/user/` and the tilde: `~/APK`

[2015-07-28 16:17] bgiesing commented on #78
Just tested on master and it does it on there also.

[2015-07-28 16:23] mfonville commented on #78
Could you check manually which output ```aapt dump badging``` gives on your APKs?

[2015-07-28 16:36] bgiesing commented on #78
[code]

[2015-07-28 17:12] mfonville commented on #78
I cannot replicate this problem at all. I propose that you re-initialize the opengapps repository ( git reset --hard HEAD^ or clone it again) and check whether all supporting commands still work (aapt, unzip etc)

[2015-07-28 17:21] DJAlik commented on #78
I had no issues adding apks last night

On Tue, Jul 28, 2015 at 12:12 PM, mfonville <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-07-28 19:24] #77 closed

[2015-07-28 19:29] mfonville commented on #77
The website is btw not perfect, some issues on mobile and so, but @raulx222 and me will sort that out by ourselves.

[2015-07-28 22:25] bgiesing commented on #78
Maybe it's the APK itself?

Here's the file if anybody can test: http://goo.gl/3JQKYn?gdriveurl

[2015-07-28 22:28] USBhost opened #79 "keyboard FC"
Nexus 9
ARM64
Android 5.1.1
Pico/Nano Package

any ROM and/or Kernel

tried 7/25 and 7/28 build

E/JniUtils( 2607): Could not load native library jni_latinime
E/JniUtils( 2607): java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/system/app/LatinIME/LatinIME.apk"],nativeLibraryDirectories=[/system/app/LatinIME/lib/arm64, /vendor/lib64, /system/lib64]]] couldn't fi

[2015-07-29 01:11] bgiesing commented on #73
@mfonville I would make a slight alteration to the confirm steps to add `[Y/n]` like other confirm steps in linux commands.

[2015-07-29 01:29] NicholasBuse commented on #78
Just downloaded it and it worked other than it is not newer:

$ ./add_sourceapp.sh Photos_1.2.0.98687623_52532\ \(1\).apk
Importing Photos
Package com.google.android.apps.photos | VersionName 1.2.0.98687623 |
VersionCode 52532 | API level 14
Package supports DPIs: 480
Native code for architecture(s): armeabi-v7a
Existing version
/SANDBOX/git/opengapps/sources/arm/app/com.google.android.apps.photos

[2015-07-29 01:31] bgiesing commented on #78
I don't know then...

[2015-07-29 08:04] mfonville commented on #78
I will close this bug, I fear @bgiesing has to repair his linux installation and/or checkout the git repo again.

[2015-07-29 08:04] #78 closed

[2015-07-29 08:09] bgiesing commented on #78
@mfonville I already did that. As for the linux, could it be cause I am running it in VirtualBox?

[2015-07-29 08:17] mfonville commented on #78
No, that should have no influence. I think something is really broken on your system, we just don't know what. I suggest to make a new virtual machine installation if you cannot find the source of the problem.

[2015-07-29 08:20] mfonville commented on #73
Ok, I have done that. I will now merge it into master, for everyone to use.

[2015-07-29 08:21] #73 closed

[2015-07-29 08:48] mfonville commented on #79
Could you add the installation debug log? It should be a tar-file. I will need that to further investigate.

[2015-07-29 09:06] bgiesing commented on #78
@mfonville I just noticed that it only happens with apps from my own devices... If I use something from APK Mirror, it works but if I get the APK:

- Directly from Data
- Using APK Extractor
- Using SD Maid

Then it doesn't work.

[2015-07-29 09:10] mfonville commented on #78
@bgiesing Only thing I can think of, is that files might be stored differently on your device (remember that the libs get extracted(!)) or that something breaks in your transfer progress, maybe a binary vs text issue.

[2015-07-29 12:06] NicholasBuse commented on #78
Incase it is helpful, Koush recently posted about piping binaries over adb: https://plus.google.com/110558071969009568835/posts/Ar3FdhknHo3

if you are doing that, instead of
[code]

use
[code]

[2015-07-29 13:49] USBhost commented on #79
https://copy.com/gdmphYCe4J4w1sTX

[2015-07-29 14:20] AdFad666 commented on #64
I don't think it's useless, 'stock gapps' is the most popular (at least in my circles) followed by something completely minimal. If complete customization is desired then the user always needs to do some work, whether integrating or flashing a zip.

There are already eight variants that offer enough customization for most.

Making available some mk files to include in a device repo seems the easie

[2015-07-29 19:47] bgiesing commented on #78
@NicholasBuse I haven't used ADB to retrieve the files yet. I have just been copying them from Data and moving to my OTG Drive which gets plugged in the computer and transferred to the VM over SFTP.

[2015-07-29 21:57] mfonville commented on #30
By lack of a better 'topic', for those interesting in more stats and some feedback to know how many people profit from you work as @opengapps/packagers some stats from today:
3.8k views on opengapps.org
ARM downloads in 14 hours from GitHub: 3.6k+
ARM64 downloads in 13 hours from GitHub: 100+
x86 downloads in 11 hours from GithHub: 50+

[2015-07-30 02:12] NicholasBuse commented on #30
Happy to help! I've done my share of leaching in my >6 years of custom ROMs on Android

[2015-07-30 08:34] mfonville commented on #79
This reinstall was on a dirty /system partition, or not?
Because it seems that for some reason the google variation of the lib was already installed... so it was on the ROM, or it was a previous gapps flash.
Anyhow, the end-state of libraries is inconsistent, I will need some time to figure out why, find a fix and we should do tests before it goes into the mainline.

[2015-07-31 08:59] mfonville opened #82 "libwebviewchromium.so is actually in /system/lib/"
libwebviewchromium.so of the AOSP ROM is actually not stored in /app/webview/lib/ but is stored in /system/lib/.
When deleting stock webview this library should also be removed. Current testing indicates that no replacement symlink has to be provided beteen /system/lib/ and /system/app/WebViewGoogle/lib/arm/, but it needs to be confirmed by others.

[2015-07-31 09:27] dnle71 commented on #82
I've posted that bug coz I remember when tk-gapps first introduced WebviewGoogle and there it goes. It's libwebviewchromium.so is stored in /system/lib/ and linked to the app lib folder.

After deleting the lib as requested, chrome seems to work fine, tried a few webview test apps from play store and it's still working.

[2015-07-31 09:48] mfonville commented on #82
I also checked now filesystem layout on an original Nexus device, and they also work with the symlink. So I will check how we might mimick this in a nice reliable manner. Doing this will imply though that a WebViewGoogle installation will always have to enforce a WebViewStock purge, which is allowed to be bypassed at the moment.

So for now I will just push a non-invasive patch, and those symlink

[2015-07-31 10:40] bgiesing opened #83 "Website crashes in ADM"
The website loads but then redirects to nothing in ADM Download Manager for Android.

Video: https://goo.gl/photos/4PiDgud3QMGc4xVS6

[2015-07-31 11:07] mfonville commented on #83
Are you sure that the url it is visiting is really http://opengapps.org and no extra parameters are included? And maybe ADM is not compatible with GetMDL? You could test that by visiting other GetMDL (Material Design Lite) generated websites.

[2015-07-31 11:16] bgiesing commented on #83
@mfonville looks like other mdl sites are affected too... Definitely their end.

[2015-07-31 13:00] mfonville commented on #83
I will put this on a 'wontfix' then from our side. I suggest you contact the GetMDL devs and the ADM devs and let their battle commence who should fix their stuff ;-)

[2015-07-31 13:00] #83 closed

[2015-07-31 13:56] mfonville commented on #82
I have done quite some invasive code changes. On my phone it works, but if some other @opengapps/general that are able to build their own package could confirm that the 'webviewsystemlib' branch also works for them, I dare to merge this into master.

[2015-08-01 08:17] mfonville commented on #73
I uploaded some Chrome versions today. That uploadscript was really a good idea, it makes it really a breeze to add these new APKs to the repo :-)

[2015-08-01 08:19] bgiesing commented on #73
:D No problem!

On Sat, Aug 1, 2015, 3:17 AM mfonville <notifications@github.com> wrote:

To unsubscribe click: <http://email.giesing.cf/u/eJwljrtuwkAQRb_GLtHOzD6LLUgikDBFIoRSRuPxLrYCNrIgCfn6rJxbnOZKR6eL1rJgPcTndXOf3OexopfQbyp8mg_fx2mk99-v7RaGh-WPH0OvQOXCQwFtdk0z7sf9W6XVhYfz6rRQpkvdR9EUkmEnXhybDNmiOGWcxhyssKvnOKfr-VFESjnvAjsUzdiSyZJbAGUsUPIC6IvG6JQTWdYIKqBk9T8A6LRGHwIy2CBJGSHoulySFv3qNNz6e7tE3WKF6

[2015-08-01 09:14] bgiesing commented on #82
@mfonville Did you forget to close this issue? You mentioned in the PR that it closes this.

[2015-08-01 09:36] mfonville commented on #82
@bgiesing yup, I should have closed it. Thought the PR would do that for me :-P

[2015-08-01 09:36] #82 closed

[2015-08-02 21:16] mfonville opened #85 "Google Play games has error -505 permissions problems, if not initially installed on /system/"
XDA user OverlordQ experiences the issue that Google Play Games cannot be installed from the Google Play Store, if it was not initially installed on /system/.
Permission error -505 is then shown by the Play Store.
Check posts (and earlier responds to it) of http://forum.xda-developers.com/showpost.php?p=62156317&postcount=64

We should test if this applies to more/all devices and ROMs:
- [x] Overl

[2015-08-03 01:31] NicholasBuse commented on #85
I was able to install, run, and login Games on my N5 with CM 12.1 CAF. I'm almost certain I've always excluded games in my gapps-config

[2015-08-03 07:08] mfonville commented on #85
The weird thing is also, that an android application should be allowed to redeclare the same permissions as long as it is signed with the same keys as the conflicting application. In this situation both are signed by Google Inc., so they should not conflict.
Maybe this specific CM ROM misses (or includes) a patch that breaks this behaviour... :-/

[2015-08-03 08:01] mfonville commented on #8
I propose by the way to go from tab-indentation to double-space identation to improve readability

[2015-08-03 12:40] NicholasBuse commented on #8
+1

[2015-08-03 15:05] OverlordQ commented on #85
Installed Play Games using gapps-config.txt using micro-20150803. Any further debugging wrt package signatures, let me know.

[2015-08-03 16:04] OverlordQ commented on #85
Installed a Micro+PlayGames using full package and this for a gapps-config.txt:
[code]

New LogFiles:

https://www.dropbox.com/s/esc12bgznid9yen/open_gapps_log.txt?dl=0
https://www.dropbox.com/s/2c0yjdi84qfo9lp/open_gapps_debug_logs.tar.gz?dl=0

Let me know if any additional debugging can be done on my end.

[2015-08-03 16:29] mfonville commented on #85
@OverlordQ and now Google Play Games works correctly?

[2015-08-03 16:32] OverlordQ commented on #85
It loads and games stopped prompting with the 'game requires latest Google Play Games' message.

So if there's anything you need me to do to debug on why it wont install from the play store let me know.

[2015-08-04 11:55] mfonville commented on #85
@NicholasBuse what was the latest time you tried this? at the moment you did write that message, or sometime in the past?

[2015-08-04 12:03] mfonville commented on #85
@OverlordQ if you have any android app developing experience, it might be very useful to write 2 stub applications, and let them claim the same permission, and sign those apps with the same key.
Install those apps then on your ROM, and see if they also give the same trouble. If so, we could identify it as problem with the ROM...

[2015-08-04 12:05] NicholasBuse commented on #85
@mfonville , at the time of the comment.  I don't use PlayGames, but I saw the issue,  tried and reported.

[2015-08-04 12:50] mfonville commented on #79
@USBhost could you try this build (preferably on a clean install) and check if the problem has been resolved? https://www.dropbox.com/s/1cjaamdnp03a9er/open_gapps-arm64-5.1-nano-20150804.zip?dl=0

[2015-08-04 14:06] #8 closed

[2015-08-05 16:48] NicholasBuse opened #86 "Looking for a home for a new tool"
@mfonville and @opengapps/packagers,

I have written a new tool (in python) that I am calling apkmirror_crawler. It is nearly ready for prime time (I used to to pull the two new GMS that I uploaded today).

- By default (no command line parameters) it pulls all **current** APK versions of each application that we care about.
- You can pass in one or more of the OpenGApps config file keywords to re

[2015-08-05 16:56] NicholasBuse commented on #86
Also, my plan is to extend or mirror this functionality into a "playstore_crawler" tool, but didn't want to bite off the auth issues that we still have as a TBD...

[2015-08-05 17:03] mfonville commented on #86
Wow, sounds awesome Nick :-)
I am sure we can embed this tool as part of the project. Probably best as a seperate repository, I think, since crawling the internet for APKs and building GApps packages are two different things. And posix shell != python :-)

Make sure that to directly include a good LICENSE (and/or NOTICE) file about how you think this tool should be used and to which (and whose) te

[2015-08-05 17:12] mfonville commented on #86
@NicholasBuse Should I go forward and create the repository for you?
How about the generic name "apkcrawler"? Or rather "apk_crawler"? Or something completely different?

[2015-08-05 17:30] NicholasBuse commented on #86
Let's go with "apkcrawler". I'll probably have some questions or need some recommendations on Licensing...

[2015-08-05 20:14] mfonville commented on #86
You can now push to git@github.com:opengapps/apkcrawler.git
[code]
Don't forget to also make a README.md and a .gitignore file.

About LICENSE and NOTICE, I am no legal expert, but I think a good thing would be to start out with e.g. the GPLv3 for your own work.
Look at some existing licenses for applications that are able to handle copyrighted 3rd party content like bittorrent (http://www.bittorr

[2015-08-06 13:56] mfonville commented on #79
This should be fixed in today's build.
So I will close the bug, if problems still arise, please comment and we will re-open it.

[2015-08-06 13:56] #79 closed

[2015-08-06 19:33] mfonville commented on #41
Since it is relatively unsafe to mess with /data/ of users from TWRP, it might be worth to find a solution for this from a different perspective.
Somebody might want to write a 'normal' Android App that compares the version of an app that is available on /system/ and the version that is provided on /data/ by using e.g. the PackageInstaller and PackageManager classes. That app could then automate t

[2015-08-13 15:00] Lekensteyn commented on #44
These implementations might be of interest:

update.zip installer and signature verification:
 - https://github.com/CyanogenMod/android_bootable_recovery/blob/cm-12.1/install.cpp#L249
 - https://github.com/CyanogenMod/android_bootable_recovery/blob/7b0fd22410453162a44d0fba9e446acb0dd904e9/verifier.cpp#L107

SignApk source:
 - https://github.com/android/platform_build/blob/master/tools/signapk/Sign

[2015-08-14 13:01] bgiesing opened #88 "Device Specific SetupWizard"
Currently, Tablets and Phones have two different Setup Wizards. Should we support both like TK? I think this might fix a bug that some (me included) have had, where the SetupWizard would crash Play services when skipping Tap N' Go as I haven't had an issue with the stock Nexus 7 2013's wizard which is what TK is offering.

## To integrate:
- [ ] Change Folder structure to accommodate both.
- [ ] A

[2015-08-14 13:47] rapperskull commented on #88
If no one can work on it before, I can assign myself to this issue, but I will not be able to work on it until September.

[2015-08-14 13:50] bgiesing commented on #88
@rapperskull Well, I know @mfonville can't work on it till at least August 28th. I don't know about anybody else though.

[2015-08-14 14:12] mfonville commented on #88
Please use the original bugreport for this issue (the mysteries of setupwizard). Because detection of both variants is not trivial.

[2015-08-14 14:14] bgiesing commented on #88
@mfonville There isn't any other bug report with setup wizard in it...

[2015-08-14 14:17] bgiesing commented on #88
Duplicate of #7

[2015-08-14 14:17] #88 closed

[2015-08-14 14:18] bgiesing commented on #7
From #88:
===
Currently, Tablets and Phones have two different Setup Wizards. Should we support both like TK? I think this might fix a bug that some (me included) have had, where the SetupWizard would crash Play services when skipping Tap N' Go as I haven't had an issue with the stock Nexus 7 2013's wizard which is what TK is offering.

## To integrate:
- [ ] Change Folder structure to accommodate

[2015-08-15 12:22] bgiesing commented on #35
@mfonville @rapperskull  I am starting to upload Leanback versions and the Core.

One thing we will need to look at for sure for the script is to put the Leanback versions with different package names under the same keyword. (Google Search and YouTube for example).

@NicholasBuse We also should add these Leanback versions into the ApkCrawler script.

[2015-08-15 13:33] bgiesing commented on #35
@mfonville I uploaded all that I could, I am not sure if anything is incorrect or missing so you/somebody else will need to check. The main problem is a lot of the folder names are different (Ex. `SetupWizard` is `SetupWraith`) and there is a lot of Leanback-only apps (AtvWidget, etc.)

[2015-08-16 04:46] luffr opened #91 "How to achieve Replaces stock/AOSP"
Hello, I want a special Gapps.
In this package include:
Google system base
Gmail (replaces stock/AOSP Email)
Google Calendar (replaces stock/AOSP Calendar)
Google Camera (replaces stock/AOSP Camera)
Photos (replaces stock/AOSP Gallery)

I have try many time to delete some APP that I do not need based on Stock Package.
Could you help me?
My email is wshop@163.com.
Thank you.

[2015-08-16 05:29] mfonville commented on #91
You can take a look at scripts/inc.buildtarget.sh and adjust it to your news. But please post support requests like this in the XDA forum, and not as bugreports.

[2015-08-16 05:30] #91 closed

[2015-08-17 14:57] mfonville opened #92 "Add some kind of personal signature to de-odexed apps"
When an apk is imported, it should be checked whether it is valid, not malicious or broken. E.g. like happened with last x86 tts.
The import script should verify the meta-inf information using the jar signature verification mechanism. And compare the certificate against Google's.
If an apk does not pass, if should not be imported.
We might also want to run such a test on the buildbot server.

[2015-08-17 15:00] mfonville commented on #92
An idea is btw, to also enable such checks during the build process.

[2015-08-17 17:37] Lekensteyn commented on #70
Alright, I finally managed to make a reproducible gapps package from the factory images. Assuming that the APK files and framework folders are somehow available (extracted from system.img, from a device, whatever), it can be used to create an APK that will always be the same.

This tool (odex2apk.py) can be found in my repo at https://github.com/Lekensteyn/make-gapps-zip. There is also a make-upda

[2015-08-17 17:53] mfonville commented on #70
I am currently on holidays, so sorry for lack of initial response on some of your input. But I think this is awesome :-) probably it would be great/best to make this part of the apk-crawler? So that one could extract apks from both online sources as from (locally available) images, and export them easily to the opengapps scripts.

[2015-08-17 19:53] mfonville opened #93 "Support Marshmallow (6.0)"
This bug will be the central tracking bug for marshmallow support.
-  [x] The website will have to be updated (initially greyed out, but JavaScript can already be added)
-  [x] Makefile has to be updated
-  [x] build_gapps.sh needs to be updated
-  [x] apk lib extraction has to be skipped for 23+
-  [x] 6.0 packages need to be added to the repos
-  [x] buildbot has to be updated (will be done when

[2015-08-17 22:06] Lekensteyn commented on #92
Are you aware that `jarsigner -verify` can be used for this?

First create a keystore from a known trusted key. `-text` is optional, but useful to have a human-readable block of text in addition to the PEM-encoded data. The `-alias NAME` must be unique for every imported certificate:

[code]

Then you can verify other APKs with:

[code]

Example **good** output (note that classes.dex is not signed

[2015-08-17 22:12] Lekensteyn commented on #70
Feel free to use it in apkcrawler (MIT is compatible with GPLv3), the best is to keep this functionality in a separate file (module) though. The apk crawler code is already monolithic. (For clarity, I mean to keep it in a separate file, possibly next to apkcrawler.py.)

And for someone on holidays you are pretty fast. In the coming weeks I will most likely be very less responsive as I have been ne

[2015-08-18 05:11] mfonville commented on #92
Yes, I know about jarsigner (could just not remember the command here without a pc to check). But we might also have to add some checks that jarsigner does not.
E.g. I believe (but cannot check right now) that jarsigner does not look for/checks files that are NOT in the jar, but are mentioned in the META-INF

[2015-08-18 17:34] jawz101 opened #94 "Support gapps-config in persist folder"
This would be really handy to avoid accidentally deleting my config file

http://forum.xda-developers.com/showthread.php?p=61901221

[2015-08-18 17:35] jawz101 commented on #94
Oops.. Wrong link
http://forum.xda-developers.com/showpost.php?p=61901221&postcount=12

[2015-08-18 17:47] bgiesing commented on #94
Already supported.

[2015-08-18 18:41] mfonville commented on #94
Yup. We already have this, so I'll close this issue.

[2015-08-18 18:41] #94 closed

[2015-08-18 21:19] bgiesing opened #95 "Merge Stock and ForNexus package"
Since they are 99% similar, can't we make one package and use the config file to apply the differences?

So if we add the `fornexus` keyword to the config file, it will do what the current package does.

@rapperskull @mfonville

[2015-08-18 22:05] jawz101 commented on #94
Thanks.  My derp.  Love your work

[2015-08-18 23:04] mfonville commented on #95
It is a design choice. I will leave this decision to @rapperskull

[2015-08-18 23:08] bgiesing commented on #95
@mfonville Even if they are still two separate packages, we could do like we have to change a package using the config. (ex. Stock to Pico by including the word.)

So we would still have a separately downloadable one that just works, but we could use turn Stock into For Nexus with a keyword.

That way, it's still easy for people who don't use the config; but people who do know how only have to hav

[2015-08-18 23:11] bgiesing commented on #95
My reasoning is because I barely have space left, and I have to have both the stock and fornexus packages along with the previous release of each just in case.

[2015-08-19 01:26] bgiesing commented on #93
From TKs thread, do we need to re-evaluate for M?

----

[quote name="Spasticdroid" post=62385523]A little OT here, but having a look inside the image of Marshmallow Preview 3, it seems (for just about all Google apps) that you won't have to pull out the libraries and put them in their own folders anymore, which saves quite a bit of space, especially with Chrome and WebView :victory:[/QUOTE]Yep. T

[2015-08-19 05:08] DJAlik opened #96 "Universal APK not properly added to all sources"
So the new maps APK is truly universal but it was only added to arm64 and x86_64 sources.

djalik@djalik-VirtualBox:~/opengapps$ ./add_sourceapp.sh /home/djalik/Downloads/*
Importing Maps
Package com.google.android.apps.maps | VersionName 9.13.0 | VersionCode 913009020 | API level 18
Universal DPI package
Native code for architecture(s): arm64-v8a armeabi-v7a mips x86 x86_64
SUCCESS: Added /home/d

[2015-08-19 05:55] mfonville commented on #96
I know about this. But we have no reliable way of distinguishing these universal apks from the 64bit ones. Therefore this is currently unfixable, and in general I would advise also to only add universal APKs if there is really no 'normal' apk.

[2015-08-19 08:37] Lekensteyn commented on #92
Confirmed, jarsigner only checks existing files. For that second case, you could write additional logic to extract the manifest file and read each `Name:` line.

Note that lines can be folded (like mail headers):
[code]

[2015-08-20 01:14] DJAlik commented on #96
I don't see the non universal APK. Is there a way to manually add this to arm and x86? I looked in the apk and the lib files are included for all architechtures

[2015-08-20 06:03] mfonville commented on #96
Just copy-paste of the apk from arm64 to arm. Make sure to delete the old apk from arm.

[2015-08-20 06:25] DJAlik commented on #96
I thought you do something different with the libs extraction

On Thu, Aug 20, 2015 at 1:03 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-08-20 18:27] mfonville commented on #93
We can pursue such a project, to move Google apps from data to system.
But after some consideration, I doubt it will be the holy grail. Since not all gapps are aways available from the play store eligible for installation on all phones (e.g. Google keyboard).
Also installing all apps on 1 go after installation of ROM is convenient. And when updating the ROM, all apps (and their data) would be wipe

[2015-08-20 19:23] JustArchi opened #97 "Older APKs do not get packaged"
In today's ```open_gapps-arm-5.1-stock-20150820.zip``` package I found out that only latest versions of APKs are packaged.

This is a major problem because in above package there is only 480-based ```GmsCore```, which will greatly fail when installed on any non-480 device.

Please correct this, it's better to ship older working package rather than no package at all.

[2015-08-20 19:28] DJAlik commented on #97
I have this GMS running on my 320-based device and it's working just fine

On Thu, Aug 20, 2015 at 2:23 PM, Łukasz Domeradzki <notifications@github.com

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-08-20 19:32] JustArchi commented on #97
It's not optimized for 320-based devices and forces Google Services to download correct GMSCore on update anyway.

[2015-08-20 19:42] mfonville commented on #97
Hmm. This was a design choice based on the information that higher dpi versions worked without issues on lower dpis. I know that some other gapps like slim and banks did this in the past if a spexific dpi was not yet available.
The script picks the very latest version available without looking add the dpi and then adds dpi variations with matching versionname. When installed it does not get downgr

[2015-08-20 22:56] bgiesing opened #98 "[Website] Allow Google Contributor for Ads"
Most people don't like ads and I know a few people will use [Google Contributor](http://www.google.com/contributor/welcome/) in which users pay a small amount and will (basically) bid on the Ad spots.

This means that the visitors get to remove ads and the website gets paid the same or better than before. An actual win-win! I was trying to find how to enable it, but I can't find it. It says though

[2015-08-21 05:47] mfonville commented on #98
It should already work by default on AdSense sites, like ours.
Contributor is only available for visitors from the states though.
I will close it, since we can't do anything with it.

[2015-08-21 05:47] #98 closed

[2015-08-22 04:21] bgiesing commented on #93
@mfonville What about [this init.d script by @osm0sis](http://forum.xda-developers.com/attachment.php?attachmentid=3431486&d=1438961312). We could include it in the zip?

[2015-08-22 04:46] JustArchi commented on #97
Errors? None. More like potential incompatibilities and unwanted bloat, which could be avoided. If you're still wondering what I'm talking about then just compare different DPI packages of gmscore, their sizes and contents, and you'll find out. I know it's easier to package one universal version for everything but GAPPS are already heavy and overbloated, bloating them further is the last thing I w

[2015-08-22 05:09] mfonville commented on #93
We could do something like that. But it would need much more work. Like I said earlier, for addon.d stuff. But that script e.g. does not support multi-arch, and would also greatly fail when installing/updating Chrome (and its crazy libs).
But focus should be to first get regular gapps working. After that we can study this.

[2015-08-22 05:54] inder4u opened #99 "Not working on yureka."
Not working on yureka. Error while flashing zip.

[2015-08-22 06:37] mfonville commented on #99
You need to provide debug logs and the exact error you receive.
Also I would like to point out that the xda thread is the primary point of support requested, if there is established that something is wrong with the opengapps package itself, and not with e.g. the ROM, we open a bugreport.

[2015-08-22 06:43] mfonville commented on #97
I think that the mentioned bloat is mostly scaling of the resources. Which is not ideal, but also not giving trouble atm.
Maybe we should approach this problem by doing some branching with 'stable' builds that have full dpi suolpport, and some cutting-edge builds that focus on the latest available version?
@rapperskull when you are back from holiday, could you give your opinion on this?

[2015-08-22 08:28] rapperskull commented on #97
We already addressed this issue when we added multi-DPI support. The choice was to prefer newer version over DPI correctness, even if initially I was of the other opinion. I'll explain why:
1) Installing the wrong package is not a big deal, as lower versions will be updated and resources from upper versions will be scaled. The next package flashing will correct the problem.
2) Variations come and

[2015-08-22 10:40] DJAlik opened #100 "Add an additional parameter to the make command to build a specific DPI version"
Not really an issue but an enhancement request

To further reduce the size of the opengapps package is it possible to add a parameter to the make command to build a specific dpi version? for example make arm-22-stock-320. If a specific dpi is not available for the package the logic would include the next best match up or down (not sure how it's done now). Thoughts?

[2015-08-24 08:01] Tobyskernel opened #101 ".odex remains after a Universal Application Removals"
.odex remains after a Universal Application Removals. Is there any possibility to get .odex removed as well?

[2015-08-24 08:04] Tobyskernel commented on #95
I like this idea. It's just what TKruzze did in PA-GAPPS.

[2015-08-24 08:18] rapperskull commented on #95
There's no problem, and no keyword needed. AFAIK the fornexus package can be installed on custom ROMs without problems. There will be issues if ROMs already included some GApps: in that case the fornexus package would skip the check and lead to problems. Anyway when I come back from vacation I'll take a further look to the code and see what can be done.

[2015-08-24 08:28] mfonville commented on #101
I will look into it when back from holiday.
Could you attach the debug log, then I can see the paths of the odex files.

[2015-08-28 22:26] bgiesing opened #102 "New GMS variant: -200"
http://www.apkmirror.com/apk/google-inc/google-play-services/google-play-services-8-1-02-2204618-238-android-apk-download/

Need to add support?

[2015-08-28 22:26] bgiesing commented on #102
@mfonville

[2015-08-28 23:50] bgiesing commented on #102
@mfonville Looks like -2XX replaces -4XX for Lollipop and Marshmallow now uses -4XX

[2015-08-29 07:04] mfonville commented on #96
The libs extraction is done at build time, not when adding the APKs to the sources.
Since this is a technical issue that cannot be resolved, I will close the bug.

[2015-08-29 07:04] #96 closed

[2015-08-29 07:05] mfonville commented on #101
@Tobyskernel could you please still add the debug logs or some file paths of the odex files?

[2015-08-29 07:08] mfonville commented on #102
This goes automatically ok for us, since we don't process those numbers in the versioncode anymore, we look at sdk level that it supports, cpu architecture and DPI specification, with those 3 factors APKs are already sorted correctly.

[2015-08-29 07:08] #102 closed

[2015-08-31 09:37] mfonville opened #103 "Allow ForceDPI to set 'universal' DPI"
We currently already allow one to set the ForceDPI keyword to force a certain DPI setting, but it does not allow (explicitly) setting the universal DPI. It would be nice if we could allow for this.
I don't know yet what whould be the best way to handle this and what the best keyword variation would be, but problaby something like ForceDPInodpi since 'nodpi' is already the name used for the folder

[2015-08-31 10:15] mfonville commented on #93
I studied now the current Marshmallow preview. But apparently not all APKs have their libs fully embedded. The symlinks from e.g. lib/arm/*.so to /system/lib/ still exist for Chrome, Google Keyboard etc.
So it looks like Google has created a Frankenstein hybrid :-/

[2015-08-31 11:38] mfonville commented on #5
I just found out that even on 5.1 GoogleHome has been moved to /app from /priv-app, so in the future it will move for all versions (just like it did for talkback)

[2015-08-31 12:09] mfonville commented on #93
If the libs don't have to be pre-extracted btw, we can *could* include different versions of each APK in the package. @rapperskull what is your opinion about this? Should we only include the latest version, irrespective of the DPI, or each DPI that we have available even if the version is older, or some kind of hybrid, where this choice is made per application?
This issue/choice is btw related to

[2015-08-31 13:29] NicholasBuse opened #104 "Issue with leanback import for add_sourceapp.sh"
I was trying to import APKMirror's [PlayGames](http://www.apkmirror.com/apk/google-inc/google-play-games/google-play-games-3-2-21-2197783-846-arm64-android-apk-download/) and add_sourceapp.sh does not recognize it as leanback and tries to upgraded the "old" API of 9 to 21.

[2015-08-31 14:56] mfonville commented on #104
I tried it here and it detects it correctly. Are you sure the APK you downloaded is not damaged and that your script is up to date?

[2015-08-31 16:22] mfonville commented on #104
For some reason your aapt dump line includes 'name=' that is not in my version.
I think I will rewrite the line to be less dependent on the specific output

[2015-08-31 16:51] NicholasBuse commented on #104
which version of aapt are you using?

[2015-08-31 19:17] mfonville commented on #104
Mine is from the Ubuntu vivid repositories, ```aapt v``` gives: Android Asset Packaging Tool, v0.2

[2015-08-31 19:25] mfonville commented on #104
Fixed it. Please test though :-P

[2015-08-31 19:25] #104 closed

[2015-08-31 19:40] NicholasBuse commented on #104
I reverted the PlayGames apk in question and the updated add_sourceapp.sh imported it as expected in my setup

[2015-09-01 11:39] #101 closed

[2015-09-01 11:40] mfonville commented on #101
Note to ourselves: the universal remover removes .odex files, if .apk is present.
The normal/default removal scripts still don't remove any .odex. We could implement that when rewriting the generation of install.data

[2015-09-01 11:48] mfonville commented on #95
The more I think about this idea, the more I like it.
I think a great way to check if a device is still stock/nexus style, and not having other custom gapps on them, is look for the absense of /system/etc/g.prop

The current conflict checks can be logged as output instead of aborting the installation, indicating whether one is flashing 'stock' style or 'fornexus' style.

But we will have to decide

[2015-09-01 11:49] #86 closed

[2015-09-01 11:55] rapperskull commented on #95
I also like the idea. As for as the stock or all question, I think that we should allow this behavior on all packages, since you can now still reduce the fornexus package to smaller ones.

[2015-09-02 20:42] mfonville commented on #100
I will look into this, since this is also a partial requirement for #64 and can help with #97

[2015-09-03 08:26] mfonville commented on #95
@rapperskull If you could re-test the latest version, with the quotes etc now properly in place, we can merge it.

[2015-09-03 10:55] DJAlik opened #105 "Java signing errors on 9/3 build"
This is new....

Packaging and signing /home/djalik/opengapps/out/open_gapps-arm-5.1-stock-20150903.zip...
Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3236)
	at java.io.ByteArrayOutputStream.grow(ByteArrayOutputStream.java:118)
	at java.io.ByteArrayOutputStream.

[2015-09-03 11:02] DJAlik commented on #105
Here are my defaults:

djalik@djalik-VirtualBox:~/opengapps$ java -XX:+PrintFlagsFinal -version | grep Heap
Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar
    uintx ErgoHeapSizeLimit                         = 0                                   {product}
    uintx G1HeapRegionSize                          = 0                                   {product}
    uintx G1HeapWaste

[2015-09-03 11:08] mfonville commented on #105
The package singing in Java needs a lot of memory. Make sure you have enough RAM and/or swap and pass otherwise even more memory to java in the inc.packagetarget.sh

Unfortunately we cannot fix it, our best bet is to get the signing using our own shellscript correctly working, but that still needs some more debugging and work.

[2015-09-03 13:04] DJAlik commented on #105
Why all of a sudden though. Is the package getting too big... Another point to address #100

[2015-09-03 13:07] mfonville commented on #105
A bigger package makes the problem indeed worse, but maybe you had (at that given time) also less RAM available/free on your computer than normal? The script currently asks for 2GiB of RAM for java to sign, which is enough for the java 1.7 and 1.8 that I use on 64 bit Ubuntu to build the packages.

[2015-09-03 16:25] DJAlik commented on #105
I just upped my RAM for the VM from 8gigs to 12gigs and I am getting the exact same results.  Anything else you can suggest?

[2015-09-03 16:56] mfonville commented on #105
In inc.packagetarget.sh line 110 you;ll find the java command that also passes the amount of RAM that can be used, currently it is 2048m, try increasing that number and see if it resolves your issue.
If it does not work, I am afraid you'd be out of options...

[2015-09-03 17:01] DJAlik commented on #105
Why is nobody else having this issue? What settings are @opengapps/packagers
<https://github.com/orgs/opengapps/teams/packagers> using? I am running an
ubuntu 15.03 with 12gigs of ram in VM mode. Java 8u60

On Thu, Sep 3, 2015 at 11:56 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http:

[2015-09-03 17:26] NicholasBuse commented on #105
VBox, (headless) Ubuntu 14.04, 1G Ram. Java: java-7-openjdk-amd64.

[2015-09-03 17:37] DJAlik commented on #105
Then it doesn't make sense at all why all of a sudden I started getting
this error.

On Thu, Sep 3, 2015 at 12:26 PM, Nicholas Buse <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-09-03 18:43] rapperskull commented on #95
I just built and flashed again and there's no visible problem. Now we just have to test on a custom ROM (I'm Stock) and then we can merge the changes.

[2015-09-03 20:37] mfonville commented on #95
I will now test on my custom ROM them. If it works, I push it to master before tonights build.

[2015-09-03 20:39] mfonville commented on #105
You could try running the java command manually on the commandline, and keep an eye on the process manager to see how much RAM is being consumed the java process.

[2015-09-03 20:46] mfonville commented on #95
I get an error during flashing :-(

[2015-09-03 20:48] mfonville commented on #95
Hmm, I think I got an incomplete merge somehow, and are missing your fixes... let me retry

[2015-09-03 20:56] mfonville commented on #95
Ok, seems ok now :-)
I will merge it.

[2015-09-03 20:57] #95 closed

[2015-09-03 21:08] mfonville commented on #95
I now updated the website too, to reflect the changes that will take effect tomorrow. Wiki still has to be properly updated though.

[2015-09-04 08:29] mfonville commented on #95
@rapperskull I updated the website now. Will you update the links in #3 on your thread and explain to your users what has changed for them?

[2015-09-04 16:50] mfonville commented on #92
@Lekensteyn could you check my current implementation? I know it is not really the best code, and it all still depends on some assumptions how Google's certificates do look like e.g.
But do you think it should be enough to verify the integrity of APKs? e.g. that one could not add a malicious classes.dex and still be able to add as if it were from Google?

[2015-09-04 17:48] rapperskull commented on #95
All done. I was just thinking that the combined support for custom and Stock ROMs is another plus that only our GApps have.

[2015-09-04 18:03] rapperskull commented on #93
As for as the Marshmallow changes, let's wait for the final release to see if there will be other changes. Apps like WebView probably need to have symlinked libs, so that they can be accessed system-wide, so we should make a list of what apps have their libraries extracted and what haven't to correctly build our GApps.
As for as the DPI question, we have to keep in mind that it's just a temporary

[2015-09-04 18:04] rapperskull commented on #99
@mfonville  Should we mark this issue as invalid and close it?

[2015-09-04 18:11] rapperskull commented on #103
Yes, it's probably the correct way to handle it, plus we just have to change 2 lines to make it work, since the current code is probably ready.

[2015-09-04 18:14] mfonville commented on #99
@rapperskull if he does not respond we will. I give him a few more days.

[2015-09-04 18:19] mfonville commented on #95
Yes, it would be another great selling point :-)

Now just convincing the community...
sometimes I google for 'opengapps', if you then see what kind of 'homeopathic' approach people have with GApps on the forums... One would recommend on GApps over the other as if it would solve all their problems, while most are fully interchangeable (especially if it are 'Play Store'-only packages), and objectiv

[2015-09-04 19:06] DJAlik commented on #105
I updated In inc.packagetarget.sh line 110 to 4096 and everything worked
perfectly. Should we change this globally?

On Thu, Sep 3, 2015 at 12:36 PM, Alex Rusinov <djalik@gmail.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.

[2015-09-04 19:14] mfonville commented on #105
We can't because the buildbot does not have that much RAM/swap.
Also it is still weird that you have the issue at all, while the largest package is around 550MiB, so I would expect that 1650MiB heap memory should be enough. Very probably there is a memory leak in Java.
Anyhow, if for more people this issue arises we do have to change it until we fixed signapk.sh

[2015-09-04 19:50] rapperskull commented on #103
Just re-thought about that: the code is not completely ready, it will fail if there's no *nodpi* package. In that case we can install the package with higher DPI.

[2015-09-04 20:58] mfonville commented on #103
I assume you mean the 'highest' DPI, right?
So preference order would become: nodpi, then from high to low.

[2015-09-04 21:21] rapperskull commented on #103
Yes "highest", sorry. Exactly, that would be the order.

[2015-09-05 03:56] thorstent opened #106 "android.database.sqlite.SQLiteException after upgrade"
I just upgraded the openapps from 20150803 to 20150904. I also upgraded Cyanogenmod to 20150901 on my Nexus 9. The OS boots, but I constantly get the error "Unfortunately,  Google Play services has stopped."

I see the following exception in logcat:
E/DatabaseUtils( 2308): Writing exception to parcel
E/DatabaseUtils( 2308): android.database.sqlite.SQLiteException: Can't downgrade database from ver

[2015-09-05 09:45] mfonville commented on #106
Did you also try to 'clear data' from the settings->app->all screen?
Also I wonder, did you ever manually upgraded your GMS with a seperate APK e.g. from apkmirror?

As for a fix, if 'clear data' doesn't work I fear that wiping /data would be the only straightforward solution :-/

[2015-09-05 10:23] #103 closed

[2015-09-05 11:21] mfonville commented on #105
Building AROMA today failed, because of the same error:
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
        at java.util.Arrays.copyOf(Arrays.java:2271)
        at java.io.ByteArrayOutputStream.grow(ByteArrayOutputStream.java:113)
        at java.io.ByteArrayOutputStream.ensureCapacity(ByteArrayOutputStream.java:93)
        at java.io.ByteArrayOutputStream.write(ByteArra

[2015-09-05 11:52] #105 closed

[2015-09-06 10:02] mfonville opened #107 "Moving Streetview from Mini to Full?"
I spotted that TK GApps has moved Streetview from Mini to Full, because the app has become so much larger (before it was only a few KiBs, now it is MiBs).
I had not thought about that before, but it does make sense, from size-perspective. But moving it out of mini would mean that we are moving functionality out of an existing package, which might be unexpected for some users.

I'd like to get the

[2015-09-06 11:26] Lekensteyn commented on #92
If `jarsigner` still exits with 1 while there are files with no signature in the keystore, then the current approach is broken. Can you verify the behavior against the example above?

[2015-09-06 11:59] mfonville commented on #48
I also want to integrate shellcheck checking of the update-binary output into the Github status API https://developer.github.com/v3/repos/statuses/ to give feedback if a commit would break the shellscript completely.

[2015-09-06 12:02] mfonville commented on #92
@Lekensteyn I assume you mean 'still exits with 0', right?
Because if an APK contains even a single file that is not present in the manifest and/or is not signed by a key from the keystore it with exits >=1.

[2015-09-06 12:05] mfonville commented on #92
Btw, I don't know if an APK can have multiple certificates in the CERT.RSA, if this is possible, I don't know the current behaviour of the script...

[2015-09-06 16:15] Lekensteyn commented on #92
Ah, the `-strict` option is the key here. With this option, items signed with a different key indeed produce a non-zero exit code. Additional items that are not signed also generate an error, so you do not have to check for them either. This can be tested by appending a file with `zip foo.apk dummy.txt` and then use `jarsigner` with the `-strict` flag.

There can only be one certificate in CERT.RS

[2015-09-06 16:43] mfonville commented on #92
ok, so about the CERT.RSA, the script would never import 'by accident' a non-Google key in the importcert function. And the verify method always demands that it is signed by a key from the keystore, ergo a Google key, and thus signing with any other key would still not match the keystore and be rejected by the script.

I wonder though, do jarsigner and keytool directly correctly verify the whole k

[2015-09-06 18:26] rapperskull commented on #107
I think that we should move Street View to Full, making sure that the users know the change. We can put a message on opengapps.org when the Mini package is selected to download, and obviously post in the XDA thread about the change.

An important question: does the latest version of Google Maps work without the Street View app installed?

[2015-09-06 18:31] mfonville commented on #107
Yes, Maps works without Streetview.

[2015-09-07 01:28] bgiesing commented on #107
The new Street View app is a "social network" for Photospheres, not needed for Google Maps. I think it should be moved to Full. @mfonville @rapperskull

[2015-09-07 08:02] #107 closed

[2015-09-07 08:09] mfonville commented on #107
OK, I moved it. One important thing to notice btw, is that for streetview we only have the updated package for 'arm' at the moment. So we need the 'x86' of that one soon, so that we can remove the old package from 'all'.

[2015-09-07 08:39] mc1100 commented on #107
Unfortunately, my x86_64 tablet died and I do not have ID for the APK
downloader. :(

2015-09-07 10:09 GMT+02:00 mfonville <notifications@github.com>:

[2015-09-07 09:55] mc1100 commented on #92
My local scripts/certificates/opengapps.keystore changed after I used "add_sourceapp.sh" script. After I run the command "keytool -list -storepass opengapps -keystore opengapps.keystore" it proved one key got duplicated in the keystore:

Keystore type: JKS
Keystore provider: SUN

Your keystore contains 17 entries
...
Certificate fingerprint (SHA1): 38:91:8A:45:3D:07:19:93:54:F8:B1:9A:F0:5E:C6:56:2

[2015-09-07 10:04] mfonville commented on #92
Hmm, it is correct that it should change, because when importing new APKs, updated certificates are automatically added. But a completely identical key should not be re-added. I do see that two fields differ in your copy-paste, though?

[2015-09-07 10:11] mc1100 commented on #92
I am working on Mac OS X, so maybe some tools work different. E. g. I needed to replace original "find"  with homebrew otherwise make would not work. So if this is only me having this issue I will try to find the root cause.

[2015-09-07 12:53] mfonville commented on #107
I approached @deadman96385 about the x86 GApps, since he currently maintains his own Deadman's/Zenfone x86 GApps, but did not get any response of him the last days. So I guess he's very busy. We could really benefit from a x86 maintainer/developer, because x86 is presence is growing, but the availability of public APKs on e.g. apkmirror is really low.

[2015-09-07 13:22] mfonville commented on #70
@Lekensteyn does your script and (bak)smali also support x86 images/applications?

[2015-09-07 13:33] deadman96385 commented on #107
Yeah i got busy, i plan on working on it now, going through each package to make sure it all works as we speak. (A month ago they didn't)

[2015-09-07 21:00] Lekensteyn commented on #70
It (odex2apk.py) should handle those as the only difference is in the naming of the folders (x86 or x86_64 vs. arm). (bak)smali should not be much different in that regard, I assume that the (o)dex files are independent of the architecture.

[2015-09-07 21:19] Lekensteyn commented on #92
@mfonville No Root CA in use and self-signed (CA) certificates can indeed "impersonate" Google.

Here is an example where I used a generated certificate which passes your regex (subject `/C=US/ST=CA/L=Mountain View/O=Google Inc/OU=Android/CN=fake`):
[code]

[2015-09-07 21:41] mfonville commented on #92
I think I will then change the current procedure and do not automatic import any signatures within the script. But will manage them myself in the repo.

I wonder how the manual APK installation on an Android device handles this though. Since I would expect them to do some kind of APK signature checking. I do know that packages which claim e.g. permissions to a common resource, need to be signed wi

[2015-09-08 09:44] mfonville commented on #70
I do get the error when trying to deodex the Nexus Player image (which is x86):

odex2apk: Processing boot directory, may take a minute...
Traceback (most recent call last):
  File "./make-update-zip.py", line 197, in <module>
    main()
  File "./make-update-zip.py", line 168, in main
    odex2apk.process_boot(boot_odex_path)
  File "/home/maarten/Development/make-gapps-zip/odex2apk.py", line 160

[2015-09-08 13:22] mfonville commented on #99
Since lack of response and further information I close this bug

[2015-09-08 13:22] #99 closed

[2015-09-08 13:23] mfonville commented on #85
@OverlordQ does this problem still happen with the latest packages, that have updated Play Games and Google Play Services?

[2015-09-08 14:17] OverlordQ commented on #85
Still noticing it, even with other GApps packages, so it's going to probably be something with CM 12.1. That, coupled with other platform bugs in 12.1 I've downgraded back to 4.4

[2015-09-08 15:06] mfonville commented on #35
I started the initial scripting work on this. I prepared the stuff for the priv-app directory for androidTV.
regular apps still have to be added, and the apps that are in the sources have to be 'fixed' since they are not deodexed and thus missing their classes.dex file. (bak)smali fails for now on x86 apps though :-(

Keyword of the application-selection within the package is 'tvstock', since it w

[2015-09-08 15:09] mfonville commented on #85
@OverlordQ thank you for the feedback.
So then probably indeed something with CM 12.1
Personally, I would expect there is something wrong with their crypto algorithms or certificates, that it can't match up those keys. I will close the bug here, since we can't do anything about it. But I would suggest to at least notify the CM developers of this bug.

[2015-09-08 15:09] #85 closed

[2015-09-09 15:26] mfonville commented on #92
Wrote something about this quest: https://plus.google.com/+OpengappsOrg/posts/LvpqiQxEhyg

[2015-09-09 15:51] mc1100 commented on #92
I checked the problem with the duplicate entry in the scripts/certificates/opengapps.keystore. There are different outputs from the openssl command. Sometimes

$ unzip -p com.android.vending.apk META-INF/CERT.RSA | openssl pkcs7 -inform DER -print_certs -text
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            c2:e0:87:46:64:4a:30:8d
...

and sometimes

$unzip -p com

[2015-09-09 16:31] mfonville commented on #92
@mc1100 if you have a quick fix for the alias retrieval, that would indeed be welcome :-)

[2015-09-09 20:09] mc1100 commented on #92
I have just created pull request for this. You can check it.

[2015-09-11 17:21] adrman commented on #5
Is there any chance of including Google Connectivity Services in one of the packages? Project Fi wants to see GCS as a system app. I know Fi users are probably a pretty small percentage of the general community, but thought I'd inquire anyway. Thanks.

[2015-09-12 13:06] mfonville commented on #100
I thought about this. We need to also be able to specify two kinds of behaviour:
*Bundle last version of that specific DPI, even if newer versions of other DPI are available
*Bundle last version, preferably of the given DPI, but otherwise fallback to other.

[2015-09-16 05:26] MarkJeronimus opened #109 "[Aroma] Back button reloads selections file"
When you load an existing selection file at the beginning of the walk through the options, change stuff, then at some point (be it at the review page, and you want to go back and make a little change), at the press of the back button it reloads the selections file and every change is gone.

With Aroma 5.1 20150913

[2015-09-16 05:28] MarkJeronimus opened #110 "Trying to exit freezes"
When I try to exit early, whether via the circle button at the bottom or with the exit option on the first screen, my Nexus 5 freezes so hard I have to 'pull the battery' (10 seconds power button press).

Exiting at the end of the installation procedure works fine.

With Aroma 5.1 20150913
If it matters, I'm using TWRP 2.8.7.1.

[2015-09-16 07:41] mfonville commented on #109
@raulx222 Do you think we would be able to fix/improve on this?

[2015-09-16 07:41] mfonville commented on #110
@raulx222 is this a libAroma issue?

[2015-09-16 19:30] mfonville commented on #5
Maybe we could make GCS and/or AndroidForWork and the other language Keyboards as seperate addons.
Because including them in Stock I do not find very appealing, since they only cater a very small group, but we DO know the file paths that they have within the Nexus filesystem.
I am not sure yet how to make it part of our scripts and build process yet...

[2015-09-16 21:42] adrman commented on #5
Because of the limited group(s) that would have interest, I think that would be the best solution.  If you should proceed and I can be of any assistance in testing, please let me know.

[2015-09-17 21:22] mfonville opened #111 "Tar gives problems on (old) Philz recovery"
Somebody tried to flash the package, and even though it succesfully did pass our tar-detection mechanism, it still gave errors.

Output appeared like:
[code]

I think that the problem is that TAR is not able to understand/process the hyphen '-' as file input selector, OR that it does not understand the extra argument we pass as filepath that has to be extracted.

Relevant XDA post: http://forum.xd

[2015-09-18 10:15] mfonville commented on #106
@thorstent could you still please reply?

[2015-09-19 02:10] thorstent commented on #106
Hi, I wiped /data and the issue disappeared.

[2015-09-19 07:24] mfonville commented on #106
OK, I will close the bug than. I hope it was an incident, but if the future such a thing happens again we can maybe investigate further.

PS: Did you remember whether you ever installed a Google Play Services APK yourself, eg from apk mirror? It would help to know, since 'downgrading' of this service should never happen when upgrading to a newer package.

[2015-09-19 07:24] #106 closed

[2015-09-19 16:01] #111 closed

[2015-09-19 20:42] mfonville commented on #111
Thank you for fixing this @rapperskull (and that you found the time to do so :-) )

[2015-09-19 21:10] rapperskull commented on #111
This is just a check and not a real fix. We could include a new binary, like we do with the xz one to support older recoveries.

[2015-09-19 23:10] mfonville commented on #111
Nah, all major recoveries available do have support for it. Upgrading recoveries should be enough to resolve it, even on CWM/PhilZ.

Also PhilZ did apparently also stop all development, so over (a long) time TWRP and CM-Recovery will be the only ones around that we'll have to deal with. Thus maybe we should ask the CM-Recovery guys to also include the XZ decompression filter.

[2015-09-20 17:59] thorstent commented on #106
The installation was in the following order: Cyanogenmod 12 and their gapps release -> Cyanogenmod 12.1 nightly and their gapps release (was buggy), therefore -> Cyanogenmod 12.1 nigthly and opengapps pico -> Cyanogenmod 12.1 snapshot and opengapps pico updated on that day -> above mentioned bug.

I never installed apks manually, but i did update any gapps offered by the Play Store.

[2015-09-20 19:52] MatthewBooth commented on #100
I was just coming to add a issue/request for this very thing. It would help me immensely to bring down the zip size.

[2015-09-20 20:00] mfonville commented on #100
@MatthewBooth
Actually it would barely reduce the zip file nowadays, because with the strong XZ compression each extra APK of an already bundled app is relatively small. But we will implement it nonetheless, I just need a bit more time to implement it :)

[2015-09-20 20:02] MatthewBooth commented on #100
I'm including it in my ROM zip (the whole installer, untouched by me, credits should be intact) so every little helps :P

[2015-09-22 09:02] mfonville commented on #30
Congrats to @NicholasBuse, the first to surpass me in the competition today :)

[2015-09-22 10:54] NicholasBuse commented on #30
Thank you! (I would like to also thank my parents, my grade school computer teacher, my family and my dog)

[2015-09-24 17:55] mfonville commented on #106
Ok, thank you for the detailed information :-)

[2015-09-25 12:21] nick37332001 opened #115 "Aroma"
Aroma package freezes while flashing on TWRP 2.8.6.1

[2015-09-25 21:40] DJAlik opened #116 "Remove Android Pay from the Stock package"
With Android Pay not working on rooted devices, and I am assuming everyone using opengapps is rooted, we should probably remove it from the package. Some discussion on this topic here: http://www.androidpolice.com/2015/09/25/google-security-engineer-visits-xda-forums-to-explain-why-android-pay-doesnt-support-rooted-devices/

[2015-09-25 21:47] mfonville commented on #116
I think it is best to keep it in for now, because it is useful for those who are flashing 'For Stock' style.
I still have to read the article you did link, but I personally do hope that at some point a solution will be found and custom and rooted ROMs will be allowed too.

[2015-09-25 23:34] DJAlik commented on #116
Based on the XDA thread linked in the article the Google engineer is not
leaving much hope for that.

On Fri, Sep 25, 2015 at 4:47 PM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik

[2015-09-26 09:00] mfonville commented on #115
@raulx222 Can you help out?
@nick37332001 I think you'll have to attach more information about your device.

[2015-09-26 09:26] nick37332001 commented on #115
@mfonville I use a msm8916 device [Xiaomi Redmi 2] running cyanogenmod 12.1

[2015-09-26 10:15] mfonville opened #117 "Online upload service"
We should try to make a drag-drop possibility for packagers to upload new APKs to a private website.
The server then processes the certificate checks, adding and upload to GitHub. At first still with some manual intervention/checks to prevent possible errors.

This will allow more contributions from packagers not running their own Linux installations.

It will also be useful for the future, when w

[2015-09-26 10:18] mfonville commented on #117
Idea: use GitHub auth to control access to the site. And maybe even use that too to commit with proper credentials (if possible).

[2015-09-26 13:57] raulx222 commented on #115
@nick37332001 If it's available and older TWRP version for your device you can try it, it might work on other TWRP versions. AROMA Installer is old and we are all waiting for the next update but amarullz didn't announced any ETA.
I'm sorry for any problems related to the AROMA variant of Open GApps, but we can't do anything about it until amarullz will release a new update.

[2015-09-26 17:19] mfonville commented on #116
I am wondering btw if flashing 'for stock' gapps style does break the Safetynet API.
@bgiesing I believe you have have a device with "stock" ROM and living in the USA. Could you maybe test this for us?

[2015-09-26 18:16] rapperskull commented on #116
Wait a minute. I found this: https://www.reddit.com/r/Android/comments/3kly2z/checking_device_compatibility_with_safetynet/ on Reddit, and there are some useful informations:
1. One user said:
*Been messing with stuff all day, some things I've discovered:
-Unlocked bootloader doesn't matter.
-Can't have root installed initially.
-Has to be a stock / signed ROM.
I attempted to see what would happen

[2015-09-27 11:47] mfonville opened #118 "Libhoudini support for x86"
Libhoudini is available in practically every x86 ROM, allowing arm apps to run on x86 too.
Proposal is to specify 'arm' as fallback architecture for 'x86'

Best would be to rewrite the fallback architecture mechanism to use a recursion mechanism, so that it only would have to know its next fallback architecture.
x86_64 -> x86
x86 -> arm
arm64 -> arm
arm -> all

We do have to take into account that

[2015-09-27 11:57] deadman96385 commented on #118
I will have a build that tests this later today!

[2015-09-28 10:49] jsbax opened #119 "Please improve your security practices"
You are releasing critical system software in a way that makes it extremely hard to verify that it is not malware. Please fix this so that users aren't needlessly put in danger.

Easy issues:
1. You are serving opengapps.org via HTTP, which means anyone in the network path can replace anything with malware. You should use HTTPS only instead along with HSTS. You can get HTTPS support by obtaining a

[2015-09-28 11:07] mfonville commented on #119
First of all, it is not 'critical' system software, but yes, it is system software and should be treated carefully. Actually we did recentlly write a blogpost about this https://plus.google.com/+OpengappsOrg/posts/LvpqiQxEhyg and do think that security is important.

1. We are serving actually on opengapps.ORG and HTTPS would be nice, but GitHub does not support this currently on custom domains. F

[2015-09-28 11:07] #119 closed

[2015-09-28 11:53] jsbax commented on #119
Thanks to answering, it's great to see that it's actually being taken seriously.

The real issue is then that while you are indeed doing great work, it's hard for the people who are new to gapps or Android to find out you are doing so, because the opengapps.org site (which is what the CyanogenMod wiki points to) doesn't seem to mention any of it: it would be nice to at least for instance add a lin

[2015-09-28 13:05] mfonville commented on #119
1. I think that would be overdone, especially considering that neither of any of the other XDA-based GApps, let alone the ROMs that people use, are hosted on HTTPS. So I rather provide HTTP-based frontend than none, and rather a recognizable domainname (that people 'know' and browse directly to).
2. imho MD5 is sufficient to check if the download did succeed or not. Even though md5 is not a secure

[2015-09-29 08:03] deadman96385 commented on #118
I can confirm including the missing apps that do not have x86 as arm works used these 2 commits.  To do exactly what this issue says will need some changes on top of what i did

https://github.com/deadman96385/opengapps/commit/cc6490a42a74d48e9a433fab8cbcd1f167eb7c1f
https://github.com/deadman96385/opengapps/commit/c90ef388b44f0d78bf95c072338bbaeae3aceeac

[2015-09-29 15:46] bgiesing commented on #116
@mfonville I had to switch devices and the new one I have can't be unlocked or rooted meaning no custom recovery to even flash.

[2015-10-01 09:59] mfonville commented on #116
@bgiesing pity, then does somebody else @opengapps/general have a device in the USA that they could test with Android Pay with a Stock ROM + 'For Stock' updates flashed?

[2015-10-01 13:16] mfonville opened #121 "Reconsider some of the automatic deleted apps list"
This article got my attention: http://en.miui.com/thread-167227-1-1.html

And I was wondering if we maybe can drop those 2 lines from the default removal list, or are they still in known conflict with existing GApps?

@opengapps/general does anybody have experience with the apps thare by default installed in those folders?

[2015-10-01 13:20] rapperskull commented on #121
Well, /system/app/QuickSearchBox is an old location for the Google Search app.
I'm not sure about /system/app/BrowserProviderProxy, but it's probably another old location.

[2015-10-01 13:30] mfonville commented on #121
But is /system/app/QuickSearchBox still used on any ROM? E.g. do 4.4 ROMs still use this location, or do they not (anymore)?

[2015-10-01 14:20] mfonville commented on #121
BrowserProviderProxy's aapt details:

package: name='com.android.browser.provider' versionCode='21' versionName='5.0.1-1602158'
sdkVersion:'21'
targetSdkVersion:'21'
uses-permission:'com.android.browser.permission.READ_HISTORY_BOOKMARKS'
uses-permission:'com.android.browser.permission.WRITE_HISTORY_BOOKMARKS'
application: label='' icon=''
uses-feature:'android.hardware.touchscreen'
uses-implied-fe

[2015-10-01 14:43] mfonville commented on #121
I downloaded all recent Miui ROMs, but in none of them I could find the /system/app/QuickSearchBox so I think they alread dropped that one.

But about the BrowserProviderProxy, should we maybe make it part of the browser_list removal?

[2015-10-01 16:54] mfonville commented on #35
I will only build AndroidTV packages for 5.1 and up.
So we should make sure that apk cleanup will be active for versions below that sdk level.

[2015-10-01 19:49] rapperskull commented on #121
Some Googling revealed that BrowserProviderProxy is part of the AOSP browser and I have no idea why we always remove it. Does the AOSP browser work without it too?

[2015-10-01 19:52] mfonville commented on #121
Apparently. But then you agree with putting it in browser_list removal?

[2015-10-01 19:53] rapperskull commented on #121
Unless there's a proven incompatibility, I think it's safe to move it to browser_list.

[2015-10-01 20:53] #121 closed

[2015-10-02 06:10] bgiesing commented on #119
@mfonville Since you and me both have a Keybase account, maybe we should add a opengapps.org proof via text file ([similar to this](https://keybase.io/.well-known/keybase.txt)) to the site with all the members we can. This way people can verify?

[2015-10-02 15:10] r-arias opened #122 "Google Cloud Messaging (GCM) not working?"
Hi, I was wondering which package (http://opengapps.org) I need to install to get GCM working on Android 5.1 on a Samsung Galaxy S4 LTE Intl. (I9505).
I installed the pico package today and seem to have problems with GCM. Messages in TextSecure and Whatsapp do not arrive for a long time, sometimes only once I open the app.

I was under the impression that GCM is included with Google Play Services,

[2015-10-02 15:50] eugenesan opened #124 "ODEXed gapps"
I wonder is it feasible to create variant of ODEXed Gapps?
This can be useful in following cases:
1. ROM for devices with small and/or slow /data partition.
2. Faster first boot and faster initial boot (the one where user password is asked) on encrypted devices.

[2015-10-03 09:42] mfonville commented on #122
GCM is indeed part of the Google Play Services, I believe.
I had no other report of the issues you are experiencing, neither do I experience them myself. Unless Google had some (temporary) issues I would expect that it is a problem with your ROM or your connection (maybe WiFi and mobile data get disabled?).

I am at least 100% certain it is not an issue within the GApps package itself, so I'll clo

[2015-10-03 09:42] #122 closed

[2015-10-03 09:47] mfonville commented on #124
It would be possible, but we'd first have to complete the AOSP build process integration. Then that process can pre-generate the ODEX versions of the APK.
Personally I would give this the very lowest priority though, because it would only be applicable to small sets of users (since you'd potentially have to make a different version per ROM) and it would mostly be useful for ROMs that would want to

[2015-10-03 09:48] #115 closed

[2015-10-03 11:52] oGkgN opened #127 "Installation fails on Nexus 10 (manta)"
Today I tried to install the opengapps after a fresh system upgrade of cyanogenmod 12.0 (http://download.cyanogenmod.org/get/jenkins/124088/cm-12-20150901-SNAPSHOT-YNG4NAO254-manta.zip). I choosed to install arm 5.0 nano 3 October 2015, and after failing also arm 5.0 pico 3 October 2015. I used ClockworkMod recovery to install zip from sdcard.
This is the error message I get:
-- Installing: /sdcar

[2015-10-03 13:39] mfonville commented on #127
Don't use (outdated) CWM, this issue is described in the FAQ: https://github.com/opengapps/opengapps/wiki/FAQ#3-im-getting-a-status-error-6-when-i-try-and-install-these-gapps-with-cwm-what-can-i-do-to-fix-it

[2015-10-03 13:39] #127 closed

[2015-10-03 13:46] mfonville commented on #118
@deadman96385 Could you please check out whether the branch https://github.com/opengapps/opengapps/tree/fallbackarch works good for you?

Also @opengapps/general does anyone have an arm64 device that they could test this branch on?
If it works, I will push it to master and update the wiki accordingly.

[2015-10-04 11:19] raulx222 commented on #109
This can be fixed. Since is not a major bug I will fix it after I get a new device.

[2015-10-04 11:22] raulx222 commented on #110
I think this is a AROMA Installer bug and I can't do anything about it.

[2015-10-04 16:59] mfonville commented on #116
Since I don't see any actitivity in that reddit thread anymore and the XDA thread is closed.
And I am really sure that flashing 'for nexus'-style on a stock ROM would also trigger a failure to pass the SafetyNet test (since system files will have changed) I think, that at this very moment, we should drop the AndroidPay package from the builds.
We can keep all references to the script in place, eve

[2015-10-04 17:12] DJAlik commented on #116
should we replace it with the Google Wallet app?

On Sun, Oct 4, 2015 at 11:59 AM, mfonville <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2015-10-04 17:53] mfonville commented on #116
No, that would break things down.

[2015-10-04 20:59] moore-bryan opened #129 "Storage space reported incorrectly for f2fs-formatted partitions"
I fall into the "insufficient space" error crowd, but I believe I arrived there because of my selected partition format of f2fs; please advise.

[2015-10-04 21:21] mfonville commented on #129
Please include the full debug log. And also post any details that would confirm your suspicion why the space calculations are wrong.

[2015-10-04 22:11] moore-bryan commented on #129
I have /system, /data, and /cache formatted f2fs when I installed cm-12.1-2015-0926-UNOFFICIAL-by.temasek-manta.zip, UPDATE-AnyKernel2-khaon-kernel-manta-09-12-2015.zip, and open_gapps-arm-5.1-full-20151004.zip. Both CM and khaon kernel install correctly, but opengapps--all versions, BTW--fail with the "Error 70."

Here are the logs; .tar.gz isn't supported in the hub... thought it was for some re

[2015-10-05 06:09] r-arias commented on #122
Thanks for the answer! That's what i thought.

[2015-10-05 07:50] mfonville commented on #129
Are you sure your recovery supports f2fs properly? Because the information reported by your recovery is that the partition is 817152KB and 633816KB is already used, and only 169000KB is available. The further calculations done by Open GApps with this information are correct.
So please inspect (from e.g. a file explorer) within your Android OS itself whether you *really* only have 169MB available,

[2015-10-05 16:47] moore-bryan commented on #129
It claims to, at least. I've asked the developer to step-in and answer some of the "nuts-and-bolts" questions to which I don't have answers.

[2015-10-06 08:46] sampalmer opened #131 "Random reboots when removing system apps"
### Problem

Installing Open GApps caused random reboots on my phone. Android didn't even shut down; it just spontaneously restarted.

### When it occurred

* Typically after signing into the Google account during the initial setup wizard
* Also happened after skipping the Google account setup in the initial wizard and then going to the home screen
* Also happened when using Titanium Backup to res

[2015-10-06 09:48] mfonville commented on #131
Thank you for properly researching your problem before filing the issue. It is a very weird problem that this appears when removing these apps, since (with the exception of 'Themes') none of those are really integrated with the rest of the system. And personally I actually use all these removals too, on my GT-i9300, but never experienced the issue.

If the reboots happen so frequent, could you may