[2015-10-06 11:45] mfonville commented on #13
With the implementation of libhoudini this is fixed.

[2015-10-06 11:45] #13 closed

[2015-10-06 11:53] mfonville opened #132 "Creation of a "super" package"
Since Google did drop some apps from the Nexus stock images, but we do have official names for them, and people installing and depending on them e.g. Google Earth, we can make a "super" package that contains these apps, and keep "stock" equal the latest offical Google stock experience.
We can also include the less used packages, like international keyboards, Google Fi, Android for Work etc in this

[2015-10-06 11:58] mfonville commented on #118
I would really like to merge this, before we are going to work on the "super" package and merging my "tv/leanback" branch, so please still test if possible, otherwise I will just merge at some point :-/

[2015-10-06 16:52] rapperskull commented on #118
I would like to help, but I don't have any other device beside my Nexus 5.
Maybe we can put an announcement on opengapps.org to find arm64 and x86 volunteers.

[2015-10-06 17:47] rapperskull commented on #132
I just made a list of apps contained in the Nexus 6 factory image and filtered only the ones with the package name containing "google". We should now filter only the ones we don't already include and select the ones worth adding.

File path | Package name
--------- | ------------
/system/app/Books/Books.apk | com.google.android.apps.books
/system/app/CalculatorGoogle/CalculatorGoogle.apk | com.goo

[2015-10-06 20:16] mfonville commented on #118
@mc1100 did test the arm64 version, and all was right. And of @deadman96385 I know that his temporary hack worked, so I will now just merge it.

[2015-10-06 20:16] #118 closed

[2015-10-07 08:22] mfonville commented on #132
imho to be added to the super apps (if they don't give issues):
File path | Package name
--------- | ------------
/system/app/DMAgent/DMAgent.apk | com.google.android.apps.enterprise.dmagent
/system/app/GoogleHindiIME/GoogleHindiIME.apk | com.google.android.apps.inputmethod.hindi
/system/app/GoogleJapaneseInput/GoogleJapaneseInput.apk | com.google.android.inputmethod.japanese
/system/app/GooglePin

[2015-10-07 12:19] rapperskull commented on #132
I completely agree on the "Super" list, while we should be cautious with the new "Stock" apps.
Google Contacs and Google Dialer gave many problems in the past, and that's why they're not included in standard GApps (also because they're not on the Play Store).
The same applies to Calculator and PackageInstaller, that are new in Marshmallow, since the 5.1 factory images ship with the AOSP ones. We h

[2015-10-07 13:12] mfonville commented on #132
I am btw thinking, maybe GoogleCalculator (if it works) should even go in 'mini' just like the deskclock and nfctag.

Google Contacts and Dialer will require indeed a lot of testing, to see if they are compatible with AOSP ROMs. And we should also research whether these two can only be installed together, or whether having just 1 installed works too.

Calculator requires SDK 23, so that one will o

[2015-10-07 13:53] rapperskull commented on #132
I also made a table with the minimum SDK required, but it's not very accurate, since many packages were found in previous factory images too.

Name | Package name | MinSDK
---- | ------------ | ------
Calculator | com.google.android.calculator | 23
Device Policy | com.google.android.apps.enterprise.dmagent | 1
Google Hindi Input | com.google.android.apps.inputmethod.hindi | 14
Google Japanese Inpu

[2015-10-07 14:05] inder4u commented on #99
Sorry for delay, I am getting .
--------------------
Recovery does not support transparent compression.

Your ROM uses transparent compression, but your recovery does not support this feature,resulting in corrupt files.

BEFORE INSTALLING ANYTHING ANYMORE YOU SHOULD UPDATE YOUR RECOVERY AS SOON AS POSSIBLE, TO PREVENT FILE CORRUPTION.

error code: 30
-------------------------
DEVICE:  YUREKA
ROM:

[2015-10-07 14:07] mfonville commented on #99
It clearly states what you should update, you should *update* your recovery (that is: TWRP).

[2015-10-07 14:13] inder4u commented on #99
But that is the latest release. 2.8.6.0. But in latest snapshot built ROM (i.e. today's release) no problem with TWRP 2.8.6.0, open gapps working flawless. I am getting this error on the nightly release only.

[2015-10-07 14:16] rapperskull commented on #99
A little bit of googling reveled that there's also TWRP 2.8.7.0 (unofficial?). Maybe you can try it.

[2015-10-07 14:17] inder4u commented on #99
Ya, but not for tomato build.

[2015-10-07 14:19] mfonville commented on #132
I propose to make the "super" package only 5.1+ since 4.4. is for sure incompatible with some of the extra stuff and usage is dropping, and 5.0 is already a small user base and will shrink probably very quickly coming months.
Also I would only do Contacts+Phone on 6.0+, since we *know* of the issues on Lollipop, and only with 6.0 they introduced their own contacts app.
Calculator, Packageinstaller

[2015-10-07 14:20] rapperskull commented on #99
I don't know your device, but I read "tomato" [here] (http://forum.xda-developers.com/yureka/orig-development/recovery-twrp-2-8-4-0-touch-recovery-t3004699). Maybe you can give it a try.

[2015-10-07 14:26] mfonville commented on #99
It is behind registration (and I don't have an account), but you might find it here: https://www.reddit.com/r/Android/comments/3fwhdb/twrp_2870_for_yu_yureka_tomato/

[2015-10-07 14:27] mfonville commented on #99
Ok, login 'bugmenot' 'bugmenot' did wonders, check this out: https://s.basketbuild.com/devs/vishal_android_freak/yu/yureka/

[2015-10-07 14:27] mfonville commented on #99
(and maybe good idea to back it up, for other users or future use?)

[2015-10-07 14:45] rapperskull commented on #132
It does make sense to have a 5.1+ only "super" package if it doesn't create problems with aroma being based on it, since the other keyboards are available starting from API 14.
As for as the Google Contacts app, I have it on my 5.1.1 Nexus 5, so it's not new in 6.0. We're also not sure that Phone and Contacts will work on 6.0 AOSP ROMs and we need testers.

[2015-10-07 14:54] mfonville commented on #132
We can make the aroma config generation more dynamic per android version. That is no problem.

I thought that the folder of the contacts app was new compared to the nexus 5? Or was that also the same? Anyhow, we will need indeed testers for 6.0 GApps, especially for that Contacts+Phone, but I am sure we can find those on XDA. Let's just assume for now that they would work on 6.0. We can always cho

[2015-10-07 17:45] rapperskull commented on #132
I've already coded a large portion of the new logic, and I'm going to commit later.
I found out that ConfigUpdater has been included since Android 4.2, so I added it to the Core base.

[2015-10-08 10:52] mfonville commented on #132
I did now create 'superpackage' branches for the source repos that contain the new APKs that we do need to build the new packages.

[2015-10-08 14:07] Asvel opened #134 "Stock WebViewGoogle is always removed"
[Line 711-715 in inc.updatebinary.sh](https://github.com/opengapps/opengapps/blob/a2928a0687323daaa0d6d216789004d33aeff57c/scripts/inc.updatebinary.sh#L711) will always remove WebViewGoogle, even if the installed package doesn't include WebViewGoogle.
And, that stock WebViewGoogle maybe the only WebView, so there won't be any WebView in system after installing.

[2015-10-08 17:44] rapperskull commented on #134
I don't see anything at lines 711-715. Is it a mistake or you indicated the wrong lines?

[2015-10-08 17:59] Asvel commented on #134
Sorry, it's merely a log. The real lines are:
[code]

[2015-10-08 18:49] rapperskull commented on #134
WebViewGoogle is treated like any other package, that is removed if it's not going to be installed.
Maybe a good compromise is not include it in the removal list of packages that does not contain it.
In this way users of the stock+ packages will not experience changes to the behavior.
I already developed a change, and it's scheduled to go live alongside the new "super" package, that will bring BTW

[2015-10-08 22:19] bgiesing commented on #132
@mfonville Just to add to the super list, we should have Inbox as I know a lot of people would love to have that in system replacing Gmail.

[2015-10-08 23:27] mfonville commented on #132
@bgiesing We will start conservative and start with the apps that we have "official" paths for, as they are on Nexus devices. Other popular apps can be added later, but we should make some ground rules for which&how, to maintain consistency.

[2015-10-09 14:30] zeorin opened #135 "Not possible to flash on Genymotion, just copies to /sdcard/Download instead."
When I try to flash any of the x86 Gapps packages to a Genymotion AVD, the zip file is copied only, instead of copied and flashed.

Genymotion tries to ascertain whether a dragged & dropped zip file is a flashable archive by running a script: `check-archive.sh`. If it looks like a flashable archive, it'll run ask if you want to flash it and run `flash-archive.sh`.

When I run these commands from t

[2015-10-09 14:39] rapperskull commented on #135
Our package is not a standard flashable package that simply unpacks on top of /system. It has very advanced logic that requires the ash shell, as found in TWRP.
Many other recoveries miss some indispensable commands, and are not compatible with our package.
What I understood at first sight is that your emulator does not have a real "modern" custom recovery, and simply tries to unpack the ZIP file,

[2015-10-09 14:45] zeorin commented on #135
OK, thanks for your feedback. I thought it might be a long shot. I'll contact Genymotion and see whether they'd be willing to support this.

[2015-10-09 14:45] #135 closed

[2015-10-09 17:07] Sodivad opened #136 "StockCamera removed although +CameraStock in .gapps-config"
Hi i would like to report that my camera was deleted even though I included +CameraStock in my config.
Here is the log of my second attempt where I tried if +Camera would have the desired effect and only the Documentation was wrong. You can see it would have removed my stock camera if it would have been present. The first flash was clean (data wiped).
I cant upload my log so here is a gist:
https:

[2015-10-09 17:11] rapperskull commented on #136
You need to provide the debug logs, otherwise we can't help you.

[2015-10-09 17:23] Sodivad commented on #136
Here are the debug logs:
https://drive.google.com/file/d/0B6CU6g-V1x9dTjVLQnZaOFJiaTQ/view?usp=sharing

[2015-10-10 00:54] Tom-Neverwinter opened #137 "prompt to force install"
This is a really annoying issue with cm and aosp; http://pastebin.com/tWnuaT9D
 I formatted and this still comes up. I want to force install normally.

"Force clean install Setting

Open GApps normally detects if it's a clean install or an upgrade. This affects how Camera and Keyboard apps are treated, it won't install those unless this is a clean install to avoid problems during upgrades. User mi

[2015-10-10 02:39] USBhost commented on #35
O! Can't wait to try this on my nexus player
If you need any testing I'm here

[2015-10-10 07:13] sampalmer commented on #131
I've got one logcat dump filtered to Error logs only, but GitHub isn't letting me upload it. I might try again later.

I had a go at pinpointing which removal caused the problem, but unfortunately, I couldn't do it. The issue might be more intermittent/random than I thought, so I thought I'd narrowed it down to the bad removal, but the problem didn't happen.

That's about as much as I'm willing to

[2015-10-10 08:38] mfonville commented on #137
I think you misinterpret what was written in the Wiki.
Force a "clean install" is that the script will treat the device as if the /data/ partition was clean, not that other conflicts, like other GApps installations, are ignored.
You should first wipe your /system/ and reflash your ROM when switching GApps. This will not lose you any data.

CC @eugenesan

[2015-10-10 08:38] #137 closed

[2015-10-10 08:45] mfonville commented on #136
I did review the debug log and looked at our installer.
And the conclusion is, IF googlecamera is to be installed, the stock camera is ALWAYS removed.
I also looked at the documentation at https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#removal-of-stock-applications and nowhere it is descrbied that +Camera or +CameraStock would be a processable option.
This is, because bo

[2015-10-10 08:45] #136 closed

[2015-10-10 08:49] mfonville commented on #131
You can try to upload the logcat as a gist maybe? Otherwise use Google Drive or Dropbox to share it with us. We can always take a look.

If it is hard to troubleshoot and we cannot find the exact cause/source of the problem I suggest to close the bug until we get more insights.

[2015-10-10 09:01] Sodivad commented on #136
Ok thanks anyway!

[2015-10-10 09:19] mfonville commented on #35
@USBhost I am almost done with the code, so for sure I'll hold you to that promise in the near future ;-)

[2015-10-10 15:02] USBhost commented on #35
will do

[2015-10-10 20:16] robinharmsen opened #138 "SecurityException with Google Partner Setup"
This issue was first reported to Cyanogen, but they refferd to you for this issue.

After PowerUp  the message "Google Partner Setup is terminated" is shown. After "close" it doesn't appear again until the next PowerUp.

It is a java.lang.SecurityException with the following description: "Neither user 10023 nor current process has android.permission.READ_PHONE_STATE."

Hope you will be able to res

[2015-10-10 20:59] mfonville commented on #138
Could you give us a full logcat of the error and the debug log of your open gapps installation?

[2015-10-10 22:21] sampalmer commented on #131
Good idea! I've uploaded it as a Gist here: https://gist.github.com/sampalmer/e8fb732eb751b04a24b3

From memory, that logcat dump was taken after a reboot crash happened during a Titanium Backup batch app data (not APK) restore.

Yeah, it's fine with me if you close the issue. To me, the main thing here is users are warned that they *could* have problems from removing the stock apps. I think it'd

[2015-10-11 00:22] Djfe opened #139 "aroma installer x86 version available?"
is there a way to get the aroma installer working on x86?
do I have to compile it myself or does it only work on arm right now?

[2015-10-11 07:42] mfonville commented on #139
The aroma binary is only available for arm at the moment. We are still waiting for the new libaroma ( https://github.com/amarullz/libaroma/ ) to be finished before we can use it. That new version should be compilable for multiple platforms.

[2015-10-11 07:49] mfonville commented on #131
Thank you for the Gist. I took a look at it, but damn, what a loads of various errors appear. I really would have the suspicion that something under the hood was broken in that ROM, or that maybe restoring the data of the apps would have introduced some serious issues.

Aside from removing the Themes, I have had zero issues (and many other people too) and removing e.g. a wallpaper shouldn't be abl

[2015-10-11 07:49] #131 closed

[2015-10-11 18:05] robinharmsen commented on #138
Logcat:
https://www.dropbox.com/s/gqh2y2ul7yxwtt2/logcat.txt?dl=0

Debug log
https://www.dropbox.com/s/z0bcxz5btr2hsys/open_gapps_debug_logs.tar.gz?dl=0

[2015-10-11 19:15] mfonville commented on #138
Could you try the build of Oct 4th? It can be found at https://github.com/opengapps/arm/releases/tag/20151004

I have a suspicion what the cause could be, and it was introduced shortly after that date.

[2015-10-11 20:51] mfonville commented on #138
I got now related input from XDA forum that confirms my suspicion. I will fix it right away.

[2015-10-11 20:52] mfonville commented on #138
This fixes it: https://github.com/opengapps/all/commit/ebe0e317622053276a7b7e67be977d682d153ba0

[2015-10-11 20:52] #138 closed

[2015-10-11 21:51] mfonville commented on #138
Still it something that should may need a fix on the ROM side, that the application does crash on a non-existing permission, and it does state that it should be compatible with lower SDK versions, is very weird.

[2015-10-12 07:01] demokritos opened #140 "com.google.android.maps.jar Bad checksum"
Some app crashes immediately after launch.
Logcat message:
[code]
Replacing /system/framework/com.google.android.maps.jar with old one resolves this issue.

I am using CM 12.1 Nightly on Nexus 5 hammerheadcaf.

[2015-10-12 09:27] mfonville commented on #140
Today I have pdated the framework with some original non-deoxed JARs from Android One, maybe that will resolve your problem. Please report back when Oct 13th builds are available and you can test those.

[2015-10-12 13:25] demokritos commented on #140
I built a flashable zip file and flashed it. This issue is fixed.

Thank you.

[2015-10-12 13:25] #140 closed

[2015-10-12 13:38] mfonville commented on #140
Awesome :-)
Happy that someone knows how to build from source!

[2015-10-13 12:26] #134 closed

[2015-10-13 14:02] mfonville commented on #110
We will have to wait for the new libaroma unfortunately. We can't fix it, so I close the issue.

[2015-10-13 14:02] #110 closed

[2015-10-13 14:03] mfonville commented on #129
Are there any updates, whether the space reported is really wrong?

[2015-10-13 14:04] mfonville commented on #132
We now have to wait for @raulx222 to update the Aroma config.
And I have to wait 1 day for the packages to be built, and then I can update the OP.

[2015-10-13 14:06] mfonville commented on #70
A notice: on Android One images most APKs are not odexed, so you can get fully signed APKs straight from Google :-)

[2015-10-13 14:10] mfonville commented on #51
getsourceforapi and other buildhelper scripts got already greatly improved when implementing the new fallbackarch mechanism.
At the moment, there is no more synergy to be gained by merging the sources_helper with the rest of the scripts, since the approach is different (one is extracting APK properties, the other is extracting path properties).

[2015-10-13 14:10] #51 closed

[2015-10-13 14:11] mfonville commented on #116
Done, by creation of the super package.

[2015-10-13 14:11] #116 closed

[2015-10-13 22:45] Blystad commented on #64
Any updates to this?

[2015-10-14 06:26] bgiesing commented on #132
@mfonville I was one of the first people to make an AROMA GApps, maybe I can help? I just need to add the new apps and their keywords, right?

[2015-10-14 06:48] mfonville commented on #64
I had some protyping done for it in a fork, but still had to implement it neatly. It is currently having a low priority on our list. Getting Marshmallow and our Android TV packages ready e.g. takes a lot of our effort at the moment.

[2015-10-14 07:35] Blystad commented on #64
Understandable. Do you have a path to the fork? I might be able to help out :)

[2015-10-14 07:47] mfonville commented on #64
It is only here on my local system, since I wouldn't dare to put that ugly prototype in the daylight :-P

In general it boils down that buildhelper.sh needs to be extended with some code that is currently found within update-binary.sh for selection of the best matching DPI apk.
Ad the targetlocation has to be simplified, dropping the 'keyword' and 'common' and '$dpi' from the target path.

[2015-10-14 21:21] mfonville opened #141 "Allow keyboard swype libs to be installed as optional extra"
Since keyboard swipe libs break stuff for most users, but some still do want it, we could bundle them as an optional (non-default extra).

[2015-10-14 21:25] mfonville opened #142 "Facelock from Marshmallow is broken on Lollipop"

[2015-10-14 21:52] foresto commented on #141
For the record, gesture typing works fine for me with recent cyanogenmod 12.1 nightly builds + cgapps.

[2015-10-15 09:04] mfonville commented on #141
Could you test if gesture typing did work in the build of 13 October 2015? We used the Marshmallow libs in that version, and I would like to know if those do not pose issues with CM 12.1

[2015-10-15 11:50] mfonville commented on #132
@bgiesing It seems @raulx222 more busy than expected, so if you could pick this up that would be very nice. Indeed just adding the new apps and their keywords, and if necessary move/update the indication of what is included in Stock and Full.

[2015-10-15 12:15] edouard-lopez opened #143 "Can't install on i9100 / Galaxy S2"
Install failed with CyanogenMod 12.1 [snapshot](https://download.cyanogenmod.org/?device=i9100&type=snapshot) due to lack of space.
[code]

And Open Gapps `pico`/`ARM`/`5.1` :

[code]

Here is the log file:

[code]

[2015-10-15 12:43] mfonville commented on #143
Could you also upload the debug log somewhere?
And where did you get the lack of space error? Within the opengapps installer?

[2015-10-15 13:01] edouard-lopez commented on #143
@mfonville the space error came from [TWRP](http://teamw.in/) log.
I only have the previous log on my data partition

[2015-10-15 13:07] mfonville commented on #143
@edouard-lopez hmm, interesting stituation. Could you check if the lack of space error is actually for the /system/ partition or that another partition (like /tmp) triggered the error?

[2015-10-15 13:16] edouard-lopez commented on #143
@mfonville how can I see that? I'm on Linux Mint (~Ubuntu) and can't

Here is `heimdall print-pit` output

[code]

[2015-10-15 13:34] edouard-lopez commented on #143
I manage to install it through CyanogenMod Recovery.

[2015-10-15 13:59] #143 closed

[2015-10-15 17:57] foresto commented on #141
Where can I find old builds?

[2015-10-15 18:08] mfonville commented on #142
This should fix it from 16 Oct build: https://github.com/opengapps/all/commit/f1c6aaf7768f38dc28f6deae9e68586a1f856241

[2015-10-15 18:08] #142 closed

[2015-10-15 18:22] mfonville commented on #141
In the architecture-sources are all the releases published.

But could you please try if this (pico) package works right for you: https://www.androidfilehost.com/?fid=24052804347837879

You should make a gapps-config file and add 'swypelibs' as keyword to it.
Also it should detect any former install of the swypelibs, and then automatically reinstall them (by checking if libjni_latinime.so is a sym

[2015-10-15 18:24] mfonville commented on #143
Ok, happy that it worked for you in the end. If you encounter such issue again, please try to gather the other TWRP logfile too, it contains the exact commands that were executed and their errors.

[2015-10-16 06:12] foresto commented on #141
I'll try to find some more time for testing soon.

In the mean time, are you sure you want to use the word "swype" as the keyword? As far as I know, the library does not come from Swype, Inc. and has nothing to do with the Swype keyboard.

[2015-10-16 08:04] mfonville commented on #141
I see your point, but people tend to refer to gesture-typing as 'swype'-support. It is indeed technically wrong, but I don't see any (legal) issue with using their name as a config keyword. If you have a better 1-word description for these libs that would be very welcome.

[2015-10-16 19:34] foresto commented on #141
Okay, I just tried the package you linked above (open_gapps-arm-5.1-pico-20151015.zip) and the one you posted on xda yesterday (open_gapps-arm-5.1-pico-20151015+v2.zip). Neither one worked.

Before I started, I was running cm-12.1-20151014-NIGHTLY-amami with cgapps, and gesture typing worked.

For the first test, I took these steps:
- copy cm-12.1-20151014-NIGHTLY-amami.zip to sdcard1
- copy open_

[2015-10-16 19:36] foresto commented on #141
I don't see an open_gapps log file anyplace obvious. Do I have to do something special for it to be created?

[2015-10-16 19:55] mfonville commented on #141
It should be created at the location where the zip file is located. Do you flash using TWRP? And is there write access on sdcard1 in recovery?

[2015-10-16 20:05] foresto commented on #141
I flash using Cyanogen Recovery, which is the standard way to install CyanogenMod 12.1. I don't know how to determine whether it has write access to sdcard1.

[2015-10-16 20:18] mfonville commented on #141
Would you be willing to try flash using TWRP? In general it gives better control and gives more feedback/possibilities to gather debug info and troubleshoot.

[2015-10-16 20:19] foresto commented on #141
TWRP doesn't offer a build for the Xperia Z1 Compact.

[2015-10-16 20:22] mfonville commented on #141
Hmm, that is irritating. Then I don't know how/why to help you with collecting the debug file. It *should* try to write it where the zip is located. Other things are beyond my control.
But we do need that debug file to see what goes wrong.

PS: the code that was in those test versions is also in today's daily, so you can flash also any 16 October package.

[2015-10-16 20:26] foresto commented on #141
A couple more interesting things:

In an attempt to return to a fully-working state, I wiped the system and cache partitions again, then re-installed my cm-12.1 build and cgapps. When I rebooted, gesture typing worked again, but pop-up messages kept appearing, telling me that Google Services had stopped. I guess that means there's no clean way to return from open_gapps.

While gesture typing was w

[2015-10-16 20:39] mfonville commented on #141
CGApps has an outdated Google Play Services, but your the data on your /data/ partition can't be downgraded to match that lower version. That causes the FCs.

OpenGApps installs those files (actually it is 1 file and 1 symlink to the other) too for the gesture typing. I just have the feeling that your config-file is not processed, because it uses the same mechanism/location as the debug file.

May

[2015-10-16 21:05] foresto commented on #141
I created /sdcard/Open-GApps/.gapps-config with `swypelibs` inside, and tried again. Still no libjni_latinimegoogle.so, gesture typing, or log file.

[2015-10-16 21:08] foresto commented on #141
I don't understand why the config file should be necessary at all. Isn't the latest version of opengapps supposed to install libjni_latinimegoogle.so if libjni_latinime.so is already present?

[2015-10-16 21:08] mfonville commented on #141
Does the recovery itself produce any kind of log? We currently have literally no clue what is happening inside that black box :-(

[2015-10-16 21:09] mfonville commented on #141
The current package checks if libjni_latinime.so is a symlink instead of a file, then it knows the original lib is not in place, and will then automatically activate the keyword.

[2015-10-16 21:26] foresto commented on #141
While the recovery is installing the open_gapps zip file, it shows some text output that runs off the bottom of the screen. It looks like the word "open" drawn in ASCII graphic block letters (possibly created by figlet).

After it has finished, the recovery allows me to display two log files: /cache/recovery/last_kmsg and /cache/recovery/last_log. The latter contains this:

    - Fixing permission

[2015-10-16 21:32] mfonville commented on #141
Yes, that is Open GApps user-interface output.
But I am interested in the output of the recovery, that what is happening "behind the scenes".

[2015-10-16 21:35] foresto commented on #141
Unfortunately, the log files in /cache/recovery are overwritten by the time I reboot and get a shell to read them.

Perhaps we could learn more if opengapps didn't log that huge banner (which seems to push further output off the bottom of the screen) or if it wrote its log to someplace under the /cache directory?

[2015-10-16 21:42] mfonville commented on #141
It writes its debugs logs to /tmp/ you could attach adb debugger over USB from your computer (I hope that CM recovery supports that) and fetch those?

[2015-10-16 21:43] foresto commented on #141
I've been trying to get adb to work with CM recovery, but haven't had any luck yet. So far, adb just reports the device as "offline".

[2015-10-16 21:49] mfonville commented on #141
Ok. I just found another error, using the debug logs from someone on XDA.
So if we wait for next nightly build (should be a few hours) you can try it again: https://github.com/opengapps/opengapps/commit/cf04e76e927fb58d46f544f9922c51fc1091565a

[2015-10-16 21:58] foresto commented on #141
Okay, will do. Where is that "architecture-sources" place containing all releases published? I'd like to bookmark it.

[2015-10-17 03:28] foresto commented on #141
I just tried open_gapps-arm-5.1-pico-20151017 with a gapps-config.txt file. It still doesn't work.

[2015-10-17 07:02] mfonville commented on #141
https://github.com/opengapps/arm/releases

[2015-10-17 07:07] bgiesing commented on #132
@mfonville Sorry for the delay, I updated it and cleaned some things up in PR #145

[2015-10-17 07:43] mfonville commented on #132
@bgiesing Thanks!
OP also updated, so this is fixed/done.

[2015-10-17 07:43] #132 closed

[2015-10-17 07:43] #139 closed

[2015-10-19 11:38] mfonville commented on #64
@Blystad I see you are forking and working on the AOSP build system (but not be merged yet). Does everything go well for that? If you need any help or feedback don't be afraid to e.g. add me on Hangouts :-)

[2015-10-19 11:43] Blystad commented on #64
Yep :) It's going well. I originally went the route of code generation, based on the existing shell script system. But Android doesn't really like to first generate Android.mk files, and then add them. Android prefers to scan all Android.mk files and then do stuff afterwards. This resulted in having to run `make opengapps` and then `make`.

So, what I'm looking into now is to have a very simple An

[2015-10-20 08:22] inder4u commented on #99
Hey, Today i have updated to TWRP 2.8.7.0, and found its working with TWRP 2.8.7.0. in both nightly and snapshot release... :) .. Thanks.

[2015-10-20 08:29] mfonville commented on #99
Super!
Maybe you can mirror that TWRP somewhere and write something somewhere to point other users to the solution, because it will become for sure a more frequent problem over time (people often don't update their recoveries) and it not only impacts Open GApps, but everything they do from their recovery.

[2015-10-20 18:02] Blystad commented on #64
Just a update from my end:

I now have a working AOSP based build system on https://github.com/Blystad/opengapps_aosp_build/tree/initial_version for Android version 5.1. I have used it to build a ROM with the Micro variant.

The system is capable of enabling/disabling features, libraries, etc. based on both version selected (`GAPPS_VARIANT` property) and `PLATFORM_SDK_VERSION`.

I have generated a

[2015-10-20 18:10] mfonville commented on #64
I will check out your code when I'll have the time (probably in the weekend).
I do like your whole 'new' modular approach, it seems well thought through and designed :-) .

The crazy libs are not allowed to be extracted from the APK. It is a silly recent (Chrome v43 or so) development from the Chrome/ium team, that use an alternative linker. Their 'normally' bundled .so libs are only a pre-loader

[2015-10-20 19:05] Blystad commented on #64
Alright, I'll find a way :)

I merged stuff into my master branch now after having added GPLv3 license (just using same as on opengapps/opengapps), and basic documentation.

[2015-10-22 17:25] mfonville commented on #64
Ok, very nice. If you want, we could look at how we could upstream/combine this code somehow, to make it more maintainable in the long run, or whether it would be best to keep it separate.

I see e.g. the function in core/find_apk.sh, which has a copied function, but maybe could benefit from an include instead.

It would definately need some planning and refactoring though and add maybe some autom

[2015-10-22 18:30] Blystad commented on #64
My first suggestion is that we move the code from `Blystad/opengapps_aosp_build` to `opengapps/aosp` or something. I would like to retain contributor rights, as I plan on fixing more overrides and eventual issues in the near future.

Regarding if it's best to merge the two, or keep them seperate, it really boils down to complexity. I think I would prefer keeping them seperate, and here is why:
If

[2015-10-22 18:36] mfonville commented on #141
The libs included were broken, because of a silly mistake. It should now work and I have received a lot of feedback that it does, so I consider it fixed :-)

[2015-10-22 18:37] mfonville opened #150 "Libs should be in sdk-folders"
Since libs seem to break between e.g. kitkat, lollipop and marshmallow, best would be to put them in sdk-folders, just as we do with APKs. This way, the correct lib could be picked when building a package.

[2015-10-22 18:45] mfonville commented on #64
Keeping it separate and e.g. it hosting in a repo like ```opengapps/aosp ``` seems good to me. Is there a better name for the Android Build system than just 'aosp' that could be more descriptive?

About the dpi-naming scheme, I wish we could use hdpi, xhdpi etc, but unfortunately we can't, because the APKs actually don't stick to it at all :-(
Their ordering is not adhering those names, sometimes

[2015-10-22 19:26] Blystad commented on #64
Maybe `opengapps/aosp_build`?

Seems I can get the display DPI from the property `ro.sf.lcd_density` in build.prop and if it isn't specified it should be default to mdpi (160) ( https://github.com/android/platform_frameworks_base/blob/master/core/java/android/util/DisplayMetrics.java ).

Should be fairly simple to sort based on that, and I can get that property from `PRODUCT_PROPERTY_OVERRIDES `.

[2015-10-22 19:31] Blystad commented on #64
To transfer the project to opengapps/* we have two options.

Either I need to have admin rights to opengapps (ref: https://help.github.com/articles/transferring-a-repository/#transferring-from-a-user-to-an-organization ). But I'm fully understanding if that is a bit difficult :)

Or, you create a repo, and just clone my repo (not fork via the UI). Then everything should be fine. All work is on the

[2015-10-22 21:02] mfonville commented on #64
@Blystad alright, all done :-)
You are in charge of the team and the repo

I now declare this bug "closed" haha ;-)

[2015-10-22 21:02] #64 closed

[2015-10-22 21:03] mfonville commented on #5
Since we now have the Super package, this issue is resolved, and for Marshmallow even more packages will be added the core :-)

[2015-10-22 21:03] #5 closed

[2015-10-22 21:14] Blystad commented on #64
Thanks :)

[2015-10-22 21:23] mfonville commented on #64
Thank you, for your hard work :)
Do you have btw an XDA-handle ? Then I could highlight your efforts on the Open GApps OP.

[2015-10-22 21:52] Blystad commented on #64
I had one with a nickname that was cool when I was 14 :) I registered a new account with the name `blystad`

[2015-10-22 22:10] mfonville commented on #64
Lol. I am still going strong with the 14-year one as you can see (not on github luckily)

[2015-10-23 03:28] jezzaaa opened #151 "bkup_tail.sh fails to calculate storage needed"
My ROM upgrades have been failing due to a bug in bkup_tail.sh.

This line requires the double quotes to be removed:

    installed_gapps_size_kb=$(cd /system; du -ak "$(list_files)" | awk '{ i+=$1 } END { print i }')

Otherwise the list of files to backup are treated as one huge filename, which doesn't exist, and hence contains zero bytes.

More details in my comment against commit https://github

[2015-10-23 08:13] mfonville commented on #151
Thank you for finding the error, debugging and handing the solution to us :-)
I will fix it ASAP

[2015-10-23 08:14] #151 closed

[2015-10-26 23:41] mfonville opened #153 "Google dropped some apps from Nexus 6P"
Google+, Docs, Sheets, Slides, Fitness, Keep, News & Weather, Books, Newsstand, Ears
are not on Nexus 6P Stock.

We could bring our mini-package in line with this new 'small stock' set, and e.g. drop G+.

Any opinions?

[2015-10-26 23:46] NicholasBuse commented on #153
Not even as stubs huh?

[2015-10-27 11:11] moore-bryan commented on #129
Sorry for taking so long to respond; life.

If I reformat the partition ext4 and then have TWRP "resize" it, I can
install BaNKs no problem, but not OpenGapps.

--
*B.Moore*

On Tue, Oct 13, 2015 at 10:03 AM, mfonville <notifications@github.com>
wrote:

[2015-10-27 12:11] mfonville commented on #129
You are aware that BaNKs contains much less apps, right?
You are at the moment trying to install the 'full' package, which is quite large. You only have 169MiB available, and install e.g. the micro package.

[2015-10-27 13:48] mfonville commented on #153
Nope, not even stubs. They really slimmed it down.

[2015-10-27 16:14] moore-bryan commented on #129
I've tried all the packages offered by opengapps and pico and nano will
install, but won't allow me to update any apps or install new ones claiming
"no space."

On Tue, Oct 27, 2015 at 8:11 AM mfonville <notifications@github.com> wrote:

[2015-10-27 17:00] mfonville commented on #129
It is weird that they wouldn't allow you to update or install any new apps, since those would be on the /data/ partition and not on /system/.
Are you sure your device's partitions are in good shape and that your ROM and kernel fully support f2fs?

Also I do find it weird that your ROM is using a 600MiB, while most ROMs use around 500MiB, and that your /system/ partition is so small with just 800Mi

[2015-10-27 18:53] moore-bryan commented on #129
I'll try to get him involved... I'm certain the rom & kernel are f2fs
compatible, as they're both from khaon.

Thanks so much for your help!

--
*B.Moore*

On Tue, Oct 27, 2015 at 1:00 PM, mfonville <notifications@github.com> wrote:

[2015-10-29 16:30] TheCrazyLex commented on #93
Hey,
I can help you to create some ROM side tweaks :)

I have a commit ready to auto grant needed permissions for core google apps already.

Maybe I can help you you on the prebuilt library thing too ^^

Alex

[2015-10-29 20:08] rapperskull commented on #93
Hi,
feel free to make a pull request with the changes. Contributors are always welcome.

[2015-10-29 20:11] TheCrazyLex commented on #93
Hi,
@rapperskull but my patch is on ROM level, it applies on frameworks_base.

[2015-10-29 20:15] rapperskull commented on #93
OK, then you'll have to share it with ROM devs. We are currently looking for a way to grant the permissions without any change from the ROM side, but if this patch will become mainstream all ROMs will support it and everything will be easier.

[2015-10-29 20:20] TheCrazyLex commented on #93
Maybe if you won't find a way, you can create that repository for reference to ROM devs, so they can directly cherry pick from there?

Also it would be cool if you could share the list of apps to which I should grant permissions ^^

Alex

[2015-10-29 20:30] rapperskull commented on #93
All apps from the core package need to have granted permissions by default, and also all the apps that cannot be installed from the Play Store, like Google Play Store itself, Google Calendar Sync, Face Unlock, Google Exchange Services, Android for Work, GCS, Google Play Services, Google NFC Tags, Sound Search (since the Play Store version is outdated), Google Webview and DMAgent.

[2015-10-29 21:28] mfonville commented on #93
@TheCrazyLex Thanks for your help.
@rapperskull he did respond to the issue because of the blogpost I wrote: https://plus.google.com/+OpengappsOrg/posts/CmfvzqwQZM7

So the best would be a double approach, both a script in our package, trying to fix the permissions.
But fixing it ROM side first, and making that patch popular, is even more important, because then we'd have a reference for what the

[2015-10-29 21:51] TheCrazyLex commented on #93
@rapperskull @mfonville Ok, thank you, very good list :+1:

And I should really grant ALL permissions to these apps?

[2015-10-29 22:06] TheCrazyLex commented on #93
Also I don't really understand the logic of the issue with the prevuilt libraries... I would like to fix, but need to understand first.

[2015-10-30 13:56] mfonville opened #154 "Don't delete AOSP usr srec when not installing speech"
Currently we always delete /usr/srec/ during installation, but if not installing Google's speech files, we maybe should leave the AOSP files that *can* be there intact.

[2015-10-30 15:12] kabouin commented on #154
Hello,

I'm the one that reported this issue by email. Thanks for opening this issue.
I don't know exactly how do you plan to fix this, but it would be great to prevent the removal of `/usr/srec` when Speech package is excluded in `.gapps-config` file.

Thanks!

[2015-10-30 15:32] deadman96385 commented on #93
@TheCrazyLex I was wondering if you could upload your changes to enable perms on google apps by default i am trying to make a basic gapps package for an x86 device so i can start getting sdk 23 app versions for open gapps and other users

[2015-10-30 16:19] TheCrazyLex commented on #93
@deadman96385 Yes, I am going to upload the patch to the Exodus Gerrit when ready (during the next 2 days)
I will also need people to test,cause I am not sure if my mechanics can auto allow in time...

Will update you here :)

Alex

[2015-10-30 16:33] mfonville commented on #154
I think we will change the general specified path of 'speech' to /usr/srec/en-US/ instead, since that is the only speech files we bundle.
From the debug logs I received the AOSP files are in /usr/srec/config/en.us/

In that case the files should not be removed anymore. Expect a patch in the coming minutes :)

[2015-10-30 16:37] TheCrazyLex commented on #93
@mfonville

[2015-10-30 16:48] mfonville commented on #154
The fix is live, in tomorrow's build it should be fine.
If you want, you can already check the code and build it yourself with the patch :-)

I'll close the bug, because for 100% certain this fixes the behaviour. If you still find (any other) issues you'll know where to contact us :-)

[2015-10-30 16:48] #154 closed

[2015-10-30 16:55] kabouin commented on #154
Many thanks for your reactivity. I will check that in the next builds =)

[2015-10-30 20:28] mfonville commented on #153
Google+ is dropped from Mini.
The other apps that Google actually *did* bundle with the Nexus 6P, like Play Movies and Play Games are imho not popular enough to be considered for mini.

[2015-10-30 20:28] #153 closed

[2015-10-31 14:56] TheCrazyLex commented on #93
Ok, guys.
I am now at a point where I can start adding all the apps and specifying the permissions.

However I have no 6.0 device here... And on 5.1 the apps need nearly every permission.

Maybe someone with 6.0 can look at all the core gapps (also hidden ones) and tell me which permissions they really need on 6.0

I need your help.

Thanks :)

Alex

[2015-10-31 19:36] TheCrazyLex commented on #93
Ok, if you'll need it.
here is my document where you can see which permissions are required in 6.0 by which apps

https://docs.google.com/document/d/1OR8c1PkVjHT8OEXZvQ92qnOKMVwKoHz4fzB2wqEqVbk/edit?usp=sharing

Alex

[2015-10-31 21:39] TheCrazyLex commented on #93
Ok, my change is ready and online.

@mfonville @rapperskull please review and test it :)

http://exodus-developers.net:8000/#/c/1974/1

Alex

[2015-11-01 12:42] rapperskull commented on #93
I'm not a Java expert, but it looks good. I'm currently not able to test. The only doubt is about the permissions. Are you sure you included all of them? How have you compiled the list?

[2015-11-01 12:48] TheCrazyLex commented on #93
@rapperskull I am pretty sure the permissions are right. What I did is, I found someone from the Exodus community who has a nexus device with a stock google  6.0 image installed and handed him the list.

I asked him to find every app from the list and send me a Screenshot of the permissions used.

Then I wrote them into the list and... Then wrote the code using Google's  own autogrant system.

I c

[2015-11-01 17:31] breversa opened #155 "Femto package with ONLY Play Store (+ dependencies)"
Hi,

Is there any plan to offer a femto package with ONLY the Play Store and its *required* dependencies, and NO contact/calendar sync ?

For privacy reasons, I actually don't want/careabout ANY other Google service, except the Play Store itself. Actually, if BlankStore (https://github.com/mar-v-in/BlankStore) or any other equivalent was functionnal, I would have no use for the Play Store. :-)

[2015-11-01 17:49] mfonville commented on #155
Hi, such a package is not in the planning.

The problem for what you would want, is that the Play Store depends on Google Play Services, which handles pretty much anything related to any Google service on your device. So Google Play Services does e.g. provide afaik (most of the) sync services, and e.g. calsync and contactsync are I believe mostly wrappers (but we can't check, since we cannot see G

[2015-11-01 17:49] #155 closed

[2015-11-01 17:54] breversa commented on #155
Thanks for your quick reply !

What do you mean by "would not stop sending data to Google" ? What I usually do after installing the pico package (with Calsync exclusion, so that's already something that can be removed) is manually remove several apk file, among them ContactSync (I can't remember the exact name at the moment)… and so far, it has worked pretty fine. So why not take them out of the p

[2015-11-01 17:55] mfonville commented on #93
@TheCrazyLex thanks for your work. Unfortunately I have no 6.0 device myself, so we are dependent on when @rapperskull will have time to do so.

[2015-11-01 18:08] mfonville commented on #155
Because Google Play Services, the essential background service that provides all account logic, would still be in place and for sure is still sending all your syncable data to Google.

We don't remove them, so that on aosp you can actually take advantage of being able to use your Google account in the aosp frontend applications.

[2015-11-01 18:14] breversa commented on #155
… except if I use features like CyanogenMod's Privacy Guard to prevent them from reading my contacts. Or is it pointless anyway ??

That's why I suggested another package, not removing stuff from the current other packages. :-)

[2015-11-01 18:37] mfonville commented on #155
Using Privacy Guard might help, but totally honest, I have no clue, because these apps are a black box and we can only see their behaviour and not their inner working.

We will not make such a package for the public because it would mean reduced functionality, while from privacy perspective we don't know if it works (imho, best would be to assume google play services grabs and sends everything you

[2015-11-01 18:38] deadman96385 commented on #93
I have a work in 6.0 Rom just no 23 sdk apps for it because it being x86

On Sun, Nov 1, 2015, 11:55 AM mfonville <notifications@github.com> wrote:

[2015-11-01 18:46] TheCrazyLex commented on #93
@mfonville maybe I can help to resolve the other 6.0 issues too? Just tell me what to do :)

[2015-11-01 18:52] breversa commented on #155
Thank you for your hints ! I'll look forward into both BlankStore (there has been an update in october 2015 !) and also into inc.buildtarget.sh, though I don't know how to build a custom package yet. :-)

[2015-11-03 17:00] gladiac commented on #93
Only granting permission by the package name open a security hole. You could install an app with the same name and get the same privileges as the gapps!

You should also check the signing key of the google app!

[2015-11-03 17:02] gladiac commented on #93
However,  how is this done on a stock ROM? Did someone check the framework code?

[2015-11-03 17:24] TheCrazyLex commented on #93
@gladiac well I've done it in the style Google does it with the stock phone app etc.

Also it is not a security issue as Android for example automatically grants preset permissions to any browser. So if my patch is a security issue then Android has a big security issue too.

Also the user decides by himself what he installs from unknown sources and what he doesn't.
Play Store is 100% safe in this

[2015-11-03 17:24] TheCrazyLex commented on #93
And all these packages are core packages, means included in every Gapps install

[2015-11-04 08:52] mfonville commented on #93
@TheCrazyLex
One of the other "big" issues that is still open, is that Google's ROMs apparently accept APKs where the libs are still inside the apk, and they are loaded/extracted on-demand. While the AOSP ROMs still expect the libs to be pre-extracted. If you could look into that issue? What causes the difference in behaviour? If that would be fixed, we would be good to go!

[2015-11-04 19:34] Ghent opened #156 "Gesture typing does not work with AOSP keyboard"
Using AOSP keyboard doesn't work.  According to various articles on the Internet, this may be caused by a missing libjni_latinime.so in the system\lib directory.  I've been unable to confirm this.

[2015-11-04 22:08] TheCrazyLex commented on #93
@mfonville I will look into it :)

You are saying that it was working in 5.1.

I mean this extracting on-demand

Alex

[2015-11-04 22:26] mfonville commented on #93
No, in 5.1 it wasn't working, 5.1 needed the pre-extracted libs. But that was on both aosp and Google ROMs the same.
But now, Google ROMs seem to be able to do it on-demand, but aosp not.
So Google is doing a trick that ain't in aosp (enabled?) (Yet?)

[2015-11-04 22:51] TheCrazyLex commented on #93
@mfonville it is normal, that Google doesn't publish all code....

Most probably we have no chance :(
I will however recheck

Also I wouldn't say it's a deal breaker/blocker issue as you had to
pre-extract libs in 5.1 too.

What do you think?

Alex

[2015-11-05 08:24] mfonville commented on #93
It is not a deal breaking or blocking issue per se, *but* since on Marshmallow all APKs need to be fully intact (and thus the libs are not allowed to be removed) it takes much more space on /system/ if the libs are stored twice, once within the apk, and once pre-extracted.

Also it negatively influences our "For Stock" flashing method, that does support flashing on stock ROMs. (Since that one woul

[2015-11-05 14:54] Gfunk117 commented on #35
whats the progress on an arm variant of opengapps leanback?

[2015-11-05 17:36] deadman96385 commented on #93
I think i have found the code that allows libraries to be in apk's as well as a way to enable it on aosp builds i am build a build now with my changes i will let you know on the results

[2015-11-05 17:39] TheCrazyLex commented on #93
@deadman96385 Awesome man! :)

Please share the code so I can take a look :)

I think the permission issue is closed now, the code is stable and working.

[2015-11-05 17:50] deadman96385 commented on #93
Here is the commit for it, i am currently making a test build with the default set to false https://github.com/CyanogenMod/android_frameworks_base/commit/ff193d642eea7128faad837d19e347cd25212c27

[2015-11-05 18:05] gladiac commented on #93
Why not check the signature of the apk in additon? I increases the security and isn't hard to do ...

[2015-11-05 18:06] mfonville commented on #93
I got an extra update for what @deadman96385 did find.
That method requires that the libs are not deflated, but 'stored' in the APK.
Something that is done with the APKs on the nexus image, but not with APKS from the Play Store.
So I will add something to the build script to fix that.

[2015-11-05 18:29] TheCrazyLex commented on #93
@mfonville @deadman96385 Good work guys :)

@gladiac I will look into it.

[2015-11-05 18:59] mfonville commented on #93
This will make sure that the libs are stored uncompressed within the APK, when building for Marshmallow: https://github.com/opengapps/opengapps/commit/90b34ea1d91aa35ebe1853fb6f74cfdb4489889f

[2015-11-05 19:20] mfonville opened #157 "Rename Hindi to Indic"
Hindi Inputmethod has been renamed to Google Indic Keyboard and now supports more languages
We could consider changing the keyword from hindi to indic.

Any thoughts?

[2015-11-05 19:41] NicholasBuse commented on #157
https://github.com/opengapps/apkcrawler/commit/1f8b40bd0111bad18852f018e5015028890e6674

I can update the keyword when we decide :)

[2015-11-05 20:23] TheCrazyLex commented on #93
@mfonville does that mean your commit in combination with the cm commit resolves the issue?

[2015-11-05 20:25] deadman96385 commented on #93
The commit is a aosp commit and his new commit fixes it so that no change is need to the rom for it work i have just tested it.

[2015-11-05 20:27] TheCrazyLex commented on #93
@deadman96385 So that means we are good to go and this issue can be marked as resolved :)

Alex

[2015-11-05 20:30] deadman96385 commented on #93
Yep you are corrected

[2015-11-05 20:32] TheCrazyLex commented on #93
Ok, last thing to do which isn't critical would be add more security by verfifying the signature.

Maybe @gladiac can help, as he said it is easy to do so :)

[2015-11-05 21:44] rapperskull commented on #157
It's probably the best thing to do.

[2015-11-05 22:08] mfonville commented on #93
Thank you all for your hard work :-) and good collaboration between all parties!
The bug can finally be closed

[2015-11-05 22:08] #93 closed

[2015-11-06 11:23] Mr-MEX opened #159 "PackageManager"
Boot loop, not working!

Please fix!

[2015-11-06 11:39] bgiesing commented on #159
We Can't do anything without logs and what ROM you are using.

But assuming that you are using Marshmallow, the GApps won't work unless the person who made your ROM has added a patch.

[2015-11-06 22:16] bgiesing opened #160 "[AROMA] New Aroma Installer (dependent on external)"
Looks like the theme got updated for the first time in a while.

I am away from my computer but anybody willing to look into updating it?

http://forum.xda-developers.com/attachment.php?attachmentid=3361463&d=1434244797

@mfonville

[2015-11-06 22:17] bgiesing commented on #160
@raulx222

[2015-11-07 05:35] raulx222 commented on #160
I'll have a look.

[2015-11-07 05:41] raulx222 commented on #160
Our theme is based on that latest theme by Daniiiik49 but with some changes which I made (dark layout, lollipop navigation buttons, and maybe some more minimal changes).

[2015-11-07 08:09] bgiesing commented on #160
Well, it's from the same xda thread, but this user took it and fixed some
bugs as well as updating it for Aroma 3.0

On Fri, Nov 6, 2015, 11:41 PM raulx222 <notifications@github.com> wrote:

To unsubscribe click: <http://email.giesing.cf/u/eJwljktPwlAQRn9NuyQzc-c-ZtEFKpL4CBEjhBW5z9IAogRK9Nfb1G9x8q1OTmqM8ZHqrrmfPl9Pdr_-uH1-_87el7F_7fsZVHRn0T9uu-G0i8Xm6W21YV-ph3a1fdFztbxVDEffHSbtyHg61ruGi3NAYhAwpiwB

[2015-11-07 14:11] rapperskull commented on #159
Commit 6101d8d49a246083ca11b40f1219c825238b3560 should fix this issue, if the problem is the stock PackageInstaller not being removed.

[2015-11-07 16:25] mfonville commented on #159
I actually got feedback now that it does solve the problem, so I will mark the bug as solved.

[2015-11-07 16:25] #159 closed

[2015-11-07 19:33] airend commented on #159
@bgiesing, is the frameworks change needed anymore? Based on @deadman96385's [comment](https://github.com/opengapps/opengapps/issues/93#issuecomment-154180359), it sounded like all is included in AOSP, but I may be misreading it. I'm having the soft/boot loop issue as well, hopefully due to the PackageInstaller bug.

[2015-11-07 19:55] mfonville commented on #159
You do need that patch, otherwise you will get FCs during boot if the permissions are not granted.

[2015-11-08 01:20] invisiblek commented on #159
@mfonville Sean implied the patch wasn't needed on CM gerrit: http://review.cyanogenmod.org/#/c/116418/

[2015-11-08 02:47] invisiblek commented on #159
https://github.com/opengapps/opengapps/pull/161

[2015-11-08 11:00] deadman96385 commented on #159
@mfonville The patch is not needed for CM and CM based roms, aosp based roms still need the permissions patch

[2015-11-08 11:09] mfonville commented on #159
@deadman96385 that clarifies :-)
I will update it in the wiki too.

[2015-11-08 17:24] raulx222 commented on #160
Hmm..

He made some fixes for the Gray theme, also cleared some unneeded files from themes folder. And added the 3.0 AROMA binary to the demo package `Material_Aroma_Theme_v1.02_FIXED-djb77.zip` so our theme is still 'up-to-date' since he didn't touched the Material Green Theme (except the deletion of some unneeded files).

[2015-11-08 17:28] mfonville commented on #160
Maybe we could let some people test with the new binary?

[2015-11-08 18:24] Nikki1993 opened #162 "Can't seem to clone repo"
While cloning repo on Arch I get this

Warning: Permanently added the RSA host key for IP address '192.30.252.128' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Any ideas why it denies permission? any other repo seems to work just fine.

[2015-11-08 19:26] Nikki1993 commented on #162
Solved... it was my ssh key!

[2015-11-08 19:26] #162 closed

[2015-11-08 21:13] raulx222 commented on #160
I'm pretty sure that it's more unstable compared with 2.70RC2, but we could let some people test it with the new binary and see the results.

[2015-11-08 21:41] mfonville commented on #162
:-)

[2015-11-08 21:44] Nikki1993 commented on #162
Can I capture your attention for just a little longer (so I don't have to open another issue)

I synced arm gapps and now I want to build them, using arch 64bit. Got android-sdk platform tools etc.

When running make arm-23-stock terminal gives
Android SDK is required for aapt and zipalign utilities but not installed.

Weird thing is, I have sdk installed and working, for instance typing in androi

[2015-11-08 21:47] mfonville commented on #162
Make sure the SDK tools like aapt are in your path (the environment variable)

[2015-11-08 21:58] Nikki1993 commented on #162
Roger that, will copy it there as I can't seem to fix it anyway, path is right, or so it seems.

[2015-11-08 22:25] mfonville commented on #162
If you run 'which aapt' you can check with one it finds.  Maybe you have an outdated from the os in the primary path?

[2015-11-09 03:44] AnimbusDev opened #163 "6.0 Not Booting"
Will not boot in 6.0, all of the other 6.0 Gapps are horrid, and my 5.1.1 backup failed 80% into restoring /data. Basically, my phone will be messed up until you fix this, then I will be able to use it properly again. Please fix this quickly

Device: Victara
Version: CM13

[2015-11-09 03:59] bgiesing commented on #163
If you used the November 7th or 8th releases, they were broke. Try the
November 9th ones

On Sun, Nov 8, 2015, 9:44 PM AnimbusDev <notifications@github.com> wrote:

To unsubscribe click: <http://email.giesing.cf/u/eJwljrtOw0AQRb_GLqPd8e6Mp9jCSYNEAQjhQBXNvhzjmCDHBuXvscwtTnV1dKJDlABl7w7N43Klob2_64_59DT2-5fXRPQz9Obrs26753a50e14ao4s00MBexjefgujRukvu25juI7l2dkgqmJMOftojZANPnv0XhGCYMZyclP6vtxXhVJUEwsZXd

[2015-11-09 09:15] AnimbusDev commented on #163
@bgiesing when will that be available?

[2015-11-09 09:20] bgiesing commented on #163
It already is

On Mon, Nov 9, 2015, 3:15 AM AnimbusDev <notifications@github.com> wrote:

To unsubscribe click: <http://email.giesing.cf/u/eJwljstqwzAQAL_GPob1ytqVDjo4oVAScqhLml6llWQL54WJafv3Le4c5jhMdEResC5u1x2WO0-f532fbu9vL9207b_2p3Qqcz-Vs8SwjEdv4LUfpXzMx-_HULVw9eWyGVbL_VqPzgMpm3LLwaikgxaM1jBCtt4H1qqe3Zwel58KtwBs2HoWEOIs0XKE7Kkx3oTQJkRhIBIh1WhrWmVRMvzTNKgNksoWfUNWElAiAa3_ltb8ZijPcQnr1NNV2P0CI2FFr

[2015-11-09 09:26] AnimbusDev commented on #163
@bgiesing https://goo.gl/photos/cxqDzVnwpKPPJaSc7
Where?

[2015-11-09 09:52] AnimbusDev commented on #163
@bgiesing That comment came off pretty harsh, I apologize.

Is there an alternative downloads site I don't know about or is it just not pushed to the site yet?

[2015-11-09 12:37] mfonville commented on #163
November 9 is only build for arm64, because there were no packages updated for arm and x86.
I can make a manual build for arm and x86 pico.

[2015-11-09 12:49] mfonville commented on #163
Check out: https://www.androidfilehost.com/?w=files&flid=41081

[2015-11-09 19:48] AnimbusDev commented on #163
@mfonville Can you release Auroma, super, or stock? I like opengapps because of the options

[2015-11-09 19:52] AnimbusDev commented on #163
@mfonville
I figured out what file needs to be deleted to fix the system. So no need to build the more intense packages if you don't want to

[2015-11-09 19:52] #163 closed

[2015-11-09 19:53] mfonville commented on #163
@AnimbusDev No, you'll have to wait for the buildbot for those. I don't have the upload capacity from my own computer to make those available.

I did get btw already the feedback that the last patch works for CM, so we close this bug.

Also, please for such 'support' request instead use XDA, that is more appropiate than directly filing an issue. Also, if you are dependent on your phone I'd also su

[2015-11-09 19:55] mfonville commented on #157
Keyword has been changed!

[2015-11-09 19:55] #157 closed

[2015-11-09 20:06] mfonville commented on #160
Maybe especially those that experience issues with the current release...

[2015-11-12 03:02] AnimbusDev commented on #163
@mfonville I use the aroma package so I just excluded Google Dialer

[2015-11-12 06:28] jawz101 opened #164 "Advanced app usage wiki clarification"
At the bottom of the Advanced Options page the wiki says that new lines don't matter.
Earlier it mentions #comments are ignored.

You can't have it both ways.
If I comment out a package name on a line that tells me the script comments

[2015-11-12 06:30] jawz101 commented on #164
I meant to say that ignores comments are still processed if you use the name of a package inside a comment

[2015-11-12 09:17] mfonville commented on #164
I think you did not understand what the writer meant with "seperate lines", it does not state that the newline character is ignored. I will make it more clear that it does mean empty lines.

[2015-11-12 09:17] #164 closed

[2015-11-14 10:39] innir commented on #156
Did you actually tell the installer to install the swype libs? See the [wiki](https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#swype-libs) for instructions.

[2015-11-15 00:00] USBhost opened #165 "Setup Wizard FC"
arm64
Pico Package
nexus 9
android 6

http://pastebin.com/yzUJdsFb

11-14 23:58:06.340   168   623 D audio_hw_primary: out_set_parameters: enter: usecase(0: playback) kvpairs: routing=2 out->devices(2) adev->mode(0)
11-14 23:58:06.342  2586  2586 I Process : Sending signal. PID: 2586 SIG: 9
--------- beginning of system
11-14 23:58:06.392   652  1659 I StatusBarManagerService: binder died for pkg=

[2015-11-15 10:17] mfonville commented on #165
Marshmallow ROMs needs the permission patc described in the wiki. Without the patch setupwizard will FC.

[2015-11-15 16:17] USBhost commented on #165
I could've sworn pure nexus has that patch

[2015-11-15 17:19] mfonville commented on #165
Could you then try with a larger package that also contains googleTTS (and report back)?

[2015-11-15 17:32] USBhost commented on #165
Will do
Which one has it?

[2015-11-15 18:25] mfonville commented on #165
Micro and up

[2015-11-15 18:28] USBhost commented on #165
going to test now

[2015-11-16 01:04] USBhost commented on #165
@mfonville
update Micro worked!!! googleTTS is needed for Setup Wizard now

[2015-11-16 11:56] mfonville opened #166 "If a stock application is not present, do not remove the Google Variant"
e.g. some ROMs come with a GoogleWebView pre-installed, in that case the stock webview is not available.
Even if Google WebView is then not part of the to-be-installed applications, the path of the Google variant should be removed from the gapps-remove.txt list.

[2015-11-16 16:22] mfonville commented on #165
We had before no feedback of structural problems for flashing it without GoogleTTS, though there were some indications that for some reasons some ROMs did seem to demand it.

To prevent any trouble I now added it to the core set of apps on 6.0.

[2015-11-16 16:22] #165 closed

[2015-11-18 14:51] l2dy opened #167 "x86_64 builds not in daily build"
Website says x86_64 builds will be provided the very moment a compatible device will be released. What does it mean?

[2015-11-18 14:57] mfonville commented on #167
There are no ROMs that are compiled for x86_64
As soon as there are, we will provide GApps packages for it.

(If you have spotted one, you can let us know here)

[2015-11-18 14:57] #167 closed

[2015-11-18 15:27] l2dy commented on #167
Zenfone 2 has a x86_64 kernel. What does ROM mean?

[2015-11-18 15:48] mfonville commented on #167
The whole ecosystem of the ROM needs to be x86_64, so kernel+(lower level) libraries.

Afaik the Zenfone 2 has an x86_64 CPU, but the ROM and kernel are x86. If you do find an x86_64 ROM (so the whole set described above) please let me know. I'd just have to pull a switch to start those builds (all the code is already there) :-)

[2015-11-18 18:23] bendavid opened #168 "Allow replacement of Stock Apps on the smaller packages"
I would like to suggest to add an addition variant containing the subset of "stock" which directly replaces/implies the removal of some default/aosp component.

Motivation for this is for those who would like to install stock but don't have enough space in system on their devices.

On my gt-i9505 (galaxy s4 international) for example I don't have enough space to install stock, but if I install the

[2015-11-18 23:17] mfonville commented on #93
@TheCrazyLex

Hey Alex,

could you maybe make for us a beta patch that also adds the following permissions for the Google Dialer (com.android.dialer)? Because we would like to try if the Google Dialer would work on Stock ROMs, but we think that the lack of permissions is obstructing it to work, and we would like to try it:

   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

[2015-11-18 23:18] TheCrazyLex commented on #93
@mfonville of course :)  I will do that tomorrow as it's pretty late here
for today :)

[2015-11-18 23:19] mfonville commented on #93
@TheCrazyLex Thanks!  it is here late too (it is already 'tomorrow' :-P)
No hurries and sleep well! :-)

[2015-11-19 17:53] TheCrazyLex commented on #93
@mfonville I have prepared a commit, the thing is that Google already grants permissions to the default dialer app. You can even see it in the debug log.

I am adding some additional perms here: However it needs to be tested hard:
http://exodus-developers.net:8000/#/c/2217/1

Alex

[2015-11-19 17:57] TheCrazyLex commented on #93
Also maybe you have a log so I can see what's missing for the dialer? :)

[2015-11-19 18:07] mfonville commented on #93
I don't have a logcat, since I don't have Marshmallow myself. So I also have to work with the feedback I get from others :-)
I will pass this commit on to those busy with it and will report back asap

[2015-11-19 18:27] Ghent commented on #156
I tried this and I believe it worked.  Thank you!

[2015-11-19 18:27] #156 closed

[2015-11-20 10:07] mfonville commented on #129
@moore-bryan do you have any updates? Because I don't know what we could further do to help, since we are just using the information provided by the recovery...

[2015-11-20 10:10] mfonville opened #169 "Make Swypelibs less invasive"
Currently the swypelibs are set up to replace the original keyboardlib.
ROMs seem to work also fine if the Google lib is just installed next to the regular lib.
Such an aproach could also prevent any possible issues for ROMs that are not compatible, since they will just ignore the lib instead.

I was thinking about:
* Always install the google lib to /system/lib/
* Try to make a symlink from the L

[2015-11-20 11:22] moore-bryan commented on #129
Sorry, none... I'm pretty sure it has nothing to do with opengapps and is,
instead, a script issue with f2fs formatting.

Thanks for your follow-up and all your help!

On Fri, Nov 20, 2015 at 5:07 AM mfonville <notifications@github.com> wrote:

[2015-11-20 11:53] mfonville commented on #129
Ok, then I will close the bug :)

[2015-11-20 11:53] #129 closed

[2015-11-20 17:13] moore-bryan commented on #129
Thanks, again, for all you assistance...

On Fri, Nov 20, 2015 at 6:53 AM mfonville <notifications@github.com> wrote:

[2015-11-20 23:30] mfonville opened #170 "buildfile function parameters are unlogical"
The parameters are at the moment switched around compared to the other functions.
We should switch them to be consistent.

[2015-11-20 23:47] mfonville commented on #150
Note to myself: Still have to find an appropiate way to allow the forced bundling of 32 bit libs next to 64 bits libs.

[2015-11-22 11:29] bgiesing opened #171 "[AROMA] Allow UAR with extra file"
Is there a way to have the AROMA version read a config file for extra options?

Why when AROMA is supposed to avoid it for ease of use? Well, we could use it so advanced users that still use AROMA so they can select apps as they install; could still use things not in AROMA like Universal App Removals and any keywords not in the UI (due to nobody updating it or things that we shouldn't make visible

[2015-11-22 12:31] mfonville commented on #171
Hi Brandon, your text is a bit difficult to read, but I hope that I understand it correctly:
you want the Aroma installer to read extra options, that are not available from the Aroma UI itself, are read from an extra optional configfile?

If so, I do not see the real use of this, because imho Aroma is targeted at an audience that doesn't want to mess with config files at all. It would make little

[2015-11-23 14:47] bgiesing commented on #171
@mfonville The reason I use (and I know some others); is not because ease of use or not knowing how to make a config file but instead because of the ability to select apps at install time.

With the text file, you have to edit it before rebooting into recovery or on a separate device. If the installer says you don't have enough space or you want to change your app selection, you then have to edit

[2015-11-23 15:35] mfonville commented on #171
I don't think power users that want to use the Universal Removal feature switch their "set of apps" that often, that they would be using Aroma instead of a simple change to their configfile. The use case is imho very exotic. Implementation would need quite a bit of new code which would have to be thoroughly tested, which is hard with Aroma.
That in combination with that I already have a list of is

[2015-11-23 23:28] mfonville commented on #150
All done. Some code is ugly, but I am sure that will be fixed in the future during more refactoring.
Any bugs that appear with the new code can be reported in this bug even when it is closed.

@opengapps/packagers don't forget to pull the new code in from the main repo if you want to build.

@opengapps/developers please review the new code. It is tested, but probably can be improved at some points

[2015-11-23 23:28] #150 closed

[2015-11-24 14:10] bgiesing commented on #171
Well this is how I have to do it as my computer no longer works, condig files are impossible to use when you have to edit it. And with all the apps I need, UAR are the only way to fit them.

[2015-11-24 15:20] mfonville commented on #171
You can your easily edit your configfile from recovery, just open the command terminal and use e.g. busybox's built-in vi to edit the file.

[2015-11-25 12:22] #170 closed

[2015-11-25 12:24] mfonville commented on #160
@raulx222 it is your call if and how to handle this further.

[2015-11-25 12:25] mfonville commented on #124
@Blystad could you check if this would be possible for the AOSP builds? Because this doesn't apply to this branch of code (anymore).

[2015-11-25 12:25] #124 closed

[2015-11-25 12:31] mfonville commented on #168
Hi bendavid,

thanks for your suggestion. I don't think the situation is that common that it would be appropiate to introduce a new variant for this. Also because it is impossible to make a package that only does the 'replacement' packages, because the Google Launcher that e.g. replaces Trebuchet depends on Google Search, which is not a replacement of a package.

But I do think your use case is co

[2015-11-25 12:58] akar1nchan opened #172 "opengapps arm-6.0 series error"
![](http://ww3.sinaimg.cn/mw1024/6d9bd6a5jw1eydim5xx3cj21jk1jkh7j.jpg)

ERROR Status 6
Installation aborted.

[2015-11-25 14:12] Blystad commented on #124
I'm not 100% sure what ODEXing is...if it's pre-compiling the DEX files, then that's possible in AOSP using `WITH_DEXPREOPT := true` (this calls oat2dex and a lot of other commands. It ends up taking more space, but makes the initial boot time faster).

[2015-11-25 14:21] eugenesan commented on #124
@Blystad Thanks, I am aware of this option in AOSP. I was talking about creating GAPPS package that would "fit" such a ROM variant, with apps being pre-optimized in it.

[2015-11-25 14:42] raulx222 commented on #160
@mfonville Okay! But since I can't run AROMA Installer on my device, let me know if you need some changes to the theme.
And about the 3.0 Beta version, I will try it on my device (maybe it will work, *magic*).

[2015-11-25 15:31] mfonville commented on #124
But for the flashable package it would be impossible, because the classes.dex differs per ROM.
So the best way to do this, would be through the AOSP build system, to build it combined when building your ROM.

Does ```WITH_DEXPREOPT := true``` work on on the open gapps aosp too already?

[2015-11-25 15:38] mfonville commented on #172
https://github.com/opengapps/opengapps/wiki/FAQ#3-im-getting-a-status-error-6-when-i-try-and-install-these-gapps-with-cwm-what-can-i-do-to-fix-it

**PLEASE READ THE FAQ OR ASK ON Q&A ON XDA** instead of directly opening an issue...

[2015-11-25 15:38] #172 closed

[2015-11-25 16:26] #109 closed

[2015-11-25 21:46] mfonville commented on #169
I still have to update the wiki, but only when updated builds are released.

[2015-11-26 12:51] mfonville commented on #134
I am fixing this in a different manner on the device-scripting side in issue #166
Because users using aroma or one of the stock+ packages don't expect their ROM's Google webview to be removed if it is not selected.
Neither do we want ROMs to become in a state where both the AOSP and the Google Webview are removed.

[2015-11-28 19:30] jat001 opened #174 "Why remove calculatorgoogle, contactsgoogle and facedetect but can not select to install on aroma package (arm64 6.0)?"

[2015-11-28 23:18] mfonville commented on #174
I have no clue what you mean, neither does @raulx222 .

Could you try to rephrase your issue?

[2015-11-28 23:27] Blystad commented on #124
Yes - https://github.com/opengapps/aosp_build#dex-pre-optimization

Isn't classes.dex created on a per-application basis? Or is it linked to the existing boot.dex? I just find it a bit strange that there is such a tight connection between dex optimized applications, and the actual ROM.

That being said, I have encountered various dexopt issues when working on Lollipop ROMs...I've had to turn off d

[2015-11-28 23:32] mfonville commented on #124
Well, I am no expert in these fields. So I can be completely wrong.
But I thought that the classes.dex "binary" form of an application depends on various aspects of the device/ROM, like CPU, framework and boot.oat/dex.

I thought that is also a reason why after updating a ROM, if there are invasive changes, you need to wipe your cache, to regenerate the applications' dex files.

[2015-11-29 02:45] MatthewBooth commented on #100
Did this get any further towards being used?

I also realised that the zip will flash quicker if we are not using the multiple DPI's, or at least so I assume

[2015-11-29 04:27] jat001 commented on #174
Sorry for my bad english.
I flashed opengapps on my nexus for upgrade stock apps and found google contacts missed after reboot.
So I found ```/system/app/CalculatorGoogle```, ```/system/priv-app/GoogleContacts```, ```/system/lib/libfilterpack_facedetect.so``` and ```/system/lib64/libfilterpack_facedetect.so``` were removed by ```gapps-remove.txt```. But the packages which are provide these files (

[2015-11-29 11:32] mfonville commented on #174
Ok, I understand now.

We will add contactsgoogle and calculatorgoogle to the aroma-config. They were indeed missing.

Facedetect is a Core-app though, and should have been installed automatically. Do you still have the debug log of this install?

[2015-11-29 11:40] mfonville commented on #100
@MatthewBooth it is still on my agenda.
Honestly it is one of the lowest priorities at the moment. Also it is dependend on some other issues I need to resolve first, because it would touch the same code.

[2015-11-29 12:16] mfonville commented on #174
This should fix the issue: https://github.com/opengapps/opengapps/commit/2592b38e866cbf1194ec01092370db150a33359a

[2015-11-29 12:16] #174 closed

[2015-11-29 13:01] mfonville commented on #169
Wiki updated.

[2015-11-29 13:01] #169 closed

[2015-11-29 17:41] mfonville opened #175 "Allow to set APK compression level"
From strong compression (using zopfli) to no-compression to benefit from full mmap alignment possibilities.

Not to be used for our regular builds, but to create specialized builds for smallest install space, or for fastest execution possible.

[2015-12-01 04:11] c3ph3us opened #176 "git clone issue"
should be:
git clone https://git@github.com/opengapps/opengapps.git

instead:
git clone git@github.com:opengapps/opengapps.git

when u dont have ssh keys :) for repo

[2015-12-01 09:48] mfonville commented on #176
The scripts and instructions are focused on users (and automated scripts) that also need to upload contribution to the repos, and therefore use ssh instead of https.

Also opengapps only runs on posix-environment, where people tend to have their ssh setup ;-)

[2015-12-01 09:48] #176 closed

[2015-12-01 12:27] leoheck opened #177 "More information about the packages"
Hi, you are making a very good work. Could you add this image or an information like in the image in the
[opengapps.org](http://opengapps.org) page and in the README.md here in github? By the way, I found the image here in [XDA Forum](http://forum.xda-developers.com/paranoid-android/general/5-1-x-5-0-x-4-4-x-pa-gapps-mirror-t3069879)

![fsytjqq](https://cloud.githubusercontent.com/assets/1277920/1

[2015-12-01 12:49] mfonville commented on #177
This image does not apply to Open GApps, it was for PA GApps, but our package contents differ.

We have a text-based version here: https://github.com/opengapps/opengapps/wiki/Package-Comparison
Also clicking each package on opengapps.org links to a wiki page with the contents of the package.

The README.md is focused on how to build Open GApps packages, not about the content of the prebuilt versio

[2015-12-01 12:49] #177 closed

[2015-12-01 13:31] leoheck commented on #177
Ok, thank you for the answer :) I will send you an image with the info you have in wiki!

[2015-12-01 13:38] mfonville commented on #177
:-D looking forward to it!

[2015-12-01 16:39] mfc commented on #119
CyanogenMod serves downloads over HTTPS: https://download.cyanogenmod.org/

You can just have the links to download go to the Github-hosted downloads.

"validating download" = "securely download". Please take @jsbax's suggestions seriously, including GPG signing.

CM also provides SHA1 hashes (they used to provide MD5). CM is not known for security, they have just adopted minimal best practices be

[2015-12-01 16:50] mfonville commented on #119
I see that GitHub now also enabled HTTPS for the download urls of the releases' assets, so yes, I will enable HTTPS for the download links.
Be noticed that opengapps.org itself is still only served over HTTP though, since we are dependent on GitHub HTTPS support for hosted sites using CNAMEs, which they don't yet do.

I am busy with the GPG signing, soon the OpenGApps.org prebuilts will have their

[2015-12-02 18:44] mfonville commented on #35
It is now on my medium priority list, since we finally got Marshmallow going last month, so this is the next big thing.

You could help me btw if you could download these APKs from the Play Store for me, since I don't have an Android TV myself. And I am not sure if I have the latest versions.
You can use this extension: https://chrome.google.com/webstore/detail/apk-downloader/cgihflhdpokeobcfimlia

[2015-12-02 18:46] Gfunk117 commented on #35
Ive got the apkdownloader extension enabled ill be glad to download those apks and post them here

[2015-12-02 18:50] mfonville commented on #35
Thanks. Also leanback specific version(s) of Google Play Games, Play Services (GMS) and YouTube need probably an update.

[2015-12-03 11:26] pedrogbranco commented on #35
So far I found

Leanback Youtube
Leanback Playstore
Leanback Launcher
Leanback Keyboard

[2015-12-03 17:33] #166 closed

[2015-12-04 14:00] HardLight opened #179 "libwebviewchromium.so should not be removed on lollipop"
CM and probably most custom roms include libwebviewchromium.so and WebView.apk. So removing lib breaks functionality of rom . Problem starts from https://github.com/opengapps/opengapps/commit/fec2ee4ae8a6569d1a16c7a24a0e8309b8f3e0f4 .

[2015-12-04 14:29] mfonville commented on #179
Isn't it automatically excluded from removal by the installation script? Because that should be the case, if not there is a bug.
Could you attach your debug log?

[2015-12-04 14:43] HardLight commented on #179
No it isn't excluded. I don't have that logs because they are overwritten. But in gapps-remove.txt from open_gapps-arm-5.1-pico-X.zip there are lines:
/system/lib/libwebviewchromium.so
/system/lib64/libwebviewchromium.so
and it's not supposed to be there, I think..?

I fixed it by:
diff --git a/scripts/inc.compatibility.sh b/scripts/inc.compatibility.sh
index 3385396..726bde7 100755
--- a/scripts/

[2015-12-04 14:57] mfonville commented on #179
The lines are supposed to be there, but are then removed/ignored during execution of the script.

[2015-12-04 14:57] mfonville commented on #179
The lines are supposed to be there, but are then removed/ignored during execution of the script.

[2015-12-04 15:10] HardLight commented on #179
Logs says:
  Remove Stock/AOSP WebView | false[default]
  ...
  Ignore Google WebView | true[NoRemove]

But see system files before and after: /system/lib/libwebviewchromium.so is missing..
[logs.zip](https://github.com/opengapps/opengapps/files/52165/logs.zip)

[2015-12-04 21:43] mfonville commented on #179
You are completely right.

I hope that this will resolve the issue: https://github.com/opengapps/opengapps/commit/461106fb2527745de3c6178ff251794891932c28

Could you try again tomorrow on a clean ROM install when the new daily build would be up?

[2015-12-04 22:51] mrosel opened #180 "Marshmallow 255 install failed"
Fresh install, cleared all data

Nexus 5, hammerhead D820(E)
Bootloader HHZ11h
Cyanogenmod 13 (Marshmallow), latest nightly(12/03/2015)
Recovery is cm-13.0-20151127

I've tried each open_gapps-arm-6.0-* with no success either via sideload or locally. The error is consistent "Install failed":
--Install /data/media/0/open_gapps-arm-6.0-nanopp....
:E Installation error in /sideload/package.zip (statu

[2015-12-04 23:01] mfonville commented on #180
It should work with CM Recovery too (though it is best-effort, since it lacks functionality compared to TWRP).

The only error 255 I find about CWM (on which CM Recovery is based) is that update-binary would be incompatible. So either the zip is damaged (during download, or when transferring to device) or something else weird is happening.

It ain't possible to debug this easily, since the recover

[2015-12-04 23:41] mfonville commented on #179
And https://github.com/opengapps/opengapps/commit/2a025e7156e37a3cc629f786a8a7163edb76415a covers another scenario.

[2015-12-04 23:41] mrosel commented on #180
That was too easy. Just fastbooted TWRP and sideload worked as expected.

Thanks for the quick reply.

[2015-12-04 23:41] #180 closed

[2015-12-04 23:43] mfonville commented on #180
no problem. Happy your issue got resolved!
PS: todays opengapps has some potential issues if you don't install Google WebView, so use a large package or wait a few hours for the next release ;-)

[2015-12-05 20:24] HardLight commented on #179
Hi, tested with 20151205 - same issue..

[2015-12-05 20:26] mfonville commented on #179
Did you test on a fully clean ROM? And could you please supply the full debug logs this time? I'd really want to have a look at e.g. the installer output.

[2015-12-06 08:58] HardLight commented on #179
Yes clean install. Here are logs:
[open_gapps_debug_logs.tar.gz .txt](https://github.com/opengapps/opengapps/files/53106/open_gapps_debug_logs.tar.gz.txt)

[2015-12-06 10:31] Schischu opened #182 "device dpi processing of build.prop (and other prop files) should be limited to 1 line only"
Hi,

I am providing a clean AOSP Marshmallow build for the Samsung Tab S and Samsung Note 10.1 (2014).

My 6.0 ROMs had always problems with the SetupWizard after installing OpenGapps,
so yesterday I dug a little around to find the cause of the issue.

The cause is that the OpenGApps installer tries to determine the dpi value by asking recovery about it.
However our twrp recovery builds have not s

[2015-12-06 10:52] Schischu commented on #182
Hm, the update-binary script already checks build.prop if getprop does not return anything.
I think I will have to add a little debug about why this does not work for me.

[2015-12-06 11:39] mfonville commented on #179
Thanks for the logs. For some reason Recovery_tmp.log seems to be missing from the logs, so I do not see the installer's script output.
The problem is still there indeed, because we can indeed see from the file lists that it does get removed.
I will have a look at it later again (at this very moment I have less time available, see xda) and will post any updates here.

I have an extra question to y

[2015-12-06 12:29] mfonville commented on #182
To prevent SetupWizard FCs you need the patch mentioned here: https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0

The SetupWizard OpenGApps install does not differ per dpi. If PrebuiltCoreGMS was not installed we would need the debug logs to investigate.

[2015-12-06 12:42] davepwsmith commented on #179
Would that be the cause of this then? I'm getting force closes and reboots on CM12.1 (WileyfoxStorm/kipper) with arm64-pico 20151206

http://pastebin.com/HkgMyE5f

[2015-12-06 14:03] HardLight commented on #179
@mfonville there is no Recovery_tmp.log in my *logs.tar.gz, should it be located elsewhere?
About APK's, yes I could assist. Contact me on xda or email for details.
Also good luck :)
@davepwsmith Yes it same issue, temporary workaround is to remove
/system/lib/libwebviewchromium.so
/system/lib64/libwebviewchromium.so
from gapps-remove.txt.

[2015-12-06 14:07] davepwsmith commented on #179
OK, well for those who don't want to muck about with the zips, a temporary work-around is to use the aroma installer (I know, a much, much bigger file, but whatever) and select Android Webview as the only component to install. Not quite the same as Pico, but at least you can get past the setup wizard!

[2015-12-06 14:50] Schischu commented on #182
Patch is applied. I've just tried again and uploaded you the logs

[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/53195/open_gapps_log.txt)
[open_gapps_debug_logs.zip](https://github.com/opengapps/opengapps/files/53196/open_gapps_debug_logs.zip)

[2015-12-06 15:30] Schischu commented on #182
Pfff, found the issue.
ro.sf.lcd_density was defined two times in build.prop, so file_getprop returned
"320
320"
Which did not match the allowed densities.

So I can fix this issue on the ROM side be removing the second ro.sf.lcd_density entry.

-> Issue can be closed.

[2015-12-06 15:31] mfonville commented on #182
Did you manually changed the build.prop that it was like that, or was it defined twice by the ROM?

[2015-12-06 15:47] Schischu commented on #182
Twice by the ROM, it was listed in system.prop and also in device.mk.  :-(

[2015-12-06 16:29] mfonville commented on #182
I will add some robustness to the processing then.

[2015-12-07 20:37] mikhaelkh commented on #179
After I installed latest CyanogenMod 12.1 hammerheadcaf (Nexus 5 CAF) with OpenGApps nano-20151206, some app started to crash (for example, HTML5 Viewer), then I installed Google WebView and crashes  disappear.

[2015-12-07 20:47] fossum opened #183 "Stock 5.1 ARM zip does not open"
I tried to install the stock ARM 5.1 gapps today and noticed they failed. I then tried to open them in Windows and Linux and neither worked.

[2015-12-07 20:49] fossum opened #184 "Cannot finish new user wizard with nano gapps"
Seems the nano gapps cannot pass the "Tap & Go" page in the new user dialog. Crashes with some sort of NoSuchMethodException (using CM12.1)

[2015-12-08 12:32] davepwsmith commented on #184
Probably the same as #179

[2015-12-08 14:57] julienbrunet commented on #184
Same issue here.
Actually you can pass the Tap&Go screen by completing the wizard without any internet connection (no wifi or data).
By then cyanogen wil start correctly but no to start any google application (No Suche Method Exception, Invalid Reflection...)

[2015-12-08 15:06] roberto68 opened #185 "manual install (.apk) can't from zip"
For some reasons I've to install manually.... I extracted all the .apk files but still doesn't work. there are also some folders beside the .apk files. Do I have to put those folders  (at least those with those not empty one with binaries .ini...) to folder where I have the .apk files (cause they seem to be kind of dependencies - those fies in folder)

[2015-12-08 15:55] mfonville commented on #179
@HardLight could you try this new build with the latest fix: https://www.dropbox.com/s/iqpn8hdgfwgnxad/open_gapps-arm-5.1-pico-20151208.zip?dl=0

Also, very happy you want to be a packager. Is your XDA nick the same as on GitHub?

[2015-12-08 15:59] mfonville commented on #184
Yes, this is a duplicate of #184, so I close this bug and keep an eye on that one instead.
I wrote a fix that hopefully solves it. I barely do have time for personal reasons though, so sorry for slow responses.

[2015-12-08 15:59] #184 closed

[2015-12-08 16:01] mfonville commented on #183
You really have to describe your problem better, because I have no clue what you try to do and what your error is.
If the ZIP in general fails to open, you probably have to check if your download isn't corrupted.

[2015-12-08 16:05] mfonville commented on #185
You cannot install these APKs manually since the libraries are stripped from the APK files.

Also I have no clue what you are trying to do, but what you describe doesn't really belong in the scope of our installer and are not really an "bug" for the project. I suggest to try out the XDA forums to ask for more help.

[2015-12-08 16:05] #185 closed

[2015-12-08 16:31] HardLight commented on #179
Ok I'll try it when have some free time.
Yes it's same.

[2015-12-09 02:46] xingrz opened #186 "Aroma installer freezes"
Device: OnePlus 1 (bacon)

It stops at the copyright line.

Tested freezes at these version of TWRP: 2.8.7.0, 2.8.6.1
Tested works at this version of TWRP: 2.8.4.0

I know aroma installer doesn't work for any version of TWRP, so I wrote this issue to provide information to who finding a working version of TWRP.

[2015-12-09 09:23] mfonville commented on #186
I added it to the wiki, that is a better place than again so the many-th bug report about AROMA that we cannot unfortunately not fix ourselves.
See: https://github.com/opengapps/opengapps/wiki/Aroma-Package
If you want, you can extend/improve the page with more findings.

[2015-12-09 09:23] #186 closed

[2015-12-09 10:57] MuSamDu commented on #56
Anyway, it still freezes for me... I downloaded the latest version (open_gapps-arm-6.0-aroma-20151209.zip), and i verified the md5sum which it correct. Really no solution? Plz help me!!!

[2015-12-09 11:02] mfonville commented on #56
@MuSamDu If Aroma doesn't work for you, I am sorry we cannot do anything within our power to fix it. We are completely dependent on the AROMA-Installer developer amarullz. You will have to use one of the non-Aroma packages instead.

[2015-12-09 11:10] MuSamDu commented on #56
I didn't mean to give up using aroma installer, im trying to see if we can solve the problem. im using Oneplus One with CM 13.
I heard that i'll have to write a config file myself if i use any other builds rather than aroma, and i've no idea about how to do that. (just take me as a fool) links to tutorials? Thanks!!!

[2015-12-09 11:14] mfonville commented on #56
https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#the-gapps-config-file

But you could easily find that yourself, if you need any help, please use the XDA Q&A. Because I rather focus on development.

[2015-12-09 13:24] mfonville commented on #182
After reviewing the .prop specifications and getprop function I have re-considered this.
Clearly the uniqueness of lines in the prop-file is a responsibility of the prop editing tool and the fetching of a correct value is getprop's responsibility.
So I won't implement this feature.

[2015-12-09 13:24] #182 closed

[2015-12-09 14:03] GermanKiwi opened #188 "BlackHole live wallpaper is not removed via gapps-config"
I"m using a gapps-config.txt file to remove apps that I don't want to have. I've included the `LiveWallpapers` keyword, which does successfully remove all of my live wallpapers, with the exception of the BlackHole live wallpaper (which I believe is included with CyanogenMod).

The path to this wallpaper app is:
/system/app/Galaxy4/Galaxy4.apk

Could you please include it in the `LiveWallpapers` ke

[2015-12-09 14:06] GermanKiwi opened #189 "Google Keyboard (AOSP) is not removed via gapps-config"
I"m using a gapps-config.txt file to remove apps that I don't want to have. I've included the `KeyboardStock` keyword, but it does not remove the stock Google Keyboard app which is included with CM12.1 on my phone.

The path to this keyboard app on my phone is:
/system/app/LatinIME/LatinIME.apk

Could you please include it in the `KeyboardStock` keyword, so that it gets correctly removed?

[2015-12-09 14:11] GermanKiwi opened #190 "Add support for excluding Google Contacts Sync"
Could you kindly add a keyword for the Google Contacts Sync Adapter, so that it can be excluded from installation via gapps-config? (Similar to `CalSync` for the Calendar Sync Adapter).

I use an Office 365 account for my contacts, and therefore don't sync my contacts to my Google account - so I don't need to have the Google Contacts Sync Adapter running on my phone (right?)

[2015-12-09 14:29] GermanKiwi opened #191 "Trebuchet launcher is not removed via gapps-config"
I"m using a gapps-config.txt file to remove apps that I don't want to have. I've included the `Launcher` keyword, which I assume should remove the stock launcher. However it doesn't remove the Tebuchet launcher which is included with CM12.

The path to this launcher app is:
/system/priv-app/Trebuchet/Trebuchet.apk

Could you please include it in the `Launcher` keyword, or alternatively create a ne

[2015-12-09 15:32] mfonville commented on #188
It is already there with the ``Galaxy`` keyword. I will update the wiki to also describe it is also known as BlackHole.

[2015-12-09 15:32] #188 closed

[2015-12-09 15:34] GermanKiwi commented on #188
Thanks for that!

[2015-12-09 16:18] mfonville commented on #179
I got confirmation that the bug is solved now, so I close the bugreport. Please let me know if problems appear.

[2015-12-09 16:18] #179 closed

[2015-12-09 16:21] mfonville commented on #189
If you use ``KeyboardStock`` app/LatinIME/ is correctly removed.
The installer just won't let you have not NO keyboard installed, unless you specify ``override`` too.
Please check the documentation for details, and use XDA for questions like this instead of directly filing an issue.

[2015-12-09 16:21] #189 closed

[2015-12-09 16:24] mfonville commented on #190
https://github.com/opengapps/opengapps/issues/155

Has been answered before, we won't implement it like this at the moment because to our information the contactssync is a wrapper and we don't want to give false illusions and/or broken implementations.
We might revise this in the future or if things are different on more recent Android versions.

[2015-12-09 16:24] #190 closed

[2015-12-09 16:26] mfonville commented on #191
If you use ``Launcher`` priv-app/Trebuchet/ is correctly removed.
The installer just won't let you have not NO launcher installed, unless you specify ``override`` too.
Please check the documentation for details, and use XDA for questions like this instead of directly filing an issue.

I closed all 3 issues of you just now, for some things that could easily be found in documentation, previous bugs

[2015-12-09 16:26] #191 closed

[2015-12-09 16:47] GermanKiwi commented on #190
Thanks for the explanation. I couldn't find any previous issues on this topic when I searched.

[2015-12-10 03:12] dsalt opened #193 "Download failures"
I'm seeing repeated download failures. They seem to occur after a random time, with the minimum amount downloaded being around 80MB. Download speed is around 190MB/s (which is about the maximum for my 'net connection); Iceweasel via squid.

If I could use wget to fetch the files – referrer needed? – I could probably do a complete fetch in several parts.

[2015-12-10 10:04] mfonville commented on #193
I'd urge you to write about download failures to GitHub, since they provide the hosting of our releases. Then they can ask Amazon Web Services (their physical hoster) to fix it.

You can use wget, to see the URLs of all packages and releases I point you to https://github.com/opengapps/arm/releases (see the other repos for other architecture's releases).

Btw, for next time it is better for the wor

[2015-12-10 10:04] #193 closed

[2015-12-10 18:54] davepwsmith opened #194 "Random Reboots on arm64 pico"
I don't get them without gapps installed (but then that doesn't mean that gapps causes them). Very difficult to pull any info, logcat below but shows no fatal error:
[reboot.txt](https://github.com/opengapps/opengapps/files/58577/reboot.txt)

[2015-12-10 18:55] davepwsmith commented on #194
Sorry:

Wileyfox Storm
Cyanogenmod 12.1

[2015-12-11 14:03] NicholasBuse opened #196 "Inbox signing"
Why you no support Google apps like Inbox?

Importing Inbox
Package com.google.android.apps.inbox | VersionName 1.16 | VersionCode 5642025 | API level 16
Universal DPI package
Native code for architecture(s): armeabi
ERROR: /media/git/opengapps/com.google.android.apps.inbox_1.16_(109935855)-5642025_minAPI16(armeabi)(nodpi).apk contains files or a certificate not signed by Google. APK not imported

[2015-12-11 14:15] NicholasBuse commented on #196
Resolved by updating the repository...

[2015-12-11 14:15] #196 closed

[2015-12-12 01:07] mfonville commented on #119
FYI from 13 dec and later on the prebuilt OpenGApps packages from opengapps.org will be signed with a custom signature.

[2015-12-12 14:41] kasei-wang opened #197 "Add Google Dialer to stock and super package"
Those apps have been added to play store.

[2015-12-12 14:53] mfonville commented on #197
Contacts is already in the package. Dialer is still under review, because it does not work for everyone.

[2015-12-12 14:58] kasei-wang commented on #197
OK, Thank you :)

[2015-12-14 07:45] devurandom commented on #183
I downloaded the nano version for arm from 2015-12-13 and tried to flash it. The CyanogenMod recovery refuses to do so, stating a signature verification error as the reason.
However, the file can be opened with ZArchiver on my phone. So either the file itself is healthy, the zip-internal CRC sums are correct (and just the recovery checksum is wrong), or ZArchiver does no checks at all.

[2015-12-14 07:52] devurandom commented on #194
I have the same issue. Open GApps nano version for arm from 2015-11-29. CyanogenMod 12.1 20151117-snapshot-yog7dao1k3-serranoltexx.

[2015-12-14 08:21] mfonville commented on #183
We introduced a custom signature with the 13 Dec build. I am aware of the problem it posed on some recoveries and have already a fix ready. So the next build will be OK again.

I'd suggest to use the 12 dec build for now.

[2015-12-14 09:47] mfonville commented on #194
@davepwsmith this is hard one to debug and unfortunately the log doesn't give us any useful information, but personally I would expect some kind of conflict between one of the core gapps and the ROM.

Could you try to clean flash your ROM (so wipe /data/ too) and then OpenGApps pico, so that we start with a minimal set of applications to see if those trigger the reboots?

[2015-12-14 15:20] davepwsmith commented on #194
I have already tried the recommended full wipe procedures - including fastboot format system && fastboot format userdata. Any installation with CM12.1 and OpenGapps Pico crashes randomly at any point. With a few apps installed, Maps/Navigation of any kind (including Nokia Here) but Google Maps in particular seems to be the thing which most upsets everything, but there really is no repeatable case.

[2015-12-14 16:13] mfonville commented on #194
@davepwsmith ok, pity that you experience these issues.
Still my strong suspicion is that something within the ROM is probably broken, and the apps and google services installed trigget it somehow.
At least I suspect it is not something we are able to fix from our side.

[2015-12-14 16:13] #194 closed

[2015-12-14 23:41] davepwsmith commented on #194
If I have a little time over Christmas I wil attempt to get on top of this. I suspect that the way to get started will be to install gradually increasing packages (pico, nano, micro, mini, full, stock) until the crashes stop. I know that there are people with this phone who have no issues whatsoever, so I suspect that it has to do with some google *xyz* which something is expecting to be there but

[2015-12-14 23:45] mfonville commented on #194
OK great. Instead of play store you could sideload maybe those APKs, but indeed they might expect the play services to be available.

[2015-12-17 10:04] JRoot3D commented on #197
Add Dialer to AROMA package for user choice

[2015-12-17 22:20] mfonville opened #198 "Toybox includes 7zip"
Since most recoveries are now switching to using Toybox over Busybox, some of those start to bundle 7zip as one of the embedded tools/commands. We could try to use 7zip as primary fallback if XZ filter support is missing from tar, before falling back to the bundled xzdec binary.

[2015-12-18 08:29] devurandom commented on #183
I confirm: The 2015-12-18 build works.

[2015-12-18 09:41] mfonville commented on #183
Thanks for the feedback.

[2015-12-18 09:41] #183 closed

[2015-12-18 09:44] mfonville commented on #197
I will look into whether this would be possible.
It will need some adjustments of the scripts (e.g. at the moment when adding an app to a package, it is selected by default for installation).
Also I would to like to add some "protection from stupidity" mechanism to it, that will only allow installation on Nexus devices.

I will work on it after the holidays.

[2015-12-18 09:44] #171 closed

[2015-12-18 09:47] mfonville commented on #92
For now this is implemented as good as we can do. In general we only add packages that are 100% signed (not de-odexed) from Play Store and Google's Android One devices.
The keystore is relatively complete and is now manually managed from the main repository.
I will rename the bug to still find a solution to for the personall de-odexed apps.

[2015-12-18 16:49] legendtang commented on #168
Hello, I'm I9505 user too.

My suggestion for you to flash stock package is to create a `gapps-config.txt` including:

[code]
This will exclude those apps. They are not used frequently, at least for me, which can still download directly from Play Store without any issue.

Works for me, if still insufficient you can add more :)

[2015-12-18 16:55] mfonville commented on #168
It will be perfect to share such configs on the wiki :-)
@raulpetru is currently busy making one about how to flash OpenGApps on a Stock CyanogenOS ROM. One could follow the structure he sets up to share gapps-config for certain (stock) ROMs & device combinations.

[2015-12-20 13:00] AdFad666 opened #199 "Installation on marshmallow CM Recovery will always fail"
Error: Status 255 is caused by toybox; `/sbin/ash` does not exist - the updater script cannot execute!

[2015-12-20 14:19] mfonville commented on #199
Hmm, we *do* use (d)ash functionality and note pure sh.
Could you check if replacing ```/sbin/ash``` with ```/sbin/sh``` whether the install script still works? Because I suspect it silently uses mksh as interpreter instead.

[2015-12-20 21:01] #199 closed

[2015-12-22 19:47] dim0x69 opened #200 "Script solution for Marshmallow permissions"
This problem came up as is updated my LG G3 (d855) to the latest Cyanogenmod 13 Nightly( 20151222) (from 12.1).

"play services" (and "system") crashed with the following exception:

12-22 20:23:41.267  5619  5860 E AndroidRuntime: Process: com.google.android.gms.persistent, PID: 5619
12-22 20:23:41.267  5619  5860 E AndroidRuntime: java.lang.SecurityException: "passive" location provider requires

[2015-12-22 21:00] mfonville commented on #200
@TheCrazyLex could you check what is the situation here? Is there a new permission from either ROM or GMS's side?

[2015-12-22 21:02] TheCrazyLex commented on #200
@mfonville this permission is required, this is normal and was always like that. However as Cm doesn't include my patch, things like that may happen on CM.

This won't happen on ROMs including the patch.

Alex

[2015-12-23 09:33] mfonville commented on #200
Thanks for the explanation. I thought cm had the patch included, maybe we can request to upstream it somehow?

Also we are still looking into possible scripting solutions to handle the permissions for roms without the patch. But such a solution is not available yet for the near future.

[2015-12-23 18:59] polyzen opened #201 "Installation wipes /tmp"
Apparently part of the installation wipes /tmp. This affects TWRP functionality, and requires one to reboot into TWRP eg. before flashing something else.

[2015-12-23 19:55] shuhaowu commented on #180
I can confirm this happens on CM-recovery. For those of us that doesn't want to move to TWRP, can this be looked at more?

[2015-12-23 20:27] mfonville commented on #180
Actually it is fixed already in our source, it was caused by CM not accepting the /usr/bin/ash shebang. But there is only an updated build triggered when new Google APKs arrive, which will probably be after the Christmas holidays.

So either you can manually adjust in update-binary the first line to /usr/bin/sh or wait a few days for a new build.

[2015-12-24 05:28] TheCrazyLex commented on #200
@mfonville I don't think upstreaming will work.

A script solution would be very nice..

Alex

[2015-12-24 12:11] alwinpietersen123 commented on #180
When trying to install an adjusted version of the gapps, with the /usr/bin/ash replaced by /usr/bin/sh in the update-binary, I get the error: 'Footer is wrong. Signature verification failed'. Is there a way to install this adjusted version of gapps in CM-recovery?

[2015-12-24 12:33] mfonville commented on #180
I will force an updated arm build coming night. That should resolve your issues.
CC @NicholasBuse (so that you'll know you are free to update ARM apps ;-))

[2015-12-24 12:39] mfonville commented on #201
I will look into this after the holidays
Could you maybe provide me (I might need it when solving this) which file(name)s are stored by TWRP in /tmp/ and should *not* be removed?

[2015-12-24 15:56] polyzen commented on #201
Thank you. Will do.

On December 24, 2015 7:39:44 AM EST, mfonville <notifications@github.com> wrote:

[2015-12-25 06:53] alwinpietersen123 commented on #180
I tried installing the new version of gapps, but now I get the message: 'Installation error in /sideload/package.zip (Status 1)'. What does this error mean and how can I resolve it?

[2015-12-25 15:31] legendtang commented on #168
@mfonville I would like to. However, since the size of CyanogenMod ROMs, especially `cm-13.0` branch, has not been stable enough, those configs are still coming with insufficient issue on some ROMs. The exact configs remain to be found out.

But I do suggest another pre-config, whose size should be between Stock and Mini and which does replace system apps, so that legacy devices can gain easy acce

[2015-12-25 15:47] legendtang opened #202 "Inbox by Google in the Aroma Package?"
Since many users choose to replace Gmail by Inbox, Gmail has been becoming a redundant one if they do not use SMTP / Exchange service, etc.

[2015-12-25 20:40] simar7 commented on #202
+1 to this. What would we need to implement this? I can help write a diff for this.

[2015-12-26 05:57] legendtang opened #203 "Option for removal of AOSP Music App"
![image](https://cloud.githubusercontent.com/assets/1352729/12005286/f4cc38a0-abd7-11e5-9226-00a6a36f7680.png)

The AOSP Music App hasn't updated since Gingerbread, but the compilation of AOSP ROMs still brings back this App, which should be considered generally useless and be removed as default behavior as Nexus devices do not have this App too.

New option should be also implemented in the `gapp

[2015-12-26 20:21] jpgnz opened #204 "20151225-mini build - Hangouts works but no push/background notifications"
Installed the following:

* cm-13.0-20151225-NIGHTLY-m8.zip
* open_gapps-arm-6.0-mini-20151225.zip

And separately (Because I thought it was a CM13 issue):

* cm-12.1-20151117-SNAPSHOT-YOG7DAO1K1-m8.zip
* open_gapps-arm-5.1-mini-20151225.zip

Both have the exact same issue. Hangouts will not sync while in the background. Works perfectly fine while open/in foreground, but no notifications are deliv

[2015-12-26 20:39] jpgnz commented on #204
Ended up with Hangout notifications working by doing the following:

* cm-12.1-20151117-SNAPSHOT-YOG7DAO1K1-m8.zip
* [gapps-5.1-arm-2015-07-17-13-29.zip](https://github.com/cgapps/vendor_google/blob/builds/arm/gapps-5.1-arm-2015-07-17-13-29.zip)
* Immediately had to update the Google App (com.google.android.googlequicksearchbox 5.7.14.19.arm)
* Installed Hangouts from Play Store (com.google.androi

[2015-12-28 01:12] polyzen commented on #201
@mfonville, TWRP apparently only keeps its recovery.log there -- aside from whatever installers leave over.

Did a bit of testing with the installers I use. Aside from logging not working properly (though recovery.log does get recreated):
* superuser.zip from [seSuperuser](https://github.com/seSuperuser/Superuser)
  * no trouble installing
* ota update for https://copperhead.co/android/
  * gives

[2015-12-28 09:22] monojp commented on #131
Hi, sorry for reviving this isse, just didn't want to create a new one. I had similar problems (exception after upgrading, sudden reboot, "bootloop" and broken Trebuchet config after multiple forced reboots) and it was the removal of Themes that caused this. Have also created a gist with the relevant logcat entries https://gist.github.com/monojp/beaee6d5b0c6cf6117f4

Maybe there is need for anothe

[2015-12-28 20:43] AnimbusDev opened #205 "Major Issue"
So, Open-Gapps is broken.

I do not have a log because, well, the folder well the log is deposited is broken.

Very broken.

Here is my issue:
I cannot delete or write to /sdcard/Open-Gapps. Nothing can, even twrp cannot. I tried using chmod to make it 777, still doesn't work. rm -rf doesn't work, it says that the directory is empty. If I run ls -al it gives me this:

total 40
drwxrwx--x 2 root sd

[2015-12-28 22:36] AdFad666 opened #206 "CM13 Recovery: unzip has different behaviour"
It looks like unzip as provided by CM13 Recovery does not extract multiple files, only the first is extracted to /tmp (app_densities.txt)

suggested work around: unzip each file individually.

### CM12 Recovery
[code]
### CM13 Recovery
[code]
### Full log

[code]

[2015-12-29 02:16] axaluss opened #207 "after start: <gapps app name> has ended [ok]"
Whenever i try to install gapps 5.1 with CM 12.1 or gapps 5 with cm 12  ARM on my LG d802 the gapps hangup all together with "<gapps app name> has stopped [OK]".
There is just a stack of those "OK" dialog windows and they reopen within seconds.
The system is not usable.

[2015-12-29 13:11] wodim opened #208 "Google Camera"
Any reason to include the new Google Camera? It crashes in most if not all phones because they don't support and they will never support the new camera API; in fact the only phones that support it by now are the new Nexus devices.

[2015-12-30 14:37] lapism commented on #180
I was trying to install NANO package and I got same Status 1 like alwinpietersen123. ROM CM 13 for Nexus 4.

[2015-12-31 17:14] brpaz opened #209 ""Zip file is Corrupt" error when installing Gapps in Galaxy S3 (Cyanogenmod 13, Android 6.0)"
Hi.
I cant seem to be able to flash gapps in my Galaxy S3 (Cyanogen 13 Android 6.0 ROM). It allays say "Zip file is corrupt".

I trad re downloading gaaps multiple times and different versions (stock, mini etc) but I allays got the same error. If I try to extract the zip file on my PC it works fine.

Any Ideas what I am doing wrong?

[2015-12-31 18:07] brpaz commented on #209
After formatting my SD card and try to download the gapps zip like 10 times, now it worked. Can close this issue.

[2015-12-31 18:07] #209 closed

[2016-01-01 09:17] nixar commented on #200
@TheCrazyLex can you point to that patch? is there a clutch way to fix this at least temporarily with a root shell?

[2016-01-01 16:01] dianlujitao opened #210 "Toybox: mount failed"
If we use toybox in TWRP instead of busybox, partitions such as /system won't get mounted.
If I run "mount /system" manually, it says:
mount: '/system' not in fstab
But busybox's mount works

busybox will be removed soon, so this should be something important

[2016-01-02 11:35] dianlujitao opened #211 "Use bundled busybox as Toybox replacement"
toybox doesn't offer awk, but opengapps installer uses it.

[2016-01-02 15:14] osm0sis opened #212 "KitKat /data hack fixes"
Just wanted to give a couple notes from a recent KitKat install I did.

1) The compatibility script needs ownership fixes for the files pushed to /data for lib compatibility issues on KitKat. The APKs (at least) should be system:system instead of root.root.

2) It could also use a rework to account for smart numbering. It should check /data/app/ for anything like e.g. com.google.android.package.na

[2016-01-02 21:04] polyzen commented on #200
This appears to also happen on [CopperheadOS](https://copperhead.co/android/) which is forked off of AOSP.

[2016-01-03 03:26] yejingchen opened #213 "Installing OpenGapps prevents incremental OTA update"
My device is ZTE Nubia Z9 mini (nx511j) running a unofficial CM build (`13.0-20151229-UNOFFICIAL-nx511j`). The build author only releases incremental OTA updates, which performs file check before patching. The problem is some directories are deleted by OpenGapps installation, leading the update to fail.

I found this in `installer.data` in opengapps zip file:
[code]
`/system/app/Provision` and `/s

[2016-01-03 07:56] polyzen commented on #213
What I have to do is flash/sideload the update from recovery, then reinstall gapps and su.

On January 2, 2016 10:26:21 PM EST, "叶靖琛" <notifications@github.com> wrote:

[2016-01-03 12:33] yejingchen commented on #213
Actually I AM installing updates from recovery, which fails because of file deletions. In addition, if you install gapps afterwards, you will end up in an infinite 'Setup wizard has stopped' popups.

[2016-01-03 14:20] bnvk opened #214 "Improve usability of "OS" column in downloader menu"
I just made a n00b, mistake and ended up downloading the OpenGApps for Android 5.1 and then it wouldn't install on my freshly installed CyanogenMod 13 phone. Reason being CM13 is based on Android 6. Given that many users interested in OpenGApps are Cyanogenmod users and not Android users, it might make sense to do one of the following:

- Make the "Android" header in download menu toggleable betwe

[2016-01-04 22:34] mfonville commented on #210
I see toybox has not implemented yet the remount feature, which we used as a workaround for RastaROM that gave otherwise issues. Since RastaROM does not get updates anymore, we will return to normal mount behaviour, which should solve this.

[2016-01-04 22:35] mfonville commented on #209
Happy it got resolved, but a hint for the feature: for support please first try XDA before directly filing an issue please.

[2016-01-04 22:41] mfonville commented on #204
I received news that notifications/sync issues are apparent in 6.0, probably because of Doze.
But it does not really explain why it then *does* work if installed from the Play Store, with the exact same versions.

Could you verify that the app permissions were correctly set after installation?
And try to get some logcats of the issue, that could point us in a direction.

[2016-01-04 22:43] mfonville commented on #205
Sounds like your filesystem/partition is broken, you probably will have to format it.
This is not an issue related to OpenGApps, for any support I refer you to the XDA forums, which are the appropiate place to find help before filing an issue in the bugtracker.

[2016-01-04 22:43] #205 closed

[2016-01-04 22:44] AnimbusDev commented on #205
@mfonville I ended up wiping everything afterwards, but it only happened to the one folder

Guess cm was acting up again...

[2016-01-04 22:45] mfonville commented on #207
Please use XDA forum thread to get support for your issues. Also look at the intructions of the 1post there, a debug log + logcat of your errors are necessary for investigating your problem.

[2016-01-04 22:45] #207 closed

[2016-01-04 22:47] mfonville commented on #208
Could you further detail the list for me which Nexus devices *do* support the new camera API, then I can look at how to distinguish them and check out how I can improve the installer behaviour.

[2016-01-04 22:49] wodim commented on #208
I don't know, sorry. I've been told only the most modern Nexus devices support that API.

The actual problem here is that Google Camera crashes for 99% of the users.

[2016-01-04 22:49] mfonville opened #215 "Support MicroG Apps"
http://forum.xda-developers.com/android/apps-games/app-microg-gmscore-floss-play-services-t3217616
https://github.com/microg/android_packages_apps_GmsCore
- Base a package around the MicroG services from the thread
- Install GsfProxy as core
- By default install/bundle the BlankStore
- If user chooses not to install BlankStore the FakeStore should be installed instead
- Only provide a Pico package

[2016-01-04 22:53] mfonville commented on #141
I will re-add the code for excluding AOSP libs.

[2016-01-04 23:20] mfonville commented on #180
Status 1 seems to be caused by toybox not having implemented remount as an option: https://github.com/opengapps/opengapps/issues/210

[2016-01-04 23:21] mfonville commented on #131
Thanks for your information @monojp !
I will add it to the wiki as extra info.

[2016-01-04 23:24] mfonville commented on #168
@legendtang  I will reopen the issue, focused on allowing to replace stock apps on the smaller packages too (using keywords)

[2016-01-04 23:27] mfonville commented on #203
Could you give me filesystem paths where this app resides?

[2016-01-04 23:32] mfonville commented on #201
(Especially the larger packages of) OpenGApps manipulates the contents on /system/, are you sure that the OTA is not just failing because of the unexpected changes on /system/?

[2016-01-04 23:36] polyzen commented on #201
If you reboot into TWRP after installing OpenGApps, the OTA doesn't give you any problem.

[2016-01-04 23:43] lapism commented on #180
And what I should do with that ? :)

[2016-01-05 06:48] legendtang commented on #203
@mfonville Located at `/system/app/Music/Music.apk`

[2016-01-05 14:56] mfonville commented on #30
Follow-up to @bgiesing's LastPass idea: it seems that they now allow sharing the password without "giving" the password itself away. So it might become a feasible option again. http://www.androidpolice.com/2016/01/05/lastpass-4-0-is-the-first-major-release-since-logmein-adds-emergency-access-and-a-new-sharing-center/

[2016-01-05 14:58] mfonville commented on #7
@dankoman30 did find that within resources.arsc the two versions differ.
The phone version contains "product=default" and tablets have "product=tablet" but since this are compiled and compressed resources fetching this string will be hard.

[2016-01-05 15:38] dankoman30 commented on #7
@mfonville you can just add apktool to your build tools for checking this value.

https://github.com/iBotPeaches/Apktool

run 'apktool d -s SetupWizard.apk' and then in the output folder, grep SetupWizard/res/values/strings.xml for the value.

this command won't take long because you're only decompiling the resources with the -s flag.

no need to go through framework installation for apktool, beca

[2016-01-06 04:54] SquallATF commented on #206
before sideload, manual run follow commands in adb shell
cd sbin
rm unzip
ln -s busybox unzip
ln -s busybox awk

[2016-01-06 11:41] AdFad666 commented on #206
nope, busybox does not exist on CM13 Recovery.

[2016-01-06 12:39] mfonville commented on #206
What I can deduct from the toybox source is that they still have to implement "unzip" in a proper manner, the current unzip tool is a really old one and I think is mostly as a place holder :-/
https://github.com/landley/toybox/blob/3b51a07e478d64a84e40b3a7c026b2f8566b194b/toys/pending/compress.c

I will see if I can adjust all the commands to become compatible with current toybox. But personally I

[2016-01-06 14:10] #210 closed

[2016-01-06 14:10] #206 closed

[2016-01-06 14:12] mfonville commented on #210
I references this issue by mistake from another commit.
But anyhow it *should* be fixed.

@dianlujitao could you check whether you still get an error from the (re)mount statements?

[2016-01-06 14:14] dianlujitao commented on #210
Both works after https://gerrit.omnirom.org/#/c/16258/

[2016-01-06 14:14] #203 closed

[2016-01-06 14:20] mfonville commented on #212
Thanks for the feedback!

KitKat support was always a bit hackish, since I did do the primary development from the 5.1 codebase and only later was presented with the app-specific library conflicts on 4.4.

1. will be easy to implement.

2. Are you sure that the play store always adds -# to the end by default? I did only do a few tests on 4.4 (but quite some time ago and can't exactly remember) but

[2016-01-06 14:24] mfonville commented on #212
PS: the -# scheming, which effect does it have on the app-lib folder? Does that also need the # in the pathname?

[2016-01-06 14:25] legendtang commented on #208
https://play.google.com/store/apps/details?id=com.google.android.GoogleCamera&hl=en

• Google Camera works on Nexus phones running Android 6.0 and above
• SmartBurst is only available on the Nexus 6P
• Slow motion video is only available on the Nexus 5X and 6P
• Photo Sphere and Panorama require a gyro sensor
• Photo Sphere, Panorama, and Lens Blur require at least 1 gigabyte of memory

According

[2016-01-06 14:42] mfonville commented on #210
Thanks!

[2016-01-06 14:46] AdFad666 commented on #206
*nobody* is happy that they switched to toybox so soon. They literally broke the world when they pushed that through.

[2016-01-06 15:07] mfonville commented on #201
Can it maybe be related to the mounting of unmounting of the partitions?

I am wondering if we somehow could compare a "before" and an "after" state within TWRP to find the exact cause :-/

[2016-01-06 18:52] osm0sis commented on #212
Yup, /data/app/com.google.android.package.name-#.apk and /data/app-lib/com.google.android.package.name-# match.

/data/app/com.google.android.package.name-#.apk are system:system ownership and 644 perms.

The libs are directly in /data/app-lib/com.google.android.package.name-#/ and are all system:system ownership and 755 perms.

Otherwise, hackish or not, the KitKat installation seems to have gone

[2016-01-06 18:54] osm0sis commented on #212
Oh, and the Play Store definitely adds -# by default, so to be totally correct with a data install you should mirror that.

[2016-01-06 21:27] #212 closed

[2016-01-06 21:28] mfonville commented on #212
@osm0sis I added some ugly greps that should now handle these paths. Would you be able to check whether it works correctly with a future build?

[2016-01-07 01:44] osm0sis commented on #212
Sure! Instead of
number="$(find /data/app/com.google.android.talk-*.apk | head -n1 | grep -o "\-[0-9]\+\.apk\$" | grep -o "[0-9]\+")"

Maybe
number="$(basename /data/app/com.google.android.talk-* .apk | rev | cut -d- -f1)"

would be simpler. basename used as shown removes the .apk and everything, and rev to get at the end of the line is a handy trick. :+1:

Thanks!

[2016-01-07 04:28] bgiesing commented on #30
@mfonville They have always allowed that. What they added was the opposite (allowing it to be shared **with** revealing the password.)

[2016-01-07 09:50] mfonville commented on #212
Good thinking :-)
I will use that instead!

[2016-01-07 15:32] mfonville commented on #201
@polyzen could you check if this (6.0 pico) version succesfully skips the deletion of the recovery.log and whether it resolves the OTA problem? https://www.dropbox.com/s/rvnjhdoackwb44y/open_gapps-arm-6.0-pico-20160107.zip?dl=0

[2016-01-08 03:45] polyzen commented on #201
/cache is mounted prior to the GApps install. Mounting it again allows me to flash the OTA. Not sure what else needs /cache; flashing OTA after GApps isn't a normal thing :p.

Should a separate issue be opened for this?

The logfile remains and logging works properly. :)

[2016-01-08 03:48] #201 closed

[2016-01-08 08:21] mfonville commented on #201
Thanks for testing it. Then I will integrate at least the patch for the recovery file.
Meanwhile I will also look into a fix to not unmount partititions that were already mounted when starting the install.

[2016-01-08 15:26] osm0sis commented on #212
- Installing updated GApps

Archive:  /data/media/open_gapps-arm-4.4-stock-20160108.zip
  inflating: Core/framework.tar.xz
unzip: zip flags 1 and 8 are not supported
tar: youtube/320: not found in archive
find: /tmp/youtube/320/: No such file or directory
cp: can't stat '/tmp/youtube/320/.': No such file or directory
Archive:  /data/media/open_gapps-arm-4.4-stock-20160108.zip
  inflating: Core/goo

[2016-01-08 15:37] mfonville commented on #212
I spotted the typo, I hope that it was the one that caused it and that it will be resolved with it.

[2016-01-08 19:10] mfonville commented on #198
I was mistaken, I had seen 7zip in a toybox brew variant, but apparently it is not planned as regularly included tool: http://landley.net/toybox/status.html

[2016-01-08 19:10] #198 closed

[2016-01-08 19:43] mfonville commented on #160
LibAroma got a big update this Christmas:
https://github.com/amarullz/libaroma/commits/master

[2016-01-08 21:52] mfonville commented on #92
I forfeit the de-odexed signing plan. I considered the various options available like GPG signing of each APK, but none of them removes the single entry-point of possible security breakage: malicious access to the repo and people trusting me and my account.

Any malicious attacker could always, at the moment they would have access to my account, adjust the shell code, the keystore or any of those

[2016-01-08 21:52] #92 closed

[2016-01-08 22:33] mfonville commented on #141
Done in https://github.com/opengapps/opengapps/commit/f429c999999509236aa6dcdd1ef2263d0fbeaa33

[2016-01-08 22:33] #141 closed

[2016-01-09 00:08] ibleedbinari commented on #215
Since this project is still alpha grade, the nightly builds are currently the most functional, and often times the only working  builds. Maybe they should be used rather than what is on the thread or add an option to install the nightly package instead.

Nightlies are auto-built after each commit (with a "Latest" download URL), so it shouldn't be hard to keep it up to date. They are hosted here: h

[2016-01-09 00:10] ibleedbinari commented on #215
Also, a common use case is to use microG to support the Google Play Store rather than using BlankStore as it supports IAP and many other features. There should probably be an option to choose between the BlankStore, Play Store, or no store (FakeStore)

[2016-01-09 07:49] polyzen commented on #215
If I understand correctly, https://github.com/microg/JGooglePlay deprecates BlankStore. I've only just learned of these; very interesting.

[2016-01-09 11:14] Peshyy commented on #214
I don't understand? CyanogenMod is still Android. People that install CyanogenMod do have to know which version they're installing and which version of GApps they should install as well. The OpenGApps website is very well made and lists the download options in a very user-friendly way. Only those who are in a hurry or don't read/think that much might download the wrong GApps, but that has happened

[2016-01-09 14:18] ibleedbinari commented on #215
@polyzen AFAIK neither project is being worked on right now. The first part of an open source Play Store was working Play Services, which is why GmsCore is being developed first. Regardless, BlankStore is the supported and working one of the two as JGooglePlay was never advanced to a working state.

[2016-01-09 14:54] bnvk commented on #214
Yes, it is, but the versioning is quite different. CM ? - 12 is Android 5.1 and CM 13 is Android 6. Users who are downloading GApps are using CM, yet the website says "Android Version #"

[2016-01-09 15:06] Peshyy commented on #214
Well, yes. Because CyanogenMod is Android, but built for dozens of different devices and with added mods and stuff. It's still Android, CyanogenMod is not something standalone built from scratch.
CM 12 is Android 5.0, CM 13 is Android 6.0. That's how it is.

[2016-01-09 15:51] polyzen commented on #215
Ahha.. Thank you, @ibleedbinari. Eager to try BlankStore now.

[2016-01-09 16:47] bnvk commented on #214
@Peshyy yes, I understand that this is the case, *now* that I spent a few hours downloading incompatible ISOs. My point of this issue is to minimize that confusion for others who don't dig in an read / understand this relatively technical thing

[2016-01-09 17:20] Peshyy commented on #214
Well if you don't read and understand what you're doing, you shouldn't be doing it in the first place. I don't want to judge or be rude, but this is very sensitive stuff and if someone flashes the wrong thing, and in the worst case it's something essential, they can break their device. That's why there's so much information and guides on rooting, flashing, etc.
Again, no need to rename anything.

[2016-01-09 17:29] mfonville commented on #214
Hi,

thanks for your suggestion. CM users are only a minority of the public we serve, and in general CM communicates the Android versions their release has been based on quite well. Also the new users are via wiki.cyanogenmod.org/w/Google_Apps directly linked to the pre-selected Android version for each CM release.

Adding an mechanism to toggle e.g. dynamically CM vs Android is first of all not e

[2016-01-09 17:29] #214 closed

[2016-01-10 02:57] xelra opened #218 "Google services crashing on Nexus 9 with CM13."
Hi, I installed OpenGApps on a completely wiped Nexus 9 with cm-13.0-20160109-NIGHTLY-flounder.

Unfortunately the Google Play services crash all the time.

I tried open_gapps-arm64-6.0-nano-20160109, open_gapps-arm64-6.0-pico-20160109 and open_gapps-arm64-6.0-stock-20160109.

[2016-01-10 08:21] mfonville commented on #218
Please post your support request first to XDA Forum as instructed in https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me including your installation debug log(s) and a logcat of the force closures.

There we can investigate and help you with your problem.

[2016-01-10 08:21] #218 closed

[2016-01-11 13:47] osm0sis commented on #212
Hmm. Still not fixed:

-rw-r--r-- system   system   17303106 2016-01-11 13:43 com.google.android.apps.photos-*.apk
-rw-r--r-- system   system   12235796 2016-01-11 13:43 com.google.android.youtube-*.apk

And it doesn't look like anything is getting copied to app-lib for either of those anymore.

[2016-01-11 13:52] osm0sis commented on #212
Totally my mistake since basename doesn't care whether the file exists or not.

[2016-01-11 13:56] mfonville commented on #211
Since rewriting all our lines from awk to sed would take quite an effort, I will look into the possibility of bundling our own gawk with the installer, just as we do with xzdec. It could be a temporary measure until Toybox would be posix-feature complete.

[2016-01-11 13:57] osm0sis commented on #212
`number=$(basename `find /data/app/com.google.android.apps.photos-* | h
ead -n1` .apk | rev | cut -d- -f1)`

[2016-01-11 14:55] osm0sis opened #220 "Hangouts not getting installed to data (or at all) in KitKat install"
/data/media/open_gapps-arm-4.4-stock-20160109.zip;
/data/media/.gapps-config:
[code]

But /data/app and /data/app-lib only contain Photos and YouTube.

[2016-01-11 14:59] mfonville commented on #220
Could you check with the fix of https://github.com/opengapps/opengapps/commit/251d53827751938ac757a3e1534c21f5f685f7fc ?

[2016-01-11 15:07] osm0sis commented on #220
Talk gets installed now. Good eye on the fix. I was worried it might be something more broad like Talk vs. Talkback. :+1:

[2016-01-11 15:38] #220 closed

[2016-01-12 01:08] dianlujitao commented on #211
Thanks

[2016-01-12 19:23] skylerbunny opened #221 "Project Fi/Tycho needs system app permissions"
In fairness, this is a pretty recent discovery; Tycho needs full system permissions to do its Thing.

See:

https://productforums.google.com/forum/#!topic/project-fi/d3jILa7bQR8
http://forum.cyanogenmod.org/topic/119798-project-fi/#entry563767
http://forum.cyanogenmod.org/topic/119798-project-fi/#entry566566

https://github.com/opengapps/opengapps/blob/a2ae5ecca8f951ec504653a4831806e8605dfef1/scri

[2016-01-12 20:08] Lrs121 commented on #221
The question then becomes whether it would be better put within app or priv

[2016-01-12 20:12] skylerbunny commented on #221
I wasn't sure, and that's why I wanted to bring it up. There seems to be ambiguity on that point.

[2016-01-12 20:19] Lrs121 commented on #221
Probably safe to start with just system/app and then go from there. Ill run a zip off and test it when i get home. That may fix the crappy service/switching ive been experiencing lately.

[2016-01-12 20:29] skylerbunny commented on #221
As I understand it, if you are on Fi, 'the app not having system privs' will prevent switching to the other network. You will always be on 'the last network you were on when 'the last phone you were on had system permission to switch networks'.

Found these dialer codes linked from one of the posts, which may be helpful to verify 'before' and 'after' locations for the app. https://productforums.go

[2016-01-12 20:34] Tolmino opened #222 "Gapps for ARM / Android_6.0 with cm-13.0-**-jfltexx.zip"
After wipe, i have mada a fresh installation of last (and i have tryied the last 3 version) of cm-13.0-**-jfltexx.zip
after that installation i can start phone and use it .
but if i install gapps in different version (i have test with mini, micro and nano)
restarting phone i have a white windows that say that an error occured during starting of configuration program.

can i help you to debug in an

[2016-01-12 20:36] Tolmino commented on #222
the device is a samsung GT-I9505

[2016-01-12 20:54] Lrs121 commented on #221
not really, with 5.x that may have been the case but so long as it has permissions on 6.x its allowed me to switch networks. Also it appears to be installed to system/app by default.

Ive been running self made omnirom 6.0.1 builds using opengapps and looking in the system/app directory shows a directory for Tycho. I dont know if its the opengapps package or if theres a build flag for it with omni

[2016-01-12 20:56] Lrs121 commented on #221
I forgot to mention it switches just fine it just tends to choose the worst network or technology eg. Choosing tmo edge when sprints lte is available.

[2016-01-12 23:40] mfonville commented on #93
@TheCrazyLex @rapperskull @deadman96385
Could you guys check if https://github.com/opengapps/opengapps/tree/mmpermissions works for you on a ROM without Alex's patch?

[2016-01-13 09:28] Tolmino commented on #222
Same thing that morning with Gapps arm 6.0 mini 13 January 2016
and  cm-13.0-20160113-NIGHTLY-jfltexx.zip

always same error

[2016-01-13 13:54] osm0sis commented on #44
Is this working yet? Signing a shell update-binary zip always created issues with unzip until I started using Chainfire's zipadjust binary. I built it for Windows but it should be easy to build for your build server as well.

http://forum.xda-developers.com/android/software-hacking/dev-complete-shell-script-flashable-zip-t2934449/post56621542

[2016-01-13 14:18] mfonville commented on #44
No, it doesn't work yet. I was very close to it, but at some point other more important developments took priority.
Preference is still to get it working using (posix) shell tools, if possible.

[2016-01-13 15:04] mfonville commented on #211
I was able to compile gawk for both arm and x86. We could bundle that as a solution just like we do with xzdec.

[2016-01-13 16:11] mfonville commented on #211
@dianlujitao
Could you try our https://github.com/opengapps/opengapps/tree/bundledawk branch and report back to me whether it works for you with CM13 recovery?
I compiled a pico package for you: https://www.dropbox.com/s/ttw5f551gj15g0v/open_gapps-arm-6.0-pico-20160113.zip?dl=0

[2016-01-13 17:32] osm0sis commented on #44
Definitely check out Chainfire's source for zipadjust and MinSignApk then, maybe you can replicate what they do with shell tools. :+1:

[2016-01-13 23:46] mfonville commented on #221
Hi,

the Super-package (and Aroma) contain projectfi and it is installed in app/Tycho, since that is also the location where Nexus ROMs install it. In general the difference between app and priv-app permissions is also very minimal since Android 5.

I think the switching is very probably done by GCS and not by Tycho, since I believe Tycho is only a frontend and GCS provides the backend. GCS is ins

[2016-01-14 00:03] Lrs121 commented on #221
Ah makes sense, especially with GCS.

As for needing Google Dialer, I think it may depend on the rom. Some roms have patches from the Pure Nexus Project rom. They figured out whats needed to get Fi working with AOSP roms.

OmniRom, CyanogenMod (I think), and probably some others, have the patches or some sort of work around that fix switching. so long as the dialer and Tycho have proper permission

[2016-01-14 05:55] TeMochkiN commented on #197
How long will the dialer is under review?

[2016-01-14 14:21] mfonville opened #224 "Should we drop "micro" as a package?"
Since 6.0-era, GoogleTTS has been added to the smaller packages, GMail has become a bit less popular because of Inbox.  System partitions are considerably larger and every device should be able fit Mini on their system if they would want to.

I would like to receive some opinions (and reasons) why we should or should not drop the "micro" package.

[2016-01-14 16:18] mfonville commented on #202
Since Inbox is not bundled with any of the Nexus ROMs we don't have an 'official' path of where it should be stored in /app/ or /priv-app/.

The plan is to allow the building of "add-on"s (which could then also be included in e.g. Aroma) that could provide non-Nexus apps as Inbox.

I do need to make some infrastructural changes to the building and packaging process, and some other changes to those

[2016-01-14 16:20] mfonville commented on #213
I will see what we can do about this. In general I am thinking about a keyword and script like https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#skip-googles-swype-library-setting

[2016-01-14 17:53] Portaleus commented on #224
Google apps like Maps and Hangouts are not easy on battery, it is better to keep them as user app and use greenify to sleep them.

[2016-01-14 17:59] mfonville commented on #224
@Portaleus I have no experience with greenify. But greenify can't sleep apps that are on /system/ I understand from your comment?

[2016-01-14 18:49] Portaleus commented on #224
Yes, you cannot grenufy system app (there is a rooted experimental feature, but google apps are too deeply implemented in the system to be silenced).
I think this package is the best fit if you want minimal Google ecosystem.

[2016-01-14 18:56] mfonville commented on #224
@Portaleus thanks for your feedback and insights!

[2016-01-14 21:07] Blystad commented on #93
Has anyone tried doing a dump of `framework-res.apk` on a standard system image? Usually Google do changes like these using `config.xml` overlays...My feeling is that they would've done that here too.

Second alternative is a xml file on the system image.

Third alternative: decompile the framework and check if they have a special `DefaultPermissionGrantPolicy.java` (since I think you can overlay

[2016-01-15 03:05] polyzen commented on #213
My issue was unrelated, and @mfonville took care of that :)

[2016-01-16 17:18] jrior001 commented on #208
I'd like to add to this the main x86 device w/a camera that is getting Aosp/CM/other builds (zenfone 2) can't use this new camera either. The 3.0+ Google Cam requires an api2 camera Hal and pretty much only Nexus w/official M release is shipping an api2 capable camera hal.

[2016-01-17 11:07] booldik commented on #222
Exactly the same thing is happening to me in a GT-I9300
As of now, I'm only using the phone, because I can't get any version of GAPPS to work with cm-13.0-20160116-NIGHTLY-i9300.zip
Any advice will be helpful.

[2016-01-17 11:13] mfonville commented on #222
Could you please use the xda forum for support requests as described in the FAQ? There it will be more easy to provide support since the whole community can help.
Specific to your issue, please include a logcat so that the exact error can be seen.

[2016-01-17 11:20] Tolmino commented on #222
booldik, now i know, after different flashing, that is surely a cyanogenmod issue, because for have a vorking image i have used crdroid. that image is based on cyanogenmod, but work perfectly. I'm non a xda forum user, and mfonville is in right.
So booldik, can you open a thread on xda forum for we all ? thanks in advance

[2016-01-17 11:26] mfonville commented on #222
Don't open a thread, but just post to the OpenGApps thread :-)
There I will see it and follow up if necessary. But in general the community there can also help out and it helps in creating a common knowledge pool :-)

[2016-01-17 14:30] Blystad commented on #93
TL;DR: I reverse engineered the binaries on Google Nexus 6 and from what I can see, Google does not need a permission grant patch like we do.

Checked `Settings.apk` ([which is signed with the platform certificate](https://github.com/android/platform_packages_apps_settings/blob/android-6.0.1_r1/Android.mk)) and compared that to `PrebuiltGmsCore.apk`

Settings.apk certificate:
[code]

PrebuiltGmsCo

[2016-01-18 00:46] EvaSDK opened #225 "Cannot install pico on i93100 + CM13"
Hello,

I installed CM13 on my i9300 today using CM recovery. For some reason, I cannot install any of the opengapps packages from pico to stock even though I should have enough space for it according to FAQ:

[code]

I am loosing my head over this and it is 2AM, thanks for any help.

[2016-01-18 09:44] mfonville commented on #225
Please post to the OpenGApps support thread at [XDA Forum](http://forum.xda-developers.com/showthread.php?t=3124506) and include your installation debug log. There the community can help out.

[2016-01-18 09:44] #225 closed

[2016-01-18 10:01] EvaSDK commented on #225
Actually, I installed latest stable (CM11) recovery and it installed the stock package just fine, I guess it's a CM recovery bug then.

[2016-01-18 10:19] mfonville commented on #225
CM Recovery still a problem yes, there is a beta version which you can try on the CM13 recovery: https://www.dropbox.com/s/ttw5f551gj15g0v/open_gapps-arm-6.0-pico-20160113.zip?dl=0
(I would really like to get feedback on it, so that it could be included in the normal packages too)

[2016-01-18 11:02] acidicX commented on #225
@mfonville I've tried it right now on a Nexus 5 with a fresh CM13 flash as described in the FAQ for 6.0 on CM Recovery. Still "Insufficient storage space available in System partition". System is at 51% usage.

[2016-01-18 15:14] mfonville commented on #225
@acidicX thanks for testing. Then I know I will have to find another solution for CM13

[2016-01-18 18:20] jawz101 opened #226 "CMMusic vs CMEleven"
on the wiki both say they uninstall CyanogenMod Music player.

[2016-01-18 18:27] mfonville commented on #226
Thank you for spotting that. I will merge them than into a single CMMusic keyword.

[2016-01-18 18:32] #226 closed

[2016-01-18 21:08] jawz101 commented on #226
Thanks.  It confused me for a sec.  I use that wiki page all the time :)
I'm thinking of just posting a sample config file that's all commented so it easier to reference.

[2016-01-18 21:12] jawz101 opened #227 "explaination on wiki for PackageInstallerGoogle option?"
I have no idea what the reasoning was behind this.  I think it causes me bootloops with CM13, though.

What is it?  Is it replacing an AOSP package?  Was it not optional prior to becoming an optional thing- i.e. was it a core type package?
I'm not concerned in a paranoid sense.  I just don't know what it's advantages/disadvantages are and what it's reasoning for now being an optional package.
Is i

[2016-01-18 23:37] lapism commented on #224
Hi, I hope you are going to keep it. But I have a problem with those Micro/Pico/Nano packages. On my Nexus 4 it is showing STATUS 70. I did full wipe and still I have that error. Any solution?

[2016-01-19 00:10] bgiesing commented on #227
@jawz101 Read #223, it explains the options and what changed recently with it.

But to answer some of your questions:
1. It is replacing an AOSP package. It's the screen that shows up when you install an APK outside GPlay
2. See issue above for that
3. Nope, that's through Google Play services.

[2016-01-19 15:32] mfonville commented on #227
@bgiesing thanks for answering :-)

The exact advantages over the AOSP package are unknown, since it is proprietary and we have no access to Google's sourcecode ;-)
What we *do* know is that it does come with all of the Open Handset Alliance's ROMs and as such should be considered a core feature that fulfills *some* role. Moving it from core to pico was described in the PR to allow them to exclude

[2016-01-19 15:32] #227 closed

[2016-01-19 16:35] eugenesan commented on #208
I can confirm that Google camera from 6.0 crashes (in video mode) on HTC-Pyramid, while it's older version from Android 5.1.1 is working fine.

Maybe for non-nexus devices, an older variant can be added alongside the new one so user could select the variant he wants to install?

Is there anything on target system that can indicate availability of API2?

[2016-01-20 04:06] c3ph3us opened #228 "permission issue on cm13/nano - fix it pleas as every time i install gapps i need disable Setup Wizard after install"
01-20 05:04:33.397 4753-4753/? E/dex2oat: Failed to create oat file: /data/dalvik-cache/arm/system@priv-app@SetupWizard@SetupWizard.apk@classes.dex: Permission denied
01-20 05:04:33.569 4740-4740/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: com.google.android.setupwizard, PID: 4740
                                                 java.lang.Run

[2016-01-20 04:40] c3ph3us opened #229 "location issue on nano 6.1- 20.01"
01-20 05:28:04.357 7545-7565/? E/LocationManagerCompat: Unable to assign LocationManager blame through WorkSource
                                                        java.lang.SecurityException: "passive" location provider requires ACCESS_FINE_LOCATION permission.
                                                            at android.os.Parcel.readException(Parcel.java:1637)

[2016-01-20 04:42] c3ph3us opened #230 "car service & location & other - issue nano 6.1 - 20.01"
01-20 05:28:04.360 7545-7565/? E/AndroidRuntime: FATAL EXCEPTION: FlpThread
                                                 Process: com.google.android.gms.persistent, PID: 7545
                                                 java.lang.SecurityException: "passive" location provider requires ACCESS_FINE_LOCATION permission.
                                                     at android.os.Parcel

[2016-01-20 04:43] c3ph3us commented on #230
01-20 05:26:55.226 6202-7113/? E/DynamiteModule: Failed to load IDynamiteLoader from GmsCore
                                                 java.lang.ClassNotFoundException: Didn't find class "com.google.android.gms.chimera.container.DynamiteLoaderImpl" on path: DexPathList[[zip file "/system/framework/com.android.location.provider.jar", zip file "/system/framework/com.android.media.remotedispla

[2016-01-20 09:29] mfonville commented on #228
a) You need to first request support for any problems your experience on the XDA Forum as stated in the FAQ
b) Your ROM just misses the permission patches necessary: https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0
c) You just opened 3(!!!!!) issues for this nonsense while in the FAQ it is clearly stated that directly opening any GitHub bugreports is NOT appreciated.

[2016-01-20 09:29] #228 closed

[2016-01-20 09:29] mfonville commented on #229
a) You need to first request support for any problems your experience on the XDA Forum as stated in the FAQ
b) Your ROM just misses the permission patches necessary: https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0
c) You just opened 3(!!!!!) issues for this nonsense while in the FAQ it is clearly stated that directly opening any GitHub bugreports is NOT appreciated.

[2016-01-20 09:29] #229 closed

[2016-01-20 09:29] mfonville commented on #230
a) You need to first request support for any problems your experience on the XDA Forum as stated in the FAQ
b) Your ROM just misses the permission patches necessary: https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0
c) You just opened 3(!!!!!) issues for this nonsense while in the FAQ it is clearly stated that directly opening any GitHub bugreports is NOT appreciated.

[2016-01-20 09:29] #230 closed

[2016-01-20 13:37] m-p-3 commented on #208
Same issue with my LG G3 (d852) on CM13 nightly 20160118. Removing Google Camera from system/app and installing from the Play Store will download version 2.5.052.

This one won't freeze when switching to video mode. Pictures taken with HDR mode on will often turns out fully black, but that seems more like a CM13-specific issue.

[2016-01-20 13:47] legendtang commented on #208
A good alternative is to use newly introduced Snap Camera by CyanogenMod 13, which is powerful enough.

* http://www.xda-developers.com/xda-external-link/cyanogenmod-13-nightlies-reportedly-comes-with-snap-camera-app/

To use this app with openapps, you need to create an `gapps-config.txt` where your opengapps zip located with these following lines:

[code]

[2016-01-20 21:41] jawz101 commented on #227
Thanks, folks.  I figure it needs a write-up.  If I can wrap my head around what it does I'll put something out there.  It kinda doesn't make sense yet :)

[2016-01-21 01:34] c3ph3us commented on #228
1. i don't use xda
2. my rom is nightly cm13 :)
3. "GitHub bugreports is NOT appreciated. " see first &/ DISABLE ISSUES ON GITHUB :)

one user of open gapps  less
THX

[2016-01-21 01:39] c3ph3us commented on #229
Process: com.google.android.gms.persistent, PID: 8520
java.lang.SecurityException: Neither user 1010064 nor current process has android.permission.ACCESS_COARSE_LOCATION.

its yours appS CRASHING - I DON'T WANT GMS   - TO USE LOCATION (ANY) - ITS OFF ON MY DEVICE U SHOULD RESPECT THAT - FOR THAT PERMISSIONS WERE MADE

[2016-01-21 02:25] xtrm0 commented on #229
"c) You just opened 3(!!!!!) issues for this nonsense while in the FAQ it is clearly stated that directly opening any GitHub bugreports is NOT appreciated"
You can use an outside bug report system if you wan't bug reports to be private, or use the public one with tags only on the bug reports you agree with. No need to rage.
Also this seems like a legit bug report, even though the initial post doen

[2016-01-21 02:26] xtrm0 commented on #229
@mfonville

[2016-01-22 08:29] wudimenghuan opened #231 "Please don't remove GooglePinyinIME and QuickSearchBox in pico"
Please don't remove GooglePinyinIME and QuickSearchBox.

pico don't have them. It made ota fail. (miui version android 6.0)

[2016-01-22 09:42] wudimenghuan commented on #231
app/Provision is removed. But I don't know whether it's removed by opengapps

[2016-01-23 01:10] c3ph3us commented on #229
"All apps are untouched, we do not change or modify Googles' applications but deliver them as-is"

THIS SHOULD BE ON MAIN README or any github project page (example on wiki) - not on separate server side like xda why ?

 if u decide host here project then u should maintain consistency in your actions for
- clarines of project
- save of time (on issue like this)

keep in mind that delocalizing reso

[2016-01-23 02:46] bgiesing commented on #229
@c3ph3us All apps are using Google's signature and we verify it's Google's before allowing it to be published. This "bug" is with Google Play services and has NOTHING to do with us as it's an issue with Google's code.

We don't modify anything! All we do is make the scripts that automate making the zip file containing the signed Google apks.

Plus that message that you say should be on the wiki/re

[2016-01-23 10:48] sfan5 commented on #211
@mfonville
I tried that branch and it didn't work either. Symlinking /sbin/awk to something else fails because of permissions.

After [fixing](https://gist.github.com/sfan5/bb7e957e69a557146a87) awk and 2 unrelated issues (missing : in LD_LIBRARY_PATH, head -c not working either) it installs but results in a broken CM installation.

[2016-01-23 10:52] mfonville commented on #211
@sfan5 thanks for the feedback.
In that case we will bundle a complete busybox instead to handle CM13 recovery.
Currently I am ill and not able to write any code. I hope to be able to work on it next week.

[2016-01-24 04:18] c3ph3us commented on #228
from: https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0
"To install Open GApps on 6.0 your ROM needs the following patch to prevent Force Closures at first boot: https://github.com/TeamExodus/frameworks_base/commit/9c36be651e83fb039a262682839bd920b033007a

**This patch is included by default in Cyanogenmod sources**, but not in AOSP."

# These are total bulshit!!!

see: http://revi

[2016-01-24 04:22] c3ph3us commented on #229
# all welcome to see this:
https://github.com/opengapps/opengapps/issues/228#issuecomment-174248327

[2016-01-24 04:22] c3ph3us commented on #230
related https://github.com/opengapps/opengapps/issues/228#issuecomment-174248327

[2016-01-24 05:09] abhay44 opened #235 "Installation error in /sideload/package.zip"

[2016-01-24 05:10] #235 closed

[2016-01-24 05:13] abhay44 opened #236 "Installation error in /sideload/package.zip (status 255)"
I installed cyangogenmod on my motorola moto g xt1033.When i try to install gapps through cm-recovery,I get the above error and 'Installation aborted'.what's wrong with this error.Can somebody help me?

[2016-01-24 23:21] championswimmer commented on #236
It is an issue with toybox.
(CM moved from busybox to toybox)

Should be merged with https://github.com/opengapps/opengapps/issues/211

[2016-01-25 08:38] gericom-hummer opened #237 "Bypass stock camera"
Will it be possible to make a choice for bypassing the stock camera, e.g. aosp, CM Snap, moto cam... like you already did with the browser, gallery... Thanks in advance.

[2016-01-25 20:50] Jonatino commented on #204
Only happens in the mini build. Flashing stock hangouts works fine.

[2016-01-25 20:52] jpgnz commented on #204
@Jonatino so open_gapps-arm-5.1-stock-YYYYMMDD.zip? I couldn't flash that at the time because it failed the storage checks.

@mfonville apologies for lack of updates, I no longer have the M8 in working order (dropped it one too many times) and replaced it with an N6, so can't replicate/provide more information.

[2016-01-25 20:55] Jonatino commented on #204
@jpgnz I'm talking about the 6.0 marshmallow build. Sorry if I was unclear. open_gapps-arm-6.0-mini-20160122.zip specifically.

[2016-01-25 20:56] jpgnz commented on #204
No that's my bad, I copy/pasted the wrong build zip. Thanks.

[2016-01-25 20:58] Jonatino commented on #204
@jpgnz no problem, thanks for doing this for the android community, it's really awesome!

[2016-01-25 21:01] krodelabestiole opened #239 "wrong missing space error with cm13"
hi, i've been trying to install the nano package on cyanogenmod13 (ARM64 android 6.0) and got an error 70 about missing available space on the system partition.

but as you can see

    root@crackling:/system/bin # df -h
    Filesystem            Size  Used Avail Use% Mounted on
    tmpfs                 934M   36K  934M   1% /dev
    tmpfs                 934M   52K  934M   1% /tmp
    tmpfs

[2016-01-25 21:03] jpgnz commented on #204
@mfonville is the one who deserves the credit, I'm just a user! :)

[2016-01-26 21:17] mfonville commented on #93
But how should we now handle this? Remove by default all AOSP/CM apps that claim any conflicting permission?
E.g. when the ROM does ship with the CM Setupwizard, it is removed by the opengapps install script, but the permissions are still not automatically granted to the Google SetupWizard instead. So it is not per se a "first come - first server" for all apps on a per-app basis.

Also, I tried fi

[2016-01-26 21:37] Blystad commented on #93
The commit from TeamExynos is one way of solving these issues. I'm merely saying it should work out of the box for standard AOSP builds.

The code points towards first come first served. The code queries for a given intent and return the first component fulfilling that. Wierd that it doesn't happen on CM.

Best bet is debugging the package manager system service to figure out what goes wrong. I wo

[2016-01-26 21:39] TheCrazyLex commented on #93
Lol Team Exynos xD

[2016-01-26 21:41] Blystad commented on #93
*Exodus ;) (I wrote this on a phone and didn't bother checking until someone called me out)

[2016-01-26 21:59] mfonville commented on #93
@Blystad thanks for further explanation.
I wonder which 'default' intent should match GMS Play Services in the AOSP source

[2016-01-26 23:24] mfonville commented on #93
@Blystad indeed the permissions seem to match. Unfortunately I am still not able to reproduce the automatic granting of permissions to the GApps by removing a lot of the AOSP/CM default apps yet. So I guess I will have to tinker a bit more with those.

We are sure the intents are checked at runtime, right?

[2016-01-27 04:58] krodelabestiole commented on #239
this issue was related to the latest cm recovery.
i found a workaround using TWRP and it just worked

[2016-01-27 05:36] bgiesing commented on #237
You can't as there can't be two camera apps installed in the `/system` partition at the same time (unlike Browser/Gallery)

[2016-01-27 07:00] gericom-hummer commented on #237
Why? For nearly 1 month it was possible, without any problems.

[2016-01-27 07:48] bgiesing commented on #237
It hasn't since before we even existed (when PA GApps existed)

On Wed, Jan 27, 2016, 1:00 AM gericom-hummer <notifications@github.com>
wrote:

[2016-01-27 09:26] mfonville commented on #237
@bgiesing there is a new situation since https://github.com/opengapps/opengapps/pull/233
Snap camera is now also treated as one of the stock camera apps.
I will look into a +CameraStock keyword

[2016-01-27 09:31] gericom-hummer commented on #237
They can coexists, because they were, untill adding Snap in the list of stock cams. Since then i excluded google camera from installation and i have copy-pasted and changed the name of the google camera's folder so that the installer won't delete it and will think it is uninstalled.
So probably +CameraStock keyword will be greatly appreciated.

[2016-01-27 09:49] #237 closed

[2016-01-27 09:51] gericom-hummer commented on #237
Thanx a lot!

[2016-01-27 10:21] mfonville commented on #204
More people are reporting this issue on XDA. Since it can't be a difference in the app itself, but probably how the ROM handles apps on /system/ and /data/ it something they should figure out and resolve. We can't do anything about it unfortunately.

[2016-01-27 10:21] #204 closed

[2016-01-27 10:22] mfonville commented on #224
Based on the feedback, decision is not to drop the package at this moment.

[2016-01-27 10:22] #224 closed

[2016-01-27 11:10] mfonville commented on #239
This is a result of current ToyBox issues. Indeed stick to TWRP for now.

[2016-01-27 11:10] #239 closed

[2016-01-27 11:43] lapism commented on #224
Thanks. I am using it right now in my Nexus.

[2016-01-27 21:53] #208 closed

[2016-01-27 21:54] mfonville commented on #208
This is now fixed. The installer script automatically installs the older Google Camera on non-Nexus and Android One devices.

[2016-01-27 22:04] #221 closed

[2016-01-27 22:04] #222 closed

[2016-01-28 15:23] gericom-hummer opened #242 "+CameraStock"
In Aroma when Google Camera is selected to be installed and +CameraStock is being selected too Google camera is not being installed, in fact if i copy google camera folder to /system/app and then start the installer again with checked to be installed and Google and the Stock camera, the installer is deleting Google camera's folder. So again with +CameraStock selected it is not possible to install

[2016-01-28 15:25] gericom-hummer commented on #237
I have opened new issue.
In Aroma when Google Camera is selected to be installed and +CameraStock is being selected too Google camera is not being installed, in fact if i copy google camera folder to /system/app and then start the installer again with checked to be installed and Google and the Stock camera, the installer is deleting Google camera's folder. So again with +CameraStock selected it is

[2016-01-28 15:41] mfonville commented on #242
Could you please attach or link your debug logs?

[2016-01-28 15:50] gericom-hummer commented on #242
Here they are

[2016-01-28 15:53] gericom-hummer commented on #242
[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/108443/open_gapps_log.txt)

[Device_Space_After.txt](https://github.com/opengapps/opengapps/files/108446/Device_Space_After.txt)
[Device_Space_Before.txt](https://github.com/opengapps/opengapps/files/108447/Device_Space_Before.txt)
[gapps-config_original.txt](https://github.com/opengapps/opengapps/files/108448/gapps-config_original.

[2016-01-28 15:53] gericom-hummer commented on #242
by mistake i closed the issue, sorry.

[2016-01-28 16:11] mfonville commented on #242
np

I just don't understand how github can indicate that "mfonville closed this issue" directly after your re-opened it, if I didn't. Seems like github has some bugs :-/

[2016-01-28 16:19] gericom-hummer commented on #242
Me either. OK check the logs and if it is possible to fix. Thanks a lot.

[2016-01-28 21:27] mfonville commented on #242
Thanks for the logs. I did find some errors in my code and are now testing the fixes.

[2016-01-28 21:32] gericom-hummer commented on #242
Welcome. Tomorrow when we have new package, I'll test it too 😁

[2016-01-28 21:35] mfonville commented on #242
:)
If any problems arise (also for the future), just comment on the existing bug about the topic. If necessary I can always reopen.

[2016-01-28 21:38] gericom-hummer commented on #242
Ok, no problems.

[2016-01-29 07:30] skychan commented on #165
@mfonville
Have seen the _Notes for Android 6.0_, I just wonder how to patch the ROM (for me, I use CM13 Nightly), could you please add it on the Note? After flash CM ROM, then Open Gapps (6.0 arm pico) without boot, my cellphone crushed, the toast says the Setup Wizard Stopped.

[2016-01-29 07:51] mfonville commented on #165
@skychan
The ROM dev needs to apply the patch. For some reason latest CM13 nightlies *always* give the setupwizard problems (where before they didn't). We are still figuring out why. Temporary workaround is to remove SetupWizard from the Core folder in the opengapps package, or to remove thet SetupWizard from /system/priv-app after installation using the TWRP file manager.

[2016-01-29 08:17] gericom-hummer commented on #242
Nope, today's build - 20160129 is acting the same way.
here are the logs.
Thanx
[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/109417/open_gapps_log.txt)

[Device_Space_After.txt](https://github.com/opengapps/opengapps/files/109418/Device_Space_After.txt)
[Device_Space_Before.txt](https://github.com/opengapps/opengapps/files/109419/Device_Space_Before.txt)
[gapps-config_original

[2016-01-29 08:32] mfonville commented on #242
@gericom-hummer I don't see any wrong behaviour in the logs actually. Snap camera seems to be succesfully retained.

And that you don't get GoogleCamera installed is because it is a "dirty" install: https://github.com/opengapps/opengapps/wiki/FAQ#5-i-read-that-google-camera-can-only-be-installed-during-a-clean-install-or-as-an-update-to-an-existing-open-gapps-installation-what-does-this-mean

Try

[2016-01-29 08:36] gericom-hummer commented on #242
OK i will try it in few minutes and will write down the result.

[2016-01-29 08:59] gericom-hummer commented on #242
Now, with force clean i think it is OK. Installed camera google legacy. I think, because it is not a nexus device or it doesn't support camera3 api.
Thanx.

[2016-01-29 09:01] mfonville commented on #242
Happy to hear that :+1:

[2016-01-29 09:01] #242 closed

[2016-01-29 09:14] mfonville commented on #165
@skychan you did remove the wiki page (!)
I restored it now, but you hit a wrong button there...

[2016-01-30 15:03] yang-le opened #244 "How can I get gapps for my Android 4.3 ?"
Hi,

Your scripts is cool.
But seems it only support Android 4.4+.
Which script should I modify to support my poor Android 4.3?
Cause I'm not so familiar with your magic scripts, help wanted, Thank you.

[2016-01-30 15:42] mfonville commented on #244
Hi,

unfortunately I cannot (because of lack of time) help you in detail, because the Android 4.3 install base is really small, it ain't worth the effort for us as project members.
I will point you in the general direction:
* You will need to adjust files like build_gapps.sh to let it recognize and handle API level 18. E.g. you will need to make a new line at https://github.com/opengapps/opengapps

[2016-01-30 15:42] #244 closed

[2016-01-30 16:26] legendtang commented on #168
@bendavid Well, for us and some other samsung users only. You can just boot into TWRP (v2.8.7.0+) and select wipe - advance wipe - system partition - resize and you will regain 2.6G system partition.

Cheers!

@mfonville Due to Samsung's (maybe other OEMs also included) policy, partition is somehow change to default size when CM and other ROMs use `patch partition` method. This might trouble a lot

[2016-02-01 01:00] suzydellgmail opened #245 "#87"

[2016-02-01 02:52] polyzen commented on #245
This appears to be missing something.

[2016-02-01 07:43] suzydellgmail commented on #245
No mic volume, earpiece volume really low have to hit speaker to hear caller barely. Speakers compromised after update to lollipop. Running Android 5.1 on moto E xt1023.. Please I'm going bananas for a week now..
Forever grateful
Suzydell@gmail.com

[2016-02-01 07:45] CheyiLin opened #246 "Misprocessing the gapps-config (open_gapps-arm-5.1-super-20160201)"
Could you please look into this issue? Thanks.

[code]

[code]

[2016-02-01 08:31] #246 closed

[2016-02-01 08:42] mfonville commented on #246
Thanks for letting me know and the practical diff.
A fix is live, and I removed today's build since the impact of this one is quite high.

[2016-02-01 09:58] gericom-hummer opened #247 "20160201 - Aroma installs packages, even marked to be excluded and removes bypassed ones"
Installs: KoreanIME GoogleZhuyinIME GooglePinyinIME AndroidForWork
Removes: Snap Camera

[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/111989/open_gapps_log.txt)

[Device_Space_After.txt](https://github.com/opengapps/opengapps/files/111991/Device_Space_After.txt)
[Device_Space_Before.txt](https://github.com/opengapps/opengapps/files/111990/Device_Space_Before.txt)
[gapps-config

[2016-02-01 10:03] mfonville commented on #247
Check out https://github.com/opengapps/opengapps/issues/246 and the forum.

I took that 1st of February build offline because of this issue. In tomorrow's it will be resolved.

[2016-02-01 10:03] #247 closed

[2016-02-01 10:06] gericom-hummer commented on #247
Thanks.

[2016-02-01 12:18] vincent-t opened #248 "Please provide stock DialerGoogle"
Why is the stock DialerGoogle not included, so it's possible to remove the aosp dialer.

[2016-02-01 12:24] mfonville commented on #197
Dialer still has known problems on many devices; I have a lot of more higher priority bugs to work on atm, so please have patience. It will come in the future.

[2016-02-01 12:25] mfonville commented on #248
duplicate of #197
please don't open directly new issues without checking xda and/or existing list of issues.

[2016-02-01 12:25] #248 closed

[2016-02-01 12:33] polyzen commented on #245
Did you close this accidentally? If hitting it makes a difference, then it seems like a hardware issue. Have you tried downgrading to see if it works again? Perhaps you can try Marshmellow (6)?

On February 1, 2016 2:43:31 AM EST, Susan dallesandro <notifications@github.com> wrote:

[2016-02-01 12:41] vincent-t commented on #248
@mfonville Sorry my fault, I'm blind! :-1:

[2016-02-01 15:37] aidas957 opened #249 "AOSP Keyboard constant FC on CM 13 with Open GApps ARM Nano 6.0"
Please fix this

[2016-02-02 05:53] suzydellgmail commented on #245
Thanks Daniel I shall give it a try, ( Marshmallow)
that is.  Thanks, Amy remedy's you can thiñk of lime the SDK package disappeard after recovery mode on reboot.
Regards I'll let ya know how Marshmallow turns out..

[2016-02-02 09:37] mfonville commented on #245
@suzydellgmail What makes you think this is is an issue related to Open GApps? It looks more like a hardware fail and otherwise something with the ROM, not with the GApps.

[2016-02-02 10:00] mammenj opened #250 "On a clean flash, first time init fails due to Playservices FC"
Please see the screenshot in the below thread.
http://forum.xda-developers.com/oneplus-one/development/rom-orion-os-2-0-t3294632/post65091440#post65091440

Unable to get past the inital setup of the newly flashed ROM, Stock Gapps. This issue happened in OrionOS and Darkobas rom.
Please review if its an gapps issue, already reported in ROM threads.

[2016-02-02 10:31] mammenj commented on #250
BTW, the permission patch is included in the ROM, please see below commit:
https://github.com/TeamOrion/frameworks_base/blob/6.0.1/services/core/java/com/android/server/pm/DefaultPermissionGrantPolicy.java

[2016-02-02 10:35] mfonville commented on #250
Do you have a logcat? Than we could see what exactly causes the FC

[2016-02-02 10:36] mammenj commented on #250
I will try to get it next time as I could not complete the setup.

[2016-02-02 12:23] polyzen commented on #245
Autocorrect <3

On February 2, 2016 12:53:11 AM EST, Susan dallesandro <notifications@github.com> wrote:

[2016-02-02 16:38] suzydellgmail commented on #245
Do you any protocol default to troubleshoot

[2016-02-02 18:48] polyzen commented on #245
Have you tried Marshmallow or another rom yet? That should probably be your first step.

[2016-02-02 20:39] levysantanna commented on #211
I am still having this problem with the last packages. Do we have a kind of workaround? Can I help with something, some commit?

[2016-02-03 10:46] skychan commented on #165
@mfonville sorry for that, it might be an accidentally click, very very sorry

[2016-02-03 12:26] sfan5 commented on #211
You can try a prebuilt *nano* package with my fixes applied: https://kitsunemimi.pw/tmp/open_gapps-arm-6.0-nano-20160124.zip
It doesn't work perfectly but it installs and kinda works.

After installing this you'll need to use adb to run <code>pm disable com.google.android.setupwizard</code>(as root IIRC) to disable the constantly crashing Setup Wizard app and you'll need to re-install all Google a

[2016-02-03 17:41] dheerajbhaskar commented on #99
:+1: this works

Remember to click on [images...] button at the bottom right to view `.img` files. I was about to think this is a fail, then saw the images button.

[2016-02-03 19:09] larsx2000 opened #251 "Android 6 on Nexus4 mako error #70 - Insufficient Space Available in System Partition"
I formated /system on my Nexus 4 installed CyanogenMod 13 (Android 6) so /system has 329MB free:
df -h
/dev/block/mmcblk0p21 828M  499M  329M  61% /system

Trying to install opengapps pico gives error #70 - Insufficient Space Available in System Partition. Is this really not enough space? How much space is required for the pico edition?

[2016-02-03 23:06] mfonville commented on #251
Please use XDA Forum for support requests. You are probably using CM13 recovery which is not supported. Use TWRP recovery instead.

[2016-02-04 13:02] gericom-hummer commented on #251
In TWRP go to Wipe=>Advanced wipe=>select System=>click on Repair/Change File system=>then click Resize. After that you can proceed installing opengapps. Do it every time when flash/dirtu/update your rom.

It is known bug when flashing CM or CM-based roms.

[2016-02-04 21:46] larsx2000 commented on #251
Thank you for the advice!
resizefs did the trick:
/dev/block/mmcblk0p21  827.8M    609.2M    218.6M  74% /system

[2016-02-04 21:46] #251 closed

[2016-02-04 21:56] mfonville commented on #251
@gericom-hummer thanks for helping out!

[2016-02-05 06:04] gericom-hummer commented on #251
You are welcome.

[2016-02-06 13:45] cstkingkey opened #252 "google packageinstaller is installed while stock one is not removed"
K3 note 6.0 rom
the stock one is "packageinstaller" rather than PackageInstaller

[2016-02-06 14:30] mfonville commented on #252
That is a the K3 note stock ROM I assume? not the AOSP/cyanogenmod?

[2016-02-06 14:31] cstkingkey commented on #252
Yes

[2016-02-06 14:33] mfonville commented on #252
Ok, located in /app/ or /priv-app/ ?
Normally we don't do these kind of non-standard things for stock ROMs (they are best-effort and all very different) and for these situations normally the Universal Removal feature should be used.
But since this path is so close to the original we can make an exception.

[2016-02-06 14:34] cstkingkey commented on #252
/priv-app/

[2016-02-06 14:37] #252 closed

[2016-02-06 15:00] cstkingkey commented on #252
I'm using pico, so google should not be installed at first place, right?

[2016-02-06 15:11] mfonville commented on #252
It is part of pico, originally it was even part of core (but we pulled it out of core, so that people can use a keyword whether they want it or not, because it gave issues on a particular ROM)

[2016-02-06 18:36] klausenbusk commented on #211
If you don't know busybox can be downloaded from https://busybox.net/downloads/binaries/latest/ (already compiled).
busybox-armv7l works fine on my Samsung s4 mini in recovery mode (cm-13.0-20160206-NIGHTLY-serranoltexx-recovery.img)

[2016-02-06 18:55] mfonville commented on #211
@klausenbusk thanks! :-)

[2016-02-06 19:03] klausenbusk commented on #211
For anyone which miss awk.
Download https://busybox.net/downloads/binaries/latest/busybox-armv7l
[code]
Apply update

Voila
I just confirmed that it works! :)

[2016-02-06 19:45] klausenbusk commented on #165
Pretty annoying
[code]

[2016-02-06 19:53] mfonville commented on #165
@klausenbusk CM currently refuses to accept the patch to grant setupwizard the proper rights;
I am still looking into a fix that can be deployed from recovery instead of patching the ROM, but it is hard and needs time.

[2016-02-06 19:56] mfonville commented on #211
@klausenbusk would you do me a favour and could you post the /cache/recovery/log of CM13 recovery for me online? :-)
I would like to be able to add detection of the CM13 recovery to our scripts; but I need an example and lack the time to replace recovery on my own device at the moment.

[2016-02-06 20:08] klausenbusk commented on #165
link?

Can't we just add a script to /system/etc/init.d/ like:
[code]
or wouldn't that work?

[2016-02-06 20:15] klausenbusk commented on #211
/system/build.prop http://sprunge.us/MJYV

[2016-02-06 20:45] klausenbusk commented on #211
Working on a patch at the moment.

[2016-02-06 21:07] mfonville commented on #211
@klausenbusk do you have the **/cache/recovery/log** instead of the build.prop? That exposes the recovery for me (not the ROM!) :-)

[2016-02-06 21:09] klausenbusk commented on #211
@mfonville  nope.. I will create a pr in 5 min.

[2016-02-06 21:11] mfonville commented on #211
@klausenbusk Well, if you do find time at a later moment to fetch it from your device (it should be available the moment you log in to the recovery) it would be a great help
For the PR; you can take a look at something @osm0sis had suggested: https://github.com/osm0sis/AnyKernel2/commit/19b056b9ddaca6284a6fa308f7021385a5d0a4a2
lines 70 to 74 are a neat trick.

[2016-02-06 21:15] klausenbusk commented on #211
Give it a look :)

[2016-02-06 21:17] mfonville commented on #165
@klausenbusk For the CM patch refused see:
http://review.cyanogenmod.org/#/c/116418/

Nope, init.d wasn't a solution, though I did not experiment myself with it.  @rapperskull did and I believe he concluded the init script did not have the proper permissions. (But I am not sure).

[2016-02-06 21:29] USBhost commented on #165
@mfonville why does other gapps work without this patch?

[2016-02-06 21:30] mfonville commented on #211
@klausenbusk I did; I have some feedback and suggestions. Looks very good and can probably be merged very soon (we should run some field tests first or course).

[2016-02-06 21:36] mfonville commented on #165
@USBhost they also need the patch; or they choose not to bundle Google's setupwizard.

[2016-02-06 23:26] mfonville commented on #211
I still need the CM13 recovery detection; for that I need a CM13 recovery log file.
After the bundled busybox solution this is ready to go mainline

[2016-02-06 23:26] #236 closed

[2016-02-06 23:33] klausenbusk commented on #211
Why do we need CM13 detection?

[2016-02-06 23:34] mfonville commented on #211
Because users *will* report errors in the forums and various places, and we need to see which recovery they use, since that is one of the most major factors that influences issues.

[2016-02-06 23:39] klausenbusk commented on #211
Can't you just use the variable rom_android_version? Which we already define: https://github.com/opengapps/opengapps/blob/master/scripts/inc.updatebinary.sh#L479 For mine recovery it is: 6.0.1

[2016-02-06 23:41] mfonville commented on #211
Nope; Recovery is something completely different than the ROM. You can combine any recovery with any ROM (they are i.e. on separate partitions and boot independent of one another).
So the ROM gives 0% information for us.

[2016-02-07 00:56] dianlujitao commented on #211
Hello @mfonville , it's better for you to detect if busybox exists instead of detect the recovery variant. If you set TW_USE_TOOLBOX := true when compiling TWRP, busybox won't be available too

[2016-02-07 01:12] mfonville commented on #211
Current implementation always starts up our own busybox environment

[2016-02-07 01:15] dianlujitao commented on #211
That should be okay

[2016-02-07 01:40] osm0sis commented on #211
The log already captures recovery name. Though my parsing was kinda hackish there so it could use an update probably

[2016-02-07 09:05] mfonville commented on #211
Afaik the current parsing finds it to be a cwm-based recovery. But it is quite deviates from original cwm so identifying it as a separate entry is the most practical.

[2016-02-07 11:29] osm0sis commented on #211
Gotcha. cat /sbin/recovery might reveal it if the log doesn't. :+1:

[2016-02-07 11:40] mfonville commented on #211
I got a patch ready and uploaded to the busybox branch to recognize CM recovery; it needs some testing though.

[2016-02-07 12:02] mfonville commented on #211
I tested my recovery-detection; and at least that works. But new problems ahead:
The busybox solution itself does not seem to work yet in CM13 recovery.
1) it doesn't find the gapps-config file (located in the same folder as the zip)
2) installation of all applications fail; so I expect either a problem with the zip (maybe our original zip parameter does not get correctly passed through in CM reco

[2016-02-07 12:30] maximu commented on #250
Under Android-x86_64 rom with patch permission some crash  in the first boot but
![screenshot_20160207-130624](https://cloud.githubusercontent.com/assets/1274014/12872256/9d223cb0-cd9e-11e5-8cbe-bd6bf22b1ac1.png)
 Anyway i can finish wizard process .

[2016-02-07 13:24] mfonville commented on #211
Ok; I caught a couple of mistakes we made. Time for testing again.

[2016-02-07 20:35] mfonville commented on #211
@osm0sis it doesn't help whatever I try, but `ln -s` gives on any location (even a self-spawned tmpfs) always a permission denied in the toybox shell :-(

[2016-02-07 20:51] osm0sis commented on #211
Works on AK2.. Did you chmod -R /tmp/bin first?

[2016-02-07 21:00] mfonville commented on #211
@osm0sis yes, also with chmod -R 755 on /tmp/bin :-(
I am totally clueless what causes it; it looks as if symlink is just broken in i9300 CM13 recovery of today.

[2016-02-07 23:04] mfonville commented on #213
We can't by default skip those folders; because on 99% of the ROMs they cause conflicts with GApps and have to be removed.
We should look into the gapps-config possibility to skip certain removals

[2016-02-07 23:05] mfonville commented on #231
See #213 for a comparable situation, and we will have to do in the future to solve it.
Concerning GooglePinyinIME: that *is* always a Google-app path, you need to make sure to download at least the super-package if you need that.

[2016-02-07 23:05] #231 closed

[2016-02-07 23:09] mfonville commented on #250
I am putting out a patch that should not remove Provision by default on 6.0 anymore;
Apparently CM made some changes that instead of having SetupWizard conflict with Provision it now actually *needs* provision.
After the fix goes live (for arm coming night, other architectures will get a new build later because there are no new packages) please report back in this issue whether it is fixed or not,

[2016-02-07 23:10] mfonville commented on #249
Please use XDA forums for support requests and to troubleshoot the exact cause before opening an issue directly; you'll need attach at least a debug log and a logcat of the FCs to get any support.

[2016-02-07 23:11] #245 closed

[2016-02-07 23:20] #250 closed

[2016-02-07 23:56] allard1997 opened #254 "Google Camera not being flashed with Aroma"
When I select to flash the Google Camera with the Aroma installer it doesn't flash it.
Also in the log that you see on screen it doesn't say it is installing it.
This is on the Nexus 5X with TWRP 3.0.0. Also happened on 2.8.7.2.

[2016-02-08 00:03] mfonville commented on #254
Please use xda forum for support requests and attach your debug log.

[2016-02-08 01:07] osm0sis commented on #211
I'll try CMR on my flo again tomorrow and see if I can reproduce the issue.

[2016-02-08 08:41] allard1997 commented on #254
Sorry for using the wrong method of reporting the problem. I did include my debug log now.

[logs.zip](https://github.com/opengapps/opengapps/files/121297/logs.zip)

[2016-02-08 08:41] #254 closed

[2016-02-08 15:58] osm0sis commented on #211
Have you verified the busybox binary you're using works at all?

I'm using the latest CMR for flo (http://mirrors.reflected.net/pub/get.cm/jenkins/148254/) and my own busybox build (arm for flo) and..

CMR's "ln" appears to work fine..

`mkdir /tmp/bin;
chmod 755 /tmp/busybox /tmp/bin;
bb=/tmp/busybox;
for i in $($bb --list); do
  ln -s $bb /tmp/bin/$i;
done;`

This properly creates the /tmp/bin/*

[2016-02-08 16:01] mfonville commented on #211
The busybox binary itself works perfectly.
Also it works in TWRP, but not in CM Recovery Toybox for me.
I think it is related to tmpfs and the stickybit not settable on it.
And later I thought that my experiments to try to put in on /cache where flawed because /cache would not be mounted (ergo still tmpfs).
I will do some extra testing.

My worst fear is that it might just be that there are faulty

[2016-02-08 16:07] osm0sis commented on #211
It's possible.. and following from a Chainfire school-of-thought, the workaround for a faulty recovery would be to fallback to using system's ln with the LD_LIBRARY_PATH=/system/lib override

I still feel like you might be missing something though, you should be able to create the symlinks with busybox itself if the permissions and everything are right. I just did so myself to test.

[2016-02-08 16:37] mfonville commented on #211
Even with LD_LIBRARY_PATH specified, umount /cache + mount /cache, mount /system
It always ends with a Permission denied :-(
I am using this recovery to test with: https://download.cyanogenmod.org/get/jenkins/148142/cm-13.0-20160206-NIGHTLY-i9300-recovery.img

[2016-02-08 17:11] osm0sis commented on #211
Working fine using your pre-compiled busybox 1.21.1 and everything..

[code]

No issues with LD overrides either..

[2016-02-08 19:27] klausenbusk commented on #211
I think i have the same recovery on my fqthers s4 mini, no problem at all. But i only did the awk "hack". On smartphone, so writing is slow :)

Date: Mon, 8 Feb 2016 11:17:47 -0800
From: notifications@github.com
To: opengapps@noreply.github.com
CC: klausenbusk@hotmail.com
Subject: Re: [opengapps] Use bundled busybox as Toybox replacement (#211)

Even with LD_LIBRARY_PATH specified, umount /cache +

[2016-02-09 09:40] dianlujitao commented on #211
Just built the latest busybox branch, not work.
log: http://paste.ubuntu.com/15000942/
I **guess** the bundled busybox isn't working, still missing awk
I use TWRP 3.0 with toybox

[2016-02-09 09:51] klausenbusk commented on #211
Do https://github.com/opengapps/opengapps/issues/211#issuecomment-180839428 work?

[2016-02-09 10:04] dianlujitao commented on #211
works well

[2016-02-09 10:49] piotrek1543 opened #255 "[Samsung S2 i9100, CyanogenMod 13.0] Need GApps package smaller than 50MB"
Hi,

I've already installed the latest CyanogenMod ROM: https://download.cyanogenmod.org/?device=i9100
for my device, but I cannot install opengapps [Pico version] as this package is too large for my device.

Before, I used to use opengapps Pico on CyanogenMod 12.1 ROM and that worked fine. Well, I cannot use another GApps package not provided by you as yours Pico package is the smallest one I've

[2016-02-09 13:03] mfonville commented on #255
Google Play Services is 50MiB and you can't have any GApps without it.
Maybe you can re-partition the device? Otherwise I don't see any possibility for you than e.g. using an older Open GApps package where Play Services was still smaller.

The online-Aroma selection as you described has popped more than once in my mind (and of others too) but is unfortunately not possible. The zip-package as a who

[2016-02-09 13:03] #255 closed

[2016-02-09 13:37] mammenj commented on #250
Feb 8 build still fc on Orion os

[2016-02-09 13:41] mfonville commented on #250
@mammenj could you upload the debug log and a logcat of the feb 8 try?

[2016-02-09 13:44] mammenj commented on #250
@mfonville bro, can't get past the setup, so can't get to the logs.
Let me know if there is a way, I will get it.

[2016-02-09 14:07] mfonville commented on #250
@mammenj you can get the debug logs using the file manager in TWRP recovery (or adb from your computer while booted in your recovery).
The setupwizard is more hard. But you can first flash without setupwizard, set-up your phone and grant adb permissions. Than reflash gapps with setupwizard, after boot do:
`adb shell am start -n com.google.android.setupwizard/.SetupWizardActivity` to start the setu

[2016-02-09 15:51] mammenj commented on #250
@mfonville OK thanks, I will get the logs a suggested. I will do it tomorrow and update here.

[2016-02-09 17:12] piotrek1543 commented on #255
ok, thanks

[2016-02-09 17:20] piotrek1543 commented on #255
Ok, next time I would use XDA forum, but could you tell me how can I install only Google Play Store. I mean - how to customize gapps-config to install only Google Play Services.

Yes, that's a pity that Aroma online installer is nowadays impossible to do.

[2016-02-09 17:23] mfonville commented on #255
With gapps-config you can't exclude any of the "Core" applications.
You could remove the Core applications you don't want from the Core-folder in the zip; which prevents them from being installed. (and it destroys the valid signature; but if you use TWRP you can choose to ignore the signature fail).
I wouldn't recommend this though, since Google's apps expect all of these apps to be there, so you

[2016-02-09 18:07] piotrek1543 commented on #255
Ok, I've already found that I have 66MB on my device's System partition. I would try to install older openGApps version from October 2015 (it has 64MB).

No, I cannot use TWRP as it not support my device. I had CWM based recovery but CM13 changed to stock recovery where I cannot toggle signature verification.

I need only Google play Services and Play Store. Well if I would find a solution I would

[2016-02-09 18:25] mfonville commented on #255
You can replace the CM recovery (within CM's settings you can disable the functionality that it automatically installs/replaces your recovery with CM's version).
Hope to see your on XDA, hopefully you can share your experiences with other S2 owners.

[2016-02-09 20:32] piotrek1543 commented on #255
Well, thanks, but I think it's impossible to install GApps as Pico package needs to have doubled free space

[code]

[2016-02-09 21:15] scana commented on #135
@zeorin so, did you manage to get a response from guys from Genymotion?

[2016-02-09 22:25] zeorin commented on #135
Support for modern flashable zips is on their roadmap, but I rabbit say when it will be implemented:

[2016-02-10 11:37] inder4u commented on #99
Sry, i am updating a invalid closed issue. Yesterday there was a update posted on the above mentioned nightly release and after updating my phone, when i tried to flash Ogapp pico amr64 (today) it not getting flashed with error 40. Its not recognize the new nightly release of tomoto.

[2016-02-10 11:54] mfonville commented on #99
@inder4u could you upload your debug logs?
Normally Error 40 indicates that other GApps were already installed.

[2016-02-10 13:52] mammenj commented on #250
OK tried to get the logcat but this is the error I got:
CANNOT LINK EXECUTABLE: cannot locate symbol "stderr" referenced by "logcat"...
page record for 0xb6ed102c was not found (block_size=32)

not sure whats going on...any idea where the actual log files are kept in the device, that way I can go directly to the file from recovery and get it.

[2016-02-10 14:05] mfonville commented on #250
It looks like your logcat command is missing the libraries it needs. Are you sure you set up the Android SDK correctly?

The debug logs of opengapps install itself can be found in the same folder as where the opengapps ZIP is located.

[2016-02-10 16:55] Fuzion24 opened #256 "Ability to do in-tree builds with gapps"
In order to take advantage of features like OTA updates, dm-verity, etc, it would nice to do in-tree overlays of Google apps.

[2016-02-10 22:02] tinydynamite00 opened #257 "Download md5 checksum fails for all packages with unknown error"
Issue #257

Tap to download md5 results in "<untitled>" document/unknown error. Check first for mini package. Corroborate for all packages for date 20160210 is true
![screenshot_20160210-145214](https://cloud.githubusercontent.com/assets/6479505/12963341/345da9ba-d007-11e5-8302-bbe98045a237.png)

[2016-02-10 22:11] mfonville commented on #257
Thanks! I did change some things today so probably I made a typo and will fix it asap

[2016-02-10 22:13] mfonville commented on #257
Should be fixed now!

[2016-02-10 22:13] #257 closed

[2016-02-10 22:35] mfonville commented on #256
Would @opengapps/aosp-build be able to offer this functionality?

[2016-02-10 22:39] Blystad commented on #256
Yes the AOSP build system should be able to handle this.

On the flipside, if there is a second, sufficiently large partition (e.g. a vendor partition) then that could be used. Doubt you'll see that on a normal off the self phone thought, but worth mentioning.

[2016-02-10 22:51] tinydynamite00 commented on #257
Thank you!

[2016-02-11 23:01] mfonville commented on #211
@dianlujitao cut is not a proper replacement for most awk commands; since we do relatively complicated manipulations in some places.

@klausenbusk @osm0sis I retried today with CM feb 10 on my i9300; still the very same errors.
I really want to find the cause of this issue :-/

[2016-02-11 23:13] klausenbusk commented on #211
Is /tmp mounted with noexec? or something similar?

[2016-02-12 10:56] maximu commented on #200
@TheCrazyLex  How run script with root access in init first time? because you patch not working for me user can't access grant.runtime.permissions .

[2016-02-12 13:31] mfonville commented on #249
The libs are updated in the newest build; I assume this would fix your problem, if you still find any issues please visit our XDA forum thread.

[2016-02-12 13:31] #249 closed

[2016-02-12 16:44] mfonville commented on #211
I collected the contents /proc/mounts:
[code]

[2016-02-12 17:25] kabouin opened #258 "Using getprop instead of file_getprop in updatebinary"
Hello,

I am wondering why `file_getprop` (which basically greps properties from a given `*.prop` file) is used in the `updatebinary` script instead of the `getprop` command?

This makes the opengapps installation to fail on the recovery I'm working on, since we set some properties like the android version elsewhere than in the `build.prop` or `default.prop` file.

For reference:
* https://github.

[2016-02-12 23:07] mfonville commented on #211
I was able to overcome my permission-issues by enabling ADB debugging *within* the OS itself :-/
Which is weird, since as power user one expects recovery and OS (especially for AOSP-based builds) to at least separate those two worlds.

A new issue we are facing: toybox only understands `#!/sbin/sh` as hashbang while busybox uses that as a hint to only use strict `sh`-style interpreting and gives a

[2016-02-13 10:43] klausenbusk commented on #200
Not sure if this is related, but I get:
[code]
When trying to start Endomondo on CM nightly

[2016-02-13 11:26] aidas957 commented on #249
Fixed

[2016-02-13 16:55] inder4u commented on #99
Never mind, i guess it invalid again. I just flash new tomato built with today Ogapps-AMR64-pico and it worked with TWRP 3.0.0

[2016-02-14 15:35] easyaspi314 opened #259 "[opengapps.org] Buttons not working"
There is no apparent bug tracker on [opengapps/opengapps.github.io](https://github.com/opengapps/opengapps.github.io) so I am posting it here.

On stock browser (CM13) with AOSP WebView 44, the download/version info/etc buttons don't work. They just show feedback. I will try updating to Google WebView.

[2016-02-14 15:42] easyaspi314 commented on #259
Update: Latest Google WebView works. However, many users (esp. on custom ROMs would not be able to install it.

[2016-02-14 15:56] mfonville commented on #259
Could you enable debugging in your browser by going to `about:debug` and use adb logcat while trying to download? I would be very interested in the exact error AOSP webview gives and what I could do to workaround it.

[2016-02-14 16:27] mfonville commented on #259
@easyaspi314
Could you try if this trick helps at all? https://github.com/opengapps/opengapps.github.io/commit/2e49dd88b12a08260ad8ed4a313554cef0a88332

[2016-02-14 17:23] mfonville commented on #259
I dropped the nice method and made it AOSP-webview compatible again.
https://github.com/opengapps/opengapps.github.io/commit/bc34d34a886a60760b91ca19d3ca1c60b33b62f9

[2016-02-14 17:23] #259 closed

[2016-02-14 17:38] easyaspi314 commented on #259
Thanks, it worked! :)

[2016-02-15 17:56] tusharmath opened #262 "Insufficient storage error on one plus one"
I have been trying to install `open_gapps-arm-6.0-pico-20160215.zip` but I keep getting the same error as described [here][0]. I tried to also get the logs as per the error message @ `/sideload/open_gapps_log.txt` but there is not file there.

Can someone please explain what is the problem and how can I get around it.

[0]: https://github.com/opengapps/opengapps/wiki/FAQ#6-open-gapps-install-faile

[2016-02-15 18:02] mfonville commented on #262
Please use the XDA Forum for support requests instead of directly opening an issue.
I suspect you might be using CM recovery, which is unsupported at the moment can cause this error, please use TWRP.

[2016-02-15 18:11] mfonville commented on #258
@kabouin this is a very good idea and I heard via @deadman96385 why it would be necessary for a certain environment.
I will need to get some feedback from various devices (especially the Amazon Fire Tablet) if they are all compatible with using this method. If yes I can implement it very fast, if not it will take a little bit more time to implement a fallback-method.

[2016-02-15 18:31] mfonville commented on #211
Today I splitted out update-binary and the installer script; I am now testing whether it correctly works within CM-Recovery.
If it does work, I will merge it into master ASAP

[2016-02-15 19:27] mfonville commented on #256
@Fuzion24 I hope this answers your question, if not please file (if appropiate) a bug against the aosp_build repository instead. If it would have to apply to the pre-built packages you can commend here and we can re-open.

[2016-02-15 19:27] #256 closed

[2016-02-15 19:32] #211 closed

[2016-02-16 03:33] tusharmath commented on #262
Yup that was the issue. I think FAQ can be updated saying that this issue could be because you are using cm recovery

[2016-02-16 10:16] mfonville commented on #262
Well, the FAQ does state that in general only TWRP is supported.
CM Recovery is in a horrible state at the moment, that is why decided to bundle our own busybox environment in future builds. Than the weird failures should not happen anymore.

[2016-02-16 10:16] #262 closed

[2016-02-16 10:37] cirelli94 opened #264 "Should I fork a new project?"
Hello,
I was thinking to make a similar project with a stack of apps from https://f-droid.org/ to build an easy to install *.zip package.
I know this is released via GNU GPL, but i thought it was better to ask you.. Should I do this? Is not a problem to you?
Thank you

[2016-02-16 11:19] mfonville commented on #264
Hi @cirelli94,
thanks for asking, it is much appreciated to consult :-)
The project is indeed licensed under GPLv3 (with "installable zip exception") so you are free to fork under that license.
It is important that your fork also adheres to the GPLv3 as it is a derivative work and attribution to the original Open GApps should be included.

It is possible to fork the project to wrap other apps than