[2016-02-16 11:19] #264 closed

[2016-02-16 15:29] Fuzion24 commented on #256
thanks for this info.  i'll check it out!

[2016-02-17 04:23] newjanson opened #265 "opengapps removing stock camera"
not nice opengapps... not nice...

[2016-02-17 07:00] #265 closed

[2016-02-17 07:07] mfonville commented on #265
https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me

[2016-02-17 07:57] tusharmath commented on #262
Thanks!

[2016-02-17 13:19] mfonville commented on #258
@kabouin can you test with tomorrow's build (Thu 18 Feb) if it works?

[2016-02-17 21:39] polyzen opened #266 "Utilize issue and pull request templates"
@mfonville, if you haven't heard of this yet, you'll probably be very pleased: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-17 23:38] mfonville commented on #266
Thanks @polyzen I will certainly check that out

[2016-02-18 08:00] mfonville commented on #258
Ok, with this out in the wild we got some first real bug reports:
Recoveries tend to report their own getprop values, which do not have to reflect those of the ROM :-/
I will re-implement this that it first will try to scan those prop files manually, and only if those return empty-handed it will run getprop.

[2016-02-18 08:27] weberhofer opened #267 "Actuality of the published versions on opengapps.org"
I'm not sure wether this is the right place to ask; While searching for a new version of gapps includeable in CM I found that you have fixed #211 and related bugs.
No matter which package I download, all files contained in the zip package are from December 13th 2015. I think the packages date on the page should reflect this date or the packages should be rebuild everyday.

[2016-02-18 09:02] PartTimeLegend opened #268 "Incompatible Android ROM Detected"
I'm running [cm-13.0-20160217-NIGHTLY-klte.zip ](https://download.cyanogenmod.org/get/jenkins/149352/cm-13.0-20160217-NIGHTLY-klte.zip), which is 6.0.1. From the website I grab 6.0 Stock.

Upon installation I get failure as my ROM is not compatible, apparently the install package is just for 6.0.x ONLY. Which I am running.

Checks show ARM23 as my SDK level.

[2016-02-18 09:06] mfonville commented on #268
Known bug with today's built. Build has been pulled, please read the FAQ and do no directly file GitHub issues.

[2016-02-18 09:06] #268 closed

[2016-02-18 09:08] mfonville commented on #267
The date on the files in the zip are set manually to give consistent signature and hashing. Best place to ask is XDA Forum and not directly filing GitHub issues

[2016-02-18 09:08] #267 closed

[2016-02-18 09:49] gericom-hummer opened #269 "busybox's tar+xz decompression filter gives problems with aroma"
It is impossible to install latest opengapps - 20160218 and 20160217 due failure saying This GApps package can only be installed on a 6.0.x ROM. But i am using latest nightly AICP 11, which is CM13 6.0.1
With version 20160215 everything is OK
I am attaching the logs.
Thanks.

[build.prop.txt](https://github.com/opengapps/opengapps/files/135954/build.prop.txt)
[default.prop.txt](https://github.com/

[2016-02-18 10:06] mfonville commented on #269
Known bug with today's built, we assume getprop would return the ROMs properties, but it gives those of the recovery instead. Build has been pulled, please see the XDA Forum for details.

[2016-02-18 10:36] gericom-hummer commented on #269
Thanx, FYI, the same happened with 20160217 build ;)

[2016-02-18 10:39] mfonville commented on #269
You sure that it was with 20160217 too? that shouldn't be...

[2016-02-18 10:48] gericom-hummer commented on #269
Yes, but I deleted the logs, and installed again 20160215. Thought it could some bug that will be fixed with next release.

[2016-02-18 11:16] mfonville commented on #269
If you could try again with 20160217 I would appreciate that; because if you have an issue with **that one** there is a bug that I am not aware of...

[2016-02-18 11:24] gericom-hummer commented on #269
I just tried, but there are no logs, because after 50 times of trying to install it, it keeps rebooting the recovery - twrp 3.0.0.0 and I gave up. Still 20160215 is working perfectly.

[2016-02-18 11:54] mfonville commented on #269
Hmm, the difference between 0215 and 0217 is the addition of busybox.
Could you extract the busybox binary from the zip to somewhere (and set permissions to executable `chmod +x` ) and if you can run that executable in the recovery terminal successfully?

[2016-02-18 12:30] gericom-hummer commented on #269
yes, i can run the executable in terminal
![p2183597](https://cloud.githubusercontent.com/assets/11374740/13143379/1a46d560-d64c-11e5-85da-040f3f40fd0c.JPG)

[2016-02-18 12:57] mfonville commented on #269
hmm, so that is ok. How weird that it just "reboots" the recovery during the installation :-/
Are there any clues in /cache/recovery/log (or last_log) after such a failed install?

[2016-02-18 13:26] gericom-hummer commented on #269
i don't know how to explain it, it reaches the phase for gathering system info, clearing old packages and just reboots. I will try it again now and will check the logs.

[2016-02-18 13:47] kabouin commented on #258
Ok, that should be fine for me. Thanks!

2016-02-18 9:00 GMT+01:00 Maarten Fonville <notifications@github.com>:

[2016-02-18 13:47] gericom-hummer commented on #269
Here are the logs,  respectively 20160215 and 20160217

[20160215.log.txt](https://github.com/opengapps/opengapps/files/136256/20160215.log.txt)
[20160217.log.txt](https://github.com/opengapps/opengapps/files/136257/20160217.log.txt)

[2016-02-18 13:49] nvenasquez commented on #197
Hope that Google Dialer will be added in the future and work properly on Oppo Find 7a --> Nameless ROM 3.0/6.0.1

[2016-02-18 13:50] gericom-hummer commented on #269
Check this video i've made to see what i have in mind

[http://download.tuxfamily.org/hummer/P2183600.MP4](url)
it will be uploaded shortly...

[2016-02-18 14:02] nvenasquez opened #270 "Stock Package 6.0/ Google Camera Marshmallow build"
The Google Camera included in the package is not working properly on Oppo Find 7a --> Nameless ROM 3.0/6.0.1 especially when I use the video mode it stops and hang up then it crash..

[2016-02-18 14:39] mfonville commented on #270
Please use XDA for support; use the template provided and at least provide the installation debug logs.

[2016-02-18 20:13] mfonville commented on #266
We still have to do a pull request template ;-)

[2016-02-18 20:14] polyzen commented on #266
Woops :p

[2016-02-18 22:46] #266 closed

[2016-02-19 06:04] nvenasquez commented on #270
You mean the the files that were automatically saved in internal storage name as open_gapps_debug_logs.tar.gz and open_gapps_logs.txt??

[2016-02-19 06:07] nvenasquez commented on #270
When I install the Google Camera app via Play Store the one being installed is the Google Camera Lollipop Build not the new Google Camera Marshmallow build same with Nexus Devices on M builds and the one in the Stock package you've had included.

[2016-02-19 06:42] dianlujitao commented on #211
@mfonville Still not working.

/tmp/recovery.log shows

signed by SignApk
 extracting: /tmp/busybox
/tmp/updater[25]: install: not found
ln: cannot create symbolic link from '/tmp/busybox' to '/tmp/bin/[': No such file or directory
ln: /tmp/bin/[: No such file or directory
ERROR 10: Failed to set-up busybox
Please use TWRP as recovery instead

[2016-02-19 08:42] gericom-hummer commented on #269
@mfonville The same is happening and with today's build 20160219 - This GApps package can only be installed on a 6.0.x ROM. I won't say again, that i am using AICP 11 nightly again.
Here you are the logs.
Thanx.
[70-gapps.sh.txt](https://github.com/opengapps/opengapps/files/137603/70-gapps.sh.txt)
[build.prop.txt](https://github.com/opengapps/opengapps/files/137604/build.prop.txt)
[default.prop.tx

[2016-02-19 10:12] mfonville commented on #269
@gericom-hummer could you check if this test build (it is pico!) does run work? https://www.dropbox.com/s/yr4uusv6zo9omy6/open_gapps-arm-6.0-pico-20160219_experiment.zip?dl=0

[2016-02-19 12:20] gericom-hummer commented on #269
In few minutes i will tell you the result. I am backing up and will install it.

[2016-02-19 12:36] mfonville commented on #269
@gericom-hummer I already got confirmed that in the end that one didn't work. But I had another iteration and it should be ok now :)
The buildbot is making the builds and they should be available soon.

[2016-02-19 12:37] gericom-hummer commented on #269
Nope, the same result - INSTALLATION FAILURE: This GApps package can only be installed on a 6.0.x ROM.
[70-gapps.sh.txt](https://github.com/opengapps/opengapps/files/137944/70-gapps.sh.txt)
[build.prop.txt](https://github.com/opengapps/opengapps/files/137943/build.prop.txt)
[Uploading default.prop.txt…]()
[Device_Space_After.txt](https://github.com/opengapps/opengapps/files/137945/Device_Space_Aft

[2016-02-19 12:38] mfonville commented on #269
@gericom-hummer haha, we just cross-posted one another.
Could I invite you btw to our Gitter at: https://gitter.im/opengapps/general
It is not publicly announced yet, and first I would like to invite some of the power-users like you :)

[2016-02-19 12:39] gericom-hummer commented on #269
yup, i'm there :) Thanx

[2016-02-19 13:36] gericom-hummer commented on #269
this is the recovery log of 0219 build
[recovery.log.txt](https://github.com/opengapps/opengapps/files/138015/recovery.log.txt)

[2016-02-19 14:40] gericom-hummer commented on #269
"Super" package installed successfully. Here are the logs.
@mfonville can you tag it "Help Wanted" for somebody who is good with C to find the error in busybox's source code and knowledge to scan the XZ sources, since we found that it is error in the aroma+busybox package.
[70-gapps.sh.txt](https://github.com/opengapps/opengapps/files/138101/70-gapps.sh.txt)
[build.prop.txt](https://github.com/ope

[2016-02-19 14:51] gericom-hummer commented on #270
Oppo Find 7a has support for camera api2, but not api3, only the new nexus devices, for now, has support for camera api 3, thats why you have an error when trying to take a video, and that's why when you install it from the play store, it gives you the old build.

[2016-02-19 15:01] nvenasquez commented on #270
I knew it that's why it gives error when I used video mode.. But I just want some clarification from others, hope it'll be supported in the future updates.. So Google is the one responsible for the support and no longer the opengapps developer correct me if I'm wrong..

[2016-02-19 15:13] gericom-hummer commented on #270
opengapps can detect does your system support or not api3 and then will install the new google camera or the old legacy one.

[2016-02-20 10:29] wazeeahmed opened #271 "Add mediatek touch support in the aroma installer"
I had no other problems using your aroma installer except the touch sensitivity . There are calibration issues . If I use touch function then installer freezes . or if activate an option using touch , the touch stops working . I had to use volume and power keys all these days . My device is sprout4 or symphony roar a50 , an androidone device .

[2016-02-20 11:08] mfonville commented on #271
@wazeeahmed we don't develop the AROMA-installer itself (we only include a config and the binary).
You should open a bug here: https://github.com/amarullz/libaroma/

[2016-02-20 11:08] #271 closed

[2016-02-20 13:11] Revel1020 opened #272 "Aroma package (20 Feb 2016): "SYNTAX ERROR!!! aroma-config on line 148 col 102""
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is part of The Open GApps

[2016-02-21 02:48] #272 closed

[2016-02-22 00:52] nvenasquez commented on #270
It didn't detect whether my phone's system is API3 or not, still when I use Stock Gapps 6.0 it'll install the new Google Camera and not the old legacy one..

[2016-02-22 06:13] nvenasquez commented on #270
Now the 0222 stock gapps 6.0 installed the old legacy camera instead of the new google camera 3.1

[2016-02-22 08:19] mfonville commented on #270
Yes, that is on purpose because your device/ROM is not compatible with the new google camera v3.
If you do want compatibility your ROM developer does need to include drivers that are compatible with the new camera API; but a very big chance he doesn't have those because they have to be supplied by the vendor of the phone (and they are dependent on their camera supplier again).

I close this since

[2016-02-22 08:19] #270 closed

[2016-02-24 12:47] destiriser opened #273 "The gapps-config file excluding doesn't work."
I tried putting this:
Exclude CalSync
Exclude PackageInstallerGoogle
and this:
Exclude CalSync PackageInstallerGoogle

to both the gapps-config.txt and .gapps-config files in the same directory as the gapps zip package and it still installs CalSync (Google Calendar Sync) and PackageInstallerGoogle (Package Installer). I use GApps ARM 6.0 Pico version.

[2016-02-24 14:32] mfonville commented on #273
As described in the FAQ please use XDA Forum for support and problems with the pre-built packages: http://forum.xda-developers.com/android/software/pa-gapps-continuation-t3098071
You *need* to include your debug logs

PS: you format your exclude wrong; You need only need to exclude once on its own line, after that each line is interpreted as an exclude statement.

[2016-02-24 14:32] #273 closed

[2016-02-24 18:14] destiriser commented on #273
Yes, but this is the script, not packages.

Thanks for the help. I think the wiki should be edited to include this since it tells the exact opposite at the moment: "Case, order, spaces, or using empty lines does not matter when using gapps-config."

[2016-02-25 14:48] webgeek1234 commented on #35
I'm working on a port of CM for the Shield TV and need the arm64 leanback gapps. Not well versed in the inner working of gapps at all, but I should be pull whatever apks are needed if someone tells me what to pull and where to upload them.

[2016-02-25 15:01] mfonville commented on #35
@webgeek1234 thanks for your offer to help. I am currently fixing some other bugs but after that leanback gapps I will be working on this again.

[2016-02-25 15:23] bgiesing commented on #273
@destiriser No it's not the script. The script is what the packages are made with while the `gapps-config` is a feature of the packages.

Also, the wiki says it clearly and that line is correct. You might be getting confused by empty lines part:

## With Empty Lines
[code]

## Without Empty Lines
[code]

Either way, Exclude/Include only needs to be used once and every keyword is on it's own line.

[2016-02-25 15:28] mfonville commented on #273
@bgiesing thanks for the addendum.

@destiriser if you see possibility to improve the text on the wiki to make it more readable, more comprehensible and less ambiguous, you are invited to update the article. Documentating isn't my strongest skill and I am not a native English speaker.

Also, I am still interested in your debug logs, so that we could see what happened in the script exactly and if w

[2016-02-25 16:13] mfonville commented on #269
This should now be fixed: https://github.com/opengapps/opengapps/commit/1b1a989fb67271e0a59e3ce371d0010d6d5540ba

[2016-02-25 16:13] #269 closed

[2016-02-25 16:15] #258 closed

[2016-02-28 12:50] ColdShadowXX opened #275 "video cam Crash I9100"
[2016-02-26-12-03-36.txt](https://github.com/opengapps/opengapps/files/149900/2016-02-26-12-03-36.txt)

there is a log i try some versions pico mini stock and have every time same problem with video cam frosen now i have custom gapps and it work maybe you can fix the bug!

[2016-02-28 13:45] mfonville commented on #275
Please read the FAQ and the issue-opening statement and use XDA for support requests instead of direcly opening an issue here.

[2016-02-28 13:45] #275 closed

[2016-02-29 23:03] F-i-f opened #276 "Allow to symlink libjni_latinime.so to libjni_latinimegoogle.so"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [X] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [X] The issue is part of The Open GApps

[2016-02-29 23:07] F-i-f commented on #276
Patch attached.
[opengapps-swypelibs.patch.txt](https://github.com/opengapps/opengapps/files/151901/opengapps-swypelibs.patch.txt)

[2016-02-29 23:58] mfonville commented on #276
Hi, thanks for your bugreport and even the already included patch.

We do have a conflict of some ROM behaviours in this situation though, some don't place nice at all if libjni_latinime.so is redirected to a libjni_latinime.so. As such I cannot directly apply the patch, which actually was our legacy behaviour and triggered quite a lof of error reports from users.

Most ROMs do however look up aut

[2016-03-01 00:20] F-i-f commented on #276
Odd, I've tried both cm-13.0-20160224-NIGHTLY-mako.zip and omni-6.0.1-20160229-mako-NIGHTLY.zip.
Neither CM13 nor OmniROM seem to be including the patch at all and both seem to attempy to load libjno_latinime.so.

WIth either ROM, upon boot without any gapps installed, attempting to Swype crashes.
After installing opengapps pico, which does install the Swype libs, with either ROM, attempting to Sw

[2016-03-01 00:28] mfonville commented on #276
I have the feeling those ROMs are doing *something* different than in the past, e.g. skipping the installation the swypelibs was also no necessity in the past, but on certain devices for CM ROMs it is obligatory nowadays to have a working keyboard at all :-/

[2016-03-01 00:46] F-i-f commented on #276
Will you include a patch that implements the substituteswypelibs flag?
I'm happy to work on it, but only if it's going to be included.

[2016-03-01 08:42] F-i-f commented on #276
Well I couldn't resist.
Here's a patch that implements substituteswypelibs as you described...

[opengapps-swypelibs2.patch.txt](https://github.com/opengapps/opengapps/files/152393/opengapps-swypelibs2.patch.txt)

[2016-03-01 10:27] #276 closed

[2016-03-01 10:38] mfonville commented on #276
Thank you for the patch, I could not respond to your inclusion question, because I was asleep at the time ;-)

It is added to the scripts, so future builds will include the feature. I documented it here: https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#substitute-aosp-library-with-googles-swype-library-setting

[2016-03-01 10:45] 523860169 opened #277 "open_gapps-arm-6.0-pico-20160301 cause cm camera FC"
rt...
my nexus4 is based on cm-13.0-20160301-NIGHTLY-mako

[2016-03-01 10:57] mfonville commented on #277
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use XDA Forum for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at least include your installation debug log and (if applicable) a logcat w

[2016-03-01 10:57] #277 closed

[2016-03-01 19:27] F-i-f commented on #276
Thanks for including my patch.
Do you have idea as to when this will propagate to the official builds?

[2016-03-01 19:30] mfonville commented on #276
all architectures received new APKs today so it should be live tomorrow (daily builds are triggered if APKs are updated)

[2016-03-02 03:47] LorneCash commented on #197
I'm running CM13 on an LG G3 VS985.  I downloaded the Dialer app from the Play Store and it seems to work fine.  I have a VS985 as my daily driver and also another one as a test device so if you want me to do some testing on this lmk.

[2016-03-02 17:56] justmwa opened #278 "busybox illegal instructions"
Hello,

on a Galaxy TAB 10.1 (p4tmo) I tried either TWRP 2.8.7 or TWRP 3.0, I installed AOSP6 without issues, but can't get gapps (tried both 0212 and 0302) to install with error 70. Logs show that the installer can't detect free space and there's a lot of 'illegal instructions', has it something to do with the Tegra2 cpu of the platform?

[open_gapps_debug_logs.zip](https://github.com/opengapps/o

[2016-03-02 22:25] mfonville commented on #278
could you take the busybox binary from the zip and put it in your recovery and try its various commands from the recovery shell?

[2016-03-03 17:45] justmwa commented on #278
I will try. In the meantime, downgrading to pico build from 0215 (no busybox included) works. I thought I had the same issue because of space issue but mini was really too big.

[2016-03-03 17:45] #278 closed

[2016-03-03 17:46] justmwa commented on #278
I no longer have the device to test on, however given the XDA thread there's definately an issue with busybox on it, because it stopped working the moment busybox got included.

[2016-03-03 17:49] mfonville commented on #278
@yashdsaraf do you have any clue why busybox gives these fails on Tegra2?

[2016-03-04 23:22] f03lipe commented on #135
Any updates on this?

[2016-03-04 23:46] mfonville commented on #135
@f03lipe Genymotion is doing their best to be compatible, but I can't disclose any details.

[2016-03-04 23:47] f03lipe commented on #135
Thank you, @mfonville. I got it working by following this: https://gist.github.com/wbroek/9321145.

[2016-03-06 09:08] 4311021x commented on #165
Just for reference because this issue lead me into a blind alley searching for a solution. If the reason in the crash report of the force close is a SecurityException like this:

[code]

Try a fresh install of CM13 (wipe cache and data) and directly install Open GApps without booting CM in between. Pico Open GApps are sufficient.
https://github.com/opengapps/opengapps/wiki/Notes-for-Android-6.0

[2016-03-06 10:31] mfonville commented on #278
@justmwa could you link us to the XDA thread you referred to? Than @yashdsaraf can investigate and hopefully fix the issue.

[2016-03-06 10:54] yashdsaraf commented on #278
@justmwa I faced a similar issue on older api arm devices. Can you get me the output of
 `cat /proc/cpuinfo`
 from the device on which your facing these problems.

[2016-03-06 13:59] justmwa commented on #278
The thread is http://forum.xda-developers.com/galaxy-tab-10-1/development/rom-android-6-0-marshmallow-t3266663/page22
I asked the owner for /proc/cpuinfo, waiting for its feedback. I own a Nexus7 myself, I will try it since it is also Tegra2 based.

[2016-03-06 14:19] mfonville commented on #278
Nexus 7 should be Tegra 3.

[2016-03-06 14:23] justmwa commented on #278
Whoops, you're right. Its storage is so slow that I thought it was older overall... what a waste. I wil try it nonetheless, just to make sure :)

[2016-03-13 07:04] CheyiLin opened #279 "Missing checksum file: open_gapps-arm-5.1-super-20160313.zip.md5"
**Checklist**

- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is part of The Open GApps Project scope *(and not of the pre-built OpenGApps.org packages scope, for support on those see [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071))*

*If Open GApps compilation fails:*
- [x] The issue is not a

[2016-03-13 22:52] mfonville commented on #279
@CheyiLin thanks for your report.
I did check the release on GitHub, and even though my buildbot has successfully generated the md5sum and has uploaded it to GitHub, GitHub releases did mark the upload process as erroneous and marked the file as broken and hides it to the public. (which is really weird for such a small file of only a few bytes, that it can fail).

In general, based on some feedbac

[2016-03-14 01:35] CheyiLin commented on #279
Got it. Thanks for your explanation.
:bow:

[2016-03-14 01:35] #279 closed

[2016-03-14 08:17] mfonville commented on #279
@CheyiLin no problem, and if the problem is persistent don't hesitate to write here.

[2016-03-14 12:49] cunha17 commented on #200
The issue still persists on last CM 13 Nightly (20160313) for i9300. The proposed procedure along with "pm grant com.google.android.gms android.permission.ACCESS_COARSE_LOCATION" fixed the issue.

[2016-03-14 17:16] F-i-f commented on #276
As a follow-up to that issue, I recently experienced a bad TWRP build where SELinux was busted.
This led me to find out that the SELinux context for the  /system/app/LatinIME/lib/arm/libjni_latinime.so may be incorrect if the option substituteswypelibs is on.

The code responsible for setting the SELinux contexts is:
<pre>
ch_con() {
  LD_LIBRARY_PATH=/system/lib /system/lib64 /system/toolbox chco

[2016-03-14 17:33] mfonville commented on #276
@F-i-f thanks for your thorough investigation and finding this issue and a directly offering a solution! I will add the `-h` to the ch_con*()-functions

[2016-03-14 17:46] F-i-f opened #280 "Removal of stock apps does not work accross multiple installs"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**
- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is part of The Open GApps P

[2016-03-14 17:56] mfonville commented on #280
I understand the issue. Normally the `()` instructions are only executed if only(!) a single instance of the folder was found, in either /system/app/ or in /system/priv-app/. It then stores the path to it and adds it to the removal-instructions of addon.d.
Of course the problem is, is that if you reflash-gapps on an install where the folder was already removed, it does not find this single occurre

[2016-03-15 21:54] mfonville commented on #278
@yashdsaraf we have another illegal instructions report: http://forum.xda-developers.com/showpost.php?p=65855782&postcount=2275

[2016-03-16 22:45] Decatf commented on #278
I am the maintainer for the Galaxy Tab 10.1 TWRP and the ROM mentioned by the OP.

It appears that the illegal instruction is coming from calls to awk. I replaced all the awk calls in installer.sh with "busybox awk" and it works with any problems. No illegal instructions.

My TWRP is built with busybox. There hasn't been any problems with open gapps until some recent version of open gapps. I am un

[2016-03-16 22:58] mfonville commented on #278
@Decatf The cause of the problem has been found by @yashdsaraf and he will provide an updated busybox soon  to solve the issue.
Unfortunately we cannot "trust" the awk (and many other commands) in the recoveries anymore since toybox (and all kind of hybrids) are floating around (background story here: https://plus.google.com/+OpengappsOrg/posts/FJ2v1kNxzHV )

[2016-03-16 23:24] Decatf commented on #278
I have read that post now and I see that this change has already been implemented. It is probably cause of this particular problem with Tegra2 devices.

Previously open gapps was using the busybox from recovery itself which was fully compatible with open gapps. Now it is using a bundled busybox binary. The bundled binary is not compatible with the Tegra2. It is likely because it was compiled with

[2016-03-17 13:59] shashankshirke285 opened #281 "Google Dialer does not replace the AOSP dialer"
GApps stock package for 6.0 shows the Google Dialer in the list of apps that replace the AOSP apps but it is striked off in the list. The Google dialer is not installed and instead AOSP stays even after installing the Stock GApps package. Any specific reason for striking of the Dialer app?

[2016-03-17 14:07] mfonville commented on #281
Duplicate of #197
We are still in the process of packaging it in reliable way without breaking 99% of the phones.

[2016-03-17 14:07] #281 closed

[2016-03-17 14:09] shashankshirke285 commented on #281
Is there a way to have it installed and replace the AOSP version now? I tested the Google phone app on my device and it seems to work fine.

[2016-03-17 14:14] mfonville commented on #281
Remove the AOSP version using e.g. https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#universal-application-removals

[2016-03-17 15:39] shashankshirke285 commented on #281
OK thanks! Any ETA on when the Google dialer would be included into the stock package?

[2016-03-17 15:55] mfonville commented on #281
No, no ETA yet, working on some other issues at the moment.

[2016-03-22 14:04] #7 closed

[2016-03-22 16:36] Khaon opened #282 "Android N and Master Branch build libchrome.so"
Android N preview and master branch build from source libchrome.so.

Indeed you can find this repo  a N-preview-1 and master branches:
https://android.googlesource.com/platform/external/libchrome/

Some component from either N-preview or master needs the libchrome:
https://android.googlesource.com/platform/system/bt/+/android-n-preview-1/main/Android.mk#66

Currently the install script deletes any

[2016-03-22 16:38] mfonville commented on #282
@rapperskull the current libchrome removal scripts were created for "For Stock"-mode. Could you think of a way we could handle this situation appropriately for when Android N will be released?

[2016-03-22 16:43] Khaon commented on #282
Currently, on marshmallow or lollipop, what is providing libchrome ? The chrome app ?

One solution for me is
 - Check the OS version and remove or not accordingly

[2016-03-22 20:03] rapperskull commented on #282
Maybe I have a solution, I'll check the N factory image and push a commit.

[2016-03-22 21:30] #282 closed

[2016-03-24 01:30] mfonville commented on #35
Does anyone of the Android TV owners the possibility to install a AOSP/CM port of Android 5.1 on their Fugu? That would be the first device + version? I have a test version ready for that.

[2016-03-24 02:54] USBhost commented on #35
@mfonville sure I will start a build tomorrow

[2016-03-24 09:13] mfonville commented on #35
Testbuild for Fugu Nexus Player (x86): https://www.dropbox.com/s/heky2rva3o48myw/open_gapps-x86-5.1-tvstock-20160324-UNOFFICIAL.zip?dl=0
Testbuild for ARM: https://www.dropbox.com/s/n1btpj4o3v0rp9k/open_gapps-arm-5.1-tvstock-20160324-UNOFFICIAL.zip?dl=0

For Marshmallow support I did hit this bug:
https://github.com/testwhat/SmaliEx/issues/20

[2016-03-24 11:23] mfonville commented on #35
An extra list of TODOs:
- [ ] Test the current draft packages -> We need people with Android TV devices for that (or maybe we can ask people to donate one to me?)
- [ ] Fetch updated APKs for the packages (especially Google Play Services)
- [ ] Decide on the various flavours -> what should be in tvstock; what could be the set of apps for e.g. a tvpico or tvnano?
- [ ] Identify application dependen

[2016-03-24 23:43] #197 closed

[2016-03-24 23:44] mfonville commented on #197
I added GoogleDialer for future builds, but it is configured as an optional "extra". So not with the normal Include/Exclude behaviour, but only as an "Include".

[2016-03-25 00:04] mfonville commented on #97
This issues is now been covered in the aosp_build project that is better suited for these use cases. (DPI-specific builds that integrate directly with the ROM)

[2016-03-25 00:04] #97 closed

[2016-03-25 00:06] mfonville commented on #100
This issues is now been covered in the aosp_build project that is better suited for these use cases. (DPI-specific builds that integrate directly with the ROM). Benefits for the regular packages would not have any real beneficial effects in combination with our current compression.

[2016-03-25 00:06] #100 closed

[2016-03-25 00:39] bgiesing commented on #35
@mfonville I would test but almost all custom roms for fugu are M now. (and I'm also on the N preview)

As for the TODOs:
- ARM stuff could probably be catched from NVIDIA Sheild (Not Nexus but they Android TV is like Android Wear where Manufacturers can't change anything so that would be the closest we could get for ARM)
- I personally thought it could be a option under Arch on the site (So add T

[2016-03-26 23:17] mfonville commented on #35
@bgiesing thanks for updating the list further.
* If you please could try with an old Lollipop ROM, that would be the best. Marshmallow has its own issues that could manifest themselves, so first making sure that LP works correctly would ease the path for MM and N. An extra limitation is that I still cannot de-odex all M-apps yet, I hope we can sort that out soon.

* The ARM stuff I hope to be abl

[2016-03-27 03:32] JoshuaOrphir opened #287 "Can't install Google Dialer manually"
The GApps update after 03/21 uninstalled the Google Dialer, which was installed as user app.
And a reinstall of the apk does not succeed on nano arm64.

[2016-03-27 05:40] jkdf2 commented on #200
Cyanogenmod now has a bug report for it: https://jira.cyanogenmod.org/browse/NIGHTLIES-2706

There is also a discussion of this on the XDA Q&A page for opengapps: http://forum.xda-developers.com/android/help/qa-gapps-android-5-1-5-0-4-4-t3124506/post66054618

[2016-03-27 11:39] #175 closed

[2016-03-27 11:40] mfonville commented on #287
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum[(http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-03-27 11:40] #287 closed

[2016-03-28 05:54] shashankshirke commented on #197
Hi, I installed the latest Stock version but still tyhe AOSP dialer shows up instead of the stock Google dialer. I checked the Stock wiki page and it says "Google Dialer (replaces stock/AOSP Dialer)".

Please let me know how to get this working.

[2016-03-28 08:38] mfonville commented on #197
@shashankshirke Currently the dialer is experimental only, and as such needs a keyword to be activated with the gapps-config keyword `DialerGoogle` (see https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options#include-and-exclude-google-applications )

[2016-03-29 02:26] USBhost opened #288 "Smart pre-ODEXing doesn't work correctly"
Nexus 9
ARM64 pico stock
Dirty Unicorns 6.0.1

http://pastebin.com/FjXAGNeU pico logcat
http://pastebin.com/M16fm3dV stock logcat
https://drive.google.com/file/d/0B1cOHQ70J9vlYmY2Y0N5YXl2M3M/view?usp=sharing install log pico

and it does not look like a permission issue
AndroidRuntime: Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.android.setupwizard.SetupWizardApplica

[2016-03-29 06:30] krutoileshii commented on #288
Same issue on cm13

[2016-03-29 06:48] USBhost commented on #35
I will shoot a build up tomorrow!
Home.. finally!

[2016-03-29 07:26] mfonville commented on #288
For some reason the smart pre-ODEX isn't seen by the ROM. Can you attach the install debug log?

[2016-03-29 20:35] gpvecchi opened #289 "Aroma not installing Google Dialer"
As title, even is selected no Google dialer in priv-apps...

[2016-03-29 21:19] mfonville commented on #289
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

**PS: Please remember to a

[2016-03-29 21:19] #289 closed

[2016-03-29 23:54] USBhost commented on #288
@mfonville  will do man tonight

[2016-03-30 01:29] USBhost commented on #288
@mfonville here you go! http://pastebin.com/eSfwKUXP

[2016-03-30 07:21] hurmaqny commented on #288
I'm having the same issue on Nexus 7 2013 (flo) with the latest snapshot (ZNH0EAO1QB) for CM13. I've installed arm 6.0 pico and I'm getting setup wizard fc.

[2016-03-30 08:21] mfonville commented on #288
@USBhost I need the full debug log. It is a tar.gz file.

[2016-03-30 15:24] USBhost commented on #288
@mfonville Its it

[2016-03-30 15:41] mfonville commented on #288
@USBhost I probably did not have enough coffee yet... I did commit this: https://github.com/opengapps/opengapps/commit/b4b0c1c9ea3ba5445ae744f34b8f0c450f61829d
It reverts the pre-odexing as workaround until we sort this out.

[2016-03-30 19:27] USBhost commented on #288
@mfonville why do we need pre-odexing?

[2016-03-31 07:40] mfonville commented on #35
@USBhost you mean the package doesn't want to install?

[2016-03-31 07:42] mfonville commented on #288
@USBhost the pre-odexing is to solve the issues that de-odexed APKs don't have a signature for classes.dex, because in the original it was absent. Some Marshmallow ROMs do difficult about this (and refuse to use the APK) so we try to pre-odex the classes.dex 'out of the APK' again so that it would pass verification.

[2016-03-31 07:45] USBhost commented on #35
@mfonville it keeps getting stuck at installing during the build. But I think its something with the source I plan to redownload it and try again, also on a faster HDD

[2016-03-31 15:49] Gfunk117 commented on #35
I have a few builds for the arm ADT-1 and my NVIDIA Jetson arm tv builds
that are 5.1 aosp and cm-12.1, i will test the current arm tv builds
tonight.  Thanks for the tv opengapps!

*Regards, *

*Matthew Gorski *
*Business Development*

*Office:727-822-9000 <727-822-9000>*

*Cell:727-365-4239*

Quick Reach Media, Inc. <http://quickreachmedia.com/>
Florida Business Video Network <http://www.florida

[2016-04-03 14:46] klausenbusk commented on #278
[code]
With the newest busybox-arm from this repo, https://busybox.net/downloads/binaries/latest/busybox-armv6l works fine through. On Samsung S4 mini with newest nightly recovery. (cm-13.0-20160402-NIGHTLY-serranoltexx-recovery.img)

[2016-04-03 14:48] klausenbusk commented on #278
Same problem with busybox-arm from e994e418441b1f84b0c8513b842c4a23819ef415

[2016-04-03 14:52] mfonville commented on #278
@klausenbusk could you post your `cat /proc/cpuinfo` ?
@yashdsaraf would you be able to investigate?

[2016-04-03 14:52] klausenbusk commented on #278
http://sprunge.us/VYQS

[2016-04-03 14:58] klausenbusk commented on #278
@mfonville I tried replacing the busybox-arm in the file with the working busybox binary, but then verification fail. Do you know of any hack, I can use to install it?

[2016-04-03 15:11] mfonville commented on #278
@klausenbusk if you use TWRP you can choose to skip verification.

[2016-04-03 15:11] klausenbusk commented on #278
I use Cyanogenmod Recovery.

[2016-04-03 15:17] mfonville commented on #278
@klausenbusk I strongly suggest to use TWRP and not Cyanogenmod Recovery, if available for your device. Cyanogenmod is still a recipe for disaster unfortunately :-/
At https://twrp.me/Devices/ you can find the supported devices.

[2016-04-03 16:07] klausenbusk commented on #278
after a lot of fiddle, I finally got the zip signed, but now there is a new problem:
[code]
Same problems as you had.

[2016-04-03 16:12] mfonville commented on #278
@klausenbusk that is the fault of Cyanogenmod Recovery :/ ; exact cause & fix still unknown

[2016-04-03 16:38] klausenbusk commented on #278
I found the problem :) Selinux `setenforce 0` to disable it, and I can run the script! :)

Now I just need to figure out how to fix
[code]

[2016-04-03 16:54] klausenbusk commented on #278
Problem found. As default busybox is compiled with `CONFIG_FEATURE_BASH_IS_NONE=y`, we shouldn't depends on that busybox has been compiled with either `CONFIG_FEATURE_BASH_IS_ASH` or `CONFIG_FEATURE_BASH_IS_HUSH`

Could you change https://github.com/opengapps/opengapps/blob/master/scripts/inc.installer.sh#L98 from bash to either ash/hush or sh?

[2016-04-03 16:58] klausenbusk commented on #278
https://github.com/yashdsaraf/busybox seems to have been compiled with `CONFIG_FEATURE_BASH_IS_ASH=y`.

[2016-04-03 17:49] mfonville commented on #278
@klausenbusk because we use bashims we made the shebang `bash`, so that we have optimal shellcheck checking, and our own bundled busybox is compiled with it, so I put it like that on purpose and would prefer to keep it that way.

Would we be able to run setenforce from our update-binary script?

[2016-04-03 18:24] yashdsaraf commented on #278
@klausenbusk Will you be able to try out [this](https://app.box.com/s/1vy5brqd5fhtu00ah1scmwb56hp886j4) busybox binary.
Please report back if it works out for you.

[2016-04-05 11:36] mfonville opened #296 "[PLAN] Future legacy support"
When Android N will be released, even more changes for our compatibility-mechanisms will probably have to be applied.

Our codebase becomes more difficult to manage over time, because of the many hacks for especially KitKat, but also a few for Lollipop 5.0, while install-base of these versions is becoming smaller over time.

The idea is to at some point drop **development** (but not support and bu

[2016-04-07 10:36] CHEF-KOCH opened #297 "Pages returns Error 324 (net::ERR_EMPTY_RESPONSE)"
If I want to visit the page it returns ERR_EMPTY_RESPONSE on Chromium, but Ping works just fine.

This is now since several days.

What have I tried?
* Reset Windows Winsock, disabled unbound/dnscrypt and use Windows own DNS mechanism [still the same]
* Ping works (both behind DNscrypt/unbound and Win. DNS) not any loss
* Tried stable Chrome/Chromium version .. same
* Tried with and without addons

[2016-04-07 11:54] bgiesing commented on #297
@CHEF-KOCH This is most likely an issue with your computer/Chrome not us.

Some causes include:
1. There is a problem with your ISP internet connection.
2. Google Chrome specific issue usually resolved by just clearing your cache or disabling Extensions.
3. Faulty Router or a Router misconfiguration.
4. Spyware, adware or malware installed on your computer or in your Browser.
5. Corrupt or invalid

[2016-04-08 10:48] mfonville commented on #35
@Gfunk117 @USBhost any progress on the testing? I did find btw a minor error in the build, so I can provide an updated version, but first I would like to know whether it works at all :-P

[2016-04-08 18:12] Gfunk117 commented on #35
My 1st flash attempt resulted in not a complete boot after optimizing apps but this could be because of previous vendor gapps.  Also this was on a cm-12.1 build.  I'll try again over the weekend on my aosp builds and after a fresh 12.1 install with no gapps.  Thanks again for the TV support!

[2016-04-08 21:00] CHEF-KOCH commented on #297
I can't tell how useless this is, I mean I'm able to google myself. I expected some advise to debug this, I in meantime tried 3 other Chromium versions, still the same. If I connect via Tor it works, my provider itself not blogs that page because otherwise I could't in general not connect to GitHub.

Something has changed in Chromium or the page itself, as reported it worked well until ... I don't

[2016-04-08 21:06] bgiesing commented on #297
You just answered your own question:

because otherwise I could't in general not connect to GitHub.

It's your ISP and/or browser not us.

On Fri, Apr 8, 2016, 4:00 PM CHEF-KOCH <notifications@github.com> wrote:

[2016-04-08 21:08] CHEF-KOCH commented on #297
It not explained why it worked before ... ?

[2016-04-08 21:11] bgiesing commented on #297
@CHEF-KOCH well if it's because your ISP (which seems likely because the Tor comment), they are blocking GitHubs servers which Tor circumvents so the only option would be switch internet companies.

[2016-04-08 21:15] USBhost commented on #297
@bgiesing Wouldn't a web proxy work to?
If the ISP blocked github Wouldn't ping also not work?

[2016-04-08 21:22] CHEF-KOCH commented on #297
I guess it's GitHub issue then according to [this](https://stackoverflow.com/questions/13176706/error-324-neterr-empty-response-error-in-joomla-3-0-php-with-parentdisplay), a lot of people reporting similar things, because server side config. Maybe author of opengapps.org could ask GitHub to fix this. Or I contact GitHub now, because if ping works why the page should't work, my ISP also not blocks

[2016-04-08 21:23] USBhost commented on #35
@mfonville Will build it again  to night.

[2016-04-08 21:50] mfonville commented on #297
Can you try with Google's DNS servers set?
Are you sure you browse to OpenGApps.org without www. in front?

[2016-04-08 21:53] CHEF-KOCH commented on #297
Updated OP, will try to set Google DNS in router now.

[2016-04-09 07:05] mfonville commented on #297
Many years ago I had a similar issue when my router's MTU was faulty. So I Googled the error with MTU added; and it would explain why it works via a tor tunnel.  Could you use the hints from http://www.techtubby.com/how-to-fix-error-324-neterr_empty_response-the-server-closed-the-connection/ ?

[2016-04-09 10:57] KreAch3R commented on #165
I think I found out why GoogleTTS seems to be necessary for some ROMs on marshmallow. It affects this issue here and this commit: https://github.com/opengapps/opengapps/commit/6b7ade0150b40c4298d3aa92a0943fa492f3ab1c

I think it's because of the **removal of AOSP TTS** from most ROMs. When I reverted it: https://github.com/krexus/build/commit/20ca963619afcb830fad2b2dbd100b59cc6b426b

Setupwizard w

[2016-04-09 12:05] mfonville commented on #165
@KreAch3R thanks for your investigation. Based on your info I think our current defaults are sane/OK if many AOSP ROMs come without any TTS. Also GoogleTTS is clearly an improvement over PicoTTS, so if people choose to use GApps, using Google as TTS-provider should be ok (and can still be disabled using gapps-config). I will check where we would need to update the wiki.

[2016-04-09 12:11] KreAch3R commented on #165
I agree @mfonville. What I think you should do is inform the users that if they choose to exclude GoogleTTS and they get SetupWizard FCs, it's a ROM problem and you (the OpenGApps) are not responsible for it. :smiley:

[2016-04-09 15:27] CHEF-KOCH commented on #297
Well guys you're all awesome but after around 3 hours of debugging and different configs and all such possibility's I found out it's Chromium issue, but not to the mentioned reasons. It's just something internal because I tried it with Android + Firefox and it works there, also with Android Chrome and Chromium (dev) version (I used the F-Droid app to download Chromium dev version on Android)

@mfo

[2016-04-09 15:32] mfonville commented on #297
@CHEF-KOCH
I have no Windows installation at home, so I can't test for you. I believe @bgiesing has.

[2016-04-09 16:36] klausenbusk commented on #278
Changing it only in `inc.installer.sh` shouldn't affect shellcheck.
Pros:
* People can use regular busybox binary with default settings

[2016-04-09 16:40] klausenbusk commented on #278
Seems to work, only tested by:
[code]

[2016-04-09 16:47] klausenbusk opened #299 "Cyanogenmod Recovery support (selinux)"
**Checklist**

- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is part of The Open GApps Project scope *(and not of the pre-built OpenGApps.org packages scope, for support on those see [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071))*

*If Open GApps installation fails:*
- [x] Is the issue repro

[2016-04-09 17:08] bgiesing commented on #297
I'm using the same Chrome versions right now and the site works fine for me

On Sat, Apr 9, 2016, 10:33 AM Maarten Fonville <notifications@github.com>
wrote:

[2016-04-09 17:24] mfonville commented on #299
@klausenbusk Yesterday I had done this commit (because after you did mention it I had put it on my endless TODO list ;-) )
https://github.com/opengapps/opengapps/commit/a0832927c596153b2549a600061fd8ffeb67dc79
So, if that works, it might already be implemented.

[2016-04-09 21:39] CHEF-KOCH commented on #297
After today's update of Chromium it works now - Or it was fixed by GitHub (because I reported it). Can't say which caused this ....

Tried all mentioned stuff but none of this worked, then I accidentally connected to the page, and viola it works now. Strange anyway because ping worked, nslookup worked.

Thanks anyway I close then and hope this never happens again.

[2016-04-09 21:39] #297 closed

[2016-04-12 16:13] Acris opened #301 "Set Google Dialer to default phone app"
**Issue description:**
When I installed Google dialer, it's not the default phone app, when I try to make a call, my phone will reboot(soft reboot). When I set Google dialer became the default phone app on Setting -> App, it don't crash. So, can you make Google dialer became default phone app when flash OpenGapps?

[2016-04-13 15:39] mfonville commented on #301
I had already thought about this idea, and researched it a bit, but still haven't found a way to do this yet.

[2016-04-14 10:51] AnimbusDev commented on #301
@mfonville settings command maybe?

[2016-04-14 11:55] mfonville commented on #301
@AnimbusDev keep in mind we are in recovery :-/
I had looked at the `pm` sourcecode, but I only did see removal of default and not setting defaults for dialer.

[2016-04-14 15:43] mfonville commented on #30
@oRAirwolf if we could privately contact me about the Nexus9 login, that would be cool.
Can you drop me a line at XDA or e-mail? http://forum.xda-developers.com/member.php?u=6404745

[2016-04-14 16:54] mfonville commented on #299
@klausenbusk can you confirm that this issue is resolved?

[2016-04-14 17:00] mfonville commented on #35
@USBhost Google Play should have been included yes, was the boot succesful?

[2016-04-14 17:24] USBhost commented on #35
Np!
@mfonville yes it did... but i was not greeted with anything... (so my remote did not connect)
The luncher was not the android tv one...
I had to use a mouse because my remote did not work.
then i went to all app and it just stood there never changing.

P.S. my build turnd out to be eng not userdebug maybe thats why i was able to boot
In the google drive link the full boot logcat is there.

[2016-04-14 17:34] mfonville commented on #35
@USBhost thanks for your feedback. I had checked out the logcat, but was not yet able to pinpoint what could be wrong.
I see a lot of warnings of `W/Launcher.LauncherProvider` but Warnings are not Errors... and it complains about `android.content.pm.PackageManager`
not sure what to do with that yet

One of the other possibilities is that it maybe needs `app/FrameworkPackageStubs` that I did skip f

[2016-04-14 21:07] bgiesing commented on #35
@USBhost @mfonville The issue sounds like you used a non-TV ROM like LoliRock. Nexus Player was some ROMs that use the normal Android UI (like phones/tablets) and some that use the Android TV UI (aka Leanback).

Are you sure you used the right kind? If it was a normal one than Stock would be used and if it's Leanback then tvstock would be used.

[2016-04-14 21:21] USBhost commented on #35
@bgiesing I built completely stock AOSP 5.1.1
And I did aosp-fugu-userdebug but for some reason it went eng. Does eng have the stock luncher?

[2016-04-14 21:52] bgiesing commented on #35
@USBhost No but I ask because the logs are conflicting.

Default.prop shows this
[code]
This says that it's 6.0.1 using tablet mode (aka not Android TV) and is Omni not stock AOSP.

Build.prop says this however
[code]
Which means 5.1.1 with TV UI and AOSP not Omni.

And then the OpenGApps log shows both
[code]

So it's confusing

[2016-04-14 21:57] USBhost commented on #35
@bgiesing That's sounds like it was reading the recovery prop

[2016-04-14 22:09] bgiesing commented on #35
Well either way, maybe also try a ROM that already exists like CM12 or Pure
Nexus (if that has a Lollipop version) just as a comparison?

On Thu, Apr 14, 2016, 4:57 PM USBhost <notifications@github.com> wrote:

[2016-04-14 23:17] Gfunk117 commented on #35
Im testing the arm version on my jetson tv build in a few minutes ill report results.  Fresh omni 5.1 TV build...

[2016-04-14 23:49] Gfunk117 commented on #35
hmmmm still got no complete boot after installing over previous homemade gapps, so this happens to me on omni 5.1 and cm 12.1, i did install over gapps so on my next install on my new omni build ill flash open_gapps 1st and see if i get a complete boot.  Right now sits on starting apps and when i reboot i get no full boot only bootanimation....

install log:
http://pastebin.com/k1mZuftM

[2016-04-14 23:52] Gfunk117 commented on #35
im sure this is the issue:

!!! WARNING !!! - Duplicate files were found between your ROM and this GApps
package. This is likely due to your ROM's dev including Google proprietary
files in the ROM. The duplicate files are shown in the log portion below.

My vendor tv blobs/apks

[2016-04-16 04:59] supermodzz1998 opened #303 "gapp"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is part of The Open GApps

[2016-04-16 08:21] #303 closed

[2016-04-16 12:32] klausenbusk commented on #299
I will test when I get some time, I haven't forget it (yet) :)

[2016-04-18 10:19] errikos commented on #301
For me Google Phone works if stock Dialer is also installed and Enabled. If stock Dialer is uninstalled, Google Phone causes reboot upon placing a call. If stock Dialer is disabled, then Google Phone makes the call, but there is no InCallUI, ie. the call goes on fine, but you can't do anything with it (like ending the call for example).

[2016-04-18 11:02] mfonville commented on #301
@errikos which device and ROM are you using?

[2016-04-18 11:06] errikos commented on #301
@mfonville Sorry, my omission. I have a G2-D802 and I am using CM13 latest NIGHTLY (but also happens with SNAPSHOT).

[2016-04-18 12:19] nvenasquez commented on #301
Same thing happened on my phone when OPENGAPPS stock package still has no Google phone included I've installed Google Phone via Play Store directly. It works but when I disabled stock dialer Google phone still works but no CallerUI shown/displayed and can't even hang up a call, but right now the Google Phone app included on the Stock Packages doesn't even installed on my device. My device is Oppo

[2016-04-18 14:07] mfonville commented on #301
Please check http://forum.xda-developers.com/showpost.php?p=66425274&postcount=2529 for what is going to change in future builds.
We probably can't resolve the issues with a broken in-Call UI, because those are depended on the telephony-application provided for the specific device.
Best is NOT to use Google Dialer on non-Nexus devices.

[2016-04-23 16:50] wudimenghuan commented on #231
@mfonville How can I do? How to write the gapps-config file to prevent remove GooglePinyinIME?
I try to write "Pinyin" but not solve it.

[2016-04-23 16:53] wudimenghuan commented on #231
@mfonville I download the super package and write a gapps-config

[code]

But it said "insufficient space". But why?

And I think this should working
[code]
I am trying.

[2016-04-23 17:13] wudimenghuan commented on #231
@mfonville I added Include keyword and it's correct

[code]

But why use this is wrong?
[code]

[2016-04-23 17:22] mfonville commented on #231
@wudimenghuan please use XDA Forum for support and issues with the pre-built packages.

Your config from https://github.com/opengapps/opengapps/issues/231#issuecomment-213789141 looks alright.

The + is only for a few select skips, it is not a generic option.

If you need more support, please use the XDA forum and don't forget to attach your debug logs.

[2016-04-23 22:40] nephilin82 opened #305 "Can't remove CM Screencast"
Hello,

I'd like to remove some apps during installation of my gapps. The only one i can't remove is CyanogenMod Screencast. In my .gapp.config file , i've tryied screencast, Screencast, and CMScreencast keywords, but they don't work.
Can you tell me the keyword i've to put, please?
 I've Cm13 on my Nexus.

Best Regards.

[2016-04-24 09:11] AdFad666 commented on #168
I came here to suggest exactly this.

This is becoming a more and more common problem - the difference between `mini (290MB)` and `stock (605MB)` is huge, it's more than double the size!

605MB means I can no longer install `stock` on my Xperia devices with 1GB RAM/8GB MMC. It was still possible last year when it was in the  500-550MB size range.

I just created an `arm-23-stock` package with thes

[2016-04-24 11:28] AdFad666 commented on #168
Actually it was a `1GB RAM / 4GB MMC` device that had an issue with the `stock` package, the `/system` partition is only 1.6GB.  With the custom created package I made, the `/system` partition is over 80% full.

(Specifically the Xperia E3, which is still supported by Sony in AOSP 6.0)

Stock is probably only suitable for devices with `/system` partitions of at least 2GB.

[2016-04-25 00:08] bgiesing commented on #168
@AdFad666 It did grow some but the jump is not actually like that. 290MB to 605MB is if you are measuring the ZIP which also includes multiple variants of the same APK in all packages (so more space)

I don't have the exact size but it's probably more like 150MB to 300MB

[2016-04-25 09:19] robin-vandaele commented on #305
You should read the guide for gapps-config
https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options
There is a feature that can remove any app by using it's package name

[2016-04-25 11:19] nephilin82 commented on #305
Thank you for the answer. I already use this feature by adding package name in the .gapps.config file. But I didn't find the exact keyword to remove Screencast.

[2016-04-25 11:23] robin-vandaele commented on #305
Try (Screencast) with the parentheses
@mfonville could maybe add a read gapps keyword for the screencastapp in the feature

[2016-04-25 11:55] mfonville commented on #305
@robin-vandaele @nephilin82 I could, but in that case I do need the full paths (e.g. is it in /app/ or in /priv-app/)

@nephilin82 In principle you also have asked your question at the wrong place. As the FAQ and support page clearly state, you should use XDA Forum for support requests and not have opened an issue here on GitHub, and at the very least you should have included your debug logs. If y

[2016-04-25 11:58] robin-vandaele commented on #305
@mfonville Just so you don't have to search this anymore: On my rom, the screencast app resides in  /system/priv-app/Screencast

[2016-04-25 12:02] robin-vandaele commented on #213
You could use something like +(foldername) for this, like a combination of the application selector '()' and the don't remove these apps selector '+'

[2016-04-25 14:27] nephilin82 commented on #305
@robin-vandaele I tried, and it's that !!! Thank you very much.

@mfonville I'm really sorry to have asked my question in the wrong place. If i have an other question i'll go to the XDA forum.

[2016-04-25 14:27] #305 closed

[2016-04-25 14:51] mfonville commented on #305
I added CMScreencast as a keyword for future builds.

[2016-04-27 10:04] WalrusInAnus opened #306 "Services keep crashing"
I have CM11 installed with Pico version of gapps (and yes I am using the correct version for my CM), and various Google services keep crashing all the time, even right after first boot of the phone. It's extremely annoying. I don't know what to do or how to troubleshoot it, but it's obviously caused by gapps, so I am posting it here.

[2016-04-27 10:13] mfonville commented on #306
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-04-27 10:13] #306 closed

[2016-04-28 17:35] abma commented on #229
i ran into the same issue, a factory reset fixed it for me.

[2016-04-30 13:30] Mannshoch opened #307 "Replace the service restart loop with a limited tries"
I have the Problem, that after updating my Galaxy s2 and CM13 with OpenGaaps nano (20160430) I got Service error on start. On pressing OK it appears again. Please break this loop. If it’s not possible to install gaaps this app should not end in a infinite loop.

[2016-04-30 14:32] mfonville commented on #307
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-04-30 14:32] #307 closed

[2016-04-30 16:07] Mannshoch commented on #307
seems to be a missunderstood. After some time I was able to get it work. But I think a such infinite loop is a quite bad habit. so my Request only have to do with this.

[2016-04-30 16:25] mfonville commented on #307
@Mannshoch your experience is a mix of the properties of the ROM and Google's own app. It is not caused by Open GApps' scripts and neither we can do anything about it. And without any logs we can't even investigate anything.

[2016-05-01 09:45] legendtang opened #308 "PreODEX flag not working"
I add the PreODEX in gapps-config.txt and it does show `Smart ART Pre-ODEX | true [preodex]` but no odex files were found after the first boot.

Here is the full debug log. Thanks!
[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/opengapps/files/244038/open_gapps_debug_logs.tar.gz)

[2016-05-01 10:30] mfonville commented on #308
@legendtang pre-odex is at the moment disabled (even when using the flag), because some problems are still unresolved. I hope to tackle those in the near-future and be able to re-enable the flag.

[2016-05-01 11:42] legendtang commented on #308
@mfonville Thanks for the explanation. Would you please update the wiki temperately?

[2016-05-02 09:10] Mannshoch commented on #307
hmm. An I thought it's only a Problem of the Autostart script. The Background seems more complicate then it seems.

[2016-05-03 07:18] gentoo-root commented on #299
@mfonville even with `setenforce 0` I get permission denied error on cyanogenmod recovery when trying to `ln -sf /tmp/busybox-arm /tmp/bin/[`, and `ERROR 10: Failed to set-up Open GApps' pre-bundled busybox` appears.

[2016-05-03 07:28] mfonville commented on #299
@gentoo-root thanks for testing. Damn CM recovery :-/
If you run `setenforce 0` from the shell does it give the same error, is it only when installing a flashable zip?

[2016-05-03 08:22] gentoo-root commented on #299
@mfonville when I run `setenforce 0` from the root shell on booted device, it succeeds. However, it fails when run from zip. It seems that CM recovery has no adb shell capability, so I was unable to test `setenforce 0` from the recovery shell.

When run from zip, `id` command shows the following: `uid=0(root) gid=0(root) groups=0(root) context=u:r:recovery:s0`
In the shell on booted device it says

[2016-05-03 08:30] mfonville commented on #299
@gentoo-root I think that if we are unable to make the symlinks the `--install` also wouldn't work, because it uses the same trick (with hard links) AFAIK.

It seems CM recovery is doing everything in their power to prevent possibly abusive scripts from running. Big chance we can *only* support it when Toybox will be more complete and the busybox won't be necessary anymore :-/

[2016-05-03 08:37] gentoo-root commented on #299
@mfonville Please read more carefully the last two sentences of my message ;)
I mentioned that there is `busybox --install` mode that doesn't make any symlinks or hardlinks but instead installs shell script wrappers. It is turned on by CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS option. We can fall back to this mode in case when symlinking fail.

[2016-05-03 08:38] mfonville commented on #299
@yashdsaraf would it be possible to make an experimental build of busybox with that wrapper enabled?

[2016-05-03 08:57] gentoo-root commented on #299
I've read busybox docs another time, and seems that CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS is not what we need, sorry for misleading.
This option only affects `make install` behavior, but does not affect `busybox --install`.
But we still can generate those script wrappers manually in our update-binary if symlinking fails.

[2016-05-03 09:43] gentoo-root commented on #299
I've managed to successfully install opengapps with patch from #309.
(For some reason I see google services crashes though I gave them all permissions, but it is irrelevant to this bug, I think.)

[2016-05-03 09:53] mfonville commented on #299
ok great; than you can ignore my question in #309 it cross-posted :-D

[2016-05-03 09:53] #299 closed

[2016-05-05 05:17] USBhost opened #310 "Google Play services FC"
it looks like https://github.com/TeamExodus/frameworks_base/commit/9c36be651e83fb039a262682839bd920b033007a is no longer sufficient for android-6.0.1_r43

to fix all the fc i just granted google play services all the available permissions

The logcat of the boot up are in https://drive.google.com/open?id=0B1cOHQ70J9vleXVUNUdVc1BvZkE flounder folder

"AndroidRuntime: java.lang.SecurityException: "p

[2016-05-05 05:36] USBhost commented on #35
https://drive.google.com/open?id=0B1cOHQ70J9vleXVUNUdVc1BvZkE my new location for opengapps logs

[2016-05-05 12:46] polyzen commented on #310
What happened to the issue template?

[2016-05-05 19:44] mikalackis commented on #310
I recompiled my aosp for android-6.0.1_r41 (Nexus 5) and I dont have any FCs regarding permissions and I use the same patch as before.

[2016-05-05 19:46] USBhost commented on #310
I did say android-6.0.1_r43 not r41

I wonder is arm64 any different?

[2016-05-05 21:06] mikalackis opened #311 "GoogleSignatureVerifier & PlayServices"
I just flashed my Nexus 5 with a new AOSP rom compiled by myself and I noticed that with the latest source base of opengapps and new AOSP tag version (android-6.0.1_r41) I constantly get a notification saying:
Google Play service won't run unless you update Google Play service.

When I click on it to go to Play store, I dont have an option to update it, just DEACTIVATE button.

As for logcat, it s

[2016-05-08 10:17] mfonville commented on #30
@oRAirwolf would you still be able to get in touch?

@DJAlik my i9300 did die, and the GSF ID I was using for that is now being refused by Google :-(
Do you still have your S3?

[2016-05-08 10:40] oRAirwolf commented on #30
@mfonville sending message on XDA

[2016-05-09 13:25] #311 closed

[2016-05-09 14:01] muelli opened #312 "show the detected Android version also when complaining about it"
I am trying to install the arm64 pico package for Android 5.1 for the CM12.1 image for my TCL M3G (8 May 2016 Size: 49.85 MiB).  The installer complains about the GApps being *only* for Android version 5.1. It does not, however, show what it thinks I have for a version. I am quite confident that I have an Android 5.1, so it would have helped me to see what it thinks it has detected.

[2016-05-09 14:16] #312 closed

[2016-05-09 14:16] mfonville commented on #312
Done

[2016-05-09 16:56] DJAlik commented on #30
I have my S3. it's T999 (d2tmo). During one of the flashes I lost IMEI and
therefore got stuck on EDGE. IMEI was fixed using some tools I found online
but I am still not able to connect to T-Mobile above edge... :(

On Sun, May 8, 2016 at 5:40 AM, oRAirwolf <notifications@github.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov

[2016-05-09 17:04] mfonville commented on #30
@DJAlik ok cool, can I contact you via XDA about adding the opengapps.org account to your device?

[2016-05-09 17:15] DJAlik commented on #30
go for it

On Mon, May 9, 2016 at 12:04 PM, Maarten Fonville <notifications@github.com>
wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.com/DJAlik>

[2016-05-10 15:03] cristisilaghi opened #313 "Android 6.0 / SDK23 is not recognized as such"
Hey there. I have a problem with Stock OpenGapps package.

I get "Updater process eneded with ERROR: 20".

I have the issue with the latest version of TWRP (TWRP 3.0.2-1).

My device is SAMSUNG Galaxy S2 (i9100) running CyanogenMod 13 (20160510).

I've attached a screenshot, I hope this is useful.

![screenshot_2016-05-10-09-55-53](https://cloud.githubusercontent.com/assets/2406819/15151354/7402b8

[2016-05-10 15:06] mfonville commented on #313
Could you attach your debug log, or otherwise the /system/build.prop of your device?

[2016-05-10 15:09] cristisilaghi commented on #313
I have build.prop: http://pastebin.com/raw/rai1wVxX

[2016-05-10 15:17] mfonville commented on #313
@cristisilaghi could you upload the actual file instead a snippet of the content? Because I expect encoding issues.

[2016-05-10 16:01] Gfunk117 commented on #35
Any new arm builds?

I can now test on 3 different arm devices, wetek play, google adt-1 and nvidia jetson tk1 custom tv device tree...

Gonna try the March build on the Wetek Play

[2016-05-10 20:27] cristisilaghi commented on #313
You may be right.
I will try to see if I encounter same issue with the default build.prop (because I modified the file).
I will report if I will receive same error with a default build.prop, but I can't right now. I will try this tommorow :)

[2016-05-10 20:44] mfonville commented on #35
I did not get around to it yet. We had some holidays and I am really busy with overhauling the buildsystem, that touches the same code. So I'd prefer to have that done before continuing on the TV package.

[2016-05-10 21:02] mfonville commented on #310
I believe the patch should result in granting the ACCESS_FINE_LOCATION permission. Are you sure this was a clean flash?
Maybe @TheCrazyLex could have a look?

[2016-05-10 21:06] TheCrazyLex commented on #310
@mfonville It may be that some of the google apps require more permissions now.

For confirmation someone would need to install the newest stock google image on a nexus device and then check which permissions are granted to every app.

Unfortunately I don't own a nexus device.

If someone can give me updated information, I will update the patch.

Alex

[2016-05-10 21:09] cristisilaghi commented on #313
UPDATE: Yeah, you can close this issue.
It seems that with the default build.prop it's working properly.
The issue in my case is very likely to have been regarding file encoding :)

Thank you anyway! :+1:

[2016-05-10 21:29] mfonville commented on #313
Ok. Tip for next time when seeking support, please use XDA Forum instead of directly opening an issue. The community there can help you out, leaving more dev time for me.

[2016-05-10 21:29] #313 closed

[2016-05-10 21:37] mfonville commented on #310
@NicholasBuse could you check this on your 6P?

[2016-05-10 21:48] ralerbon commented on #310
**Sorry for my Bad English!**

I have the same issue with my HTC M9 (ARM64)

I'm not able to grand the App (Play Service) all Permission, because the problem appears straight after starting a clean flash (Formatting the internal Storage+Wiping Data And Cache with TWRP)

So the Setup-Wizard don't let me further then selecting an WLAN Access-Point, because he jumps back with the message that the "Pl

[2016-05-10 21:58] USBhost commented on #310
@mfonville
it was on an clean install.
And I have a Nexus :)

I will flash the factory image tonight

[2016-05-11 07:54] USBhost commented on #310
"Google Play services" has all available permissions granted on N

[2016-05-11 16:59] vladimiroltean commented on #310
I'm also interested in an answer to this issue.

[2016-05-12 06:18] USBhost commented on #310
https://drive.google.com/open?id=0B1cOHQ70J9vlR0t4cTh0Nmo4eTg

[2016-05-13 21:04] vladimiroltean commented on #310
I am experimenting with a build for x86_64, and thus can only test Android M, not N for the moment.
Build is Android-x86, and tag is the same android-6.0.1_r43:
[code]

I am providing my [full logcat](https://drive.google.com/file/d/0BycBHkd7fD4AdHpaWHNzSkE4T2s/view?usp=sharing) output.

[2016-05-13 23:02] jawz101 commented on #310
I wish you all would hold off on the update for any variant of Google Play Services 9.0.83.  I have both a Google Nexus 5 on CM13, Chroma, Purity and Samsung Galaxy Tab S on CM12.1 and Google Play Services starts force closing as well as any other app which uses Google Play Services (gmail, Music, etc.)  There's an issue with this latest version and, as you can see, it's affecting several devices

[2016-05-14 09:30] TheCrazyLex commented on #310
@USBHost I think it is currently all about Marshmallow. So such a picture on the newest stock M release would be more helpful.

Thanks!

[2016-05-14 10:46] vladimiroltean commented on #310
My Google Play Services version is 8.7.03 (2645110-480).

[2016-05-14 13:53] polyzen commented on #310
No force closes with 9.0.83 here. [CopperheadOS](https://copperhead.co/android) May 8th release (Android 6.0.1 MOB30J).

On May 14, 2016 6:46:55 AM EDT, vladimiroltean <notifications@github.com> wrote:

[2016-05-14 14:22] ticpu commented on #311
I have the same message in ADB logcat. I'm having some GMS crashes, did you find anything useful?

[2016-05-14 14:25] ticpu commented on #311
Same Android version, OMNIrom flavor with pico OpenGapps.

Example gms related crash from Twitter:

[2016-05-14 14:32] USBhost commented on #310
@TheCrazyLex ... I almost guarantee it will literally be the same but as you wish
I will give it to you by tonight.

[2016-05-14 17:00] jawz101 commented on #310
My bad, folks.  Ignore my comment.  For the past week I've experienced fc's with the latest Google Play.  This morning I found a Reddit thread that said if you use Amplify XPosed module and had it active for the icing wakelock the latest Google Play Svcs doesn't like that.  I just uninstalled Amplify for now and the problem immediately went away.

[2016-05-15 05:57] USBhost commented on #310
@TheCrazyLex
Well... here you go
https://drive.google.com/open?id=0B1cOHQ70J9vlODI0YXo0Mm1uM0k

[2016-05-15 16:51] TheCrazyLex commented on #310
@USBhost Thanks for updating me.
I rechecked and my patch is already granting all the permissions on your screenshot to Google Play Services.

Alex

[2016-05-15 17:25] USBhost commented on #310
@TheCrazyLex then why did it not grant permission to them on r43

[2016-05-15 17:27] TheCrazyLex commented on #310
@USBHost are you sure the ROM you are using has the patch applied?

[2016-05-15 17:29] USBhost commented on #310
Yes!
The only fc I got was Google Play services.

No setup wizard fc
No google play fc
Only Google Play services.

[2016-05-17 21:06] Displax opened #317 "Gapps for mips/mips64"
I was able to grub some mips apk`s, like GMS (050), Play Games (050) and Youtube.
Already uploaded it on https://www.apkmirror.com/

If you need some other apk`s please tell me exactly which and I try grub it.

Thanks.

[2016-05-17 21:26] mfonville commented on #317
@Displax we had indeed noticed your uploads on apkmirror, especially because you also have x86_64 apks :)
We probably won't do Open GApps for MIPS, because as far as we know no new MIPS devices have been made since the 4.x Android series.
If MIPS would become 'mainstream' again we could also do minimal packages for it.

Can I ask you what tool(s) you use to get your APKs?

[2016-05-17 22:07] Displax commented on #317
@mfonville
On android <5.0 you can modify build.prop for needed ABI, density and probably API level (don't tried it yet) without any consequences, like bootloops. Then clear GMS and Google Play data and reboot device. After some time, Google Play starts download apps for fake values.

So, in this way you can grab all apk`s for each ABI, API and density.
If it`s works on emulators, you can try to c

[2016-05-18 09:34] mfonville commented on #317
@Displax I use our apkcrawler tool https://github.com/opengapps/apkcrawler with various GSF IDs for the playstorecrawler. But I need to improve the current Google proto's that we use, to mimic those of Google Login Services Framework.

I will close this bugreport, but if you find this interesting, please take a look at the apkcrawler project. We would really welcome some extra help that essential

[2016-05-18 09:34] #317 closed

[2016-05-20 15:44] Bracket- commented on #48
Here's a new log in case developers are interested:
https://gist.github.com/anonymous/a73d099195a0b8215e8504151db5071d

shellcheck00.log was generated with the noisiest warnings disabled
`SC2016,SC2034,SC2045,SC2153,SC2154,SC2164`
shellcheck01.log was generated with all warnings enabled (default)

[2016-05-26 09:44] jimmyen opened #319 "K"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is part of The Open GApps

[2016-05-26 10:31] #319 closed

[2016-05-26 13:23] ky0ncheng opened #320 "Why not add .torrent as download?"
And you can make a snapshot version pre month.

Github raw download url make some errors with AWS cdn always...

[2016-05-26 17:57] ngrhd commented on #320
True +1

[2016-05-26 18:08] mfonville commented on #320
We let the pre-built downloads run on purpose go via opengapps.org, see http://opengapps.org/blog/post/2016/03/18/the-no-mirror-policy/ for details why.
Also my buildbot lacks the diskspace and upload bandwidth to seed all the packages. Another 'problem' is that most packages are outdated after 1 day, so they won't be seeded for long. And commercial HTTP-to-torrent seeders I have reviewed up till

[2016-05-26 18:08] #320 closed

[2016-05-27 22:00] Galaxy-Crusader commented on #310
Does anyone get system ui fc, it only starts after multi selecting apps to install.

[2016-05-27 22:12] mfonville commented on #310
@Galaxy-Crusader your problem sounds like a ROM issue, probably best to drop them a line. For support you need to post your debug logs and logcat at our XDA thread.

[2016-05-30 12:46] Forage opened #322 "Wallpapers keyword option"
With the list of wallpaper packages ever growing, I think it would be good to introduce a 'virtual' `wallpapers` keyword option to remove all the wallpaper pages in one go.

Packages to add to the list:
* BasicDreams
* CMWallpapers
* Galaxy
* HoloSpiral
* LiveWallpapers
* NoiseField
* Phasebeam
* PhotoPhase
* PhotoTable
* VisualizationWallpapers

Maybe one should be left if it's essential for e.g.

[2016-05-30 22:28] mfonville commented on #322
Thanks for the work you did in the wiki. I will look at this at some point in the future :)

[2016-06-02 01:13] MrStonedOne opened #323 "Provide documentation a range of how much diskspace each package needs"
This prevents the user from even knowing what smaller package to download because they have no clue what order of magnitude they are off the mark.

On this note, http://opengapps.org/ should tell the user the required system free space to install for each package set, or at least a range if this can't be exactified.

[2016-06-06 10:58] MSF-Jarvis opened #324 "Only remove packages that are part of the variant being installed. Unless explicitly defined with a keyword."
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**
- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is part of The Open GApps P

[2016-06-07 12:29] mfonville commented on #324
Where you apps installed on `/system`? Because Open GApps currently doesn't (and can't) differentiate between wanting to remove an app, or not wanting to update an app. So it removes any app on `/system` that is part of the Open GApps installation options (including the bigger packages).

[2016-06-07 12:32] MSF-Jarvis commented on #324
I'm assuming the "Where you" is a typo that means "Were your". Yes, they were all on `/system`, and OpenGapps did kill off all Google Apps it found (Thanks for that, I was being a bit lazy to remove the extra Play Movies and other bloat :p )

[2016-06-07 12:33] MSF-Jarvis commented on #324
But I kinda like and use Keep and Gmail, so it's a :( for removing them too...

[2016-06-07 12:34] MSF-Jarvis commented on #324
@opengapps/developers is this something we can expect to be _ever_ added into the installer?

[2016-06-07 12:50] mfonville commented on #324
@MSF-Jarvis indeed I meant 'were'.
I think we will probably change this yes. The current behaviour is according to how PA GApps behaved, but it does not match people's expectations.
I guess we will do this when we are going to revise the current package sets, names and the config.

I will update the description accordingly.

[2016-06-07 12:54] MSF-Jarvis commented on #324
Thanks @mfonville. We should keep this open,no?

[2016-06-07 12:57] mfonville commented on #324
@MSF-Jarvis we keep this open as tracking bug

[2016-06-07 15:17] DJAlik commented on #30
My GS3 is toast. It flew off a table and now the screen is unresponsive to
touch. Time for a new phone I guess :(

On Mon, May 9, 2016 at 12:14 PM, Alex Rusinov <djalik@gmail.com> wrote:

--
<http://www.facebook.com/djalik>  <http://twitter.com/#!/DJAlik>
<http://www.linkedin.com/in/alexrusinov>
<http://plus.google.com/114580313768137070684>
<http://www.mixcloud.com/djalik/>
<http://psnprofiles.co

[2016-06-07 16:06] mfonville commented on #30
@DJAlik luckily we were able to mimic any device now using the latest playstorecrawle code :)

So we can safely say this bug is 'resolved' now :-D

[2016-06-07 16:06] #30 closed

[2016-06-08 10:57] hurzl opened #329 "Script on Download Site not working"
Never stops "searching"

[2016-06-08 11:54] mfonville commented on #329
The GitHub API might have had some downtime, or your might have surpassed the API limit.
Try at a later moment again, if you keep continuing having issues, please use the XDA forum for support.

[2016-06-08 11:54] #329 closed

[2016-06-08 11:58] hurzl commented on #329
Neither of the above.

[2016-06-08 12:00] mfonville commented on #329
Disable adblockers or other potentially blocking extensions, make sure javascript is enabled. If you keep having issue, please write on the XDA thread.

[2016-06-11 10:46] MSF-Jarvis opened #332 "make failure due to missing blacklist"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ x ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ x ] The issue is part of The Open GA

[2016-06-11 22:50] mfonville commented on #332
@MSF-Jarvis the prevention of building "the impossible combinations" is only partially handled in the makefile (which only has a simplified mechanism) and partially in the build_gapps.sh

Did the `make` command finish building all valid combinations, or did it end prematurely?

[2016-06-12 05:04] MSF-Jarvis commented on #332
It ended prematurely. I only had all the `arm` packages, from API level 19
thru 23, and all variants, but nothing else at all.

[2016-06-12 11:32] mfonville commented on #332
@MSF-Jarvis The `exit 1` within the if-statement ended the script too early in this generic `make` call. It should now be fixed.

[2016-06-12 11:32] #332 closed

[2016-06-20 18:37] osm0sis commented on #301
This should work from recovery. ;)

set_dialer.sh
[code]

[2016-06-20 19:14] mfonville commented on #301
Notice to myself; Android code that handles the default dialer: https://android.googlesource.com/platform/frameworks/base/+/master/services/core/java/com/android/server/telecom/TelecomLoaderService.java

[2016-06-20 19:22] mfonville commented on #301
@osm0sis versioncodes background: https://android.googlesource.com/platform/frameworks/base/+/android-6.0.0_r1/packages/SettingsProvider/src/com/android/providers/settings/SettingsProvider.java#1928

[2016-06-21 01:54] osm0sis commented on #301
Updated the above script with clean install dir prep. Tested on a clean install on CM13 and it works! :D

[2016-06-21 15:15] #301 closed

[2016-06-24 05:45] errikos commented on #301
Xcx you xcx xvv xcx free DX setup xvv BC CV vdjmr
On 21 Jun 2016 18:15, "Maarten Fonville" <notifications@github.com> wrote:

[2016-06-25 04:58] dlmetcalf commented on #310
@polyzen, Regarding CopperheadOS, when you say "They do not want/intend to support GApps",   that needs some clarification see this thread: https://twitter.com/CopperheadOS/status/740247728173678592

I'm not part of their team and cant speak for them - but I think it'd be clearer to say; they're unable to compromise security as required by the current OpenGApps install method.  I've seen the Coppe

[2016-06-25 14:51] robinkooli commented on #35
Excited for Android TV Open GApps :+1:
Going to keep my eye on this.

[2016-06-26 20:01] aqu0s opened #337 "Google Play Music should replace AOAP Music Player"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

[x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
[x] The issue is part

[2016-06-27 08:08] mfonville commented on #337
@aqu0s you need to include at minimum your debug log, otherwise I can't see which paths are used by the AOSP Music app

[2016-06-30 03:16] aapav01 opened #339 "Not Able to Flash on 32bit ROM with 64bit cpu n Kernel [Cm13]"
##############################
  _____   _____   ___   ____
 /  _  \ |  __ \ / _ \ |  _ \
|  / \  || |__) | |_| || | \ \
| |   | ||  ___/|  __/ | | | |
|  \ /  || |    \ |__  | | | |
 \_/ \_/ |_|     \___| |_| |_|
       ___   _   ___ ___  ___
      / __| /_\ | _ \ _ \/ __|
     | (_ |/ _ \|  _/  _/\__ \
      \___/_/ \_\_| |_|  |___/
##############################

Open GApps mini 6.0 - 20160629

[2016-06-30 05:54] mfonville commented on #339
Please attach at least your debug log (the tar.gz file)

[2016-06-30 05:55] ruifung opened #340 "Add peer5 download mirror"
Is it possible to do that? As at times (read: pretty often) the download from github (which apparently is using amazon AWS) is pretty slow (<30kB/s).

[2016-06-30 06:02] mfonville commented on #340
@ruifung hi, AWS is sometimes slow but GitHub support is aware of the issue and looking into it. We are also looking into peer-2-peer accelerators ourselves, but have no solution yet that we can host because we lack capacity on the buildbot.

Peer5 is no solution for us, after their free trial their prices are higher than we can afford (there is a lot of traffic and a lot of adblocking). So they a

[2016-06-30 06:02] #340 closed

[2016-06-30 22:01] dehart commented on #35
I'd love to test the leanback opengapps on the ODroid C2 5.1.1 image (ARM64)

[2016-07-01 13:31] ruifung commented on #340
@mfonville I would hope so, because for the past few days, my download speed for this has been horribly slow. And when you're trying to download the Aroma package... lets just say 3 kB/s is not exactly helping...

[2016-07-01 14:11] mfonville commented on #340
@ruifung we don't allow any mirrors (see our blog article about the policy http://opengapps.org/blog/post/2016/03/18/the-no-mirror-policy/ )
You can try to use a download manager if you have issues.
GitHub is trying to improve the situation, but you can always drop them a line if performance is *that* bad, because though slow for some locations might be an inconvenience, such speeds make in effect

[2016-07-01 17:09] robinkooli commented on #35
Yeah

[2016-07-04 09:31] ljmellor opened #341 "Bluetooth media_button_receiver youtube issue"
**Issue description:**
After using the youtube application bluetooth media controls no longer function

**Reproduction Steps:**

1. Use bluetooth media buttons to play music
2. Open youtube and watch a video
3. Attempt to start music via bluetooth again (to no avail)

**Expected behavior:**

Music begins to play and all is joyous.

**Observed behavior:**

Music doesn't begin to play and all is awf

[2016-07-04 12:27] mfonville commented on #341
Hi @ljmellor,

Unfortunately the issue you reported is something the CM people have to fix :-(
settings_secure.xml is populated by the ROM with values that are chosen by the ROM and by the applications that interacting with Android settings management.
If the default is wrong, it is up to the CM to change that value, if YouTube always sets a wrong value, Google should fix the YouTube app. Or there

[2016-07-04 13:40] ljmellor commented on #341
There are lots of people experiencing the issue. The default value is fine, that gets changed upon playing a video in youtube which in turn screws it up. I guess my fight goes on to Google, goodness help me with that one!

Do you have any suggestions as to where I would begin to report this to them?

[2016-07-04 14:09] mfonville commented on #341
You can use the feedback button inside the YT app.

Best would be to verify that the issue happens at stock ROMs too. If those have no issue Google probably won't fix it.

[2016-07-05 16:11] GeeBee93 commented on #35
Also in here for the Odroid C2.

I've tried to build it - i got the sources from GIT, but with "make arm64-21-tvstock" or "make arm64-22-tvstock" it still say's that there is no rule to make the target. Building the normale packages like stock works fine.

[2016-07-05 16:58] robinkooli commented on #35
Goto "opengapps/Makefile" and on line 22 remove "#" from "tvstock", then try it

[2016-07-05 17:01] GeeBee93 commented on #35
@robinkooli  I'll give it a try - thanks for the hint! I was searching through all included scripts, but didn't found a thing. Maybe it will work with 32bit ARM (just figured out the Android Framework is 32bit on the C2, only the Kernel runs in 64bit) i will try it! :)

[2016-07-05 17:34] GeeBee93 commented on #35
It actually worked out and I was able to create flashable ZIP file. Which sound's great, but it isn't because there is no custom recovery or something where I could easily flash the ZIP to the C2. More research needed first. But thank's already for helping with building!

[2016-07-05 19:04] dehart commented on #35
Maybe you can use the odroid utility tool. I know it works with other opengapps packages:

Open ODROID Utility app.
Select "Package install from storage".

[2016-07-05 19:10] GeeBee93 commented on #35
It worked partly but only 4 packages have been installed. Well, I think we need to still wait a bit more.

[2016-07-06 01:16] robinkooli commented on #35
Thanks for trying.

[2016-07-09 02:59] gljones2001 commented on #35
I have an rpi3, would love to test android tv open gapps. Installed an android tv build from http://geektillithertz.com/wordpress/

[2016-07-09 13:32] robinkooli commented on #35
You need to compile it itself.
Read above messages.

[2016-07-11 02:27] kronflux opened #342 "Pulldown menu and Home button"
Seems currently, (I'm using latest nightly of CyanogenMod 13 and latest nightly of OpenGapps) Gapps is breaking the pulldown menu and the home button.
I've tried flashing just CM and it works perfectly.
I assume it has something to do with the July updates.

[2016-07-11 07:38] mfonville commented on #342
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-07-12 00:21] kronflux commented on #342
sorry about that! should have read before posting. Oddly, I've been removing it for a long time, and never had issues. but I'll give it a try - if it doesn't work I'll go the XDA route, thanks for taking the time to respond, and apologies again!

[2016-07-12 00:21] #342 closed

[2016-07-12 05:47] mfonville commented on #342
No problem! :)

[2016-07-12 12:06] kronflux commented on #342
tried it, and it worked! really strange, like I said, I've been using the same gapps-config for probably over a year now, never had this issue before. They must have changed something. I did a little searching and it looks like this has happened before, with the same solution. odd that it wasn't a problem for so long.

Thanks again! Cheers!

[2016-07-13 19:09] LimaBR commented on #35
I've compiled it and tried to install on a Nexus 7. The installer don't give any errors, but after booting up, I've seen none of the packages have been installed. Am I doing something wrong? Thanks in advance.

[2016-07-17 17:34] Nutomic commented on #215
Is there any new information on this? It would be great if we could install microG just by flashing a zip!

[2016-07-17 19:25] mfonville commented on #215
This is a stretch goal, so it will take a while. But that is positive too, because microG is getting more mature in the meanwhile and fixing their issues with the more expert userbase.

[2016-07-19 13:37] mrexodia opened #343 "trolls removed the FAQ?"
Over [here](https://github.com/opengapps/opengapps/wiki/_history) commits 5c7b31e and ec6084b destroyed pages of the Wiki. Was this intentional or just griefing? I tried to revert the commits, but I cannot push directly to the Wiki.

[2016-07-19 15:06] NicholasBuse commented on #343
I grabbed the two files in question from opengapps/opengapps.wiki@5c7b31e and opengapps/opengapps.wiki@ec6084b and made commits of opengapps/opengapps.wiki@44ea12cb02d48d42a8ec5cfd45e149a074cdf2ef and opengapps/opengapps.wiki@9f452d792f7e9580da4d808399124adb69a5f00d

@mfonville, This can be closed now...

[2016-07-19 15:16] mrexodia commented on #343
Thanks!

[2016-07-19 15:16] #343 closed

[2016-07-23 20:28] Exaeta opened #344 "Contacts synced by Pico version"
The gapps pico version syncs contacts with your google account. This is not desired. Please remove the contacts sync.

[2016-07-23 20:31] USBhost commented on #344
Isn't that a core feature?

[2016-07-23 20:36] Exaeta commented on #155
Hello. This is unconscionable. I don't want Google uploading or downloading data to my phone in the form of contact information.

[2016-07-23 20:43] mfonville commented on #344
This has been discussed before and doesn't make any sense, hence will not be removed from the core apps, see https://github.com/opengapps/opengapps/issues/155

[2016-07-23 20:43] #344 closed

[2016-07-23 20:46] Exaeta commented on #344
No it's not a core feature. Please remove it. The ability to create local contacts is LOST when this is enabled.

[2016-07-24 09:02] mfonville commented on #344
@Exaeta since ICS already AOSP/Google decided that any contact in Android should be associated with an account. That is why 'local contacts' is only shown if no account (not only Google, also Exchange etc) is set-up a local contact is created. All vendors in OHA are obligated to bundle a (preferably Google's) contact sync.

As such *"The ability to create local contacts"* in AOSP contacts app is n

[2016-07-24 16:33] Exaeta commented on #344
I understand what you're saying, but it's false for a simple reason.

First, Google is a US company. And second, it would be illegal under US law for Google to upload local contact information without permission. (no Google's TOS wont count in this circumstance.)

Google disables the ability to make local contacts to ensure it can legally upload all your contacts. But if it turns out Google is upl

[2016-07-24 17:27] mfonville commented on #344
You can try to take them to court. But if you look at https://myactivity.google.com/myactivity and what they are tracking, they log literally everything. Though I am sure as long as your address information is not further processed/shared by them, they are acting within the current privacy shield agreement. (unlike evil companies like sync.me who publicize such private information about, but even

[2016-07-27 14:38] jawz101 commented on #337
Personally I don't want it to.  I'm someone who wants to move _away_ from the cloud for access to my music because it chews up data.  Maybe have it as an advanced option to remove a stock player but not replace it.

[2016-08-03 14:37] shkschneider commented on #310
@TheCrazyLex Talked on Gitter with @mfonville about a Force Close I have that happens on this month build (`android-6.0.1_r60` Nexus 5) of my ROM (make clobber, make dist, wipe all, flash) with OpenGApps ARM July 2nd, Pico.

[code]

The TeamExodus patch (https://github.com/TeamExodus/frameworks_base/commit/9c36be651e83fb039a262682839bd920b033007a) includes `LOCATION_PERMISSIONS` for `com.google.an

[2016-08-03 17:48] robinkooli commented on #35
Any updates?
I also got Mini M8S II.

[2016-08-04 01:38] robinkooli commented on #35
Uploading **tvstock** builds _(ARM,ARM64)_ in few minutes.

[2016-08-04 01:47] robinkooli commented on #35
**Download here:**
https://mega.nz/#F!sxJVXCrB!TVJ1Vc_pdJcdOvYw-UbiIg

[2016-08-04 02:10] ktechmidas opened #345 "Allow skip of initial setup"
Hello,

When I first install gapps then factory reset it wants a connection to Google but doesn't allow me to set up a VPN beforehand. The HTTP proxy isn't listened to, which seems to be the only 'bypass' option I has. Instead it decides to "Check Connection" for 2 minutes, before giving up and restarting the whole process.

This is a problem in countries like China, where Google is blocked and I

[2016-08-04 08:46] mfonville commented on #345
Did you already try the clockwise corner tapping to bypass the setupwizard?
(as shown in http://pocketnow.com/how-to/android-quick-tip-how-to-bypass-touch-the-android-to-begin-video )

[2016-08-04 13:50] ktechmidas commented on #345
Excellent, it skipped! Thank you, been trying to get it working for a while now...

[2016-08-04 13:50] #345 closed

[2016-08-04 14:00] mfonville commented on #345
@ktechmidas great that it worked. Maybe you'd be willing to write something about it for the wiki to help others in the same situation? :-)

[2016-08-05 09:10] mfonville commented on #345
Thanks!

[2016-08-07 12:39] robinkooli commented on #35
Uploading x86, x86_64 builds soon.

[2016-08-07 12:41] robinkooli commented on #35
Hey @gljones2001 ! RP3 uses x86, not 100% sure.
I'm uploading x86 build soon so you can test the tvstock package.

[2016-08-07 13:16] robinkooli commented on #35
There should only be tvstock and tvpico.

[2016-08-07 13:29] robinkooli commented on #35
All variants here:
https://mega.nz/#F!sxJVXCrB!TVJ1Vc_pdJcdOvYw-UbiIg

[2016-08-08 01:36] loque commented on #35
@gljones2001 @robinkooli That Android version is arm. I'm also intrigued about how to install GApps as there is no recovery mode nor bootloader in RPi.

[2016-08-08 02:32] LimaBR commented on #35
@robinkooli, I have noticed that there is no mention for any TV apps on the install script. As a result, the script finishes without installing any app. Is there a fix for it?

[2016-08-08 03:13] gljones2001 commented on #35
@loque @robinkooli I have unzipped the system folders and flashed them through ADB on another android build.

[2016-08-08 03:29] gljones2001 commented on #35
I was going to try that this time.

[2016-08-08 06:40] MSF-Jarvis commented on #324
@mfonville any headstart with this?

[2016-08-08 07:43] robinkooli commented on #35
Currently sick.
I'll continue with GApps later this week.

[2016-08-08 08:54] mfonville commented on #324
@MSF-Jarvis not yet, some recent health issues have severely slowed down my pace of development :(

[2016-08-08 12:08] mfonville commented on #35
Hey, sorry for my passivity on the progress of this issue. I still want to finish the overhaul of the build system before focusing on this task again, but unfortunately bad health did block me from making much progress recently.
@robinkooli thanks for giving attention to the TV builds, if you'd be able to find out some of the last blocking bugs (i.e. maybe some of the necessary apps might still be

[2016-08-09 09:38] pedrogbranco commented on #35
is there any ARM64 for Android 5.1?

[2016-08-09 13:29] robinkooli commented on #35
@pedrogbranco Uploading more 5.1 versions soon (30 min)

[2016-08-09 13:57] robinkooli commented on #35
Open GApps devs, some libs only API level is 23

[2016-08-09 14:08] robinkooli commented on #35
@pedrogbranco , Android 5.1 ARM64 tvstock build should appear to MEGA in few mins!
https://mega.nz/#F!sxJVXCrB!TVJ1Vc_pdJcdOvYw-UbiIg

[2016-08-09 15:18] pedrogbranco commented on #35
@robinkooli thanks. I have a couple of s05 chinese samples. I wil try and flash one at least

[2016-08-09 15:20] robinkooli commented on #35
Let me know the results @pedrogbranco

[2016-08-09 15:42] pedrogbranco commented on #35
No go on the devices
https://postimg.org/image/azat8lhqz/

I cannot disclose the brand but device uses p201 aosp 5.1

[2016-08-09 15:48] robinkooli commented on #35
I could edit the installation script to skip architecture checking :smile:

[2016-08-09 15:52] pedrogbranco commented on #35
I work all day with these devices next to me. I can test allyou want. A friend at work has some 6.0 boxes, I will see if he can test them as well

[2016-08-09 15:53] robinkooli commented on #35
Open the zip and edit installer.sh content with this:
http://pastebin.com/qSpJ6p60

I'm not sure if this edit works.

[2016-08-09 17:21] gljones2001 commented on #35
@pedrogbranco  Those devices... do they have official Android TV? or just a version of android?

[2016-08-09 18:01] robinkooli commented on #35
I recommend using Android 6.0 as earlier versions don't have all libs.

[2016-08-10 09:42] pedrogbranco commented on #35
@gljones2001  they are not Android TV devices but since I have shares some leanback apks with them the latest ones arrived with leanback like setting, leanback youtube and leanback playstore

@robinkooli 6.0 gapps tested on a Mini M8S of a friend get E:Cannot load volume /misc

[2016-08-11 18:50] robinkooli commented on #35
Making custom script that installs tvstock apps.
Just for testing.

[2016-08-12 08:37] Bonoboo commented on #342
@kronflux
You mentioned solution.
Please, can you share it?

[2016-08-12 08:42] kronflux commented on #342
@Bonoboo, please read the full issue history before posting questions. This was very clearly answered by @mfonville.

[2016-08-12 10:04] Bonoboo commented on #342
@kronflux, thanks for quick answer.
Sorry, somehow missed this.

Yes, I know CM now depends from CMSetupWizard.
But anyway one user had same problem without config or touching that APK.
He wipes /data and /system, flashes CM13 Nightly (nicki, Xperia M), latest pico gapps, completes setup wizard and still can't pulldown notification bar.
Problem resolved only after using 21.07 pico gapps.

Only the

[2016-08-17 15:36] yooouuri opened #347 "Setup FC after (clean) flash"
**Issue description:**
The Google setup FC after a clean flash

**Reproduction Steps:**

1. Install CM and wipe dalvik/cache
2. Install Gapps (aroma, choose Chrome only) and wipe dalvik/cache
3. Let the Phone boot, after a few steps the Setup FC

**Expected behavior:**

Using the Google setup to add your account etc..

**Observed behavior:**

The Setup FC after a few steps

**Installation debug lo

[2016-08-18 07:47] mfonville commented on #347
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-08-18 07:47] #347 closed

[2016-08-31 21:08] Schischu opened #348 "Android N SetupWizard Issue"
Hi there,

I am an AOSP ROM developer for Samsung Tab S devices. (http://forum.xda-developers.com/galaxy-tab-s/development/rom-android-7-nougat-t3449078)
It seems to me that the default permission patch used on Android M does not work properly anymore on Android N.

SetupWizard always crashes cause  due to missing CONTACTS permissions. See trace below.
I just debugged the permission system the who

[2016-09-02 02:29] fenglc commented on #337
@aqu0s  Cyanogenmod 13 Music path is  /system/app/Eleven/Eleven.apk

[2016-09-02 07:43] mfonville commented on #337
@fenglc that path is already removed if you use the `cmmusic` keyword.
But you should *not* put these regular keywords between  the ()-brackets. Those ()-brackets are only to remove certain fixed paths (and not for keywords).

[2016-09-02 10:25] fenglc commented on #337
Rom: cm-13.0-20160819-SNAPSHOT-ZNH5YAO0IN-bacon
GApps: open_gapps-arm-6.0-stock-20160901
Recovery: twrp-3.0.2-0-bacon

**Steps:**
- Install Cyanogenmod 13
- Install OpenGApps

On first boot there are duplicate music apps.
Google Play Music does not replace CM Music (_com.cyanogenmod.eleven_).

@mfonville Please see my debug logs again.
[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/op

[2016-09-04 12:38] vounter opened #349 "Apps was empty, file size 0"
**Issue description:**
[Short description of problem here]
after install i doesnt have a error. i just have a empty apps

`# Begin Open GApps Install Log
------------------------------------------------------------------
            ROM Android version | 7.0
                   ROM Build ID | aosp_hammerhead-userdebug 7.0 NRD90M eng.sansan.20160903.075508 test-keys
          ROM Version increment |

[2016-09-04 14:13] mfonville commented on #349
yes, I made a fix for this yesterday: https://github.com/opengapps/opengapps/commit/3a9576e8ad20bad321a947a4d00b1286c0e192a7
fix will be in the next builds.

[2016-09-04 14:13] #349 closed

[2016-09-05 13:59] #341 closed

[2016-09-05 13:59] #339 closed

[2016-09-05 15:37] mfonville commented on #348
@Schischu is this problem fixed for you in the latest builds that purge the `Provision` app?

[2016-09-05 15:44] mfonville commented on #323
The total system space and free space are already shown in the log explicitly in the summary.
The details are shown per app in the calculation.
Exacts are not possible to predict, because they depend on device-specific factors like DPI. Ranges are currently not specified/available (and I lack the resources to do so). If somebody has the time to aggregate this data they could e.g. be added to the w

[2016-09-05 18:15] mfonville commented on #160
There is zero development on AROMA since the beginning of this year.

Probably best to accept that AROMA will die at some point, and focus on creating other gapps-config creating tools instead.

[2016-09-05 18:15] #160 closed

[2016-09-06 13:18] sndirsch opened #350 "Google Maps library v1 missing or broken in gapps (stock, August 24, 2016)"
The app "Öffi" - a very popular Journey planner for pulic transportation in Germany - is not working on my OnePlus 3 with CM 13 (Release from August 20 2016) and open gapps ARM64 Stock variant from August 24 2016. The author told me that very likely the Google Maps library v1 is missing in the ROM or not working properliy. Meanwhile I figured out that

  /system/framework/com.google.android.maps.j

[2016-09-06 13:21] mfonville commented on #350
This is already fixed in since August 30th builds: https://github.com/opengapps/all/commit/f93cde0f1d90fcdf680f02dfd0d9e0e19c906194
Please try one of the more recent packages.

Please also take not that the best place to report such an issue is on the XDA Forum (where this also has been discussed in the thread)

[2016-09-06 13:21] #350 closed

[2016-09-06 13:23] rapperskull commented on #350
Have you tried using the latest OpenGApps build?

Il 06 set 2016 3:18 PM, "Stefan Dirsch" <notifications@github.com> ha
scritto:

[2016-09-06 14:32] sndirsch commented on #350
Thanks for the quick response! The update to the version of Sep 6 fixed the issue.

[2016-09-10 13:10] mattgorski commented on #35
Ive tried the 6.0 tvgapps posted from Mega and no apps get installed.  I am still using dhackers tvgapps, they are the only tv gapps that seem to install correctly.  You can find them on androidfilehost.  I cant believe this has been an issue for us Android TV users for over a year now.  Why is it so difficult to get tv gapps working compared to tablet........

[2016-09-10 14:21] gljones2001 commented on #35
I have found a gapps.sh for an android rpi3 build (not android tv) and it automaticly downloads and installs a gapps package through adb. https://github.com/RTAndroid/android_device_brcm_rpi3/blob/aosp-7.0/scripts/gapps.sh

[2016-09-10 14:29] gljones2001 commented on #35
I also used a version of android on my rpi3 called RTAndroid and it worked, it used the gapps.sh and installed an arm package of open gapps! I thought the gapps.sh might be helpfull for those without recovery. There was a tutorial on youtube: https://m.youtube.com/watch?v=SI2oFBkc6EA

[2016-09-10 14:51] robinkooli commented on #35
Dhacker's tvgapps are only for x86 😞

[2016-09-10 15:24] mattgorski commented on #35
Try "Molly" builds

On Sep 10, 2016 10:51 AM, "Robin" <notifications@github.com> wrote:

[2016-09-10 15:26] mattgorski commented on #35
Actually ADT-1 https://www.androidfilehost.com/?fid=24499762635997533

On Sep 10, 2016 11:24 AM, "Matthew Gorski" <matthew@quickreachmedia.com>
wrote:

[2016-09-10 15:38] robinkooli commented on #35
Testing them soon.

[2016-09-10 15:43] mattgorski commented on #35
If you test them add JUST the priv-apps and apps and required libs from
Molly (
https://github.com/adt1-dev/proprietary_vendor_google-1/tree/mm/molly/proprietary
) so you get LeanbackLauncher and other needed proprietary apps for TV
build to function.  It's only like 5 apks and 1 lib for atvremoteservice.

On Sep 10, 2016 11:38 AM, "Robin" <notifications@github.com> wrote:

[2016-09-10 15:49] gljones2001 commented on #35
The gapps.sh worked, android didn't boot cause the adb push ran out of space. Need to resize system partition. Using 64gb card, 8gb image, doesn't  expand automaticly.

[2016-09-10 15:57] LS002 opened #351 "Bug in The GApps ( 09/09/2016 and 10/10/2016 )"
By downloading the GAPPS days 09/09 and 10/10, I noticed a BUG very annoying and persistent, every time appears on the screen ''the synchronizer google contacts stopped working'' how can I fix this BUG ?

[2016-09-10 17:36] mfonville commented on #351
please use XDA forum for support requests; the answer to your problem can be found here: http://forum.xda-developers.com/showpost.php?p=68623086&postcount=3125

Also *never* post without including any debug logs please.

[2016-09-10 17:36] #351 closed

[2016-09-11 02:50] gljones2001 commented on #35
IT WORKED!!! i have android tv with GOOGLE PLAY  instslled on my rpi3!  THANK YOU @robinkooli for your tv builds. I used geektillithertz's android tv build, RTAndroid gapps.sh and your androif tvstock arm 6.0 build. THANK YOU!!!

[2016-09-11 03:41] mattgorski commented on #35
Dam I got excited thought there was a working regular arm TV opengapps

[2016-09-11 08:57] gljones2001 commented on #35
Here are my files i used:https://www.dropbox.com/s/c2shlzlk0kulnam/GAPPS.zip?dl=0
 I renamed the gapps package, so it would match the gaps.sh setup, and then edited the gaps.sh to not download oficial opengaps, but to copy the package file into it's work folder. If you use it, make shure to keep all files in zip is SAME DIRECTORY. You will also have to edit the gapps.sh to match your gapps package

[2016-09-11 10:12] mfonville commented on #35
@gljones2001 happy to see that it worked with that tv-stock package, because I was still in doubt whether AndroidTV needs the `frameworkpackagestubs` app or not, based on the earlier debug logs.

I lack myself an AndroidTV device, that is partially why development is so slow, and I was waiting for some limitations of the de-odexer that Google had to fix for me, so only recently I was able to final

[2016-09-11 10:17] robinkooli commented on #35
Nice work.

[2016-09-11 10:22] gljones2001 commented on #35
Yes. I can do that. With this new way to install, i might be able to create an android tv x86 with google play. I was also thinking of creating a repo in github to put all variations of the gapps.sh along with the packages it needs.

[2016-09-11 10:26] mfonville commented on #35
@gljones2001 the best would be to have in your `gapps.sh` (as in the original script)  just a download-mechanism for the most recent package from opengapps.org automatically. The pre-built opengapps.org packages are not allowed to be mirrored and are also too large to put in a repo.

Anyhow, glad you'd be willing to help with testing. :+1:

[2016-09-11 10:36] robinkooli commented on #35
Going to make new tvstock builds for apis 23,24 soon.

[2016-09-11 10:44] gljones2001 commented on #35
The origianal .sh file used wget to download from opengapps. I edited the file to use the tv builds by robinkooli. I was going to put the original file in the repo each set to download a specific open gapps zip. Then i was going to copy the builds created here to a repo and make gapps.sh files for each.

[2016-09-11 10:46] mfonville commented on #35
@gljones2001 ok, but when we know that the packages *do* work I will enable the builds in the regular opengapps.org buildbot. (I have them not enabled atm, because we first needed to make sure they would work ok)

[2016-09-11 10:57] gljones2001 commented on #35
Ok. I will create the repo like i mentioned above, and then update it when you enable tvstock.

[2016-09-12 05:41] Veyiron commented on #35
Prompt, whether the work is expected to Android TV on any device with Android 5.1, without kernel firmware? Or just work underway for android 6? Sorry for bad english.

[2016-09-12 09:56] mfonville commented on #35
@Veyiron at the moment the code and apks in the repositories support AndroidTV 5.1, 6.0; we are still busy with 7.0 but have to wait for Google's employees to fix a bug in their de-odex tool.

[2016-09-12 11:16] Veyiron commented on #35
Can I download the release of the project to android 5.1, that would try on my Xiaomi Mi TV Box 3 Enhanced. Thank you in advance.

[2016-09-12 16:57] gljones2001 commented on #35
@Veyiron Xaomi is releasing the mi box 4k with android tv stock installed in the US soon. You might want to check it out.

[2016-09-12 17:50] robinkooli commented on #35
Hope tvstock works on default Androids too.
I had Leanback Launcher working on Moto G 2014 LTE

[2016-09-14 12:29] gljones2001 commented on #35
@veyiron I don't think the mibox has a recovery, but I have a script that I found that will push the opengapps zip through ADB. If you need it, let me know. I can also tell you how to use it.

[2016-09-14 12:43] Veyiron commented on #35
@gljones2001  I would not mind to get this script, it would be even better if the workers find tvgapps for android 5.1, but it seems to have to experiment.

[2016-09-14 14:32] mfonville commented on #35
I have made some new testing builds, please try to test as many of them as possible to see if they are up to par now and we could do official builds. Even if you have success, I would like to have some feedback and the debug logs and logcat of succesful boot, so that I can see what I'd have to optimize/fix.
5.1 ARM: https://dl.dropboxusercontent.com/u/7278254/TVStock/open_gapps-arm-5.1-tvstock-201

[2016-09-14 14:38] gljones2001 commented on #35
@mfonville I can't test the 5.1 builds, cause the only version i have is 6.0. Sorry.

[2016-09-14 14:46] gljones2001 commented on #35
@Veyiron here is the package: https://www.dropbox.com/s/3k5ab34bl4cr3qd/OPENGAPPS-5.1.zip?dl=0  It has the 5.1 gapps zip and the gapps.sh. Unzip file onto a linux machine, and then cd to that directoy in terminal. run the command "./gapps.sh -i IP" replace the "IP" with your devices IP address.

[2016-09-14 14:49] gljones2001 commented on #35
@mfonville Downloading 6.0 ARM and 6.0 X86 right now.

[2016-09-14 15:01] mfonville commented on #35
@gljones2001 in your script you should replace
` find . -name "*.tar.xz" -exec tar -xf {} -C gapps/tmp/ \;`
with
` find . -name "*.tar*" -exec tar -xf {} -C gapps/tmp/ \;`

because the compression of the archives can be or none (`tar`) or lzip (`tar.lz`) or xz (`tar.xz`)

[2016-09-15 11:43] gljones2001 commented on #35
@mfonville I did not create the script, but I will change it. Thank you!

[2016-09-15 11:47] gljones2001 commented on #35
@mfonville I was just trying to install the latest tvstock arm 6.0 to my rpi3 last night, and it kept failing because it could not access "gapps/tmp". Do you know what might be going wrong? I was using the gapps.sh file.

[2016-09-15 12:55] mfonville commented on #35
@gljones2001 it is the foldername it temporarily makes to extract. But I would not know why it would fail. Also I did not write the script and can't support it (also have no testing opportunity myself). Maybe you can use another tool for flashing like flashfire? Or you could try to manually copy over the APKs to their respective folders... but best would just be to have a recovery available :/

[2016-09-15 13:03] gljones2001 commented on #35
Do you know how I could tell this script to download the latest time stamp of a certain version from the open gapps Github?

[2016-09-15 13:05] mfonville commented on #35
You could try to parse https://github.com/opengapps/arm/releases or its XML feed or the github API ( api.github.com/repos/opengapps/arm/releases/latest )

[2016-09-15 13:06] gljones2001 commented on #35
What command in the sh script would i use?

[2016-09-15 13:13] gljones2001 commented on #35
How would I tell the .sh to look for the opengapps.zip but will use any version? I have a -b flag to tell the script to copy an opengapps.zip file to it's working directory. I want to be able to use any gapps.zip file, without having to specify it.

[2016-09-16 08:14] Avagetto commented on #35
Hi guys! I`m making firmware based on AOSP 5.1.1 with gapps for Android TV.
Totaly all working fine, but i have problem with Play Store. By default i put into firmware Play Store with version 6.8.24.F , and it is working well. But after some times store updates to version 6.9.15.G-all  and doesnt work more. On start
I receiving message "This version of the app isn`t  compatible with your device...

[2016-09-16 12:52] gljones2001 commented on #35
@avagetto My rpi3 did that to. Can someone figure this out?

[2016-09-16 13:30] mfonville commented on #35
@gljones2001 you will need to use wildcards. If you are not that acquainted with shell scripting yet, you could read e.g. some tutorials like http://tldp.org/LDP/abs/html/ and just try to experiment a bit.

@Avagetto then your device is indeed supplying indeed capabilities (in e.g. the build.prop) that indicate that you are not actually not compatible with. I am not expert on build.prop and the AO

[2016-09-16 13:39] mfonville commented on #35
@Avagetto maybe an extra thing that could help, is if you would collect all HTTP headers (they are https encrypted, so use an app that uses a vpn-tunnel to capture it), while still using the *proper* AndroidTV play store apk. This could help us in finding out what makes an Android TV say that it actually is an android tv to the play store.

[2016-09-16 20:52] Schischu commented on #348
@mfonville: Thank you. The issue seems to have been resolved. :+1:

[2016-09-16 20:52] #348 closed

[2016-09-17 09:27] Veyiron commented on #35
Someone can download tv core hardware.xml file from the system / etc / permissions android 5.1.1 Android TV?

[2016-09-17 09:45] mfonville commented on #35
@Veyiron
[code]

[2016-09-17 09:48] mfonville commented on #35
but since the versioncode of the AndroidTV market is lower than the regular market app, it must be that the TV version should *lack* a certain feature compared to the phone/tablet devices, so that it won't be able to get that version.

[2016-09-17 12:19] mfonville commented on #35
I think the `leanback_only` is btw crucial, also see the comment in this commit: https://android.googlesource.com/platform/frameworks/base/+/f94b6a9%5E!/

[2016-09-17 17:42] Veyiron commented on #35
Add to tv_core_hardware.xml firmware file. PlayMarket no longer displays a message. "This version of the app isnt compatible with your device ...". But he can not enter into account.

[2016-09-23 19:06] ricardopvz commented on #35
I don't really know the what causes the Play Store to update to a non-leanback version, but if you change the prop `ro.product.name` in build.prop to `fugu` (or any other Android TV approved device) and reboot, the Play Store doesn't update anymore.

[2016-09-23 20:15] robinkooli commented on #35
This site might help: https://android.googlesource.com/device/google/atv/+/master
Here is permission files you need to copy to have the leanback play store work: https://android.googlesource.com/device/google/atv/+/master/permissions/

[2016-09-23 20:15] robinkooli commented on #35
I have got Google Play Store leanback to work on Mini M8S II (S905X) that is chinese 30$ android box.

[2016-09-23 20:18] robinkooli commented on #35
Also with those permission files example Plex app goes from normal to leanback mode.
Tested on Mini M8S II.

[2016-09-25 03:55] jmanuelmoreno commented on #35
@robinkooli, you could upload the modified apk to try on my mini mx iii? Thank you

[2016-09-25 05:46] Veyiron commented on #35
Tell me, where can I get Android TV for android arm64 5.1.1, from any device, I need additional lib.

[2016-09-26 19:47] dzfacts opened #354 "Keyboard crash"
Google keyboard is crashing on settings screen on my Nexus 5, on 6.0.1 and 7.0 ROMs, installing an update didnt fix the problem, I had no other option then a re-flash.

[2016-09-27 21:07] luk1337 opened #355 "Incorrect SELinux labels after flashing OpenGapps"
**Only issues related to the code of The Open GApps Project scripts themselves**
If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

[ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
[ ] The issue is part

[2016-10-03 14:29] snowdream opened #357 "Support for android 6.0 and android 7.0"
Support for android 6.0 and android 7.0

[2016-10-03 21:47] AlexLartsev19 commented on #357
@snowdream, Android 6.0 &  7.0 supported by OpenGApps Team...

[2016-10-04 04:39] #357 closed

[2016-10-04 18:01] robinkooli commented on #35
Any updates?

[2016-10-04 18:04] mfonville commented on #35
Yeah, finally the Google guy made last night the changes to the de-odex tool, so I could finally adopt my tools too and make updated APKs.
I enabled the builds for tvstock, so they will appear tomorrow, but probably they will still be full with bugs since I can not test without a device myself.

[2016-10-05 12:33] robinkooli commented on #35
tvstock is now there :)

[2016-10-10 08:33] huml126 opened #359 "AOSP nexus6p build with opengapp failed"
I follow this  https://github.com/opengapps/aosp_build to build with opengapp ,but make  failed!

AOSP build  almost 30 minutes . Then these failed!

FAILED: /bin/bash -c "(rm -f out/target/product/angler/obj/APPS/AndroidForWork_intermediates/package.apk ) && (cp  out/target/product/angler/obj/APPS/AndroidForWork_intermediates/package.apk ) && (if (zipinfo out/target/product/angler/obj/APPS/Androi

[2016-10-10 09:11] Blystad commented on #359
Hmm, @mfonville have the com.google.android.androidforwork package disappeared?

[2016-10-10 09:40] huml126 commented on #359
all the build log file in the follow
[log.txt](https://github.com/opengapps/opengapps/files/519197/log.txt)

[2016-10-10 10:50] mfonville commented on #359
@Blystad yes, it was purged some time ago, because it has been abandoned by Google and not been bundled on stock ROMs for quite some time.

[2016-10-10 11:38] Blystad commented on #359
Should be fixed with https://github.com/opengapps/aosp_build/commit/bf18445100c5aeee921b70947425dceaccc928c0

[2016-10-10 13:13] huml126 commented on #359
Thanks very much !  but  make success. Also ,have such problem "system image is out of space", I follow this
[system image is out of space](https://github.com/opengapps/aosp_build/issues/13)

make sucess #13

[2016-10-10 13:39] Blystad commented on #359
Specify a smaller `GAPPS_VARIANT` - e.g. `micro` or `mini`.

[2016-10-11 01:13] #359 closed

[2016-10-17 06:03] MrStonedOne opened #362 "There isn't a single hint in the faq or wiki on how to determine your devices architecture."
Title says it all.

[2016-10-17 08:45] deadman96385 commented on #362
If your device has a intel cpu its most likely a x86 (There are almost no x86_64 currently)
If your device has a non 64 bit qualcomm cpu its most likely arm
If your device is newer and has a 64 bit qualcomm cpu its most likely arm64

[2016-10-17 08:51] USBhost commented on #362
uname -m

In terminal

[2016-10-18 11:05] mfonville commented on #362
Many phones also show it in Settings -> About Phone, and there are many apps that provide this information and it can also be found in the build.prop of the ROM.

The labels on opengapps.org already provide some hints, which one to pick. If you think the documentation can be improved to help other people, please feel free to edit the wiki. Community collaboration is key!

[2016-10-18 11:05] #362 closed

[2016-10-18 17:17] WIP42 opened #363 "OpenGapps install overwrites the system startup wizard on MIUI ROM"
When flashing OpenGapps on a MIUI system that has been factory reset,
- the Google SetupWIzard package replaces the system's Setup Wizzard
- Once device is started, the new Wizzard cannot continue - it is stuck at the choose languages screen (Chinese & English the only 2 options)

I have attempted to edit the install.sh script to skip deletion of stock Wizard and to _NOT_ install the Google one wi

[2016-10-22 18:17] vpulim commented on #35
Sorry for the noob question, but I tried installing open_gapps-arm64-6.0-tvstock-20161022.zip via TWRP to my nVidia Shield TV running an AOSP firmware build and I got a bunch of installation errors:

http://pastebin.com/Wt2GLKBk

Any idea what I'm doing wrong here?  This is after a fresh wipe and re-flashing of all firmware files.

[2016-10-25 17:44] m-dar opened #366 "Google Photos recognizes phone as Pixel"
I installed the Aroma package on the Moto G (xt1032), running CM13 nightly 22/10. After downloading the Google Photos app, it shows that I have a Pixel phone and tries to give me free storage. Its identical to the issue mentioned here: http://www.reddit.com/r/nexus6p/comments/58pih4/_/

[2016-10-25 17:53] mfonville commented on #366
Could you remove these 2 lines from `/system/etc/sysconfig/nexus.xml` and report back to me?
[code]

[2016-10-25 18:01] m-dar commented on #366
It worked, thanks!

[2016-10-25 18:02] mfonville commented on #366
Ok, I will fix that in our defaults

[2016-10-25 18:04] #366 closed

[2016-10-27 11:16] mfonville opened #367 "Busybox segfaults with error 139"
During install at a Samsung Galaxy Tab 3 10.1 LTE the installer crashes, error 139.
Googling for the error points at a segfault (possibly during the mount operation?)

If user uses an older opengapps version, with the older busybox, the problem does not occur. user will upload his debug logs below.

@yashdsaraf

[2016-10-27 11:20] Lucamenca16 commented on #367
Hi at all i uploading the file
[open_gapps_log.tar.gz](https://github.com/opengapps/opengapps/files/555591/open_gapps_log.tar.gz)

[2016-10-27 11:25] mfonville commented on #367
(ps: to @yashdsaraf should I maybe at certain cpu-capability detection commands to the debug logger?)

[2016-10-28 09:42] yashdsaraf commented on #367
@Lucamenca16 Could you please flash [this](https://dl.dropboxusercontent.com/s/8fsw8m020e8fcsk/bb-debug.zip) and report back with __/sdcard/bb-checker.log__ (if /sdcard is not present or not accessible, /data or /cache will be used for bb-checker.log)

[2016-10-28 10:00] Lucamenca16 commented on #367
@yashdsaraf Hello i flash this file now one moment please. Ok i have TWRP.

[2016-10-28 10:07] Lucamenca16 commented on #367
This is the file
[bb-checker.tar.gz](https://github.com/opengapps/opengapps/files/558106/bb-checker.tar.gz)

[2016-10-28 10:22] yashdsaraf commented on #367
@mfonville As you can see in the log attached above by @Lucamenca16 , busybox is not causing any errors. The _busybox.old_ section consists the output of busybox 1.25.0 and _busybox.new_ consists of busybox 1.25.1 (the one updated in the opengapps source)

[2016-10-28 10:27] mfonville commented on #367
hmm, based on what I did find on Google, could we let the busybox perform `mount` commands on the various partitions ("/cache" "/data" "/persist" "/system" "/vendor") ? That is I think the most suspicious command that might cause the error.

Because the only change to the script between the two trials that @Lucamenca16 did do, one with failure, and one with success, was the busybox update :-/

[2016-10-28 11:47] yashdsaraf commented on #367
@Lucamenca16  As @mfonville mentioned the error might be in one of the commands in busybox. So I've made [this](https://dl.dropboxusercontent.com/s/smr1qcl5c86zg23/bb-debug.zip) flashable zip. It will cross check the working of all applets with the older busybox and log the discrepancies if any. The flashing instructions are same as before, and do report back with the **bb-checker.log**.

[2016-10-29 09:36] adamdagan7 opened #369 "Pixel Launcher Not Installing In Aroma"
Hello,
Selecting Pixel launcher in latest aroma package (29/10) will not install it.
Seems to be because something is commented out in the scripts.
See lines 571-587 and 637-641 in
https://github.com/opengapps/opengapps/blob/master/scripts/inc.aromadata.sh

[2016-10-29 10:05] mfonville commented on #369
Ah, yes you are right, forgot to uncomment those when they were going live with 7.1

[2016-10-29 10:06] #369 closed

[2016-10-30 19:02] mfonville commented on #367
@Lucamenca16 could you try if this x86 package (6.0 pico) does work correctly for you?

https://dl.dropboxusercontent.com/u/7278254/open_gapps-x86-6.0-pico-20161030-UNOFFICIAL.zip

[2016-10-31 16:52] Lucamenca16 commented on #367
@mfonville Yes i try now, sorry for i'm too late.

[2016-10-31 16:56] Lucamenca16 commented on #367
The flash of the file is good.

[2016-10-31 16:59] Lucamenca16 commented on #367
@mfonville Can you send me the super pack of the file?? Thanks so much.

[2016-10-31 17:00] mfonville commented on #367
@Lucamenca16 please hang around for some more time, we will give another file to test with.
If that one works, it will go into the daily and then you will have a super package tomorrow ;)

[2016-10-31 17:01] Lucamenca16 commented on #367
@mfonville Ok much thanks :)

[2016-10-31 17:03] Lucamenca16 commented on #367
@mfonville Impossible to open HOME in Android. What can i do?

[2016-10-31 17:23] shinjitsunokami opened #370 "error executing updater binary in zip (Lollipop-x86)"
Trying Mini-Package on Zenfone 4 (A400CG - Lollipop 5.0)
Can't install anything but Google's Core.

[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/562411/open_gapps_log.txt)
[recovery.txt](https://github.com/opengapps/opengapps/files/562418/recovery.txt)

[2016-10-31 17:35] Xpertzone commented on #367
@Lucamenca16, @mfonville Pico, nano, micro, mini, full set properly. It is not set only stock and super. It all started after the added Pixel Launcher.

[2016-10-31 18:01] mfonville commented on #370
duplicate of #367

[2016-10-31 18:01] #370 closed

[2016-10-31 18:21] mfonville commented on #367
@Lucamenca16 could you please test this package?
https://dl.dropboxusercontent.com/u/7278254/open_gapps-x86-6.0-pico-20161031-UNOFFICIAL.zip

[2016-10-31 18:25] Lucamenca16 commented on #367
@mfonville Yes i'm flashing the file

[2016-10-31 18:33] Lucamenca16 commented on #367
@mfonville Nothing the flash ok but same error in android

[2016-10-31 18:33] Xpertzone commented on #367
[open_gapps_log.unoficial_x86_pico.zip](https://github.com/opengapps/opengapps/files/562563/open_gapps_log.unoficial_x86_pico.zip)

[2016-10-31 18:39] yashdsaraf commented on #367
@Xpertzone Was the installation successfull?

[2016-10-31 18:41] Lucamenca16 commented on #367
the Installation is successfull but in Android i receve this error: Impossible to start HOME

[2016-10-31 18:42] mfonville commented on #367
@Lucamenca16 ok, thanking you for flashing the file. So that fixes the busybox issue then.

The issue with your HOME problem I cannot help you with (at this moment), for that you can post a logcat (and debug logs) in the XDA Forum where the rest of the community can probably help you further.

[2016-10-31 18:43] #367 closed

[2016-10-31 19:03] Xpertzone commented on #367
@yashdsaraf
[recovery.zip](https://github.com/opengapps/opengapps/files/562634/recovery.zip)
Pico, nano, micro, mini, full set properly. It is not set only stock and super. It all started after the added Pixel Launcher. Debug log gapps 0byte, i dont know

[2016-11-04 12:39] ilmich opened #372 "Missing google system webview"
Hi,

is there a reason within the exclusion of google system webview from all variant of opengapps!?

Cheers
Michele

[2016-11-06 13:42] LeMon-TheGreenFish opened #373 "Setup Wizard FC Problem In PURE AOSP 7.1 Rom"
**Setup wizerd force stop problem in PURE AOSP 7.1 ROM **

**Issue description:**

[When I Install AOSP 7.1 ROM FULLY FIXED ROM without camera focus bugs but when I install mini,nano,Pico,micro Open GApps in My AOSP 7.1 ARM version then it not work..... After turn on device it say that setup wizard FC............. So please help Me and my friends who facing same issue please]

[2016-11-06 23:10] breversa commented on #155
Hum… the more I think about it, the less I understand why a "totally minimum Play Store package" should not be made.

To rebute the previous arguments againt :
1- "it would mean reduced functionnality" : well of course, that's the point : *minimum* functionnality, juste like each smaller package has less functionnality than the bigger ones.
2- "assume google play services grabs and sends everythin

[2016-11-07 18:07] mfonville commented on #373
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-11-07 18:07] #373 closed

[2016-11-08 19:10] kaushikyash opened #377 "Install pixel launcher and also keep stock launcher in super package"
I am installing super package but in this package the now and pixel launcher replace the stock launcher which I don't want to, also I want to keep AOSP camera app and skip installation of Google camera how can I do this?

[2016-11-08 20:39] Displax opened #378 "Unnecessary GMS apk"
[This](https://github.com/opengapps/arm/tree/master/priv-app/com.google.android.gms/20/240) GMS variant (534) is for Android Wear devices. I don`t think you need it.

[2016-11-08 20:50] mfonville commented on #378
Thanks for the notice; I think we will track it nonetheless, but maybe we have to mark it as 'wear' or so.
I will look into it when I'll find some time :)

CC @NicholasBuse

[2016-11-09 09:21] ghctim opened #379 "Doesn't recognize it has root permissions"
I have installed the app on CM 12.1 and I have granted it root permissions but it doesn't recognize this.  When I try to install it tells me I must grant it root access but when I look at the APK permissions in CM12.1, it is already granted root

[2016-11-09 09:27] ghctim commented on #379
then I installed it as a system app and I am still getting the same error

[2016-11-09 09:39] mfonville commented on #379
@ghctim Issues with the opengapps.org app should be reported here: https://github.com/opengapps/opengapps-app-support/issues

This bugtrackers is for the open gapps project scripts.

[2016-11-09 09:39] #379 closed

[2016-11-10 13:44] gljones2001 commented on #35
I recently got a xiaomi mi box with stock android tv. If you want, @mfonville, I can send you a firmware or system folder for you to pull from.

[2016-11-10 14:31] robinkooli commented on #35
Can you upload the full latest official firmware or give link to it?

[2016-11-10 14:32] mfonville commented on #35
yes, uploading it to e.g. AFH (also for archiving) would be a great way to share this with the community (also e.g. a post on XDA)

[2016-11-12 18:42] szhu opened #380 "I can't install Google Clock"
**Issue description:**

I can't install Google Clock.

**Reproduction Steps:**

1. Use recovery twrp-3.0.2-2-bullhead.img
2. Wipe /system
3. Install cm-14.1-20161111-NIGHTLY-bullhead.zip
4. Install open_gapps-arm64-7.1-aroma-20161111.zip
5. Choose to install Google Clock and remove stock clock.
6. Wipe cache and dalvik-cache
7. Reboot

**Expected behavior:**

Google Clock is installed.

**Observed

[2016-11-12 18:47] joakin2k opened #381 "Can't see Pixel Icons"
Using Cyanogenmod Nightly on Oneplus One and custom(config file) Stock OpenGapps:

Removing stock launcher (cyanogen's trebuchet) adding "browser to the file" , including Search, Pixel Launcher, Pixel Icons and Wallpapers (to fully work) , all works except the Pixel Icons...

Any advice?... I search in the system an there isn't pixel icons app-

**Only issues related to the code of The Open GApps

[2016-11-12 20:41] robinkooli commented on #377
Use aroma package or read this wiki page for manual ways to remove apps from installing
https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options

[2016-11-12 20:50] robinkooli commented on #35
@gljones2001 any updates?

[2016-11-12 20:53] robinkooli commented on #35
Also @mfonville, do you know what causes the error "Wrong architecture to set-up Open GApps" even though the architecture is right?

I have tried on normal recovery and latest TWRP both ARM and ARM64.
Device is Mini M8S II chinese android box. (ARM64)

[2016-11-13 11:46] codebucketdev commented on #381
I cannot confirm your issue, but I can confirm that I see some Pixel icons when I do a install with my own gapps-config, in which I excluded explicitly the installation of the icons.

Please fix this issue, it looks awkward to have only Messenger with a Pixel icon.
My gapps-config: http://pastebin.com/yU8FWrxk

[2016-11-13 16:07] TheCrazyLex commented on #355
Bump. This is a pretty big issue actually. @mfonville

[2016-11-13 21:49] airend opened #384 "Play Services FC After 20161106 (7.1/Pico/ARM)"
**Issue description:**

` W OpenGLRenderer: Bitmap too large to be uploaded into a texture (2049x1152, max=2048x2048)`

Pico packages starting with 20161108 contain Play Services with assets that trigger the above error. Thus, clean installation is not possible, nor upgrade (constant FCs). While this may not be due to Open GApps packaging, but rather to latest APKs included, do you think more comp

[2016-11-17 06:41] Chromium-24 opened #385 "gapps protocol"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-11-18 22:49] codebucketdev commented on #381
Ok, it seems that Google is forcing their Pixel icons against their theory, weird...

[2016-11-18 23:02] szhu opened #386 "Aroma + hammerhead + twrp"
**Checklist**

- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is part of The Open GApps Project scope *(and not of the pre-built OpenGApps.org packages scope, for support on those see [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071))*

*If Open GApps installation fails:*
- [x] Is the issue repro

[2016-11-19 09:38] mfonville commented on #386
Aroma-Installer has known problems that we cannot resolve, because the maintainer of the Aroma-Installer that we use for the aroma projects does not work on his project anymore. (more info in the XDA thread of the aroma package: http://forum.xda-developers.com/android/general/gapps-lp-gapps-pa-gapps-aroma-installer-t3010798 )
Try to use one of the other packages in combination with a `.gapps-confi

[2016-11-19 09:38] #386 closed

[2016-11-19 09:39] mfonville commented on #385
I have no clue what you mean and your issue is, could you explain it further?

[2016-11-19 09:40] mfonville commented on #384
@airend could you include your debug log?
It would be interesting to see which variant of Play Services was installed.

[2016-11-19 09:43] mfonville commented on #381
I believe that picking the Pixel or non-Pixel icon is a setting in the ROM and not in the gapps.

https://www.xda-developers.com/psa-android-7-1-circular-icon-support-is-determined-by-the-oem/

Also I see no way how the gapps scripts could resolve this, for further support please use the XDA forums.

[2016-11-19 09:43] #381 closed

[2016-11-19 09:48] mfonville commented on #380
Would you mind to test with another packages than Aroma, but with a '.gapps-config.' file instead?
Also, could you check if the clock app is also not shown in the list at settings -> apps -> show system apps?

[2016-11-19 09:50] mfonville commented on #377
ty for answering it @robinkooli

[2016-11-19 09:50] #377 closed

[2016-11-19 09:51] mfonville commented on #35
@robinkooli that is weird; could you upload your build.prop?

[2016-11-19 10:15] mfonville commented on #378
I now added explicit detection of the watch variant for GMS: https://github.com/opengapps/opengapps/commit/f8f3d1b54047c1d67e4d4f195caadd0b01894a6e

[2016-11-19 10:15] #378 closed

[2016-11-19 15:02] airend commented on #384
I tried again with 20161118, and it fails at the same point, yet logs are different, and now it won't work even on hammerhead (in addition to grouper, and a bunch of OMAPs; 20161106 is last version that works everywhere). So, I don't know anymore if it's about assets or something more subtle; no tombstones generated, but am attaching the debug logs: [open_gapps_debug_logs.tar.gz](https://github.co

[2016-11-19 15:12] mfonville commented on #384
Hmm, interesting, so you do get the proper 240dpi Play Services version installed.
I suspect that either this is now a ROM issue, or Google will have f*cked this up for all 240dpi devices. If so, they will probably release a fix soon, I assume.

I don't see the possibility we could fix this as Open GApps, and can only recommend you to use an older package for the moment, until Google sorts this ou

[2016-11-19 15:50] airend commented on #384
I suspect that either this is now a ROM issue, or Google will have f*cked this up for all 240dpi devices. If so, they will probably release a fix soon, I assume.

Right, that's my conclusion as well, that it's Google's culprit. Since it happens on hammerhead and grouper too, all with different screen densities, it may be more subtle, and I wish I had an ARM64 device to test.

BTW, tried a differen

[2016-11-19 15:50] #384 closed

[2016-11-19 15:51] mfonville commented on #384
@airend alright, and otherwise try to send Google an explicit error about this, very probably this can be recreated on official/stock ROMs too

[2016-11-21 17:07] mfonville commented on #372
In stock and larger google webview is available

[2016-11-21 17:07] #372 closed

[2016-11-21 17:10] mfonville commented on #354
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-11-21 17:10] #354 closed

[2016-11-21 17:12] mfonville commented on #363
Could you get a logcat of why the wizard is not able to continue? I would have to know what is going wrong.
Also please attach your install debug log (the tar.gz file)

[2016-11-22 02:46] Rikk commented on #372
Was to ask the same. I think it would be good to have it in most packages (maybe all except Pico?).
Stock WebView doesn't get updated by Play Store. This plus the fact many browsers rely on WebView could be a vector for security issues.
But, considering Internet is used by almost every smartphone user, I think it could be considered enough important to have it on all packages replacing stock.

[2016-11-22 03:21] USBhost commented on #372
@Rikk

A user can just install it from Google play.

[2016-11-22 03:37] Rikk commented on #372
Yes, but imo it is not obvious for unskilled users. I believe most will think that the browser he uses is not actually just a skin for WebView; will this kind of user ever search Store for it?

[2016-11-22 07:38] mfonville commented on #372
@Rikk not all ROMs support the custom webview (yet); but we will try to bring it to probably also some smaller package flavours when revising the package' contents.

[2016-11-23 15:32] WIP42 commented on #363
Hi @mfonville / Maarten; I will do so tonight after a backup:-) didnt see any errors in the install debug log; I did however choose only certain packages - hope I still have the config backed up someplace

[2016-11-24 02:27] Lukypie opened #387 "AOSP camera not replaced"
Nexus 5x
Official cm14.1 build
ARM64 stock 7.1 gapps package
The script seems to not replace the stock aosp cm14 camera with the Google one.

[2016-11-24 09:56] mfonville commented on #387
You need to upload at the very least your debug logs (the .tar.gz file)

[2016-11-24 10:48] crissystar opened #388 "Hello_world"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-11-24 11:20] #388 closed

[2016-11-24 12:24] Lukypie commented on #387
[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/611282/open_gapps_log.txt)
[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/opengapps/files/611281/open_gapps_debug_logs.tar.gz)

Tried both Aroma installer, and the stock version.

[2016-11-24 12:27] mfonville commented on #387
Ok, the log clearly states: you did not install on a clean `/data` partition. That is why Google Camera was not being installed by the installer. Flashing Google Camera is only possible on 'clean' installations (= wiped /data/ as described in the FAQ)

If Google Camera is not installed, the Stock Camera is sub-sequentially not removed.

So there is no error in the script. If you need more help, pl

[2016-11-24 12:27] #387 closed

[2016-11-25 02:52] szhu commented on #380
Clock app is not shown.

Is there a generator for `.gapps-config` or can you make me one? I understand aroma but the `.gapps-config` is kind of long, even though it supports pretty much the same options.

[2016-11-25 09:04] RoshVP opened #389 "Trusted face not working."
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-11-25 09:04] #389 closed

[2016-11-25 09:05] RoshVP opened #390 "Trusted face not working in android 7.0."

[2016-11-25 10:36] mfonville commented on #380
@szhu if you install the 'mini' package (or a larger one) the clock will be installed without making the `.gapps-config`; would it be possible for you to test with that package?

[2016-11-25 22:54] szhu opened #391 "Propose editing "Advanced Features and Options" Wiki page"
The ["Advanced Features and Options" page](https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options) lists all the Google apps, but in everything is in alphabetical order by code name and it's pretty overwhelming to anyone who looks at it. It's more likely that people want it grouped by package level, and sorted by the app name.

I propose swapping that section out with this:

|

[2016-11-25 23:01] szhu commented on #391
Also I propose adding the same content, but in gapps-config format, to quickly give everyone a starting point for their config file. (à la the default `/etc/apache2/httpd.conf` file)

[code]

[2016-11-25 23:13] szhu commented on #391
And same for apps to remove:

[code]

[2016-11-25 23:40] szhu commented on #380
This is my personal device and I didn't want to risk losing app data for the apps that would become uninstalled as a result of installing a smaller package, so instead I took the time to figure out how to use `gapps-config`.

And the verdict: Clock is still not installed.

`adb shell ls /system/app/PrebuiltDeskClockGoogle`: yes
`adb shell pm list packages | grep -F .clock`: no
In Settings > Apps?

[2016-11-26 02:41] Magendanz commented on #35
I'm also seeing the same error on my Mini M8S II.  The build.prop is available [here](http://public.magendanz.com/Temp/build.zip).

[2016-11-26 09:18] enndubyu commented on #390
Logcat:

11-26 00:32:07.347 E/AndroidRuntime(840): FATAL EXCEPTION: main
11-26 00:32:07.347 E/AndroidRuntime(840): Process: com.android.facelock, PID: 840
11-26 00:32:07.347 E/AndroidRuntime(840): java.lang.UnsatisfiedLinkError: dlopen failed: library "libprotobuf-cpp-full.so" not found
11-26 00:32:07.347 E/AndroidRuntime(840): 	at java.lang.Runtime.loadLibrary0(Runtime.java:989)
11-26 00:32:07.34

[2016-11-26 12:38] robinkooli commented on #35
404 - File or directory not found.
The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.

On both files.

[2016-11-28 03:26] jrussell88 opened #392 "Setup Wizard Has Stopped Working"
Xiomi Mi-5s
Xiaomi MIUI-8 roms: xiaomi.eu_multi_MI5S_V8.0.10.0.MAGCNDH_v8-6.0 and xiaomi.eu_multi_MI5S_6.10.27_v8-6.0
Arm64
pico, nano, mini, stock 20161125

On reboot after loading Gapps, the Setup Wizard repeatedly pops up an error message:

, which it's not possible to bypass.

Logcat excerpt (logcat *:E):

The fix is from the adb shell:
`pm grant com.google.android.setupwizard android.permissi

[2016-11-28 10:11] mfonville commented on #392
Did you wipe `/data` partition before flashing GApps and do you have a debug log of the install? (the .tar.gz file)

[2016-11-28 14:55] jrussell88 commented on #392
Wiped - TWRP factory reset. I have the debug log of my last install; was my n'th run and I note it says I didn't wipe. Possibly after fixing pico OpenGApps I installed the stock version over it; but I think I did wipe it.

[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/opengapps/files/616637/open_gapps_debug_logs.tar.gz)

[2016-11-28 15:28] mfonville commented on #392
hmm, then probably your TWRP factory reset did not properly wipe.

Because this problem can/should only happen on 6.0+ if you flash GApps the first time, and /data/ is not completely clean.
Otherwise the ROM should grant permissions, and if it doesn't it should add the permissions-patch to increase compatibility.

For further support please use the XDA Forum

[2016-11-28 15:28] #392 closed

[2016-11-28 18:35] jrussell88 commented on #392
Thanks. I've gone through the installation process for the OpenGApps, and also the two versions of the MIUI-8 Rom over half a dozen times over the last few days wiping every time with identical results.

Actually I think this issue is covered in the Android 6.0 release notes in the Wiki - the permissions patch and workaround. I'm afraid I didn't find that sooner, but it looks like this rom doesn't

[2016-11-29 16:07] wazeeahmed opened #393 "rapid dexopt for google contacts sync adapter"
i tried clean flash of resurrection remix 5.7.4 20161009 sprout4 . But com.google.contacts.sync.adapter app's dexopt process occurs everytime i restart the phone . or sometimes only starting apps . I thought clean flash might fix it . But it didn't . Any lights on this ?
here are the logs :
[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/opengapps/files/619501/open_gapps_debug_logs.tar

[2016-11-30 15:50] andrewes commented on #35
I installed open_gapps-x86-7.0-tvstock-20161130.zip on a Nexus Player. I get this message in a bootloop:
"FallbackHome: User unlocked but no home; let's hope someone enables one soon?"

[np_bootloop.txt](https://github.com/opengapps/opengapps/files/622223/np_bootloop.txt)
[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/622224/open_gapps_log.txt)

[2016-11-30 15:55] mattgorski commented on #35
I would be willing to be gapps uninstalled your LeanBackLauncher hence no Home Launcher

[2016-11-30 16:01] andrewes commented on #35
So I should edit the install files to disable the LeanBack uninstall?
Note from log: "Remove Stock/AOSP Launcher | false[NO_GoogleNow/PixelLauncher]"

[2016-11-30 16:03] mattgorski commented on #35
Yeah that's worth a try.  Just mount /system after the install and see if the package actually installed the gapps.  99% of the time I have tryed the opengapps-tv it will always uninstall any leanback gapps if they are included already in the build.  You could also remove all the gapps that are in your build in /system then do the zip install...

[2016-11-30 23:03] Sparker0i opened #394 "pixelicons not working on Android 7.0 and 7.1 as intended"
I installed OpenGapps using the Aroma package. I install pre-requisites for Pixel Launcher (and Pixel Icons) from the Aroma Setup Wizard.

On booting, when I select Pixel Launcher as default, except Google Drive, Play Games and Play Newsstand, none of the icons appear as they are supposed to after Pixel Icons installation, it just appears as the old, stock icons.

I've tried this on CyanogenMod 14

[2016-12-01 12:00] mfonville commented on #394
I believe whether the round icons are used or not is a setting in the ROM.
GitHub is not the best place to discuss this, best use our XDA Forum thread to receive answers from the community

[2016-12-01 12:00] #394 closed

[2016-12-01 17:54] Evisceration commented on #390
@enndubyu report this to the maintainer of the rom.

libprotobuf-cpp-full needs to get added to product packages.

[code]

[2016-12-02 09:37] mfonville commented on #390
@Evisceration thanks for answering this one!

[2016-12-02 09:37] #390 closed

[2016-12-02 10:09] TheComputerGuy96 opened #395 "Add support for ROMs that have GApps built-in into the system image"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [x] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [x] The issue is

[2016-12-02 13:16] Evisceration commented on #390
just in case, uploaded a commit to CyanogenMod code review, which adds the lib globally

https://review.cyanogenmod.org/#/c/174078/

[2016-12-03 19:09] windrof123 commented on #380
Exact same problem with CM 14.1-20161202-nightly-m8

[2016-12-03 23:38] Magendanz commented on #35
Has anyone been able to download the TVStock variants from OpenGApps today?  I keep getting network failures ("Failed - Network error" in Chrome, "The download was interrupted" in Edge) about 10% of the way through.  Have tried on multiple browsers, VPNs to US East region, and both ARM 5.1 and ARM 6.0 targets, but no luck.

[2016-12-04 10:06] mfonville commented on #380
Very interesting; because the Clock app is for all Android versions (4.4 and up) the same APK.
So that it fails on only 7.1 is a weird situation.

Could you get a logcat that includes the logs of booting the device? It might give us more information why packagemanager doesn't process the APK.

[2016-12-06 19:47] dakoslug commented on #380
Same problem with the latest osprey CM14.1 nightly.

[2016-12-07 08:55] TheMic commented on #380
I have the same issue... OP2 with last CM14.1 nightly

[2016-12-09 11:37] osm0sis opened #396 "Nexus 5 needs Google Camera 3.2.x for fully functional HDR"
Noted here: http://forum.xda-developers.com/showpost.php?p=69991796&postcount=120

Camera 4.x is getting installed on hammerhead with Nougat but these don't have working HDR(+) on this device due to deprecated drivers.

Another issue is 3.2.x will attempt to update via Play Store to 4.2.x.

@mfonville wondered if downgrading the related framework jar(s) would limit that, and I wondered if perhaps

[2016-12-10 03:01] pritamdstan opened #397 "PLAY STORE NOT GETTING INSTALLED"
in the latest gapps package of ARM 5.1 AROMA dated 8/12/2016  , the play store is not getting installed. currently using samsung J200G.

[2016-12-10 03:03] mfonville commented on #397
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-12-10 03:03] #397 closed

[2016-12-10 06:58] Magendanz commented on #35
When I install the .zip package for the [TVStock Package ](https://github.com/opengapps/opengapps/wiki/TVStock-Package) in TWRP 3.0.2, none of the new GApps packages seem to be installed.  Looking at the installer shell script, it seems obvious why:  tvstock_gapps_list isn't even defined!

I have much better results after adding this to installer.sh:
[code]
Now, there are still a ton of issues tha

[2016-12-10 09:14] madmax2 commented on #56
Yeah, aroma freezes when I try to install it with TWRP..

Also cannot install stock or full GAAPS either..
Only the mini GAAPS or smaller can be installed.

[2016-12-13 17:34] ZWindL commented on #380
Same issue CM 14.1 on Nubia z7 mini(nx 507j), is there any possible to reinstall the stock clock again?

[2016-12-13 17:35] mfonville commented on #380
if **no-one** provides *any* I will never be able to even investigate this issue

[2016-12-13 20:49] szhu commented on #380
ok @mfonville here you go!

https://gist.github.com/szhu/e78de8c05fa3b1c60d1538ceb491b311

[2016-12-13 20:58] szhu commented on #380
Also! Here's the logcat if I copy PrebuiltDeskClockGoogle.apk elsewhere and try to sideload it:

[code]

[2016-12-14 03:20] ZWindL commented on #380
@mfonville And here's mine.
[my .gapps_config](https://gist.github.com/ZWindL/c451a91519688bd53d5d5e2bcdb7d8fe)
[open_gapps_debug_logs.tar.gz](https://github.com/opengapps/opengapps/files/650720/open_gapps_debug_logs.tar.gz)
[open_gapps_log.txt](https://github.com/opengapps/opengapps/files/650721/open_gapps_log.txt)

[2016-12-14 03:23] szhu commented on #380
@ZWindL, while I'm sure your help is appreciated, I think @mfonville was looking for the device startup logs, not the GApps install logs. We've basically already determined that the installer copies the files to the correct location, we just need to know why the system can't process it on boot.

[2016-12-14 03:58] ZWindL commented on #380
@szhu Ahh.... my fault... I misunderstanded. Sorry for that.

[2016-12-14 15:37] lzp4ever opened #398 "Add Wallpapers in gapps-config would cancel pixellauncher's install"
Add Wallpapers in gapps-config would cancel pixellauncher's install, but there is no any description in Stock Package's Wiki page

[2016-12-14 16:10] mfonville commented on #398
It is described in: https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options :

`PixelLauncher` - To Exclude/Include Pixel Launcher (requires `Search` and `Wallpapers`) [Super/Stock]

If you have more support questions, please first use XDA Forum

[2016-12-14 16:10] #398 closed

[2016-12-14 19:49] MrMysakovich opened #399 "OK Google in Pixel Launcher"
Hi,
If I say OK Google it will show only clasic searching with keyboard and not voice search. If I open app Google from menu, works normally.

[2016-12-14 20:01] #399 closed

[2016-12-14 20:01] MrMysakovich commented on #399
Reboot help, sorry

[2016-12-15 02:25] KreAch3R commented on #396
Interesting, I would also like to work on this.

Why do you think that a build.prop value will help with this? Is a Nexus 5 running marshmallow limited to 3.2 Google Camera from the Play Store? I haven't tested it.

[2016-12-15 04:12] osm0sis commented on #396
No basis for that idea, just a hope, and thinking-out-loud.

Marshmallow hammerhead is definitely limited to 3.2.x, but I'm hopeful that Android version is not the only limiting factor and we can find a way to have it installed to system on Nougat and not have it try to update itself to 4.x via Play Store.

[2016-12-15 04:15] KreAch3R commented on #396
If marshmallow is limited to 3.2.x, then we can test if it's the version. Can you modify the build prop and check if an update comes?

I doubt it too that they only check the prop. The problem is finding out what else they check. I thought about permissions in frameworks/native and checked them, but it seems they are the same as in marshmallow branches. Do opengapps add such permissions? Maybe we

[2016-12-15 11:45] szhu commented on #213
Why not just use +?

[code]

[2016-12-16 09:42] mfonville commented on #380
Thank you for the log.

It seems that the Packagemanager is sort of 'surprised' that the AOSP one is gone, and refuses to process the Google one.

I have the suspicion that CyanogenMod's platform extension is at fault.

Could you try to remove the following files and test if the clock then does work (and if not, collect the logcat again):
[code]

[2016-12-16 16:50] hayateer opened #401 "Readme-edits"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-12-17 11:26] #401 closed

[2016-12-18 09:17] TheComputerGuy96 commented on #296
Also, Open GApps 4.4 has some issues:
- Push token can't be obtained (or some issues like that)
- "Ok Google detection" menu doesn't open on Google app

[2016-12-19 17:19] airend opened #403 "installer: Missing ContactsStock in optional_aosp_remove_list"
**Issue description:**

Although it's being used internally, the `ContactsStock` keyword is not parsed in the config file. Any reason for not adding `contactsstock` to `optional_aosp_remove_list ` in `scripts/inc.installer.sh`?

[2016-12-19 17:45] szhu commented on #380
I cannot get a logcat because the system will not boot past the point where logcat and/or adbd starts when I remove those files.

[2016-12-19 19:27] mfonville commented on #380
@szhu thanks for testing
I am not sure yet how to further tackle this issue
Maybe @rapperskull or @thecrazylex have an idea?

[2016-12-19 19:29] USBhost commented on #310
Just reopen if the problem comes back.

[2016-12-19 19:29] #310 closed

[2016-12-20 17:20] windrof123 commented on #380
Clock magically appeared after updating to a new nightly about a week ago. Everything works well now.

[2016-12-20 21:10] szhu commented on #380
Same, Clock is back for me too.

cm-14.1-20161220-NIGHTLY-bullhead.zip
open_gapps-arm64-7.1-stock-20161220.zip

[2016-12-20 21:10] #380 closed

[2016-12-21 02:48] marcthe12 commented on #168
Stock for me is 600 MB. But I noticed that if I removed any stock app on CM 14.1 that duplicates functionality of gapps I save 200MB. So The net change becomes 400

[2016-12-22 13:54] kolenj commented on #135
hi,zeorin, I have this problem now ,do u haved find some ways to solve this problem?

[2016-12-23 13:09] gljones2001 commented on #35
Hi. Sorry it took me so long, was traveling for the holidays, and had lots of stuff to do. Well, here is the link to the firmware for the MDZ-16-AB, aka the xaomi mibox with android tv. Its the 5th one down, with the model above.

http://en.miui.com/thread-323779-1-1.html

[2016-12-23 13:13] gljones2001 commented on #35
If you mount the firmware un linux, you should be able to get the system folder. It is androidTV 5.1, but I should be uploading the system folder for 6.0 (or 6.1, I don't remember) sometime after new years, when I get back home.

[2016-12-23 19:52] osm0sis commented on #396
Unfortunately swapping out the Marshmallow build.prop for that of Nougat results in a broken device (constant Google Play services, etc., crashes), so unfortunately it seems it's not as easy as that to test.

For comparison I've added the stock values below.

N5 Stock build.prop:
[code]

and getprop values:
[code]

[2016-12-23 20:12] osm0sis commented on #396
Hmm just did a thorough comparison and there's nothing useful different between the two sets of build/get props.

[2016-12-23 20:16] KreAch3R commented on #396
Did you try changing just the Android version and fingerprint props? (From 6.0.1 to 7.x)

[2016-12-23 20:50] osm0sis commented on #396
Check out my CM14 ones in the issue post, CM keeps the fingerprint the same as stock.

Changing SDK version is what breaks Google Play services since it's trying to execute code that doesn't work on Marshmallow.

I flashed the zip from the above link, but with the modded Camera 3.2 apk (from here: https://drive.google.com/file/d/0BzjPCTvT_zbxTnVMSW1fVi1wWm8/ ) and it works well. So perhaps nothing

[2016-12-23 21:27] KreAch3R commented on #396
Nice!

1. I'm sorry, I couldn't check the props, I was on mobile before.
2. > Basically, Open GApps has hammerhead on a blacklist to force Camera 3.2.x, installs the proper framework files to go with that version of Camera, and uses a special re-signed APK so that it won't update via Play Store.

    Does this happen already? How can I force it? I got 4.2.x when I flashed on hammerhead (7.1.1) yes

[2016-12-23 22:05] osm0sis commented on #396
2+3: Open GApps currently does this for 2.7.x as the CameraLegacy keyword, but something new would need to be added for 3.2.x and ideally on hammerhead (maybe others?) it should happen automatically. Open GApps could re-sign it to resolve the upgrade issue itself, yeah.

I did a bit more testing and the 3.2.x camera over top of the 4.2.x libs/framework still doesn't have working HDR+, so those wil

[2016-12-23 22:14] KreAch3R commented on #396
Nice testing.

So @mfonville could we modify the Camera/CameraLegacy keyword, such as that it checks an array of device names before copying the apk?
[code]

That, plus a re-sign would nail it. What do you guys think?

[2016-12-24 07:55] osm0sis commented on #396
I got HDR+ fully working on CM14.1 with 3.2.x by extracting the libs from the 3.2.x APK into /system/lib, so we should be good with something along those lines, with no changes to the jars required. :+1:

[2016-12-24 10:13] amn180297 opened #405 "sdk version not matched during gapps installation"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-12-25 04:15] cjkacz opened #406 "Pixel XL"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [x ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2016-12-26 12:48] mfonville commented on #405
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2016-12-26 12:48] #405 closed

[2016-12-28 16:00] mfonville commented on #396
sorry for my late response
with the frameworks and Play Store testing; the device capabilities are submitted at GSF-id generation time, so afterwards removing/changing the frameworks doesn't update what 'Play' does know about your device.

So probably we need some extra testing, in if you really don't get the upgrade if appropriate frameworks are (not) installed.

@KreAch3R yes, probably we will h

[2016-12-28 16:00] mfonville commented on #391
Hey, sorry for my late response, but go ahead with these changes!

[2016-12-28 16:00] #391 closed

[2016-12-28 17:05] KreAch3R commented on #396
This is nice to know, can you re-try that testing @osm0sis ?

Unfortunately, I can't think of something that would work across the board. For example, I know that in hammerhead and using the CM legacy HALs to get Google Camera working (but not HDR), you need to use these build.prop values:
https://github.com/krexus/device_lge_hammerhead/commit/8c9b3f22e2e489deb1d43ec943cc3ed331902590

They will pr

[2016-12-28 17:29] osm0sis commented on #396
Not sure what I'd need to change to test that. Something in the permissions xml? build.prop?

@mfonville was mentioning there might be a way to automate it with DummyDroid (the way they crawl for different APKs) to see what the Play Store offers given different conditions, but I don't have the setup for that.

I think ForceCamera2 ForceCamera3 ForceCamera4 would be best to allow people to override

[2016-12-28 22:49] osm0sis opened #407 "Installer should switch error receiver to Google Play services (gms) for Nexus experience"
In build.prop on CM:
`ro.error.receiver.system.apps=org.cyanogenmod.bugreport`

Changing this to `com.google.android.gms` once Google Play services are installed via GApps results in the same bug reporting experience as a stock Nexus device (which do have this set in build.prop), so should be preferred over AOSP or CM's variants.

A simple sed on the build.prop as part of the installer would do th

[2016-12-29 06:01] GGGunrunner opened #408 "Uninstaller for GApps? MIUI8 keeps GApps crashing."
Trying to make it work on Galaxy Note 4 with MIUI8. There are leftovers from MIUI7 because I migrated my data from it.

Is there a way to wipe GApps clean and try a fresh install? No sight of an uninstaller.

# End Open GApps Install Log

!!! WARNING !!! - Duplicate files were found between your ROM and this GApps
package. This is likely due to your ROM's dev including Google proprietary
files in

[2016-12-29 07:48] KreAch3R commented on #407
A lot of AOSP roms already do this (check also the line below that):
https://github.com/krexus/vendor_krexus/blob/n%2B/products/common.mk#L15..L16

but I agree it's a GApps related prop.

[2016-12-29 07:51] KreAch3R commented on #396
@mfonville is saying that the Play Store doesn't understand lib changes after you're signed in, so any tests you tried (by removing 4.x camera libs and testing in 4.2 Google Camera still appears on Play as update) will need to be re-done and after each change, a full account removal should be necessary.

[2016-12-29 09:40] KreAch3R opened #409 "Ok Google everywhere / Hotword detection"
**Issue description:**

Latest Open-GApps (both Stock and Nano) can't allow "Ok, Google" hotword detection in Google Assistant to work correctly on bullhead, hammerhead (tested by me) and angler (reported). Dynamic GApps by @beanstown106 currently provide the correct behavior for bullhead and angler, but hammerhead has still the problem mentioned below.

**Reproduction Steps:** / **Observed behavi

[2016-12-29 09:49] mfonville commented on #408
Wipe /system and reflash your ROM

for more support questions please use xda

[2016-12-29 09:49] #408 closed

[2016-12-29 10:17] mfonville commented on #409
I recently did do some research on the Hotword APKs, and they are all the same except for some memory mapping locations, that all differ for each device.

So it seems we will need to make a mechanism that installs a different hotword apk per device

[2016-12-29 10:39] KreAch3R commented on #409
if that's the case, yes that would be very hard to do.

So you're thinking that it depends solely on the Hotword apk? That could be easily tested by flashing Open-GApps and replacing Hotword apk with the one @beanstown106 uses? Or are there libs / .xml files involved?

Also, regarding hammerhead, I tried to troubleshoot it a bit on my own. It seems that it could be a permissions problem, in the fo

[2016-12-29 19:02] #355 closed

[2016-12-29 19:48] mfonville commented on #407
@osm0sis would you be willing/able to put the `sed` for that in a PR?

[2016-12-29 19:49] mfonville commented on #393
Please make a logcat of your error; and then post it on the XDA Forum Thread

[2016-12-29 19:49] #393 closed

[2016-12-29 19:52] mfonville commented on #395
If you have a stock ROM, it will update the GApps on it in 'for stock' modus.
If you have aROM with a g.prop but not Open GApps, we don't update it. That it is on-purpose and also not fixable, because it is not supported and can lead to nasty situations.

If ROM devs include their own GApps that are not Open GApps, we can't support.

[2016-12-29 19:52] #395 closed

[2016-12-29 21:06] osm0sis commented on #407
Yup, I can do that. Probably in the new year once I've got a few days off. I'll probably put it down by the dialer workaround. Sound good?

[2016-12-31 10:08] szhu commented on #391
@mfonville I edited the page. Can you check to make sure I didn't change anything for the worse? Thanks

[2016-12-31 11:13] mfonville commented on #391
@szhu thanks for your changes;
I noticed one error (I should have seen it when you commented it, but I missed it);
for the stock removals like `Email` they don't need to be between `()`

The `()` are only used to remove apps that are not part of the predefined list, with the 'universal removal'.

Also, I think that it might be OK to drop the list of links to the GApps on the Play Store from this p

[2016-12-31 11:40] szhu commented on #391
Thanks for the suggestions!

Fixed.

In my personal config file, I put parens and the installer seemed to recognize it. However, removals did not appear to get correctly written into addons.d, since after an upgrade, the apps I wanted removed would re-appear. Could the parens be causing this issue?

I might get to it when I have time, but since I'm not adding the links in elsewhere yet, I left the

[2016-12-31 12:01] mfonville commented on #391
If reflashing GApps, the universal removal feature can't find the things between () if they were already removed (because it can't find the paths, it normally has to account for checking both app and priv-app and capitalization). So in that case they don't get added to addon.d anymore, and thus if upgrading the ROM they can re-appear.

So if you use that feature, it is only guaranteed to work 100%

[2016-12-31 13:00] szhu commented on #391
Okay, I probably re-flashed GApps multiple times, so that would explain it. Is there a thread for this issue? I thought of a potential solution:

After `/system/priv-app/SpareParts/SpareParts.apk` is found, delete everything in the `/system/priv-app/SpareParts` folder and leave a new blank file `/system/priv-app/SpareParts/SpareParts.apk.removed-by-opengapps`.

The GApps install process would work

[2016-12-31 14:27] mfonville commented on #391
The most practical solution is probably to mark the paths in our current addon.d file in an easy processable manner, and let the installer read this file when generating the new addon.d, copying over the already existing paths of the previous flash.

[2016-12-31 23:38] tmartin357 opened #410 "Wiki - Aroma Package Screenshots Broken"
The link for the screenshots of the installation process for the Aroma Package (Wiki) is broken (leads to a 404 page).

The link address is https://imgur.com/a/c9Jir

Revision: [609cf78](https://github.com/opengapps/opengapps/wiki/Aroma-Package/609cf789f49601a9015207f39561e6291e32523b)

[2017-01-01 20:14] TheComputerGuy96 commented on #168
I installed Open GApps ARM 4.4 Stock on a device (Samsung Galaxy Trend Plus, by the way) with only 1.1 GB /system partition (when running CM 11)

[2017-01-01 20:47] TheComputerGuy96 commented on #395
BTW, what issues does updating GApps cause (but you MUST assume that the phone is factory reset (I mean that it has its /cache and /data partitions completely wiped) and has installed a ROM that has non-Open GApps in the /system partition)?

I've deleted some GApps-related stuff (and that g.prop) from the /system partition when my ROM has been flashed (but not booted) and Open GApps flashed fine a

[2017-01-02 07:04] TheComputerGuy96 commented on #395
@mfonville Please read my comment

[2017-01-02 13:40] mfonville commented on #410
They are indeed missing, for some reason imgur has deleted them, it seems :-/
I tried checking if they were available in archive.org, but apparently not.

@johnnyxmas do you maybe still have them locally available to upload them again?

[2017-01-02 14:58] mfonville commented on #395
If you use other GApps they might have used other filepaths, if the same application is installed twice on different locations, you will get unexpected results.

That is why we stick to this use case, any other situation is considered unsupported (aside from that Google has already shown not to like bundling GApps with a ROM if not part of the OHA and passing their verification; only flashing GApp

[2017-01-02 18:29] johnnyxmas commented on #410
No; definitely long gone. Honestly, they may not even be applicable anymore. I also no longer have an Android device to make new ones on. One of you can feel free to make new ones; I believe I did it in a 5-minute period while microwaving some soup.

Thanks,

JohnnyXmas | @j0hnnyxm4s
~~*\Sent while mobile/*~~

[2017-01-03 12:53] ale5000-git commented on #215
If someone need a flashable ZIP to easily install microG, it is [here](https://forum.xda-developers.com/showthread.php?t=3432360).

[2017-01-03 13:13] gismo2004 opened #411 "Support for lineageos.org"
CyanogenMod is now LineageOS, hence they have changed some names.

ro.build.flavor=cm_xxx
has changed to
ro.build.flavor=lineage_xxx

thus "cmcompatibilityhacks" are not enabled.
https://github.com/opengapps/opengapps/blob/master/scripts/inc.installer.sh#L1345

please add support for LineageOS

[2017-01-03 13:23] jumoog commented on #411
no it's still  ro.build.flavor=cm_xxx

[2017-01-03 13:48] gismo2004 commented on #411
well, i have seen, that you already have created a pull-request!

THX for that!

and for clarification, this is how it should look like in future for all
devices:
https://review.lineageos.org/#/c/154693/

On Tue, Jan 3, 2017 at 2:23 PM, Kilian von Pflugk <notifications@github.com>
wrote:

[2017-01-03 14:33] #411 closed

[2017-01-03 16:52] osm0sis commented on #407
Should work with the above commit merged.

[2017-01-03 16:52] #407 closed

[2017-01-03 20:10] alviteri opened #414 "INFO ....."
I want know if this is opengapps related or rom .....

this is happening after install new OTA with cm/los recovery

https://hastebin.com/xodonodehu.vbs

@mfonville

[2017-01-03 20:11] alviteri commented on #414
actual rom ... lineageOS

[2017-01-04 09:55] mfonville commented on #414
`android.ext.services` AOSP one is replaced with its Google variant by GApps.

Don't use GitHub for support requests please.
You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

[2017-01-04 09:55] #414 closed

[2017-01-04 10:36] alviteri commented on #414
Maarten then when new OTA is installed will overwrite gapps one and then bootloop ... Or it seems

[2017-01-05 04:08] changhae opened #415 "DM - Verity Verification failed"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-05 04:11] changhae commented on #415
While installing the Gapps installation package from the apps, DM - Verity Verification failed showed in the phone recovery mode screen.

[2017-01-05 11:26] mfonville commented on #415
use a custom recovery(!)

Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

[2017-01-05 11:26] #415 closed

[2017-01-06 08:32] osm0sis commented on #391
I'll look into @mfonville's idea there and see what I can come up with for a PR since I also noticed this issue recently. :+1:

[2017-01-07 10:11] promeneur opened #416 "no report when simulating an opengapps installation"
**Issue description:**

case : I use opengapps android app (manualy using twrp 3.0.2-0-s2vep leads to the same problem)

I use "stock" package.

opengapps creates /sdcard/Download/OpenGapps/ folder where it puts zip files and others.

I put a file gapps-config.txt in /sdcard/Download/OpenGapps/ folder.
This file contains "Test" key because I want to be sure there is enough place in system partitio

[2017-01-07 11:24] ishitatsuyuki opened #417 "Phonesky is not installed - 480: bad number"
*If Open GApps installation fails:*
- [x] Is the issue reproducible using the latest version of your recovery?
- [x] Is the issue reproducible with (the latest) [TWRP](https://twrp.me) recovery? *(other recoveries are only best-effort)*
Side note: it's a badly maintained TWRP, but somehow still a decent version.

**Issue description:**

Phonesky is not extracted on installation. After the inspecti

[2017-01-07 11:46] tenninjas commented on #363
I'm unable to get the log from the device since there is no way to save it and no way to complete the wizard, but I can tell you the error is from MIUI's setup wizard saying it requires a MIUI theme to continue; so it is not necessarily that the wizard itself is broken but rather that it can't find the theme files.

[2017-01-07 12:23] mfonville commented on #363
so, after Google's setupwizard, it starts the MIUI wizard, but the MIUI wizard fails?

[2017-01-07 12:30] mfonville commented on #416
Could you boot into TWRP recovery manually, and check if you can then access the files using adb or the built-in filemanager of TWRP?
Because it seems like the TWRP doesn't have the date set correctly, nor the access rights to (files at ) /sdcard/

[2017-01-07 12:46] tenninjas commented on #363
In my experience it did not start the Google setupwizard at all. It started the MIUI wizard but failed before loading the Wifi connection screen. If I choose to 'report', I can see that the error is from the MIUI wizard and is because the theme is not a MIUI theme.

[2017-01-07 13:21] promeneur commented on #416
with twrp i renamed the 2 files
then
i ask for twrp to simulate installation then it creates new files with the same problem.

perhaps the solution is to change the owner and group and the permissions?

i am not a techie. waht owner and group, what permissions?

[2017-01-07 13:21] mfonville commented on #417
Your build.prop is broken, you have twice this line:
`ro.sf.lcd_density=480`

According to the .prop standards, every property has to be unique and is only allowed once. Remove one of the two lines to make the prop-file compliant again.

[2017-01-07 13:21] #417 closed

[2017-01-07 14:46] mfonville commented on #416
Set the permissions to read+write for owner+group+other

I will see if I can make the script enforce these proper permissions by default, even if TWRP doesn't set them correctly itself (as is the case in your situation, for unknown reasons)

[2017-01-07 15:20] mfonville commented on #363
Could you then at least upload the Debug Logs? Because what would help is probably removing the MIUI SetupWizard all together (but I'd need the filepaths for that)

[2017-01-07 15:23] promeneur commented on #416
the problem of setting permission is that twrp each time we use it replaces open_gapps_log.txt by a new one with the same problem!

i experimented this :

from twrp i delete open_gapps_log.txt
then
i restart smartphone
then
from my pc i create a text file open_gapps_log.txt in /sdcard/Download/OpenGapps/
this text file has no problem.
then
i switch off smartphone
then
i start smartphone in recover

[2017-01-09 22:03] LinkofHyrule89 opened #418 "Please add option to enable the Google Assistant."
A developer was trying to submit a patch to enable the Google Assistant in Lineage OS and was told it should be done in the gapps package instead. I'm simply posting this asking for this option which should be pretty simple to do since all it needs to do is add a line to system.props the Lineage OS dev said it can be accomplished with an ini.d script. Here's the commit for the changes. I know thes

[2017-01-09 22:07] flo071 commented on #418
it is working on OnePlus 2, 3 and galaxy s4 too.
tried it all.

[2017-01-10 05:58] dcd commented on #409
Yes, it depends solely on the Hotword apk.

If you replace the HotwordEnrollment.apk with stock immediately after flashing gapps, the issue is resolved (bullhead)

No libs/xml

[2017-01-10 06:01] dcd commented on #409
It's worth noting that bullhead's vendor repo ships the stock HotwordEnrollment.apk.

Flashing an opengapps package including HotwordEnrollment.apk results in the non-working state.

A previously reported bug (that I can't find now): using a gapps-config.txt results in the opengapps installer removing the stock version and not replacing with its own, leaving the device with no HotwordEnrollment.ap

[2017-01-10 10:05] KreAch3R commented on #409
Thanks for the nice info @dcd !

I tried downloading the latest official hammerhead image and I couldn't find a HotwordEnrollment apk in there, but I will re-try. Given your info, this would mean that the hammerhead problem is just because there is no official HotwordEnrollment for that.

I saw mentions that the latest Google App (maybe beta) apk solves both problems, but I wasn't able to test, ye

[2017-01-10 11:28] promeneur commented on #416
the problem comes from twrp.
before using twrp i made a clean install of opengapps android app.
opengapps creates a folder "OpenGapps".
i can list the contents of "OpenGapps" folder with user rights.

After simulation by twrp then:
- only if i get root rights i can list the contents of "OpenGapps".
- i can rename, delete, change permissions with only TWRP not with Mixplorer even with root right.

[2017-01-10 12:21] promeneur commented on #416
i chnaged permissions of open_gapps_log.txt to 666 with TWRP
then
i restart android
then
nothing changes.
i can't read open_gapps_log.txt with Mixplorer editor.

[2017-01-10 16:47] osm0sis commented on #396
@marcomarinho for reference and testing purposes, this is the version that will work from within the /system partition: https://forum.xda-developers.com/showpost.php?p=70442654&postcount=37

[2017-01-10 19:48] Shished commented on #208
App will not crash is device supports Camera2 API. OpenGapps installer should check build.prop for the corresponding line
`persist.camera.HAL3.enabled=1`
and if it presents install camera version 3, otherwise install version 2.

[2017-01-10 21:12] mfonville commented on #208
@Shished it already does that now for a year: https://github.com/opengapps/opengapps/blob/master/scripts/inc.installer.sh#L1322-L1324

[2017-01-11 15:08] promeneur commented on #416
i updated twrp to 3.0.3.0-s2vep from https://s.basketbuild.com/devs/GHsR/RECOVERY
then no more problem.
now i get a report open_gapps_log.txt of simulating install of a custom "stock".

thanks to GHSR for this new version of TWRP s2vep for my Samsung S2 Plus.

[2017-01-12 00:54] archon810 commented on #418
Interesting to see if this gets merged.

[2017-01-12 16:36] VincentJoshuaET opened #420 "Force Google Messenger installation on tablets with SIM card slot/s"
I have a tablet, when I flash Open GApps, Google Messenger is not installed because my device is detected as a "tablet".

[2017-01-12 17:31] mfonville commented on #420
@VincentJoshuaET could you upload the debug tar gz? Maybe the build.prop contains hints how to detect the SIM capabilities for tablets in a reliable way

[2017-01-15 01:54] pujanban21 opened #421 ""\META-INF\com\android\metadata" not found while flashing on CWM, any help?"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-15 11:00] mfonville commented on #421
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2017-01-15 11:00] #421 closed

[2017-01-15 17:36] jeffsf commented on #213
For clarity, at least at this time (2017-01-15), the following does _not_ preserve things removed as "conflicting":
[code]

I _definitely_ would like to see an "advanced" ability to control both
- Removal of "conflicting" ROM apks
- Removal of GApps apks

Right now, I have to
- "Manually" preserve specific ROM apks (in a tar)
- Boot the ROM once to run its initializers (as installing OpenGApps wil

[2017-01-16 03:52] cabrerahector commented on #409
I just did and "OK Google" seems to be working again (no retrain loop!) after installing the latest Google App beta from apkmirror (at the time of writing it's version 6.10.36.21 beta arm no dpi.)

[2017-01-16 09:10] KreAch3R commented on #409
@cabrerahector I've seen mentions of that, but I haven't tried it yet. I'll grab the latest version and re-try.

[2017-01-16 12:08] KreAch3R commented on #409
I just tried the 6.10.36.21 beta arm no dpi from apkmirror and I can confirm the same result, I think. Both "Ok Google everywhere" and "Smart unlock" (when the device hasn't gone to deep sleep due to hammerhead limitations) work. :)

[2017-01-23 10:47] ghost opened #426 "Request a Recommendation"
It is recommended to use Google WebView in each package,WebView is always updated and as popular as Google Play services.

[2017-01-23 15:00] artityod commented on #266
https://github.com/opengapps/opengapps/commit/d296f096ab74b0c6f919d43d943ea596bcbab599

[2017-01-23 15:31] shlatchz opened #427 "Google play services has stopped when installed on AOSP rom"
I have installed [android-6.0.1_r72][1] *AOSP* Rom on a *Nexus 5* device.

The Rom doesn't come with *Google Apps*, so I've updated my Rom with the [following changes][3] and tried to install GApps from the [following site][2], but after the installation I get the following error countless of times:

I found this error in logcat:

  [1]: https://source.android.com/source/build-numbers.html#source-

[2017-01-23 18:55] Germano0 commented on #56
I confirm that TWRP (3.0.2) reboots while installing Aroma for Android 7.1

[2017-01-23 21:58] mfonville commented on #427
Please read the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me) and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for support requests, directly opening GitHub issues is *not* appreciated.

PS: Please remember to at

[2017-01-23 21:58] #427 closed

[2017-01-24 02:03] nyggz opened #428 "google assistant"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-24 07:09] jumoog commented on #428
#418

[2017-01-24 07:29] nyggz opened #429 "guide lines"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-24 07:30] nyggz opened #430 "issue code"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-24 07:31] nyggz opened #431 "issue code"
**Only issues related to the code of The Open GApps Project scripts themselves**

If you have found an issue with a pre-built OpenGApps.org package please use the XDA-Developers [forum thread](http://forum.xda-developers.com/android/software/Open-GApps-t3098071)

**Checklist**

- [ ] The issue is not answered by reading the [FAQ](https://github.com/opengapps/opengapps/wiki/FAQ)
- [ ] The issue is

[2017-01-24 11:25] #428 closed

[2017-01-24 11:25] #429 closed

[2017-01-24 11:25] #430 closed

[2017-01-24 11:25] #431 closed

[2017-01-26 06:02] techdudepro opened #434 "Uncertified device?"
I apologize if this is the wrong place to post this, I'm assuming that this has to do with opengapps.

In Play Store >> Settings (under "About") there is info regarding device certification. Here is Google's help page with more info:

https://support.google.com/googleplay/answer/7165974?visit_id=0-636210062546690980-729244030&p=uncertified_device&rd=1

I am curious if this would be an issue for cu

[2017-01-26 13:53] NicholasBuse commented on #434
First, This discussion should be taking place on XDA. (but see my follow-up in the next comment)

Please read the [FAQ ](https://github.com/opengapps/opengapps/wiki/FAQ#2-im-having-a-problem-with-my-open-gapps-install-what-information-do-you-need-to-help-me)and the support instructions mentioned. You need to use [XDA Forum](http://forum.xda-developers.com/android/software/Open-GApps-t3098071) for

[2017-01-26 13:57] NicholasBuse commented on #434
TL;DR; This probably is **NOT** an OpenGApps issue...

My 6P shows the same information in the PlayStore, I have **Stock ROM** + TWRP + SuperSU (therefore my bootloader is unlocked).

I am sure that it is similar to the mechanism (SafetyNet) in PlayServices that detect devices that are not compliant with SafetyNet This makes games like Pokemon Go and apps like Android Pay not work. I will try back

[2017-01-26 17:49] techdudepro commented on #434
My apologies... I should have used XDA first, as in the FAQ. And kept my installation log (I deleted it because I had to issues).

Sorry/thanks for your time! I'll close this to help de-clutter.

[2017-01-26 17:50] #434 closed

[2017-01-30 16:05] vdavy commented on #409
Hi all,

Just found this thread while googling this issue (I have a bullhead device and got the same issue), and you should have a look : https://plus.google.com/+NathanBenis/posts/ftAWjDCPeKC

[2017-01-30 16:10] KreAch3R commented on #409
@vdavy That post was one of the outcomes of _this_ post. ;) (Nate is already mentioned in here). We are all aware already, thank you.

[2017-02-02 04:38] gljones2001 commented on #35
Yay for raspberry pi! I have done a tutorial for the rpi3 somewhere on this issue, but it may be outdated. @mfonville try using the new  androidTV 7.1 on www.geektillithertz.com/WordPress and try to get gapps on it. If you do, please let me know.

[2017-02-02 08:19] ciwrl commented on #221
FYI - as of N it appears Tycho also needs priv-app (or is otherwise missing a sysconfig setting).

`02-01 23:18:25.845  6444  6507 W BroadcastQueue: Permission Denial: receiving Intent {
act=android.intent.action.PHONE_STATE flg=0x10 (has extras) } to
com.google.android.apps.tycho/.receivers.PhoneStateReceiver requires android.permission.READ_PRIVILEGED_PHONE_STATE
due to sender android (uid 1000)

[2017-02-02 08:37] mfonville commented on #221
@ciwrl you checked the permissions that were granted to the app itself I assume?